@media print {
  .hero {
    height: 350px;
    width: auto;
  }

  header:not(:first-child) {
    display: none;
  }

  .content > p {
    margin-bottom: 1em;
  }

  .not-on-print {
    display: none !important;
  }

  .category {
    display: none;
  }

  .print-version {
    margin-top: 0 !important;
  }

  .pb-24 {
    padding-bottom: 0 !important;
  }

  .mt-24 {
    margin-top: 0 !important;
  }

  .apprenticeships-active .w-full {
    width: 50vw;
  }

  .coming-soon .w-full {
    width: 45%;
  }

  .sm\:text-3xl {
    font-size: 20px !important;
  }

  .mb-print-0 {
    margin-bottom: 0 !important;
  }

  .services-item img {
    width: 50%;
    margin: 0 auto;
  }

  .footer-on-print {
    flex-wrap: nowrap !important;
  }

  .member-on-print {
    width: 50%;
  }

  .width-100 {
    min-width: 100% !important;
  }

  .map-height-print {
    height: 15rem !important;
  }
}
