<section class="inner">
    <div class="relative bg-gray-50 mb-24">
  <div class="absolute inset-0">
    <div class="bg-white h-1/3 sm:h-2/3"></div>
  </div>
  <div class="relative max-w-7xl mx-auto">
    <div class="">
      {% if related_articles %}
      <h2 class="mb-12 title text-blue-100">Related Articles</h2>
      {% else %}
        <h2 class="mb-12 relative title">
          Our latest news
        </h2>
      {% endif %}
    </div>
    <div class="flex max-w-full mx-auto lg:max-w-none lg:-mx-3">

    {% for post in collections.blog %}

      <div class="lg:w-1/3 lg:px-3">
        <div class="flex flex-col rounded-lg shadow-lg overflow-hidden lg:h-full">
          {% if post.data.featured_image %}
            <div class="flex-shrink-0">
              <img class="h-56 w-full object-cover" data-lazy="{{ post.data.featured_image }}" alt="" />
            </div>
          {% endif %}
          <div class="flex-1 bg-white p-6 flex flex-col justify-between relative">
            <div class="flex-1 mt-2">
              {% if post.data.tags %}
                <div class="category absolute top-0 flex -my-4 -mx-1">
                  {% for item in post.data.tags %}
                    {% if item != "blog" %}
                      <div class="px-1">
                        <a href="/category/{{ item }}" class="px-2 py-1 bg-red-100 text-white font-semibold rounded block font-heading">{{ item | capitalize }}</a>
                      </div>
                    {% endif %}
                  {% endfor %}
                  </div>
              {% endif %}
              <a href="#" class="block">
                <a href="{{ post.url }}" class="block"><h3 class="text-blue-200 max-w-90 mb-4">{{ post.data.title }}</h3></a>
                <p class="mb-6">{{ post.data.excerpt }}</p>
              </a>
            </div>
            <div class="flex">
              <div class="mr-2">
                <img src="../../images/blog/{{post.data.avatar}}" class="h-12 w-12 object-cover rounded-50 block" />
              </div>

              <div class="my-auto">
                <p class="time text-blue-200 font-semibold text-0 leading-xs font-heading">{{ post.data.time }} read time</p>
                
                <div class="flex">
                  <p class="author text-gray-200 text-0 leading-xs">By {{ post.data.author }}</p>
                  <p class="text-0 leading-xs"> - </p>
                  <time datetime="{{ post.data.date }}" class="text-gray-200 text-0 leading-xs my-auto">
                      {{ post.data.date | dateDisplay }}
                  </time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}

    </div>
  </div>
</div>
</section>