<section class="py-8">
    <div class="bg-gradient-to-r from-red-1000 to-purple-1000 flex items-start gap-4 py-10 px-20 lg:px-44 rounded-3xl max-w-7xl mx-auto">
        <div class="flex flex-col items-center gap-8 flex-1 text-white text-center">
            <h2 class="text-white text-4xl mb-0">Enhance Efficiency and Drive Success</h2>
            <p class="text-white"><strong>Our next cohort starts in September,</strong> offering a front-loaded, fast-track training program that allows participants to complete their training in around 12 months instead of 24.</p>
            <a href="#" class="bg-white rounded font-bold flex items-center justify-center gap-2 p-4 text-blue-200">Enquire Now <i class="ml-2 fa-solid fa-chevron-right"></i></a>
        </div>
    </div>
</section>