<section class="py-32 flex justify-center items-center gap-36">
    <div class="bg-gradient-to-r from-red-1000 to-purple-1000 max-w-screen-2xl rounded-lg mx-auto py-32 ">
        <div class="mx-auto flex flex-col lg:flex-row justify-center items-center flex-1 gap-8 lg:gap-36 px-6 md:px-12 lg:px-32">
            <div class="flex flex-col items-start gap-8 lg:w-5/12 w-full text-white">
                <h2 class="text-white text-4xl leading-112">Join Our Next Cohort</h2>
                <p class="text-white text-md leading-200">Our next cohort <strong>begins in September</strong> with an accelerated start for quick ROI. Complete your training in 12 months and start reaping the benefits of agile project management and advanced technology integration sooner.</p>
                <a href="#" class="bg-white rounded font-bold flex items-center justify-center gap-2 p-4 text-blue-200">Enquire Now <i class="ml-2 fa-solid fa-chevron-right"></i></a>
                <p class="text-white font-bold leading-112">Let’s maximise your team’s potential together!</p>
            </div>
            <div class="w-full lg:w-7/12">
                {% include '../forms/blog-eoi.njk' %}
            </div>
        </div>
    </div>
</section>