<section class="py-32">
    <div class="bg-gradient-to-r from-red-1000 to-purple-1000 max-w-screen-2xl rounded-lg">
        <div class="mx-auto flex justify-center items-center flex-1 gap-36">
            <div>Text</div>
            <div>Form</div>
        </div>
    </div>
</section>