<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24 faq">
  <h2 class="relative title font-semibold mb-12 max-w-90">FAQ</h2>

  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        Do I get paid to learn?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90 ">YES! While studying towards your apprenticeship you are 
      employed by a local company who are committed to your training, with the view that at 
      the end of the programme, you&rsquo;ll continue to be a happy and productive member of their team.</p>
    </div>
  </div>
  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        Do I have to have a job to be an apprentice?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90">You DO have to have a job in an area that 
      will allow you to practise what you have learnt. An apprenticeship 
      is &lsquo;A Job with Training&rsquo;.</p>
      <p class="mb-6 max-w-90">We do have links with businesses all over England who love to 
      offer apprentices their first role in the industry… but unfortunately, as there 
      is such high demand for positions, competition is tough and we don&rsquo;t always have 
      enough roles, in the right locations, for everyone that wants to apply.</p>
      <p class="mb-6 max-w-90">However, you don&rsquo;t HAVE to have a job that WE have found 
      for you! We can help you apply for jobs in your area, equipping you with the skills, 
      knowledge and confidence that you need to secure a job and start your apprenticeship asap.</p>
    </div>
  </div>
  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        What is the qualification that I will be awarded?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90"><a>Level 4 in Software Development</a></p>
    </div>
  </div>
  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        How much does the course cost?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90 ">The Apprenticeship program will not cost you a 
      penny! Your training is funded between the government and your employer.</p>
    </div>
  </div>
  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        What qualifications do I need to apply?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90 ">None! We don&rsquo;t want a lack of formal education 
      or qualifications to be a barrier to our amazing industry. What we do 
      want to see is that you love the tech industry and are passionate about your 
      own development as a coder.</p>
      <p class="mb-6 max-w-90 ">We love to see your portfolio, evidence of your 
      self-learning and ways you can display your aptitude for a role in this 
      industry… and we work with employers who want the same.</p>
      <p class="mb-6 max-w-90 ">If you have Level 2 qualifications 
      in Maths and English, that&rsquo;s a bonus, but if you don&rsquo;t we won&rsquo;t turn you away!</p>
    </div>
  </div>
  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        How long is the course?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90 ">It&rsquo;s a minimum of 18 months and a maximum of 24. There&rsquo;s 
      always some flexibility built in to make sure you get the very best from your 
      experience with The Coders Guild.</p>
    </div>
  </div>
  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        Does it matter where I live?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90 ">No… not at all. We deliver regular 
      face-to-face training in Leeds and London, but if you can&rsquo;t travel to 
      either, we offer a full remote-learning package. You will attend group 
      sessions with your coach and trainer and see your fellow trainee coders 
      during regular Zoom classes.</p>
    </div>
  </div>
  <div class="mb-12">
    <button class="faq-btn block text-left w-full py-6">
      <h3 class="relative title font-semibold max-w-90 mb-0">
        What&rsquo;s the application process?
      </h3>
    </button>
    <div class="faq-content">
      <p class="mb-6 max-w-90 ">We have an open-door application 
      process, which means you can apply at any time. We don&rsquo;t work to an academic year.</p>
      <p class="mb-6 max-w-90 ">Applications are received and anonymously 
      filtered. If you live outside the UK or already have  a Level 4 or higher 
      qualification in Web Dev or similar… unfortunately we can&rsquo;t accept your application.</p>
      <p class="mb-6 max-w-90 ">Everyone is invited to take part in a free online bootcamp.</p>
    </div>
  </div>

</section>