
<div class="md:flex my-12 md:justify-evenly">
  <div class="mx-auto mb-10 md:mb-0 md:mx-0">
    <h3 class="font-semibold">Software Developer Level 4</h3>
    <ul class="products_drop_content">
      <li class="mb-3">I want to <a>hire</a> a developer</li>
      <li>I want to <a>be</a> a developer</li>
    </ul>
  </div>
  <div class="mx-auto md:mx-0">
    <h3 class="font-semibold">Software Tester Level 4</h3>
    <ul class="products_drop_content">
      <li class="mb-3">I want to <a>hire</a> a tester</li>
      <li>I want to <a>be</a> a tester</li>
    </ul>
  </div>
</div>