<div>
  <div class="block mb-3 w-full"><p class="shadow text-center px-6 py-3">University teaches theory and research<p></div>
  <div class="block mb-3 w-full"><p class="shadow text-center px-6 py-3">Bootcamps teach code and process</p></div>
  <div class="block w-full"><p class="shadow text-center px-6 py-3">We create an environment for the apprentice to cultivate core skills and really succeed</p></div>
</div>