
<section class="inner products sm:px-6 lg:px-8 mb-24">
  <div class="bg-grey-50">
    <div class="relative max-w-full mx-auto">
      <div class="relative">
        <div class="mb-12">
          <h2 class="relative title font-semibold mb-12">
            Apprenticeships
          </h2>
          <div class="mb-12">
            <h3 class="font-semibold max-w-90">No one knows the landscape better</h3>
            <p class="mb-6 max-w-90">
              We started the first industry-led digital apprenticeship back in 2012, 
              revolutionising the way modern technical vocations are learned. Since 
              then we’ve continually improved our courses and are now transferring our 
              know-how to new areas.
            </p>
          </div>
          
          <div class="mb-12">
            <h3 class="font-semibold max-w-90">Billable within weeks</h3>
            <p class="max-w-90">
              We know learning on the job is the best way to learn the skills and 
              knowledge necessary to succeed. Our apprentices are confidently applying their 
              skills to real-world projects in a matter of weeks.
            </p>
          </div>

          <div class="mb-12">
            <h3 class="font-semibold max-w-90">Devised and delivered by pro developers</h3>
            <p class="max-w-90">
              All our courses are devised and delivered by industry professionals; 
              many of them experts in their field.
            </p>
          </div>

          <div class="py-6 px-6 max-w-90 mx-auto shadow rounded">
            <p class="text-center">
              If you’re looking for a training provider with a real understanding of the industry, 
              <a href="/contact">get in touch today</a>.
            </p>
          </div>
        </div>

        {% include "components/apprenticeships/apprenticeships-component.njk" %}

      </div>

        

      <div class="relative">
        <h4 class="relative title font-semibold">More coming soon</h4>

        <p class="mb-6 max-w-90">Through our training development 
        team we are continually adding more digital apprenticeships and training programs:</p>

        <ul class="list-disc md:flex md:flex-wrap justify-center max-w-90 py-6 mx-auto my-6">
          <li class="mx-6 mb-3">
            <div>Intro courses at levels 2 and 3</div>
          </li>
          <li class="mx-6 mb-3">
            <div>Degree Level Apprenticeships</div>
          </li>
          <li class="mx-6 mb-3">
            <div>Data Analysis</div>
          </li>
          <li class="mx-6 mb-3">
            <div>Digital Marketing</div>
          </li>
          <li class="mx-6 mb-3">
            <div>Cyber Security</div>
          </li>
          <li class="mx-6 mb-3">
            <div>UX</div>
          </li>
          <li class="mx-6 mb-3">
            <div>and more</div>
          </li>
        </ul>

        <div class="md:py-6">
          <p class="mb-6 md:text-center">Stay in the loop by signing up to our mailing list.</p>
          {% include "components/apprenticeships/mailing-form.njk" %}
        </div>

      </div>
    </div>
  </div>
</section>