<div class="md:flex md:justify-evenly md:items-center my-10 md:-mx-3 md:items-baseline">
  <div class="md:block items-center md:px-6 md:w-1/3 mb-12 md:mb-0">
    <div class="px-6 mb-6">
      <img class="w-40 block mx-auto" src="../images/apprentices/simon.jpg" />
    </div>
    <h5 class="font-semibold text-center mb-3">Simon</h5>
    <span class="block text-center mb-3">Alumni 2017</span>
    <p class="text-center max-w-90 mx-auto">Graduated from the scheme in 2017, now Sr Full Stack Developer at <a>Modern English</a></p>
  </div>

  <div class="md:block items-center md:px-6 md:w-1/3 mb-12 md:mb-0">
    <div class="px-6 mb-6">
      <img class="w-40 block mx-auto" src="../images/apprentices/jurate.jpg" />
    </div>
    <h5 class="font-semibold text-center mb-3">Jurate</h5>
    <span class="block text-center mb-3">Apprentice</span>
    <p class="text-center max-w-90 mx-auto">Demonstrable code skills and maths degree but no previous commercial experience, now a developer at <a>Creode</a></p>
  </div>

  <div class="md:block items-center md:px-6 md:w-1/3">
    <div class="px-6 mb-6">
      <img class="w-40 block mx-auto" src="../images/apprentices/mo.jpg" />
    </div>
    <h5 class="font-semibold text-center mb-3">Mo</h5>
    <span class="block text-center mb-3">Alumni 2014</span>
    <p class="text-center max-w-90 mx-auto">Graduated 2014, worked in development and testing, now DevOps Engineer at <a>Graphic Alliance</a></p>
  </div>
</div>