<div class="relative bg-white py-6 sm:py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid grid-cols-1 items-start gap-x-8 gap-y-12 sm:gap-x-10 sm:gap-y-14 sm:grid-cols-4">
        <div>
            <img class="col-span-2 h-12  w-full sm:col-span-1 mx-auto mb-6" src="../images/icons/Group-16.svg" alt="The Coders Guild courses all offer remote learning">
            <p class="text-center text-md leading-lg mb-0 text-blue-200 font-bold">100% Remote Learning</p>
        </div>
        <div>
            <img class="col-span-2 h-12  w-full sm:col-span-1 mx-auto mb-6" src="../images/icons/Group-34.svg" alt="The Coders Guild provides employees with job ready skills">
            <p class="text-center text-md leading-lg mb-0 text-blue-200 font-bold">Upskilling Teams</p>
        </div>
        <div>
            <img class="col-span-2 h-12  w-full sm:col-span-1 mx-auto mb-6" src="../images/icons/roi_icon.svg" alt="Providing great ROI within weeks">
            <p class="text-center text-md leading-lg mb-0 text-blue-200 font-bold">Speedy ROI</p>
        </div>
        <div>
            <img class="col-span-2 h-12  w-full sm:col-span-1 mx-auto mb-6" src="../images/icons/Group-15.svg" alt="95% of our learners achieve a full time position after they qualify">
            <p class="text-center text-md leading-lg mb-0 text-blue-200 font-bold">High Achieving Learners</p>
        </div>
    </div>
  </div>
</div>