<div class="bg-white section-rounded relative overflow-hidden">
    <object type="image/svg+xml" data="../images/patterns/14.svg" class="absolute pattern pattern-6"></object>
    <object type="image/svg+xml" data="../images/patterns/8.svg" class="absolute pattern pattern-4"></object>
    <object type="image/svg+xml" data="../images/patterns/8.svg" class="absolute pattern pattern-9"></object>

    <div class=" mx-auto max-w-3xl inner px-6 py-16 sm:py-24 lg:px-8">
        <h2 class="text-center">Our simple guide to what you need to know</h2>
        <!-- <div class="flex flex-col md:flex-row justify-around max-w-2xl mx-auto">
            <button id="employers-btn" class="rounded py-2 px-4 bg-gradient-to-r from-yellow-200 to-yellow-100 text-white font-bold">For Employers</button>
            <button id="candidates-btn" class="rounded py-2 px-4 bg-gradient-to-r from-blue-200 to-blue-100 text-white font-bold">For Candidates</button>
        </div> -->

        <div>
            <div class="sm:hidden">
              <label for="tabs" class="sr-only">Select a tab</label>
              <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
              <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
                <option>My Account</option>
                <option>Company</option>
                <option selected>Team Members</option>
                <option>Billing</option>
              </select>
            </div>
            <div class="hidden sm:block">
              <div class="border-b border-gray-200">
                <nav class="-mb-px flex" aria-label="Tabs">
                  <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                  <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 w-1/4 border-b-2 py-4 px-1 text-center text-sm font-medium">My Account</a>
                  <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 w-1/4 border-b-2 py-4 px-1 text-center text-sm font-medium">Company</a>
                  <a href="#" class="border-indigo-500 text-indigo-600 w-1/4 border-b-2 py-4 px-1 text-center text-sm font-medium" aria-current="page">Team Members</a>
                  <a href="#" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 w-1/4 border-b-2 py-4 px-1 text-center text-sm font-medium">Billing</a>
                </nav>
              </div>
            </div>
          </div>

        {% include './for-employers.njk' %}
        {% include './for-candidates.njk' %}
    </div>
</div>

<script>
    const employersBtn = document.getElementById('employers-btn');
    const candidatesBtn = document.getElementById('candidates-btn');
    const employersSection = document.getElementById('employers');
    const candidatesSection = document.getElementById('candidates');

    employersBtn.addEventListener('click', () => {
        candidatesSection.classList.remove('block')
        candidatesSection.classList.add('hidden')
        employersSection.classList.remove('hidden')
        employersSection.classList.add('block')
    });

    candidatesBtn.addEventListener('click', () => {
        employersSection.classList.remove('block')
        employersSection.classList.add('hidden')
        candidatesSection.classList.remove('hidden')
        candidatesSection.classList.add('block')
    });
</script>