<section class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
    <div class="flex flex-col md:flex-row justify-around max-w-2xl mx-auto">
        <button class="rounded py-2 px-4 bg-gradient-to-r from-yellow-200 to-yellow-100 text-white font-bold">For Employers</button>
        <button class="rounded py-2 px-4 bg-gradient-to-r from-blue-200 to-blue-100 text-white font-bold">For Candidates</button>
    </div>

    {% include './for-employers.njk' %}
    {% include './for-candidates.njk' %}
</section>