<div class="bg-white section-rounded relative overflow-hidden">
    <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/14.svg" class="absolute pattern pattern-6"></object>
    <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/8.svg" class="absolute pattern pattern-4"></object>
    <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/8.svg" class="absolute pattern pattern-9"></object>

    <div class=" mx-auto max-w-3xl inner px-6 py-16 sm:py-24 lg:px-8">
        <h2 class="text-center">Our simple guide to what you need to know</h2>
        <!-- <div class="flex flex-col md:flex-row justify-around max-w-2xl mx-auto">
            <button id="employers-btn" class="rounded py-2 px-4 bg-gradient-to-r from-yellow-200 to-yellow-100 text-white font-bold">For Employers</button>
            <button id="candidates-btn" class="rounded py-2 px-4 bg-gradient-to-r from-blue-200 to-blue-100 text-white font-bold">For Candidates</button>
        </div> -->

        <div>
            <div class="block">
              <div class="border-b border-gray-200">
                <nav class="-mb-px flex" aria-label="Tabs">
                  <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                  <a name="employers" id="employers-btn" class="cursor-pointer active border-blue-200 text-blue-600 w-6/12 border-b-2 py-4 px-1 text-center text-sm font-medium" aria-current="page">Employers</span>
                  <a name="candidates" id="candidates-btn" class="cursor-pointer border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 w-6/12 border-b-2 py-4 px-1 text-center text-sm font-medium">Learners</span>
                </nav>
              </div>
            </div>
          </div>

        {% include './for-employers.njk' %}
        {% include './for-candidates.njk' %}
    </div>
</div>

<script>
    const employersBtn = document.getElementById('employers-btn');
    const candidatesBtn = document.getElementById('candidates-btn');
    const employersSection = document.getElementById('employers');
    const candidatesSection = document.getElementById('candidates');
    const activeClasses = "cursor-pointer active border-blue-200 text-blue-600 w-6/12 border-b-2 py-4 px-1 text-center text-sm font-medium";
    const inactiveClasses = "cursor-pointer border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 w-6/12 border-b-2 py-4 px-1 text-center text-sm font-medium";

    
    const switchSections = (target, sections) => {
        console.log(target.name, sections);
        sections.forEach(section => {
            if(target.name === section.id){
            section.classList.remove('hidden');
            section.classList.add('block');
            } else {
                section.classList.remove('block');
                section.classList.add('hidden');
            }
        });
    }
    
    const handleClick = (event) => {
        const target = event.target;
        if(!target.classList.contains('active')){
            const elements = target.parentNode.childNodes;
            elements.forEach(el => el.classList = inactiveClasses);
            target.classList = activeClasses;
        } else {
            const elements = target.parentNode.childNodes;
            elements.forEach(el => el.classList = inactiveClasses);
            target.classList = activeClasses;
        }

        switchSections(target, [employersSection, candidatesSection]);
    }

    employersBtn.addEventListener('click', handleClick);

    candidatesBtn.addEventListener('click', handleClick);
  </script>