<div class="bg-white" id="employers">
  <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
    <h2 class="text-2xl font-bold leading-10 tracking-tight text-grey-900">Employers - What to Expect!</h2>
    <p class="mt-6 text-base leading-7 text-grey-600">Have a different question and can’t find the answer you’re looking for? Reach out to our support team by <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">sending us an email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-20">
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">On-the-job training?</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Your apprentice will work on company assignments and log all new learning they do at work</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Mentorship</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">A workplace advistor will support and guide the apprentice and onboard them onto the team.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Connect with us</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Establish a connection with us to determine the best path of learning for your apprentice - with regular review points.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Have your say</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">We can teach what your apprentice needs to know, and send them back to work to apply their new skills.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Off the job Training</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">We run remote, online sessions with real world projects to solidify learning.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Dedicated Coaching</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Helps your apprentice acquire the skills they need through monthly coaching meetings and setting clear goals.</dd>
        </div>

        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>
