<div class="hidden overflow-hidden" id="candidates">
   <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
    <h2 class="text-2xl font-bold leading-10 tracking-tight text-grey-900">Want to do an Apprenticeship? Here's what to Expect!</h2>
    <p class="mt-6 text-base leading-7 text-grey-600">Have a different question and can’t find the answer you’re looking for? Reach out to our support team by <a href="mailto:candidates@thecodersguild.org.uk" class="font-semibold text-blue-200 hover:text-blue-500">sending us an email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-20">
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Inclusive Opportunities:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Our recruitment is based on aptitude and enthusiasm, not just formal qualifications, opening doors for a diverse range of candidates.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Industry-Relevant Training:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Learn from professionals actively working in your chosen field, ensuring your skills are up-to-date and immediately applicable.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Speedy Onboarding: </dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Our efficient process means you'll be actively learning and contributing in your new role as quickly as possible.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Personalised Learning Paths:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Tailored training plans are developed to meet your individual learning needs, setting you up for success from day one.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Real-World Experience:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Gain hands-on experience in an actual job role, offering invaluable insights and a significant advantage in the job market.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Supportive Environment:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">We provide continuous guidance and support not just for your technical skills, but also for your overall well-being and career development.</dd>
        </div>
      </dl>
    </div>
    <div class="mt-8">
      <a href="/course-directory/" class="inline-block mx-auto text-md leading-sm text-white bg-gradient-to-r from-blue-200 to-blue-100 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">View our Courses!</a>
    </div>
  </div>
  
</div>


