<div id="employers" class="overflow-hidden">
  <div class="mx-auto max-w-7xl px-6 py-16 lg:px-8">
    <h2 class="text-2xl font-bold leading-10 tracking-tight text-grey-900">Employers - What to Expect!</h2>
    <p class="mt-6 text-base leading-7 text-grey-600">Have a different question and can’t find the answer you’re looking for? Reach out to our support team by <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">sending us an email</a> and we’ll get back to you as soon as we can.</p>
    <div class="mt-20">
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Effortless Onboarding</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">We take care of the paperwork and logistics, making it simple for you to integrate new apprentices into your team.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Bespoke Tailored Training Plans:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Our programmes are customised to align with your company's specific systems, tools, and objectives, ensuring immediate applicability.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">High-Quality Talent:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Through our rigorous yet inclusive recruitment process, we find individuals with the aptitude and enthusiasm to excel in your work environment.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Skills Relevance:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Our training is designed and constantly updated by industry professionals, assuring you that your apprentices are learning the most current and relevant skills.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Team Development:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Beyond the apprentices, we offer continuous support to help your existing staff maximise the advantages of bringing apprentices into your operations.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-grey-900">Levy Fund Utilisation:</dt>
          <dd class="mt-2 text-base leading-7 text-grey-600">Make the most of your apprenticeship levy funds by investing in programmes that offer proven value for both skill development and long-term employee retention.</dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="relative bg-gray-900">
  <div class="relative h-80 overflow-hidden bg-blue-200 md:absolute md:left-0 md:h-full md:w-1/3 lg:w-1/2">
    <img class="h-full w-full object-cover rounded z-10 saturated-image" src="../images/learner-images/startup-849794_1920.jpg" alt="Work with The Coders Guild for quality digital skills training">
  </div>
  <div class="relative mx-auto max-w-7xl py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="pl-6 pr-6 md:ml-auto md:w-2/3 md:pl-16 lg:w-1/2 lg:pl-24 lg:pr-0 xl:pl-16">
      <h2 class="text-base font-semibold leading-7">Choose The Coders Guild</h2>
      <p class="mt-6 text-base leading-7 text-gray-300">By choosing The Coders Guild, you're opting for a seamless, impactful, and socially responsible approach to apprenticeships.</p>
      <p>Speak to one of our team to find out about hiring an apprentice today!</p>
      <div class="mt-8">
        <a href="#" data-modal="book-a-call" class="bookacall inline-block text-md leading-sm text-white bg-gradient-to-r from-blue-200 to-blue-100 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Book a Call!</a>
      </div>
    </div>
  </div>
</div>
</div>



