<section class="relative md:pt-16 py-16 md:pb-8 bg-grey-100 faq section-rounded -mt[3rem]">
  <div class="inner">
    <div class="max-w-5xl md:px-8 mx-auto">
      <h2 class="text-center mb-10 md:mb-12">Levy FAQs</h2>
      <p class="text-center mb-6">As an employer looking at Apprenticeships, you may have questions around the Apprenticeship Levy. Read on to discover what this means to you.</p>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>What is the apprenticeship levy?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100">The Apprenticeship Levy was announced in the 2015 November Spending Review. It is essentially an additional payroll tax, set at 0.5% of an employer’s annual pay bill, collected through PAYE. The levy affects all employers with a presence in the UK, from businesses to charities to schools, regardless of sector, with an annual pay bill of more than £3 million. Groups of companies under a common ownership structure will be treated as one business.</p>
        </div>
      </div>

      <div class="mb-6 bg-white rounded-lg md:px-10 px-7"><button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span> How does the apprenticeship levy work for employers?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="pt-8 mb-6 border-t-2 border-grey-100">While the levy is set at 0.5% of an employer’s gross annual pay bill, employers have an allowance of £15,000. So if an employer has a pay bill of £10 million, they will end up paying an annual fee of:

£10 million x 0.5% - £15,000 = £35,000

The levy allowance operates on a monthly basis and accumulates throughout the year. This means you have an allowance of £1,250 a month. Any unused allowance is carried from one month to the next.

The total levy amount is collected monthly by HMRC, and the funding is then made available to employers via a digital account, through which they can pay for training for apprentices. If an employer does not spend their entire levy amount on apprenticeships, then the unspent portion will be made available to other employers to spend on apprenticeships.

If you are part of a group of employers, you must decide what proportion of the levy allowance each employer in the group will be entitled to. This decision must be taken at the beginning of the tax year and will be fixed for that tax year. Each employer will then calculate what they have to pay through the same processes set out above, but using their portion of the £15,000 allowance.

Any apprenticeship levy payment to HMRC is an allowable deduction for Corporation Tax purposes.

Your pay bill will be based on the total amount of earnings subject to National Insurance Contributions. Essentially, any person who is on your payroll and paid through PAYE is included in your pay bill. Earnings include any remuneration or profit coming from employment, such as pay, bonuses, commissions, and pension contributions that you pay National Insurance on.</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>Does the government provide any additional funding to those paying the levy?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100">The government will apply a 10% top-up to your levy account for spending on apprenticeship training in England. They apply the top-up monthly, at the same time the funds enter your digital account. So for every £1 that enters your digital account to spend on apprenticeship training, you will get £1.10. Funds (including top-ups) expire 24 months after they enter your digital account unless you spend them on apprenticeship training.</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>And if you don’t have enough in your account to pay for all the training you want?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100">Some employers paying the levy may find that the funds in their digital account aren’t enough to cover the full cost of training all the apprentices they want to employ. In order to support further apprenticeship delivery, the government will contribute 90% of the total costs of the additional delivery.</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>What is the system for employers who do not have to pay the levy?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="pt-8 mb-6 border-t-2 border-grey-100">If you do not pay the levy, you won’t need to use the digital apprenticeship service to pay for apprenticeship training and assessment until at least 2019. Currently, you can choose the training you’d like your apprentices to receive and an approved training provider to deliver it, and a price is then agreed with that provider. The government will make a contribution of 90% to the cost of this training.</p>
        </div>
      </div>
      <div class="max-w-2xl text-center mx-auto my-20">
        <h2 class="text-center mb-6">Ready to upskill your team?</h2>
        <a href="#" data-modal="book-a-call-calendly-calendly" class="bookacall inline-block text-md leading-sm text-white bg-gradient-to-r from-blue-200 to-blue-100 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Book a Call!<i class="fas fa-angle-right text-md leading-sm text-white ml-2"></i></a>
      </div>
    </div>
  </div>
</section>