<div>
  <form id="mailing-form" class="md:flex md:justify-center">
    <div>
      <label for="email" class="sr-only">Email</label>
      <div>
        <input id="email" class="max-w-xs rounded-none form-input block w-full py-3 px-4 placeholder-grey-500 transition ease-in-out duration-150" placeholder="Your Email" />
      </div>
    </div>

    <div>
      <button type="submit" class="ml-3 mt-3 md:mt-0 w-full block mx-auto py-3 px-6 border border-transparent text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">Submit</button>
    </div>
  </form>
<div>