<footer>
    <div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="xl:col-span-1">
        <img class="h-10" src="../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="Company name" />
        <p class="mt-8 text-gray-500 text-base leading-6">
          {{ footer.footer_blurb }}
        </p>
        <div class="mt-8 flex">

          {% for link in footer.social_links %}
            <a href="{{ link.url }}" class="mr-6 text-gray-400 hover:text-gray-500">
              <span class="sr-only">{{ link.title }}</span>
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"/>
              </svg>
            </a>
          {% endfor %}

        </div>
      </div>
      <div class="mt-12 grid grid-cols-2 sm:grid-cols-4 gap-8 xl:mt-0 xl:col-span-2">

        {% for col in footer.footer_sections %}
          <div class="md:grid md:grid-cols-4 md:gap-8">
            <div>
              <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-400 uppercase">
                {{ col.title }}
              </h4>
              <ul class="mb-4">

                {% for link in col.links %}
                  <li class="mt-4">
                    <a href="{{ link.url }}" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                      {{ link.label }}
                    </a>
                  </li>

                {% endfor %}

              </ul>
            </div>
          </div>

        {% endfor %}

      </div>
    </div>
    <div class="mt-12 border-t border-gray-200 pt-8">
      <p class="text-base leading-6 text-gray-400 xl:text-center">
        &copy; 2020 Workflow, Inc. All rights reserved.
      </p>
    </div>
  </div>
</div>

</footer>