<div class="relative bg-grey-50 overflow-hidden banner xl:bg-fixed bg-no-repeat bg-center">
  <div class="relative inner">
    <div class="mx-auto max-w-screen-xl">
      <div class="flex items-center flex-col sm:flex-row sm:justify-center py-20 xl:py-48 sm:py-32">
        <div class="mb-10 sm:mb-0">
          <img src="../images/logo/TCG-logo.svg" class="block mx-auto h-40 max-w-full lg:h-48 xl:h-56" alt="The Coders Guild logo" />
        </div>
        <div class="sm:w-1/2 sm:py-0 sm:pl-8">
          <h1 class="relative font-bold text-grey-900 xl:text-6xl lg:text-5xl lg:leading-tight text-lg max-w-xs lg:max-w-3xl mx-auto sm:mx-0">
            {{ hero.title }}
          </h1>
          <span class="lg:max-w-3xl mx-auto sm:mx-0 block sm:mx-0 ">
            {{ hero.description }}
          </span>
        </div>
      
      </div>
    </div>
  </div>
</div>