<section class="inner products sm:px-6 lg:px-8">
  <div class="bg-gray-50 overflow-hidden">
    <h2 class="mb-6">Social Mission</h2>

    <p class="mb-6">We have always been invested in our community. 
    We are doing all these outreach projects partnering with 
    charities and organisations to do some good in the world:</p>

    <ul class="list-disc px-6">
      <li>Improve diversity in tech</li>
      <li>Remove barriers for disadvantaged or marginalised groups</li>
      <li>Promote knowledge share</li>
      <li>Support people</li>
      <li>Contribute to Free and Open Source Software</li>
    </ul>
  </div>
</section>