<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24" id="social-mission">
  <div class="bg-grey-50">
    <h2 class="relative title font-semibold mb-12">Social Mission</h2>

    <p class="mb-6 max-w-90">We have always been invested in our community. 
    We are doing all these outreach projects partnering with 
    charities and organisations to do some good in the world:</p>

    <ul class="list-disc px-6">
      <li class="mb-3">Improve diversity in tech</li>
      <li class="mb-3">Remove barriers for disadvantaged or marginalised groups</li>
      <li class="mb-3">Promote knowledge share</li>
      <li class="mb-3">Support people</li>
      <li class="mb-3">Contribute to Free and Open Source Software</li>
    </ul>
  </div>
</section>