
//==========  Typography ==========//

// headings
h1, h2, h3, h4, h5, h6 {
    @apply font-bold mt-0 mb-6 text-purple-900;
}

h1, h2, h3, h4, h5 {
  @apply font-heading;
}

h1 {
  font-size: 40px;
  line-height: 53px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 20px;
  line-height: 26px;
}

h5 {
  font-size: 16px;
  line-height: 21px;
}

p {
  @apply font-paragraph;
  font-size: 16px;
  line-height: 32px;
  color: #6e6f72;
}

span {
  @apply font-paragraph;
}

// content
.content {
  // headings
  h2 {
		@apply text-blue-100;
  }

	// paragraph
	& > p {
    @apply mb-6;

        // intro paragraph
		&:first-child {
			@apply text-blue-200;
		}
  }

  & > blockquote {
    @apply my-6 py-10 border-t-1 border-b-1 border-gray-100;

    & > p {
      @apply text-blue-100 mx-auto mb-6 text-base font-semibold font-heading text-center;

      &::first-letter {
        margin-left: 10px;
      }

      &::before,
      &::after {
        position: absolute;
      }

      &::before {
        content: "\201C";
        letter-spacing: 3px;
      }

      &::after {
        content: "\201D";
      }
    }

    span {
      @apply font-paragraph text-gray-200 text-xs font-normal block text-center;
    }
  }

  & > figure {
    @apply mb-6;
    
    figcaption {
      @apply text-0 leading-xs text-black my-2;
    }
  }
}
