//==========  Imports  ==========//

// Import Tailwind preflight
@tailwind base;

// Import our custom base styles
@import "base/all";

// Import Tailwind components
@tailwind components;

// Import our custom component styles
@import "components/all";

// Import Tailwind utilities
// TailwindCSS recommends leaving utilities till last to ensure they aren't overwritten.
@tailwind utilities;

//css for blog ul and ol li styling

article {
  ul {
    li {
      list-style: none;
    }

    li::before {
      content: url("/images/Chevron-Left-list.svg");
      margin-right: 1.5rem;
    }
  }

  ol {
    li {
      list-style: none;
    }

    li::before {
      content: "XX";
      margin-right: 1.5rem;
    }
  }
}
