//==========  Imports  ==========//

// Import Tailwind preflight
@tailwind base;

// Import our custom base styles
@import 'base/all';

// Import Tailwind components
@tailwind components;

// Import our custom component styles
@import 'components/all';

// Import Tailwind utilities
// TailwindCSS recommends leaving utilities till last to ensure they aren't overwritten.
@tailwind utilities;

//CSS Rules for blog ul and ol li styling
.saturated-image {
	filter: saturate(100%);
	mix-blend-mode: multiply;
}

#course_breakdown,
#course_outline,
#content,
.decorated-list,
.content {
	ul {
		li {
			list-style: none;
			list-style-position: outside;
			font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, 'Segoe UI',
				Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
				'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
			line-height: 26px;
			margin-bottom: 1rem;
		}

		li::before {
			content: url('/images/Chevron-Left-list.svg');
			margin-right: 1rem;
			display: inline-block;
		}
	}

	ol {
		counter-reset: item;
		> li {
			counter-increment: item;
			z-index: 1;
			font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, 'Segoe UI',
				Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
				'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
			line-height: 26px;
			margin-bottom: 1rem;
			//display: list-item;
		}

		> li::before {
			content: counter(item);
			font-size: 1.5rem;
			color: #2574a9;
			line-height: 1.5;
			font-weight: bold;
			background-image: url('/images/patterns/Numbered_List_Pattern.svg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			padding: 5px;
			margin-right: 5px;
		}

		> li > ul {
			margin-left: 25px;
		}
	}
}

.decorated-list.white {
	ul {
		li {
			list-style: none;
			list-style-position: outside;
			font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, 'Segoe UI',
				Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
				'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
			line-height: 26px;
			margin-bottom: 1rem;
		}

		li::before {
			content: url('/images/icons/white-icon-right.svg');
			margin-right: 1rem;
			display: inline-block;
		}
	}
}

#hub {
	#course-grid-container {
	  #course-grid {
		.slick-track
		{
			display: flex !important;
		}
		
		.slick-slide
		{
			height: inherit !important;
		}
	
		.slick-slide > div { height: 100%; }
	  }
	}
}

//CSS for application progress bar option 1

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	transition: 6s linear all;
	//overflow: hidden;
}

.progress-container {
	background-color: rgba(150, 150, 150, 0.6);
	height: 10px;
	width: 100%;
}

.progress-bar {
	background-color: #2196f3;
	height: 10px;
	width: 0%;
}

:root {
	--line-border-fill: #3498db;
	--line-border-empty: #e0e0e0;
}

///Apprentice Job Index

#searchBtnJobIndex {
	background-color: #86ba90;
	@apply font-heading;
	color: #fff;
}

#apprentice-index-main {
	background-color: #f2f2f2;
}

.pdf-image {
	a {
		text-decoration: none;
	}
}
.woocommerce-MyAccount-content {
	padding: 10px;
	border: 1px solid black;
}

.entry-content {
	padding-top: 30px;
}
.entry-content p {
	margin-bottom: 30px;
}

.application-form--fieldset {
	display: none;
}

.application-form--fieldset.active {
	display: block;
}

.validateFormStepNext,
.submitApplication {
	float: right;
}

.buttonContainer {
	padding: 10px 30px;
}

.clearfix {
	clear: both;
}

.woocommerce-form__input.woocommerce-form__input-checkbox {
	width: 1rem;
	position: relative;
	top: 14px;
}

.woocommerce-account .woocommerce-error {
	background-color: transparent;
	box-sizing: border-box;
	color: rgb(187, 52, 52);
	display: block;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-size-adjust: 100%;
	margin-bottom: 30px;
}

.woocommerce-account .woocommerce-message {
	background-color: transparent;
	box-sizing: border-box;
	color: #0f834d;
	display: block;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-size-adjust: 100%;
	margin-bottom: 30px;
}

.edit-link {
	display: none;
}

.other {
	display: none;
}

fieldset a {
	text-decoration: underline;
}

@media (min-width: 1024px) {
	#mobile-menu {
		display: none;
	}
}

.applyBtn {
	text-decoration: none;
}

.post.content p {
	min-height: 32px;
}

.strikediag {
	background: linear-gradient(
		to left top,
		transparent 47.75%,
		currentColor 49.5%,
		currentColor 50.5%,
		transparent 52.25%
	);
}
