<section class="bg-white relative md:pt-16 pt-20 inner">
  <div class="max-w-6xl mx-auto">
    <h2 class="text-center mb-12">Case Studies</h2>

    <div class="flex">
      <div class="px-4 mx-4 shadow-secondary bg-white px-3 rounded-lg w-1/3 relative mt-16">
        <div class="px-4 py-6 case-studies">
          <img src="../images/apprentices/simon.jpg" alt="Simon" class="case-studies__img block h-32 w-32 rounded-50 border-4 border-blue-200 mb-5" />
          <h3 class="text-blue-200 font-bold mb-0 text-center">Simon</h3>
          <span class="block font-bold font-heading text-md leading-sm mb-2 text-center">Alumni 2017</span>
          <p class="text-sm leading-lg text-center">Graduated in 2017, now Sr Full Stack Developer at 
            <a href="#" class="font-bold text-blue-200">Modern English</a>.</p>
        </div>
      </div>

      <div class="px-4 mx-4 shadow-secondary bg-white px-3 rounded-lg w-1/3 relative mt-16">
        <div class="px-4 py-6 case-studies">
          <img src="../images/apprentices/jurate.jpg" alt="Simon" class="case-studies__img block h-32 w-32 rounded-50 border-4 border-blue-200 mb-5" />
          <h3 class="text-blue-200 font-bold mb-0 text-center">Jurate</h3>
          <span class="block font-bold font-heading text-md leading-sm mb-2 text-center">Apprentice</span>
          <p class="text-sm leading-lg text-center">Demonstrable code skills and maths degree but 
            no previous commercial experience, now a developer at
            <a href="#" class="font-bold text-blue-200">Creode</a>.</p>
        </div>
      </div>

      <div class="px-4 mx-4 shadow-secondary bg-white px-3 rounded-lg w-1/3 relative mt-16">
        <div class="px-4 py-6 case-studies">
          <img src="../images/apprentices/mo.jpg" alt="Simon" class="case-studies__img block h-32 w-32 rounded-50 border-4 border-blue-200 mb-5" />
          <h3 class="text-blue-200 font-bold mb-0 text-center">Mo</h3>
          <span class="block font-bold font-heading text-md leading-sm mb-2 text-center">Alumni 2014</span>
          <p class="text-sm leading-lg text-center">Graduated 2014, worked in development and testing, 
            now DevOps Engineer at 
            <a href="#" class="font-bold text-blue-200">Graphic Alliance</a>.</p>
        </div>
      </div>

    </div>

    <div class="max-w-2xl">
      <h3>Want to bolster your team with talent like this?</h3>
      <p>Take the first step and speak to The Coders Guild about hiring 
      an apprentice for your team.</p>
    </div>
  </div>
</section>