<section class="relative md:pt-20 pt-12 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/6.svg" class="hidden md:block absolute pattern pattern-6"></object>
  <div class="inner">
    <div class="max-w-3xl mx-auto md:px-16 md:pb-20 pb-16">
      <div>
        <h2>A bit about us</h2>
        <p>Back in 2012 a group of developers got together 
        to create a new kind of apprenticeship. We wanted to solve 
        the key issues facing our communities and businesses. We set 
        out to create a programme that would:</p>
      </div>

      <div class="md:my-8 my-6">
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <h3 class="mb-0 text-xl leading-lg">Increase inclusion and diversity across the industry.</h3>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <h3 class="mb-0 text-xl leading-lg">Raise the bar on code quality and promote knowledge share.</h3>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <h3 class="mb-0 text-xl leading-lg">Secure the local talent pipelines.</h3>
        </div>
      </div>

      <div>
        <p class="mb-6">We pooled our resources and used our tech know-how to create an 
        <a href="#" class="font-bold text-blue-200">open source, living curriculum</a>. 
        This curriculum has now gone through 
        more than 7 years of continuous review and updates. This ensures 
        everything we do is current, useful and relevant.</p>

        <h3 class="mb-6 text-xl leading-lg">It’s the UK’s first industry-led digital apprenticeship</h3>
        <p class="mb-6">We’ve been running since 2013, well before apprenticeships were ‘cool’. 
        We were part of the pilot and trailblazer schemes that determined the 
        format and contents of the new Apprenticeship Standards in Software Development.</p>

        <h3 class="mb-6 text-xl leading-lg">…and when we say industry-led</h3>
        <p class="mb-6">we actually mean it – all technical training is devised, 
        delivered and under constant review by expert developers. 
        Our Open Source curriculum is 
        <a href="#" class="font-bold text-blue-200">available on GitHub</a>.</p>
      </div>
    </div>
  </div>
</section>