<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl pt-20 mb-24">
  <div class="md:flex mb-12">
    <div class="md:w-3/5">
      <h3 class="relative title font-semibold max-w-90">We firmly believe that apprenticeships are the best way to learn 
      the necessary skills to thrive in modern software development.</h3>
    </div>
    <div class="md:w-2/5">
      {% include "components/apprenticeships/apprenticeship-intro-component.njk" %}
    </div>
  </div>
  <div class="flex">
    <p class="mb-6"><span class="font-semibold">Extensive Selection Process</span> - We take only the top 6-7% of applicants based on their aptitude and enthusiasm</p>
  </div>
  <div>
    <p class="mb-6"><span class="font-semibold">Individual Learning Plan</span> - Each apprentice has a unique learning plan to match your business needs</p>
  </div>
  <div>
    <p class="mb-6"><span class="font-semibold">Essential Skills</span> - The group training is front-loaded with essential skills for a fast ROI</p>
  </div>
</section>