<div class="relative roadmap">

  <div class="pb-20 roadmap__item">
    <h3 class="pl-10 roadmap__title text-xl leading-lg 2xl md:leading-2xl mb-4 md:mb-8">PRE-PLACEMENT TRAINING</h3>
    <p class="pl-10">Prior to interview and placement our candidates will receive training 
    in the fundamental skills of a web developer. Things like problem 
    solving with code, semantic markup, Git, content management and command line.</p>
  </div>

  <div class="pb-20 roadmap__item">
    <h3 class="pl-10 roadmap__title text-xl leading-lg md:text-2xl md:leading-2xl mb-4 md:mb-8">Immediate, Billable Skills</h3>
    <p class="pl-10">As soon as they are placed, we need to equip the apprentice with as 
    many useful, billable skills as possible. They'll receive expert training 
    in source control and workflows with Git, testing, debugging and accessibility.</p>
  </div>

  <div class="pb-20 roadmap__item">
    <h3 class="pl-10 roadmap__title text-xl leading-lg md:text-2xl md:leading-2xl mb-4 md:mb-8">Toolchain Essentials</h3>
    <p class="pl-10">Next we focus on developing a fundamental understanding of the 
    tools we use. Automation, Dependency Management, Performance Audits, 
    Security, etc. At this stage an apprentice will be bringing in more 
    revenue than they cost.</p>
  </div>

  <div class="pb-20 roadmap__item">
    <h3 class="pl-10 roadmap__title text-xl leading-lg md:text-2xl md:leading-2xl mb-4 md:mb-8">Project Life Cycle</h3>
    <p class="pl-10">By this time a good amount of the apprentice's time will be on 
    billable work. We support this by increasing their skills and knowledge 
    across all areas of the project life cycle. Agile, Scrum, Kanban, Discovery 
    and Planning, Impact Mapping, etc.</p>
  </div>

  <div class="pb-20 roadmap__item">
    <h3 class="pl-10 roadmap__title text-xl leading-lg md:text-2xl md:leading-2xl mb-4 md:mb-8">Additional Knowledge</h3>
    <p class="pl-10">At the end of year one apprentices will be working independently 
    most of the time. We'll move into preparation for lifelong learning by 
    adding additional knowledge and emerging technologies to their skillset. 
    APIs, JAMStack, PWA, FP, OOP, etc.</p>
  </div>
  
  <div class="pb-20 roadmap__item">
    <h3 class="pl-10 roadmap__title text-xl leading-lg md:text-2xl md:leading-2xl mb-4 md:mb-8">Get in touch</h3>
    <p class="pl-10">If you would like a more in depth discussion on course content 
    and how we can co create a learning plan to exactly match your tech 
    stack and team needs please <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fionathecodersguild/quick-call?hide_event_type_details=1'});return false;" class="bookacall-c-btn font-bold text-blue-200">book a call</a>.</p>
  </div>

</div>