<section class="relative md:pt-20 pt-12 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/6.svg" class="hidden md:block absolute pattern pattern-6"></object>
  <div class="inner">
    <div class="max-w-3xl mx-auto md:px-16 md:pb-20 pb-16">
        <div class="md:my-8 my-6">
        <h2>An apprenticeship purpose-built for your business</h2>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <p><strong>Learn from the industry’s brightest stars:</strong> All our training programmes are taught by practicing software testing professionals who are leading the way in the industry today. Your apprentice will bring their expertise and insights into your team.</p>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <p><strong>Do things 100% your way:</strong> Tailor your apprentice’s learning programme entirely to suit your needs, gain the specific skills you’re currently lacking, and leverage their training to solve your most pressing challenges.</p>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <p><strong>Keep your testing ahead of the curve:</strong> Don’t just settle for hiring someone with the skills that are relevant today. Let us provide you with the skills which will be in high-demand in the future. Our training is always evolving to anticipate the ever-changing trends of the software testing industry.</p>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <p><strong>Enjoy immediate results:</strong> Most apprentices spend one day a week training, four days a week working in the business. With our fast-track model, we can train your apprentice as many as four days a week, accelerating their progression so they can deliver quality billable work up to three times faster than other schemes.</p>
        </div>
      </div>
    </div>

      

      <div>
        <h3 class="mb-6 text-xl leading-lg">Gain far more than just a technical whizz</h3>
        <p class="mb-6">Most software testing apprenticeships focus solely on teaching technical skills, because that’s what’s easy for them, not what’s useful for you. But we also prioritise the real-world personal and professional skills that not only turn your candidates into great software testers, but also into truly valuable members of your business. </p>

        <p class="mb-6">We don’t just teach testing, we teach them how to make a positive impact in the workplace through core skills such as collaboration, problem-solving, communication, time management, best practices, teamwork, and much more. </p>
      </div>
    </div>
  </div>
</section>