<div class="my-12">
  <div class="mb-6">
    <h3>Pre-Placement Training</h3>
    <p>Prior to interview and placement our candidates will receive training in 
    the fundamental skills of a web developer. Things like problem solving with code, 
    semantic markup, Git, content management and command line.</p>
  </div>
  <div class="mb-6">
    <h3>Immediate, Billable Skills</h3>
    <p>As soon as they are placed, we need to equip the apprentice with as 
    many useful, billable skills as possible. They'll receive expert training in source 
    control and workflows with Git, testing, debugging and accessibility.</p>
  </div>
  <div class="mb-6">
    <h3>Toolchain Essentials</h3>
    <p>Next we focus on developing a fundamental understanding of the 
    tools we use. Automation, Dependency Management, Performance Audits, Security, etc. 
    At this stage an apprentice will be bringing in more revenue than they cost.</p>
  </div>
  <div class="mb-6">
    <h3>Project Life Cycle</h3>
    <p>By this time a good amount of the apprentice's time will be on billable work. 
    We support this by increasing their skills and knowledge across all areas of the project 
    life cycle. Agile, Scrum, Kanban, Discovery and Planning, Impact Mapping, etc.</p>
  </div>
  <div class="mb-6">
    <h3>Additional Knowledge</h3>
    <p>At the end of year one apprentices will be working independently most of the 
    time. We'll move into preparation for lifelong learning by adding additional knowledge 
    and emerging technologies to their skillset. APIs, JAMStack, PWA, FP, OOP, etc.</p>
  </div>
</div>