<section class="relative md:pt-20 pt-12 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/6.svg" class="hidden md:block absolute pattern pattern-6"></object>
  <div class="inner">
    <div class="max-w-3xl mx-auto md:px-16 md:pb-20 pb-16">
      <div>
        <h2>An apprenticeship with purpose:</h2>
      </div>

      <div class="md:my-8 my-6">
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <div class="flex">
            <span><h3 class="mb-0 text-xl leading-lg">Save money on recruitment:</h3>You’ll receive Government funding covering 95% - 100% of your apprentice’s training costs. There are no fees to pay.</span>
          </div>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <div class="flex">
            <span><h3 class="mb-0 text-xl leading-lg">Do things your way:</h3>Tailor your apprentice’s training programme to meet the specific needs of your business; maximising short-term impact and ensuring long-term ROI.</span>
          </div>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <div class="flex">
            <span><h3 class="mb-0 text-xl leading-lg">Make your team shine:</h3> Learn from the industry’s brightest stars. Our apprentice training programmes are taught by experts who are actively practising and leading the way in tech.</span>
          </div>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <div class="flex">
            <span><h3 class="mb-0 text-xl leading-lg">Boost productivity:</h3> Accelerate your apprentice’s progression through our fast-track model and enjoy immediate results.</span>
          </div>
        </div>
        <div class="flex mb-4">
          <object type="image/svg+xml" data="../images/icons/Chevron-Left.svg" class="h-6 w-6 mr-4 my-auto"></object>
          <div class="flex">
            <span><h3 class="mb-0 text-xl leading-lg">Promote  diversity: </h3> Build a stronger team through our inclusive recruitment process and outreach programmes to underrepresented groups.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>