<section class="relative md:mt-16 mt-20 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/5.svg" class="hidden md:block absolute pattern pattern-5"></object>
  <div class="inner max-w-7xl relative">
    <div class="mx-auto max-w-full md:max-w-2xl flex flex-col items-center justify-center">
      <h2 class="text-center text-3xl leading-4xl font-bold">Enhance your team with the software development skills of the future, today.</h2>
      <div>
        <a href="" data-modal="book-a-call" class="bookacall-c-btn inline-block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100">Book a Call</a>
      </div>                 
    </div>

  
    <div class="flex flex-col md:flex-row pt-16">
      <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
        <object type="image/svg+xml" data="../images/icons/Group-93.svg" class="h-14 w-14 mx-auto mb-6"></object>
        <h3 class="text-center text-xl leading-lg mb-4">Robust Selection Process</h3>
        <p class="text-center">Choose from a high quality pool of talent, who are screened, tested and pre-selected based on their aptitude and enthusiasm.</p>
      </div>

      <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
        <object type="image/svg+xml" data="../images/icons/Group-34.svg" class="h-14 w-14 mx-auto mb-6"></object>
        <h3 class="text-center text-xl leading-lg mb-4">Bespoke Training</h3>
        <p class="text-center">Customise your apprentice’s training plan to match your business needs and goals.</p>
      </div>

      <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
        <object type="image/svg+xml" data="../images/icons/Group-125.svg" class="h-14 w-14 mx-auto mb-6"></object>
        <h3 class="text-center text-xl leading-lg mb-4">Essential Skills</h3>
        <p class="text-center">Gain a faster ROI for your business as your apprentice gains the digital skills of the future, today!.</p>
      </div>
    </div>
  </div>
</section>