<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl pt-20 mb-24">
  <div>
    <h2 class="relative title font-semibold mb-12 max-w-90">Case Studies</h2>
    <p>Meet some of our apprentices...</p>

    <div>{% include "components/apprenticeships/apprentices-component.njk" %}</div>

  [CTA]
    <p>Want to bolster your team with talent like this?</p>
    <p>Take the first step and speak to The Coders Guild about hiring an apprentice for your team.</p>
  [/CTA]
  </div>
</section>