<section class="relative md:mt-16 mt-20 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/5.svg" class="hidden md:block absolute pattern pattern-5"></object>
  <div class="inner max-w-7xl relative">
    <div class="mx-auto max-w-full md:max-w-2xl">
      <h2 class="text-center text-3xl leading-4xl font-bold">They’ll be properly trained by expert developers and providing ROI in weeks</h2>
      <p class="text-center leading-2xl">We firmly believe that apprenticeships are the best way to learn the necessary skills to thrive in 
      modern software development.</p>
    </div>

    <div class="flex flex-col md:flex-row pt-16">
      <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
        <object type="image/svg+xml" data="../images/icons/Group-93.svg" class="h-14 w-14 mx-auto mb-6"></object>
        <h3 class="text-center text-xl leading-lg mb-4">Extensive Selection Process</h3>
        <p class="text-center">We take only the top 6-7% of applicants based on their aptitude and enthusiasm.</p>
      </div>

      <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
        <object type="image/svg+xml" data="../images/icons/Group-34.svg" class="h-14 w-14 mx-auto mb-6"></object>
        <h3 class="text-center text-xl leading-lg mb-4">Individual Learning Plan</h3>
        <p class="text-center">Each apprentice has a unique learning plan to match your business needs.</p>
      </div>

      <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
        <object type="image/svg+xml" data="../images/icons/Group-125.svg" class="h-14 w-14 mx-auto mb-6"></object>
        <h3 class="text-center text-xl leading-lg mb-4">Essential Skills</h3>
        <p class="text-center">The group training is front-loaded with essential skills for a fast ROI.</p>
      </div>
    </div>
  </div>
</section>