<section class="relative md:pt-24 pt-16 z-10 fixed-bg overflow-hidden" style="">
  <object type="image/svg+xml" data="../images/patterns/8.svg" class="hidden md:block absolute pattern pattern-9"></object>
  <div class="inner max-w-7xl mx-auto md:pt-2">
    <div class="md:w-1/2 md:ml-auto">
      <div class="md:mb-14 mb-20">
        <h2 class="mb-4 md:mb-6">Course roadmap</h2>
        <p>Every apprentice has an individual learning plan that matches 
        your business needs, but we also have a core curriculum of 
        fundamental skills and knowledge.</p>
      </div>
      
      {% include "components/employer/software-dev-roadmap-component.njk" %}

    </div>
  </div>
  <object type="image/svg+xml" data="../images/patterns/1.svg" class="hidden md:block absolute pattern pattern-10"></object>
</section>