<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl pt-20 mb-24">
  <div>
    <h2 class="relative title font-semibold mb-12 max-w-90">Course roadmap</h2>
    <p>Every apprentice has an individual learning plan that matches 
    your business needs, but we also have a core curriculum of fundamental 
    skills and knowledge.</p>
  </div>
  {% include "components/employer/software-dev-roadmap-component.njk" %}
</section>