<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl pt-20 mb-24">
  <div>
    <h2 class="relative title font-semibold mb-12 max-w-90">A bit about us</h2>
    <p class="max-w-90 mb-6">Back in 2012 a group of developers got together to create a new 
    kind of apprenticeship. We wanted to solve the key issues facing our 
    communities and businesses. We set out to create a programme that would:</p>
    <ol class="px-6">
      <li class="mb-3">
        <p>Increase inclusion and diversity across the industry</p>
      </li>
      <li class="mb-3">
        <p>Raise the bar on code quality and promote knowledge share</p>
      </li>
      <li class="mb-3">
        <p>Secure the local talent pipelines</p>
      </li>
    </ol>
    <p class="my-12 max-w-90">We pooled our resources and used our tech know-how to 
    create an open source, living curriculum. This curriculum has now gone 
    through more than 7 years of continuous review and updates. This ensures 
    everything we do is current, useful and relevant.</p>

    <div class="md:flex">
      <div class="md:w-1/2">
        <h3 class="relative title font-semibold max-w-90">It's the UK’s first industry-led digital apprenticeship</h3>
        <p class="max-w-90 mb-12 md:mb-0">We’ve been running since 2013, well before apprenticeships were ‘cool’. 
        We were part of the pilot and trailblazer schemes that determined the format 
        and contents of the new Apprenticeship Standards in Software Development.</p>
      </div>
      <div class="md:w-1/2">
        <h3 class="relative title font-semibold max-w-90">...and when we say industry-led</h3>
        <p class="max-w-90">we actually mean it – all technical training is devised, delivered and 
        under constant review by expert developers. Our Open Source curriculum is 
        available on GitHub.</p>
      </div>
    </div>
  </div>
</section>