#apprenticeships {
	.apprenticeships__cta {
		a {
			text-align: center;
			min-width: 0;

			@media screen and (min-width: 1024px) {
				min-width: calc(390px + 24px + 24px);
			}
		}
	}

	.pattern {
		&-1,
		&-2 {
			z-index: -1;
		}

		&-3,
		&-4 {
			z-index: 0;
		}

		&-1,
		&-3 {
			right: -200px;
		}

		&-2 {
			left: -200px;
		}

		&-3 {
			top: 6rem;
		}

		&-4 {
			left: -175px;
			top: 30%;
			margin-bottom: 1rem;
		}

		&-6 {
			right: -150px;
		}

		&-8 {
			top: 50%;
			left: -50px;
		}

		&-9 {
			top: 50%;
			right: -200px;
		}
	}
}

.apprenticeships_slider {
	.slick-slide {
		max-width: calc(251px + 28px);
	}
}

.apprenticeships__item {
	min-width: 317px;
}
