#apprenticeships {

  .apprenticeships__cta {
    a {
      text-align: center;
      min-width: 0;
      
      @media screen and (min-width: 1024px) {
        min-width: calc(390px + 24px + 24px);
      }
    }
  }

  .pattern {
    &-1,
    &-2,
    &-3,
    &-4 {
      z-index: 0;
    }

    &-1,
    &-3 {
      right: -200px;
    }

    &-2 { left: -200px; }

    &-3 { top: 6rem; }

    &-4 { margin-bottom: 1rem; }
  }
}