#apprenticeships {

  .apprenticeships__cta {
    a {
      text-align: center;
      min-width: 0;
      
      @media screen and (min-width: 1024px) {
        min-width: calc(390px + 24px + 24px);
      }
    }
  }

  .pattern {
    &-1,
    &-2 {
      z-index: -1;
    }

    &-3,
    &-4 {
      z-index: 0;
    }

    &-1,
    &-3 {
      right: -200px;
    }

    &-2 { left: -200px; }

    &-3 { top: 6rem; }

    &-4 { margin-bottom: 1rem; }
  }
}

#apprenticeship-employer {
  .pattern {

    &-5 {
      top: -85px;
      left: -235px;
    }

    &-6 {
      top: 50%;
      transform: translateY(-50%);
      right: -222px;
    }

    &-7 {
      top: 34px;
      right: -185px;
    }

    &-8 {
      bottom: 0;
      left: -135px;
      z-index: -1;
    }

    &-9 {
      top: 100px;
      left: -195px;
      z-index: -1;
    }

    &-10 {
      bottom: 0;
      right: -310px;
      z-index: -1;
    }

    &-11,
    &-12 {
      bottom: -65px;
      z-index: -1;
    }

    &-11 {
      left: 80px;
    }

    &-12 {
      right: 80px;
    }
  }

  .fixed-bg {
    @media screen and (min-width: 1024px) {
      background-image: url('../images/chevrons.png');
      background-position-x: 20%;
      background-position-y: 50%;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }
}

.apprenticeships_slider {
  .slick-slide {
    max-width: calc(251px + 28px);
  }
}

.apprenticeships__item {
  max-width: 251px;
}