.courses {
    .content {
        p {
            margin-bottom: 0;
            line-height: 1.5;
        }
        a {
            color: #16AEDB;
        }
    }
}

.cta {
    p {
        margin-bottom: 0;
    }
}