#course-grid-container {
    .slick-dots {
      display: flex;
      justify-content: center;

      button {
        @apply bg-grey-200;

        font-size: 0;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin: 0 4px;
      }

      .slick-active {
        button {
          @apply bg-blue-100;
        }
      }

      li {
        @apply flex justify-center;
      }
    }

    .slick-arrow {
      @apply bg-blue-200;
      // top: 0;
      font-size: 0;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      display: block;


      &.prev {


        .chevron {
          // transform: translate(-50%, -50%) rotate(180deg);
        }
      }

      &.next {
        // right: 0;
      }

      .chevron {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
      }
    }

    .slick-slide {
      & > div {
        border-radius: 10px;
      }
    }

  }
