//==========  Form ==========//

.form {
  .row {
    @apply mb-6;

    label {
      @apply block mb-1 text-grey-800;

      &:after {
        @apply text-sm text-grey-600;
      }
    }

    &.required {
      label:after {
        content: '\00a0(required)';
      }
    }

    &:not(.required) {
      label:after {
        content: '\00a0(optional)';
      }
    }
  }

  .input,
  .textarea {
    @apply border border-grey-200 rounded p-3 w-full transition-all duration-300 ease-out;

    &:focus {
      @apply border-pink-500 outline-none;
    }
  }

  .input {
    @apply h-12;
  }

  .textarea {
    @apply h-24;
  }
}

//========== Filters Form ==========//

.filters-form {
  .heading {
    font-weight: 700;
  }

  label {
    margin-bottom: 0;
    align-self: center;
  }
  select {
    background: #f3fbfd;
    padding: 12px 5px;
    border: 2px solid #2874a9;
    border-radius: 5px;
  }

  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #f3fbfd;
    border: 2px solid #2874a9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 13px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
  }

  input[type='checkbox']:checked::before {
    font-weight: 900;
    content: 'X';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2874a9;
  }


}
