h1.intro,
h2.title {
  line-height: 1.5em;

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: calc(100% + 35px);
    // max-width: 5rem;
    background-color: black;
    margin: 0.325em 0 0.5em 0;
  }
}