#hub {

  .hero-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    padding: 40px;
    align-items: start;
    gap: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    width: 75%;
    margin: 0 auto;
    max-width: 1000px;
  }

  .decorated-ul {
      li {
        list-style: none;
        list-style-position: outside;
      }

      li::before {
        content: url("/images/Chevron-Left-list.svg");
        display: inline-block;
        margin-right: 0.3rem;
        margin-top: 0.3rem;
      }
  }

  .decorated-ol {
    li::marker {
        font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
        font-size: 32px;
        margin-top: 40px;
        // margin-bottom: 1rem;
        color: #2574a9;
      }

      li::before {
        content: "";
        background-image: url("/images/patterns/Numbered_List_Pattern.svg");
        width: 100%;
        height: 43px;
        position: absolute;
        z-index: -1;
        display: block;
        background-size: auto;
        margin-left: -40px;
        background-repeat: no-repeat;
      }
    }

  .partners {
      .testimonials__slider {
        .slick-list {
          overflow:visible;
          .slick-slide {
            min-height: 100%;
            height: 100%;
            opacity: 0.3;
          }

          .slick-slide.slick-active {
            opacity: 1;
          }
        }
      }
  }

}
