#hub {
  #course-grid {
    .slick-track
    {
        display: flex !important;
    }
    
    .slick-slide
    {
        height: inherit !important;
    }

    .slick-slide > div { height: 100%; }
  }



  .hero-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    padding: 40px;
    align-items: start;
    gap: 10px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
  }

  .trustist-box {
    bottom: -10%;
    left: 5%;
  }

  .pattern.pattern-2 {
    left: -10rem;
    top: -4rem;
  }

  .pattern.pattern-12 {
    top: -5rem;
    right: 6rem;
  }

  .pattern.pattern-1212 {
    bottom: 11px;
    left: 0;
  }

  .pattern.pattern-460 {
    top: -4rem;
    right: -8rem;
  }

  .testimonial-body {
    bottom: 6rem;
    left: 16rem;
    max-width: 614px;
  }

  @media (min-width: 1024px){
    .testimonial-body {
      bottom: 0;
      left: 0;
    }
   
  }

  .decorated-list.white {
    ul {
      li {
        list-style: none;
        list-style-position: outside;
        margin-bottom: 0;
      }
  
      li::before {
        content: url('/images/icons/white-icon-right.svg');
        margin-right: 1rem;
        display: inline-block;
      }
    }
  }

  .decorated-ul {
      li {
        list-style: none;
        list-style-position: outside;
        margin-bottom: 0;
      }

      li::before {
        content: url("/images/Chevron-Left-list.svg");
        display: inline-block;
        margin-right: 0.3rem;
        margin-top: 0.3rem;
      }
  }

  .decorated-ol {
    li::marker {
        font-family: Roboto Slab, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
          "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
          "Noto Color Emoji";
        font-size: 32px;
        margin-top: 40px;
        // margin-bottom: 1rem;
        color: #2574a9;
      }

      li::before {
        content: "";
        background-image: url("/images/patterns/Numbered_List_Pattern.svg");
        width: 100%;
        height: 43px;
        position: absolute;
        z-index: -1;
        display: block;
        background-size: auto;
        margin-left: -40px;
        background-repeat: no-repeat;
      }
    }

  .partners {
      .testimonials__slider {
        .slick-list {
          overflow:visible;
          .slick-slide {
            min-height: 100%;
            height: 100%;
            opacity: 0.3;
          }

          .slick-slide.slick-active {
            opacity: 1;
          }
        }
      }
  }

}
