.nav {

  .burger {
    height: 24px;
    width: 26px;
    
    span {
      position: absolute;
      height: 2px;
      width: 100%;
      opacity: 1;
      transition: all .5s;

      &:first-child {
        top: 2px;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:last-child {
        top: 22px;
      }
    }

    &-active {
      span {
        &:first-child {
          top: 11px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &:last-child {
          top: 11px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.mobile-nav-container {
  transition: all .5s ease-in;
  top: 0;

  &.opacity-0 {
    left: 100%;
  }

  left: 0;
  width: 100vw;
}