---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: Oops!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header class="my-20">
            <img src="../images/404-svg.svg" alt="404 image" class="mx-auto"/>
        </header>

        <div class="content text-center">
           <h2>Something is wrong.</h2>
           <p>The page you are looking for has been moved, removed, renamed or never existed.
           However, maybe some of these suggestions below may help?</p>
        </div>

        <div class="text-center flex flex-col lg:flex-row items-center justify-center mb-6">
            <div class="shadow-primary my-6 md:mx-6 py-8 px-8 sm:px-14 flex flex-col items-center rounded-lg bg-white md:h-full max-w-sm mx-auto min-w-1/3 width-100">
                <h3 class="text-center sm:text-3xl text-4xl leading-3xl mb-0">Apprenticeships</h3>
                <span class="block bg-red-100 h-2px w-full my-4 rounded"></span>
                <p>Check out all the apprenticeships we currently offer</p>
                <a href="/apprenticeships" class="mt-auto inline-block py-2 px-4 bg-blue-200 text-white text-md font-bold font-heading rounded not-on-print">Find out more <i class="align-middle ml-2 text-white fas fa-angle-right text-md leading-md" aria-hidden="true"></i></a>
            </div>

            <div class="shadow-primary my-6 md:mx-6 py-8 px-8 sm:px-14 flex flex-col items-center rounded-lg bg-white md:h-full max-w-sm mx-auto min-w-1/3 width-100">
                <h3 class="text-center sm:text-3xl text-4xl leading-3xl mb-0">Latest News</h3>
                <span class="block bg-red-100 h-2px w-full my-4 rounded"></span>
                <p>Keep up up to date with all of our latest developments in our blog!</p>
                <a href="/blog" class="mt-auto inline-block py-2 px-4 bg-blue-200 text-white text-md font-bold font-heading rounded not-on-print">Find out more <i class="align-middle ml-2 text-white fas fa-angle-right text-md leading-md" aria-hidden="true"></i></a>
            </div>

            <div class="shadow-primary my-6 md:mx-6 py-8 px-8 sm:px-14 flex flex-col items-center rounded-lg bg-white md:h-full max-w-sm mx-auto min-w-1/3 width-100">
                <h3 class="text-center sm:text-3xl text-4xl leading-3xl mb-0">Contact Us</h3>
                <span class="block bg-red-100 h-2px w-full my-4 rounded"></span>
                <p>Looking to find out more information or speak to one of our team direct?</p>
                <a href="/contact-us" class="mt-auto inline-block py-2 px-4 bg-blue-200 text-white text-md font-bold font-heading rounded not-on-print">Find out more <i class="align-middle ml-2 text-white fas fa-angle-right text-md leading-md" aria-hidden="true"></i></a>
            </div>
            
        </div>

        <div class="text-center">
            <p>Or</p>

            <a href="/" class="inline-block text-md leading-sm text-white bg-blue-200 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap not-on-print">Go Home</a>
        </div>

    </article>

</main>
