---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: Oops!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header class="my-20">
            <img src="../images/404-svg.svg" alt="404 image" class="mx-auto"/>
        </header>

        <div class="content text-center">
           <h2>Something is wrong.</h2>
           <p>The page you are looking for has been moved, removed, renamed or never existed.
           However, maybe some of these suggestions below may help?</p>
        </div>

        <div class="text-center">
            <div></div>
            <div></div>
            <div></div>

            <p>Or</p>

            <a href="/" class="inline-block text-md leading-sm text-white bg-blue-200 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap not-on-print">Go Home</a>
        </div>

    </article>

</main>
