---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About

hero: 
  title: "What we do"
  img: 
    url: "https://picsum.photos/1920/300"
    alt: "Random image"
  
about:

  title: "What we do"

  description: 
    - "Promoting inclusion, diversity and 
    equality through expert training, coaching and CPD opportunities 
    for software development. A safe space offering community-driven, 
    peer-reviewed and open-source knowledge share."

    - "We are best known for creating the nations first industry 
    led digital apprenticeship. This scheme recently recieved the silver 
    award in the Apprenticeship Of The Year awards for our work improving 
    diversty in the industry. We are following on the success of this 
    programme with apprenticeships in Software Testing, Data Analysis and 
    Digital Marketing. We also provide CPD training and coaching for indivuals 
    and teams as well as consultnacy and development of bespoke training programmes."

team: 
  title: "Our team"
---

{% include "components/hero.njk" %}


<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    {% include "components/about/about.njk" %}
    {% include "components/team/team.njk" %}
    {% include "components/contact/contact-form.njk" %}

</main>
