---
layout: default
title: Upskill your Team with Agile Project Management
body_class: hub
---

<section id="course-cta-header" class="fixed top-0 bg-white flex space-between mx-auto z-50 shadow py-2 lg:py-4 w-full">
  <div class="flex inner justify-between items-center">
    <div class="flex items-center">
      <div class="logo mr-8 hidden sm:block">
        <img class="block h-10 md:h-10 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="The Coders Guild Logo">
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      {% include './includes/components/hub/consultation-button.njk' %}
    </div>
  </div>
</section>

<div class="bg-grey-100">
  <section class="relative flex flex-col bg-white gap-10">
    <div class="bg-blue-100/5 relative flex flex-col lg:flex-row lg:items-center lg:justify-between gap-8 xl:gap-10 px-6 md:px-24 pt-24 lg:pt-32 pb-80 md:pb-60">
      <div class="max-w-5xl xl:max-w-9xl mx-auto flex flex-col lg:flex-row lg:items-center lg:gap-16 xl:gap-40">
        <div class="relative lg:order-2 lg:w-7/12 mb-12 lg:mb-0" style="max-height: 516px;">
          <object class="absolute pattern pattern-2" data="../images/patterns/2.svg" type="image/svg+xml"></object>
          <div class="relative">
            <img src="../images/learner-images/learners-in-agile-software-development.jpeg" alt="Learners in agile software development" class="relative rounded-lg shadow-lg w-full h-full object-cover" style="max-height: 516px;" />
            <div class="absolute trustist-box">
              <script src="https://widget.trustist.com/JgTmKy9K3kqIxBnXqyliBg/trustistreviewer.js"></script>
              <div ts-widget="" ts-border-radius="15px" ts-suppress-review-link="true" ts-reviews-url="/reviews"></div>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:items-start gap-4 lg:content-center lg:order-1 lg:w-5/12" style="max-width: 620px;">
          <img src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="The Coders Guild Small Logo" class="w-10 h-7 object-cover rounded-lg">
          <h1 class="mb-0 text-4xl xxxl:text-6xl leading-118">Upskill your Team with Agile Project Management</h1>
          <p class="text-lg leading-7">Transform your team's efficiency with The Coders Guild's Agile Project Management Apprenticeship. Learn cutting-edge agile methodologies, AI, and automation tools. Fully funded training with immediate impact.</p>
          {% include './includes/components/hub/consultation-button.njk' %}
        </div>
      </div>
    </div>
    <div class="hero-info">
      <div class="flex flex-col items-center gap-8 flex-1">
        <h2 class="mb-0">Leverage AI and Digital Tools to Enhance Team Efficiency, Productivity, and Communication</h2>
        <p class="leading-7">In today’s competitive business environment, mastering agile project management and leveraging the latest in AI and automation tools are essential for staying ahead. The Coders Guild’s Project Management Apprenticeship is designed to equip your team with cutting-edge skills.</p>
      </div>
    </div>
  </section>

  
  
  <!-- Why Upskill -->
  <section class="pt-80 md:pt-60 px-6 xl:px-48 lg:px-24 mx-auto pb-8">
    {% include './includes/components/agile/enhance-efficiency.njk' %}
    <div class="flex">
        <div class="flex flex-col lg:flex-row lg:justify-between  gap-10 max-w-7xl mx-auto py-16">
            <div class="flex flex-col items-start gap-8 decorated-list lg:w-5/12">
              <h2 class="mb-0 leading-120">Why Choose our Agile Project Management Course?</h2>
              <p class="leading-200 text-md">Investing in your team's development isn't just about new skills—it's about driving your business forward. By accessing government funding, you can:</p>
              <ul class="text-lg leading-7 ml-4">
                <li><strong>Seamless Integration:</strong> The apprenticeship combines learning with work, ensuring minimal disruption to daily operations.</li>
                <li><strong>Government-Funded:</strong> Fully funded by the government, eliminating direct costs for your business.</li>
                <li><strong>Immediate Impact:</strong> Practical skills are applied in real-time, leading to immediate improvements in your projects.</li>
                <li><strong>Advanced Training:</strong> Our curriculum includes training in AI, automation, and integration tools to enhance efficiency and streamline processes.</li>
              </ul>
              {% include './includes/components/hub/consultation-button.njk' %}
      
            </div>
            <div class="bg-grey-2000 h-full w-full lg:w-6/12"></div>
          </div>
    </div>
  </section>
  
  <!-- Key Benefits -->
  <section class="lg:px-24 xl:px-48 px-6 py-20">
    <div class="max-w-screen-xl mx-auto flex flex-col relative gap-8">
      <div class="flex flex-col items-center gap-8">
        <h2 class="mb-0 leading-112">Key Benefits</h2>
      </div>
      <div class="flex flex-col gap-y-12 md:flex-row items-start justify-between">
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/Time.svg" alt="get in touch">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">Enhanced Efficiency</h3>
            <p class="text-sm leading-5">Equip your team with agile practices that boost task completion rates.</p>
          </div>
        </div>
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/Group-72.svg" alt="schedule a consultation (BELOW)">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">Expert Trainers</h3>
            <p class="text-sm leading-5">Learn from industry professionals who bring practical insights and real-world experience.</p>
          </div>
        </div>
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/AI.svg" alt="AI & Automation">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">AI and Automation</h3>
            <p class="text-sm leading-5 mb-0">Train your team in using the latest AI tools and automation techniques to optimise workflows and increase productivity.</p>
          </div>
        </div>
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/Group-63.svg" alt="Start training with The Coders Guild">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">Community Learning</h3>
            <p class="text-sm leading-5">Engage in peer-to-peer learning and support, fostering a collaborative environment.</p>
          </div>
        </div>
      </div>

    </div>
  </section>

   <!-- testimonial -->
  
   <section class="pb-12 px-6 xl:px-48 lg:px-24">
    <div class="max-w-4xl mx-auto flex flex-col lg:flex-row lg:justify-center md:items-center lg:items-start lg:py-32 relative gap-8">
      <div class="flex flex-col gap-8 mt-16 lg:w-6/12">
        <h2 class="mb-0 text-5xl leading-120">Real Results</h2>
      </div>
      <div class="lg:w-6/12">
        <img class="w-full object-cover rounded-2xl shadow" src="../images/testimonials/sam-brand-ambition.jpeg" alt="Sam from Brand Ambition Leeds credits The Coders Guild with transforming his team" style="height: 562px;" />
      </div>
      <div class="testimonial-body lg:absolute -mt-48 bg-white overflow-hidden rounded-3xl shadow-lg">
        <div class="relative p-10 flex flex-col items-start gap-4">
          <object class="absolute pattern pattern-460" data="../images/patterns/460.svg" type="image/svg+xml"></object>
          <img class="w-48 h-14 object-cover rounded-3xl" src="../images/company-logos/brand-ambition.png" alt="Brand Ambition Logo" />
          <p class="leading-2xl text-xl">"Partnering with The Coders Guild has not only upskilled our team but ingrained a culture of innovation and agility in our operations. Our turnover increased significantly thanks to their funded training programs."</p>
          <p class="text-blue-100 font-bold text-lg">Sam, Brand Ambition</p>
        </div>
        
      </div>
    </div>
  </section>

  {% include './includes/components/agile/form-block.njk' %}

  {% include './includes/components/agile/blog-section.njk' %}
  
  <!-- Featured Courses and Meet The Trainers -->
  <section class="flex flex-col items-start justify-center py-16 px-6 xl:px-48 lg:px-24 gap-24 bg-gradient-to-r from-blue-100 to-blue-200">
    <div class="flex flex-col gap-10 self-stretch">
      <div class="flex flex-col justify-center items-center gap-2 text-white text-center">
        <h2 class="font-bold text-white text-center leading-120">Explore our Courses</h2>
      </div>
      <div id="course-grid-container" class="relative">
        <object class="absolute pattern pattern-12" data="../images/patterns/12.svg" type="image/svg+xml"></object>
        <object class="absolute pattern pattern-1212" data="../images/patterns/11.svg" type="image/svg+xml"></object>


        {% include './includes/components/global/course-carousel.njk' %}
      </div>
    </div>
  </section>
  
  <!-- CTA Section -->
  <section class="bg-gradient-to-r from-red-1000 to-purple-1000 flex items-start self-stretch gap-4 px-6 lg:px-24 xl:px-48 py-8 lg:py-32">
    <div class="flex flex-col lg:flex-row justify-between items-center lg:items-start flex-1 gap-10">
      <div class="w-full lg:w-5/12 flex flex-col items-start gap-10 lg:gap-14 text-white decorated-list white">
        <h2 class="mb-0 text-white text-5xl lg:text-6xl font-bold leading-112">Book Your Free Consultancy</h2>
        <p class="text-white text-md leading-200">Take advantage of our limited-time offer: three free consultancy sessions per week for the next six weeks. <strong>Book a 45-minute session with Crispin Read</strong>, our founder and CEO, to discover how your SME can benefit from government-funded training.</p>
        <ul class="flex flex-col items-start gap-2 text-md leading-lg xl:text-xl">
          <li>Get a Personalized Skills Gap Analysis</li>
          <li>Discover Available Funding Opportunities</li>
          <li>Receive a Customized Training Plan</li>
        </ul>
      </div>
      <div class="w-full lg:w-6-12">
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/crispin_read/skills-gap-consultancy?hide_event_type_details=1&hide_gdpr_banner=..." style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end --></div>
    </div>
  </section>

  {% include './includes/components/agile/faqs.njk' %}
</div>
