---
layout: default
meta_title: ""
meta_description: ""
body_class: ""
title: Looking for the first step towards your career as a Developer?
---

<div class="container max-w-full md:pt-22 pt-20">
  <div class="hero relative bg-white">
    <img src="../images/banner-1.png" alt="Apprenticeships hero image" class="sm:block hidden h-full w-full hero-desktop"/>
    <img src="../images/group-13.png" alt="Apprenticeships hero image" class="sm:hidden block h-full w-full hero-mobile"/>
    <div class="absolute top-0 w-full h-full">
      <div class="flex flex-col justify-center items-center md:py-24 w-full h-full">
        <div class="max-w-2xl mx-auto px-4 lg:mb-8 text-center">
          <h1 class="text-center text-white text-4xl leading-4xl md:text-5xl md:leading-5xl mb-8">Looking for the first step towards your career as a Developer?</h1>
          <a href="http://applysdl4.thecodersguild.org.uk/" class="inline-block text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Apply Now<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
        </div>
      </div>
      </div>
  </div>
  <main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
    {% include "components/applicant/software-dev-intro.njk" %}
    {% include "components/applicant/apprenticeship-faq.njk" %}

  </main>
</div>