---
layout: default
permalink: '/applicant/applicant-info/'
title: The Coders Guild | Demographic Info
---

<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.js"></script>

<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
  <div class="inner max-w-5xl pt-20 mb-14 md:mb-20">

    <div class="my-14">
     <h1 class="text-center">Demographic Information Form</h1>
        <div class="flex item-center justify-center">
            <p></p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:justify-between">

      <div class="md:w-1/2 mb-14 md:mb-0 max-w-md width-100">
        <div class="max-w-xs">
          <h2 class="leading-3xl text-2xl">
            Demographic Information Form
          </h2>
          <p>To be able to provide an accurate and effective service, we require some demographic data. We look forward to welcoming you on the course when this information has been
          provided.</p>
          <p class="mb-6 not-on-print">
            This form collects your personal data. Please see our <a href="/pdf/tcg_privacy_policy.pdf" class="font-bold text-blue-200">Privacy Policy</a> for more details.
          </p>
        </div>
      </div>

      <div class="md:w-1/2 max-w-md not-on-print">
        <form id="contact-form" class="w-l flex-1 justify-center" name="demographic-form" data-netlify="true" action="/" method="POST"
            enctype="multipart/form-data">
                <div class="required-pop-up absolute text-red-100 w-full text-xs leading-xs text-right mb-2 hidden">*Required</div>
                <div>
    <div class="mb-4">
      <label for="first_name" class="sr-only">First Name</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="First Name" type="text" id="first-name"
        name="first_name" data-regex="^[a-zA-Z ]+$" data-valid="false" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Only alphabetical values are allowed" aria-hidden="true" role="alert"></span>
    </div>

    <div class="mb-4">
      <label for="surname" class="sr-only">Last Name</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required " placeholder="Second Name" type="text" id="surname"
        name="surname" data-regex="^[a-zA-Z ]+$" data-valid="false" />
        <span class="form-error text-xs leading-xs text-red-100" data-message="Only alphabetical values are allowed" aria-hidden="true" role="alert"></span>
    </div>

   
    <div class="mb-4">
      <label for="postcode" class="sr-only">Postcode</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" data-valid="false" data-regex="[A-Z]{1,2}[0-9]{1,2} ?[0-9][A-Z]{2}/i" placeholder="Postcode" type="text" name="postcode" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check this is a valid postcode" aria-hidden="true" role="alert"></span>
    </div>


    <div class="mb-4">
      <label for="email" class="sr-only">Email</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" data-valid="false" data-regex="S+@\S+\.\S+" placeholder="Email" type="email" name="email" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check this is a valid email" aria-hidden="true" role="alert"></span>
    </div>

    <div class="mb-4">
      <label for="mobile" class="sr-only">Phone Number</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" data-valid="false" data-regex="^[+0-9]+$" placeholder="Telephone" type="tel" name="Tel" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check this is a valid number" aria-hidden="true" role="alert"></span>
    </div>

    <div class="mb-4">
      <label for="ni_number" class="sr-only">National Insurance Number</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" data-valid="false" data-regex="^\s*[a-zA-Z]{2}(?:\s*\d\s*){6}[a-zA-Z]?\s*$/" placeholder="National Insurance Number" type="text" name="ni_number" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check this is a valid NI Number" aria-hidden="true" role="alert"></span>
    </div>

    <div class="mb-4">
      <label for="education" class="sr-only">Highest Level of Education Completed</label>
      <select class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" data-valid="false" placeholder="Highest Level of Education Completed" name="education">
        <option>Highest Level of Education Completed</option>
        <option value="1">GCSE D or Below or Equivalent</option>
        <option value="2">GCSE C or Above or Equivalent</option>
        <option value="3">AS/A-Level or Equivalent</option>
        <option value="4">Higher Apprenticeship or Equivalent</option>
        <option value="5">Foundation Degree or Equivalent</option>
        <option value="6">Honours Degree or Equivalent</option>
        <option value="7">Masters Degree or Equivalent</option>
        <option value="8">Doctorate or Equivalent</option>
      </select>
      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check this is a valid email" aria-hidden="true" role="alert"></span>
    </div>

    <div class="mb-4">
      <label for="employment_status"
        class="form-label">What is your current Employment Status?</label>
        <div class="flex flex-col">
            <div class="flex items-center">
                <input id="employment_status_full_time" type="radio" name="employment_status" value="Full Time" />
                <label for="employment_status_full_time" class="font-medium text-gray-700">Employed Full Time</label>
            </div>
            <div class="flex items-center">
                <input id="employment_status_part_time" type="radio" name="employment_status" value="Part Time" />
                <label for="employment_status_part_time" class="font-medium text-gray-700">Employed Part Time</label>
            </div>
            <div class="flex items-center">
                <input id="employment_status_self_employed" type="radio" name="employment_status" value="Self Employed" />
                <label for="employment_status_self_employed" class="font-medium text-gray-700">Self Employed</label>
            </div>
            <div class="flex items-center">
                <input id="employment_status_education" type="radio" name="employment_status" value="Full Time Education" />
                <label for="employment_status_education" class="font-medium text-gray-700">Full Time Education</label>
            </div>
        </div>
    </div>

    <div class="mb-4">
      <label for="work_bootcamp" class="block text-md font-medium text-black mt-3">Are you planning to work alongside the bootcamp?</label>
      <textarea class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" rows="4"
        name="work_bootcamp">
      </textarea>
    </div>

    <div class="mb-4">
      <label for="occupation" class="sr-only">Occupation (if not currently employed, please give most recent occupation)</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="Most recent Occupation" type="text" name="occupation" />
    </div>

    <div class="mb-4">
      <label for="caring_responsibilities"
        class="block text-md font-medium text-black mt-3">Do you have caring responsibilities for children or other adults?</label>
        <input id="caring_responsibilities_yes" type="radio" name="caring_responsibilities" value="yes" />
        <label for="caring_responsibilities_yes" class="font-medium text-gray-700">Yes</label>
        <input id="caring_responsibilities_no" type="radio" name="caring_responsibilities" value="no" />
        <label for="caring_responsibilities_no" class="font-medium text-gray-700">No</label>
    </div>

    <div class="mb-4">
        <label for="dob" class="sr-only">
        Date of Birth
        </label>
        <input id="dob" name="dob" placeholder="Date of Birth" class="form-input mt-1 mb-1 block w-full placeholder-black hasDatepicker" required="">
        <script>
            jQuery( document ).ready(function() {
                jQuery( "#dob" ).datepicker();
            });
        </script>
    </div>

    <div class="mb-4">
      <label for="gender"
        class="block text-md font-medium text-black mt-3">What gender do you identify as?</label>
        <div class="flex flex-col">
            <div class="flex items-center">
                <input id="gender_male" type="radio" name="gender" value="Male" />
                <label for="gender_male" class="font-medium text-gray-700">Male</label>
            </div>
            <div class="flex items-center">
                <input id="gender_female" type="radio" name="gender" value="Female" />
                <label for="gender_female" class="font-medium text-gray-700">Female</label>
            </div>
            <div class="flex items-center">
                <input id="gender_transgender" type="radio" name="gender" value="Transgender" />
                <label for="gender_transgender" class="font-medium text-gray-700">Transgender</label>
            </div>
            <div class="flex items-center">
                <input id="gender_non_binary" type="radio" name="gender" value="Non-Binary" />
                <label for="gender_non_binary" class="font-medium text-gray-700">Non-Binary</label>
            </div>
            <div class="flex items-center">
                <input id="gender_no_response" type="radio" name="gender" value="Prefer not to respond" />
                <label for="gender_no_response" class="font-medium text-gray-700">Prefer not to say</label>
            </div>
        </div>
    </div>

    <div class="mb-4">
      <label for="disability"
        class="block text-md font-medium text-black mt-3">Do you consider yourself to be suffering from a Disability that requires extra support to complete the course?</label>
        <input id="disability_yes" type="radio" name="disability" value="yes" />
        <label for="disability_yes" class="font-medium text-gray-700">Yes</label>
        <input id="disability_no" type="radio" name="disability" value="no" />
        <label for="disability_no" class="font-medium text-gray-700">No</label>
        <input id="disability_no_response" type="radio" name="disability" value="No Response Given" />
        <label for="disability_no_response" class="font-medium text-gray-700">Prefer not to say</label>
    </div>

    <div class="mb-4">
      <label for="ethnicity"
        class="block text-md font-medium text-black mt-3">What Ethnicity Are You?</label>
        <div class="flex flex-col">
            <div class="flex items-center">
                <input id="ethnicity_white_british" type="radio" name="ethnicity" value="White British" />
                <label for="ethnicity_white_british" class="font-medium text-gray-700">White British</label>
            </div>
            <div class="flex items-center">
                <input id="ethnicity_white_other" type="radio" name="ethnicity" value="White Other" />
                <label for="ethnicity_white_other" class="font-medium text-gray-700">White Other</label>
            </div>
            <div class="flex items-center">
                <input id="ethnicity_mixed_multiple" type="radio" name="ethnicity" value="Mixed/Multiple" />
                <label for="ethnicity_mixed_multiple" class="font-medium text-gray-700">Mixed/Multiple Ethnic Groups</label>
            </div>
            <div class="flex items-center">
                <input id="ethnicity_black" type="radio" name="ethnicity" value="Black" />
                <label for="ethnicity_black" class="font-medium text-gray-700">Black African/Caribbean/British</label>
            </div>
            <div class="flex items-center">
                <input id="ethnicity_other" type="radio" name="ethnicity" value="Other" />
                <label for="ethnicity_other" class="font-medium text-gray-700">Other</label>
            </div>
            <div class="flex items-center">
                <input id="ethnicity_no_response" type="radio" name="ethnicity" value="Prefer not to respond" />
                <label for="ethnicity_no_response" class="font-medium text-gray-700">Prefer not to say</label>
            </div>
        </div>
    </div>

    <div class="mb-4">
      <input id="privacy" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" name="privacy"  value="true"/> 
      <label for="privacy" class="form-label">Does the learner consent to being contacted by a third party research contractor (commissioned by DfE) to be invited to participate in interviews and surveys to help us understand their experience of the course and any improvements we can make to future courses? Participation in such research is entirely voluntary and consent can be withdrawn at any time.</label>
    </div>
   

     <button type="submit" id="submit" class="contact-btn rounded font-heading font-bold w-full block py-2 px-6 border border-transparent text-white bg-blue-200 hover:bg-blue-100 focus:bg-blue-100 active:bg-blue-100 transition duration-150 ease-in-out" disabled="">Submit</button>
    </form>
      </div>
    </div>
  </div>
</main>

