---
layout: 'default'
---

<div class="container max-w-full md:pt-22 pt-20">
  <div class="hero relative bg-white">
    <img src="../images/banner-1.png" alt="Apprenticeships hero image" class="md:block hidden h-full w-full hero-desktop"/>
    <img src="../images/banner-2.png" alt="Apprenticeships hero image" class="md:hidden block h-full w-full hero-mobile"/>
    <div class="absolute top-0 w-full h-full">
      <div class="flex flex-col justify-center items-center md:py-24 w-full h-full">
        <div class="max-w-2xl mx-auto px-4 lg:mb-8 text-center">
          <h1 class="text-center text-white mb-0 text-5xl leading-5xl max-w-md md:max-w-full">Apply</h1>
          <span class="block lg:my-6 sm:my-6 md:my-4 my-4 mx-auto h-2px bg-white max-w-sm"></span>
          <p class="text-white font-heading text-center text-3xl md:leading-4xl font-bold mx-auto mb-8">Apply for one of our courses using the form below</p>
        </div>
      </div>
    </div>
  </div>
<main id="main" class="main flex flex-1 flex-col focus:outline-none bg-white" tabindex="-1">
    <div class="bg-white">
      <div class="bg-blue-200 section-rounded">
        <div class="bg-white section-rounded">
          <div class="bg-blue-200 section-rounded">
            <div class="bg-white section-rounded">
                <section class="relative md:w-4/6 mx-auto md:py-20 py-14 z-10 overflow-hidden">
                    <h2 class="text-center text-blue-200">Application Form</h2>
                    <p>As part of our mission to remove barriers to entry into the tech industry, it is important to collect data to monitor how we are doing, and how we can do it better. See our full privacy policy by <a href="https://thecodersguild.org.uk/pdf/Privacy%20Policy%20v1.2.pdf" target="_blank" rel="noreferrer">clicking here.</p>
                    <form name="course-apply" method="POST" netlify>
                    <input type="hidden" name="project" value="" />
                    <input type="hidden" name="lead" value="" />
                    <input type="hidden" name="funder" value="" />
                    <input type="hidden" name="courseName" value="" />
                    <div>
                        <p>
                            <label for="name" class="form-label">Your Name: <input type="text" name="name" class="form-input mt-1 mb-1 block w-full placeholder-muted" /></label>   
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="email" class="form-label">Your Email: <input type="email" name="email" class="form-input mt-1 mb-1 block w-full placeholder-muted" /></label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="postcode" class="form-label">Your Postcode: <input type="text" name="postcode" class="form-input mt-1 mb-1 block w-full placeholder-muted" /></label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="phone" class="form-label">Your Phone Number: <input type="text" name="phone" class="form-input mt-1 mb-1 block w-full placeholder-muted" /></label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="why_this_course" class="form-label">WHy have you chosen this course: <input type="textarea" name="why_this_course" class="form-textarea mt-1 mb-1 block w-full placeholder-muted" /></label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="gender" class="form-label">Which of the following most accurately describes you? 
                                <select name="gender" class="form-select mt-1 mb-1 block w-full placeholder-muted">
                                    <option selected>Please Select</option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                    <option value="Non-Binary">Non-Binary</option>
                                    <option value="Transgender">Transgender</option>
                                    <option value="Intersex">Intersex</option>
                                    <option value="Not-disclosed">I prefer not to say</option>
                                </select>
                            </label>
                        </p>
                    </div>
                    <div class="mt-8">
                         <p>
                            <label for="disability" class="form-label">Do you have a disability which may require adjustments to be made to allow you to perform your job role? 
                                <select name="disability" class="form-select mt-1 mb-1 block w-full placeholder-muted">
                                    <option selected>Please Select</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="sexuality" class="form-label">Do you have a disability which may require adjustments to be made to allow you to perform your job role? 
                                <select name="sexuality" class="form-select mt-1 mb-1 block w-full placeholder-muted">
                                    <option selected>Please Select</option>
                                    <option value="Heterosexual">Heterosexual</option>
                                    <option value="Homosexual">Homosexual</option>
                                    <option value="Bisexual">Bisexual</option>
                                    <option value="Pansexual">Pansexual</option>
                                    <option value="Not_disclosed">Prefer not to say</option>
                                </select>
                            </label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="ethnicity" class="form-label">What is your Ethnicity? 
                                <select name="ethnicity" class="form-select mt-1 mb-1 block w-full placeholder-muted">
                                    <option selected>Please Select</option>
                                    <option value="white-british">White British</option>
                                    <option value="other-white">Other White</option>
                                    <option value="mixed">Mixed/Multiple Ethnic Groups</option>
                                    <option value="asian-asian-british">Asian/Asian British</option>
                                    <option value="black-african-caribbean-black-british">Black/African/Caribbean/Black British</option>
                                    <option value="other">Other</option>
                                    <option value="Not_disclosed">Prefer not to say</option>
                                </select>
                            </label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="employment_status" class="form-label">What is your current employment status? 
                                <select name="employment_status" class="form-select mt-1 mb-1 block w-full placeholder-muted">
                                    <option selected>Please Select</option>
                                    <option value="Full-Time">Full Time Employed</option>
                                    <option value="Part-Time">Part Time Employed</option>
                                    <option value="Self-Employed">Self Employed</option>
                                    <option value="student">Student</option>
                                    <option value="unemployed">Not currently employed</option>
                                </select>
                            </label>
                        </p>
                    </div>
                    <div class="mt-8">
                        <p>
                            <label for="rtw_status" class="form-label">Are you able to provide valid documentation of your right to work in the UK? </label>
                                <div class="relative flex items-start">
                                    <div class="flex items-center h-5">
                                        <input name="rtw_status" type="radio" value="Yes" class="form-checkbox h-4 w-4 mt-1 mb-1 block" />
                                    </div>
                                    <div class="ml-3 text-sm leading-5">
                                        <label for="rtw_status">Yes</label>
                                    </div>
                                </div>
                                <div class="relative flex items-start">
                                    <div class="flex items-center h-5">
                                        <input name="rtw_status" type="radio" value="No" class="form-checkbox h-4 w-4 mt-1 mb-1 block" />
                                    </div>
                                    <div class="ml-3 text-sm leading-5">
                                        <label for="rtw_status_No">No</label>
                                    </div>
                                </div>
                            </p> 
                    </div>
                    <div class="mt-8">
                        <div class="relative flex items-start">
                            <div class="flex items-center h-5">
                                <input name="privacy" type="checkbox" value="Yes" class="form-checkbox h-4 w-4 mt-1 mb-1 block" />
                            </div>
                            <div class="ml-3 text-sm leading-5">
                                <label for="privacy_yes">Tick here to indicate you have read and agreed to our <a href="https://thecodersguild.org.uk/pdf/Privacy%20Policy%20v1.2.pdf" target="_blank" rel="noreferrer">privacy policy</a></label>
                            </div>
                        </div>
                    </div>
                </form>
                </section>
            </div>
          </div>
        </div>
      </div>
    </div>