---js
{
layout: 'internal-page',
meta_title: 'Web Development Apprenticeship Programs',
meta_description: 'We Provide Paid Software & Web Development Apprenticeship Training Courses In Leeds, London & Remotely Online. Get in touch to learn more.',
body_class: 'apprenticeships',
title: 'What is an Apprenticeship?',
tagline: 'The Ultimate Guide to Skill-Building Success',
heroImage: '../images/group-11.png',
ctas: []
}
---

<div class="bg-white section-rounded">
  {% include './includes/components/apprenticeships/explainer-icons.njk' %}
  {% include './includes/components/apprenticeships/apprenticeships-pitch.njk' %}
  {% include './includes/components/apprenticeships/faqs.njk' %}
  {% include './includes/components/apprenticeships/levy-faqs.njk' %}
</div>

<div class="inner py-24">
  {% include "./includes/components/global/course-grid.njk" %}
</div>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/tcg-skills/enquiry', text: 'Talk to us about hiring an apprentice!', color: '#2574a9', textColor: '#ffffff', branding: undefined }); }</script>
<!-- Calendly badge widget end -->

