---js

{
pagination: {
  data: 'apprenticeJobAds',
  size: 1,
  alias: 'job',
  addAllPagesToCollections: true
  },
  layout: 'jobAdSingle',
  permalink: "/apprenticeship-vacancies/{{ job.slug.current }}/index.html",
}
---


