---
layout: "layouts/default.njk"
title: Apprentice Job Ad Index
slug: {{job.jobTitle}}
---

{# banner #}
<div class="bg-grey-100 h-full w-full">
  <div class="hero relative bg-grey-100 w-full mx-auto">
    <img src="../images/banner-1.png" alt="Apprenticeships hero image"
      class="md:block hidden h-full w-full hero-desktop" />
    <img src="../images/banner-2.png" alt="Apprenticeships hero image"
      class="md:hidden block h-full w-full hero-mobile" />
    <div class="absolute top-0 w-full h-full">
      <div class="flex flex-col justify-center items-center w-full h-full">
        <div class="max-w-2xl mx-auto px-4 lg:mb-8">
          <h1 class="text-center text-white mb-0 text-5xl leading-5xl max-w-md md:max-w-full">
          Find Your Dream Apprenticeship</h1>
        </div>
      
      </div>
    </div>
  </div>

<main class="main inner flex flex-1 flex-col focus:outline-none bg-grey-100 mt-4" tabindex="-1">
    <div class="flex flex-row justify-center flex-wrap lg:flex-no-wrap md:flex-no-wrap">
      <div class="flex-row w-full md:w-1/5 h-full">
          <h5 class="text-lg lg:text-xl">Filters</h5>
         
       

        <div class="w-full filterOptions"> 
      
            <p class="font-bold text-xs lg:text-md">Location</p>
            <div>
              <input type="checkbox" class="location" name="location" value="Greater London"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">Greater London</label>
            </div>
            <div>
              <input type="checkbox" class="location" name="location" value="South East England"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">South East England</label>
            </div>
             <div>
              <input type="checkbox" class="location" name="location" value="South West England"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">South West England</label>
            </div>
              <div>
              <input type="checkbox" class="location" name="location" value="West Midlands"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">West Midlands</label>
            </div>
             <div>
              <input type="checkbox" class="location" name="location" value="East Midland"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">East Midlands</label>
            </div>
              <div>
              <input type="checkbox" class="location" name="location" value="North West England"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">North West England</label>
            </div>
               <div>
              <input type="checkbox" class="location" name="location" value="West East England"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">North East England</label>
            </div>
            <div>
              <input type="checkbox" class="location" name="location" value="East of England"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">East of England</label>
            </div>
            <div>
              <input type="checkbox" class="location" name="location" value="Yorkshire and the Humber"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md">Yorkshire and the Humber</label>
            </div>
      
        </div>

      </div> 

      <div class="flex-row w-full h-full">
      {% for job in apprenticeJobAds %}
    
        <div class="singleAd flex align-middle {% for location in job.location %} {{location.location | join}}{% endfor %}">
          <div class="w-full h-auto rounded-lg mx-4 my-4 shadow-xl border-grey-200 p-8 bg-white">
            <div class="w-full h-auto rounded-t-lg lg:flex lg:flex-row">
              <div class="mx-2 flex justify-center h-20 w-20 border-grey-200 border-2 rounded-lg overflow-hidden">
                <img class="flex h-full w-full" src="{{job.employerLogo}}">
              </div>
              <div class="md:w-4/5 mx-2 my-2">
                <div class="flex justify-between ml-1">
                  <h5 class="flex text-lg lg:text-2xl text-blue-700 m-0 p-0">{{job.jobTitle}}</h5>
                  <p class="flex text-lg font-bold mr-2">£{{job.salary}}</p>
                </div>
                <p class="ml-1 text-xs lg:text-md font-bold text-blue-700">{{job.employerName}}</p>
                <div class="flex flex-row">
                  <div class="flex">
                    <img src="../images/apprenticeJobAd/schedule_black_24dp.svg">
                    {% for contract in job.contract%}<p class="text-xs lg:text-md">{{contract.contractType}}</p>
                    {% endfor %}
                  </div>
                  <div class="flex ml-8">
                    <img src="../images/apprenticeJobAd/place_black_24dp.svg">
                    {% for location in job.location%}<p class="flex text-xs lg:text-md">{{location.location}}</p>
                    {% endfor %}
                  </div>
                  <div class="flex ml-8">
                    <img src="../images/apprenticeJobAd/date_range_black_24dp.svg">
                    <p class="flex text-xs lg:text-md"><span class="">Closing date: </span> {{job.closingDate | dateDisplay}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class=" w-full md:w-4/5 h-26 mx-2 my-2 overflow-hidden">
              <p class="overflow-clip text-xs lg:text-md">{{job.excerpt}} </p>
              <div class="mb-4 mt-2 flex flex-row">
                <div class="flex h-full">
             
                  <button id="ApplyBtn" class="bg-blue-200 text-white rounded-lg p-2 mx-1"> Apply Now</button>
               

                   <a href="/jobAdSingle/{{ job.slug.current }}/index.html" class="no-underline">
                  <button id="FindOutMoreBtn" class="bg-white  text-blue-200 border-solid border-2 border-blue-200 rounded-lg p-2 justify-center align-items-center">Find out more</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </main>
</div>


<script>

const filterOptions = document.querySelector('.filterOptions')
console.log(`filter Options = ${filterOptions}`)
//filter options is the conatiner div for all the location check boxes

const singleAd = Array.from(document.querySelectorAll('.singleAd'))
console.log(`singleAd: ${singleAd}`) 
//sigle ad is the class name for a single job ad div
//create an array containing each job ad

let locationArray = []
//an empty array to push the selected locations to so i can check if some of the locations are inlcuded in the single ad array

function join(string){
    return string.replace(/\s+/g, '-').toLowerCase()
}
//a function to replace any white space with a '-' and then make lowercase.this is so when we add a class using the location any locations with more than one word is used as one class and not two. Eg. South West will be 'south-west' and not 'South' 'West'

filterOptions.addEventListener('change', e => {
  //filter options is the container div for all the checkboxes.the event listener listens for any change, check/uncheck
let selectedLocation = join(e.target.value)
//create a variable to pull the value of the selected check box which is passed into our join function
  if(e.target.checked) {
    //the condition for if a check box is checked
  locationArray.push(selectedLocation)
  //push the location to the location array declared above
  console.log(locationArray)
   } else if (!e.target.checked){
     //condition for when the target is unchecked
    let index = locationArray.indexOf(selectedLocation)
    // index variable gives us the index of the selected location in the array
    locationArray.splice(index, 1)
    //which we then splice at the index, by one
    console.log(locationArray)
    } 
    singleAd.forEach(job => {
      //loop over each job(singleAd which is a class added to the container div for one job)
      if(locationArray.some(item => Array.from(job.classList).includes(item))){
        //some() is used to check if the class is included in the location array
        // make an array from the jobs classes to be able to compare location array to job.classList
        job.classList.remove('hidden')
        job.classList.add('flex')
        //show if there is a match in the two arrays
      }else{ 
         job.classList.add('hidden')
        job.classList.remove('flex')
        //hide if not
      }
    })
})
</script>
