---
layout: "layouts/jobs-board.njk"
title: Apprenticeship Vacancies
permalink: /jobs/apprenticeship-vacancies/
---



    <div class="flex flex-wrap justify-center">
      <div class="w-full lg:w-1/5 h-full">
        <div class="flex justify-between items-center mt-6">
          <h5 class="text-lg mb-0">Filters</h5>
          <div class="resetIcon flex items-center">
            <img src="../../images/apprenticeJobAd/restart_alt_black_24dp.svg" class="h-8 p-2">
            <h5 class="text-xs mb-0">Reset Filters</h5>
          </div>
        </div>

        <div class="w-full filterOptions">
        <div class="flex justify-center items-center text-sm">
          <div class="flex items-start content-center flex-col sm:flex-row lg:flex-col mt-4">

            <div>
            <p class="font-bold">Location</p>
            <div>
              <input type="checkbox" class="location" name="location" value="Greater London"
                class="transform scale-150">
              <label for="location" class="ml-1">Greater London</label>
            </div>
             <div>
              <input type="checkbox" class="location" name="location" value="South East England"
                class="transform scale-150">
              <label for="location" class="ml-1"> South East England</label>
             </div>
             <div>
              <input type="checkbox" class="location" name="location" value="South West England"
                class="transform scale-150">
              <label for="location" class="ml-1">South West England</label>
             </div>
             <div>
              <input type="checkbox" class="location" name="location" value="West Midlands"
                class="transform scale-150">
              <label for="location" class="ml-1">West Midlands</label>
             </div>
             <div>
              <input type="checkbox" class="location" name="location" value="East Midlands"
                class="transform scale-150">
              <label for="location" class="ml-1">East Midlands</label>
              </div>
              <div>
              <input type="checkbox" class="location" name="location" value="North West England"
                class="transform scale-150">
              <label for="location" class="ml-1">North West England</label>
              </div>
               <div>
                <input type="checkbox" class="location" name="location" value="North East England"
                  class="transform scale-150">
                <label for="location" class="ml-1">North East England</label>
              </div>
               <div>
              <input type="checkbox" class="location" name="location" value="East of England"
                class="transform scale-150">
              <label for="location" class="ml-1">East of England</label>
              </div>
                <div>
              <input type="checkbox" class="location" name="location" value="Yorkshire and the Humber"
                class="transform scale-150">
              <label for="location" class="ml-1">Yorkshire and the Humber</label>
            </div>
          </div>
            {#end of main location filter section ----- #}


            {#-------apprenticeship standard#}
            <div class="lg:my-4">
              <p class="font-bold">Apprenticeship Standard</p>
              <div>
                <input type="checkbox" class="apprentince-standard" name="apprentince standard"
                  value="software developer level 4" class="transform scale-150">
                <label for="apprentince standard" class="ml-1"> Software Developer Level 4</label>
              </div>
              <div>
                <input type="checkbox" class="apprentince-standard" name="apprentince standard"
                  value="software tester level 4" class="transform scale-150">
                <label for="apprentince standard" class="ml-1"> Software Tester Level 4</label>
              </div>
            </div>

            {# end of standard -------- #}

            {# salary range----- #}
            {# <div>

              <p class="font-bold text-xs">Salary Range</p>
              <label for="salary range" class="text-xs">£24k-£36k</label>
              <input class="rounded-lg overflow-hidden appearance-none bg-grey-700 w-full h-1" type="range" min="18"
                max="100" step="1" value="18" />
              <div class="flex flex-row justify-between">
                <p class="flex text-xs">£18k</p>
                <p class="flex text-xs">100k</p>
              </div>
            </div> #}

            {# end of salary range #}

          <div class="lg:mt-4">
            <p class="font-bold">Disability confident employer</p>
            <div>
              <input type="checkbox" class="disability-confident-employer" name="disability confident employer" value="true"
                class="transform scale-150">
              <label for="disability-confident-employer" class="ml-1"> Yes</label>
            </div>
            <div>
              <input type="checkbox" class="disability-confident-employer" name="disability confident employer" value="false"
                class="transform scale-150">
              <label for="disability confident employer" class="ml-1"> No</label>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
      <div class="lg:w-4/5 w-full h-full lg:px-6">
        <div class="flex justify-between items-center mt-6">
          <h5 class="mb-0">Showing: <span class="showing"></span></h5>
          <div class="flex items-center">
            <img class="hidden lg:block w-8 gridView" src="../../images/apprenticeJobAd/grid_view_black_24dp.svg">
            <img class="hidden lg:block listView" src="../../images/apprenticeJobAd/list_black_24dp.svg">
          </div>
        </div>
        <div class="flex flex-col"></div>
        {%if apprentice_jobs.length < 1 %}
          <h2 class="text-center mt-20">Sorry, There are no live vacancies at the moment...</h2>
          <p>But don't let that put you off applying for our Apprenticeship. We can aid your job search and train you in Essential job hunting skills to help you pursue a career in Tech.</p>
          <div class="flex justify-around mt-8">
            <a href="https://applysdl4.thecodersguild.org.uk/" class="py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100 mr-2 md:mr-8">Apply for our Software Development Apprenticeship</a>
            <a href="https://applystl4.thecodersguild.org.uk/" class="py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100 ml-2 md:ml-8">Apply for our Software Testing Apprenticeship</a>
          </div>
        {% else %}
          {% for job in apprentice_jobs %}
              <div class="main-container singleAd {{ job.standard | join }} {{ job.jobTitle | join }}  {{ job.disabilityConfident }} {%for location in job.location %}{{location.name | join}}{% endfor %} flex flex-col">
                <div class="card-container  bg-white my-4 p-8 rounded-lg shadow-xl">
                  <div class="top-row flex flex-row justify-between mb-6">
                    <div class="hidden md:block w-36 h-36 mr-2" style="background-image: url('{{job.employerLogo}}'); background-size: contain; background-repeat: no-repeat; background-position: center;" alt="{{job.jobTitle}}" class="w-24 h-24 mr-6"></div>

                    <div class="flex flex-col align-start justify-self-start w-full">
                      <div class="flex justify-between w-full">
                        <h3 class="p-0 mb-0 leading-none text-xl">{{job.jobTitle}}</h3>
                        <span class="font-bold p-0 m-0">{%if job.salary%}£{{job.salary}}{%else%}DOE{%endif%}</span>
                      </div>
                      <h5 class="p-0 my-2">{{job.employerName}}</h5>
                      <h5 class="text-sm">{{job.standard}}</h5>

                      <div class="flex flex-row flex-wrap items-center">
                        <div class="flex items-center mr- my-2 sm:my-0">
                          <img src="../../images/apprenticeJobAd/place_black_24dp.svg" alt="location-icon" class="p-0">{% for location in job.location %}<span class="mr-4 text-sm">{{location.name}}</span>{% endfor %}
                        </div>
                        <div class="flex items-center mr-4 my-2 sm:my-0">
                          <img src="../../images/apprenticeJobAd/date_range_black_24dp.svg" alt="clock-icon" class="flex">
                          <span class="text-sm">{{job.closingDate | dateDisplay}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="job-description my-2">
                    <p class="text-sm">{{job.excerpt | safe}}</p>
                  </div>
                  <div class="apply-btn find-out-more-btn flex flex-col sm:flex-row">
                    <a class="mt-auto mr-0 sm:mr-8 mb-2 sm:mb-0 py-2 px-4 bg-blue-200 text-md font-bold font-heading rounded text-white" href="{% if job.isDev%}https://applysdl4.thecodersguild.org.uk{% elseif job.isTest%}https://applystl4.thecodersguild.org.uk{% endif %}" style="color:white;" target="_blank">Apply Now</a>
                    <a class="mt-auto py-2 px-4 bg-white text-md font-bold font-heading rounded border border-blue-200" href="/apprenticeship-vacancies/{{ job.slug.current }}/index.html" style="color:#2574a9;">Find Out More</a>
                  </div>
                </div>
              </div>
          {% endfor %}
        {% endif %}
        </div>

      </div>
    </div>

<script>
const filterOptions = document.querySelector('.filterOptions')
const resetIcon = document.querySelector('.resetIcon')
const singleAd = Array.from(document.querySelectorAll('.singleAd'))
const sortSelect = document.querySelector('.sort')
const gridIcon = document.querySelector('.gridView')
const listIcon = document.querySelector('.listView')
const noresults = document.querySelector('.no-results')
let locationArray = [];
let standardArray = [];
let disabilityArray = [];

listIcon.addEventListener('click', toggleGrid)
gridIcon.addEventListener('click', toggleGrid)


filterOptions.addEventListener('change', e => {
  //filter options is the container div for all the checkboxes.the event listener listens for any change, check/uncheck
    if(e.target.classList.contains('location')){
      let selectedLocation = join(e.target.value)
        if(e.target.checked) {
          locationArray.push(selectedLocation)
        } else if (!e.target.checked){
          let index = locationArray.indexOf(selectedLocation)
          locationArray.splice(index, 1)
        }
    } else if(e.target.classList.contains('disability-confident-employer')){
        let checkboxValue = join(e.target.value);

        if(e.target.checked){
        disabilityArray.push(checkboxValue)
        } else if(!e.target.checked) {
            let index = disabilityArray.indexOf(checkboxValue)
            disabilityArray.splice(index, 1)
        }
    } else if(e.target.classList.contains('apprentince-standard')){
        let checkboxValue = join(e.target.value);

        if(e.target.checked){
        standardArray.push(checkboxValue)
        } else if(!e.target.checked) {
            let index = standardArray.indexOf(checkboxValue)
            standardArray.splice(index, 1)
        }
    }

    singleAd.forEach(job => {
      if(locationArray.length > 0 && disabilityArray.length > 0 && standardArray.length > 0){
        ('triple array filter')
        filtertriplearray(standardArray, disabilityArray, standardArray, job)
      }

      if(locationArray.length < 1 && disabilityArray.length > 0 && standardArray.length > 0){
        ('double array filter')
        filterdoublearray(disabilityArray, standardArray, job)
      }

      if(locationArray.length > 0 && disabilityArray.length < 1 && standardArray.length > 0){
        ('double array filter')
        filterdoublearray(locationArray, standardArray, job)
      }

      if(locationArray.length > 0 && disabilityArray.length > 0 && standardArray.length < 1){
        ('double array filter')
        filterdoublearray(locationArray, disabilityArray, job)
      }

      if(locationArray.length >= 1 && disabilityArray.length < 1 && standardArray.length < 1){
        ('single array filter')
        filterSingleArray(locationArray, job)
      }

      if(disabilityArray.length >= 1 && locationArray.length < 1 && standardArray.length < 1){
        ('single array filter')
        filterSingleArray(disabilityArray, job)
      }

      if(standardArray.length >= 1 && disabilityArray.length < 1 && locationArray.length < 1){
        ('single array filter')
        filterSingleArray(standardArray, job)
      }

      if(locationArray.length < 1 && disabilityArray.length < 1 && standardArray.length < 1){
        reset()
      }
    })
})

resetIcon.addEventListener('click', reset);

function toggleGrid(){
  const jobs = document.querySelectorAll('.singleAd.flex')
  const jobChildEl = jobs[0];
  jobChildEl.parentNode.classList.toggle('flex-col')
  jobChildEl.parentNode.classList.toggle('flex-row')
  jobChildEl.parentNode.classList.toggle('flex-wrap')

  jobs.forEach(job => {
    job.classList.toggle('w-5/12')
    job.classList.toggle('mx-auto')
    job.firstElementChild.classList.toggle('h-full')

  })
}

function filtertriplearray(arr1, arr2, arr3, el){
    if(arr1.some(item=>Array.from(el.classList).includes(item)) && arr2.some(item=>Array.from(el.classList).includes(item)) && arr3.some(item=>Array.from(el.classList).includes(item))){
      el.classList.remove('hidden')
      el.classList.add('flex')
    } else {
      el.classList.add('hidden')
      el.classList.remove('flex')
    }

    displayNumVacancies()
}

function filterdoublearray(arr1, arr2, el){
    if(arr1.some(item=>Array.from(el.classList).includes(item)) && arr2.some(item=>Array.from(el.classList).includes(item))){
      el.classList.remove('hidden')
      el.classList.add('flex')
    } else {
      el.classList.add('hidden')
      el.classList.remove('flex')
    }

    displayNumVacancies()
}

function filterSingleArray(arr, el){
    if(arr.some(item=>Array.from(el.classList).includes(item))){
    (arr, el)
      el.classList.remove('hidden')
      el.classList.add('flex')
    } else {
    (arr, el)
      el.classList.add('hidden')
      el.classList.remove('flex')
    }

    displayNumVacancies()
}

function join(string){
    return string.replace(/\s+/g, '-').toLowerCase()
}

function reset(){
  disabilityArray = []
  locationArray = []

  singleAd.forEach(ad => {
    ad.classList.remove('hidden')
    ad.classList.add('flex')
  })

  standardCheckbox.forEach(box => {
    box.checked = false
  })

  locationCheckbox.forEach(box => {
    box.checked = false
  })

  disabilityCheckbox.forEach(box => {
    box.checked = false
  })
  displayNumVacancies()
}

function displayNumVacancies(){
  const ads = document.querySelectorAll('.singleAd.flex');
  const display = document.querySelector('.showing')

  display.innerHTML = ads.length;

  if(ads.length === 0){
    noresults.classList.add('block')
    noresults.classList.remove('hidden')
  } else {
    noresults.classList.remove('block')
    noresults.classList.add('hidden')
  }
}

displayNumVacancies()
</script>