---
layout: "layouts/default.njk"
title: Apprentice Job Adverts
---
<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
  <div class="inner max-w-5xl pt-20 mb-14 md:mb-20">
    <div class="my-14">
      <h2>Hello World</h2>
      {% for job in apprenticeJobAds %}
      <h1>{{job.title}}</h1>
      <h2>Hello World</h2>
      {% endfor %}
      {# console logging apprencticeAd which is the global variable decalred by the file name in globals #}
        <script>console.log(apprenticeJobAds.Employername)</script>
    </div>
  </div>
</main>