---js

{
pagination: {
  data: 'apprentice_jobs',
  size: 1,
  alias: 'job',
  addAllPagesToCollections: true
  },
  layout: 'jobAdSingle',
  permalink: "/apprenticeship-vacancies/{{ job.slug.current }}/index.html",
  eleventyComputed: {
    title: data => data.job.jobTitle,
    tags: ['jobs', 'apprentice-vacancies']
  }
}
---