---
layout: "layouts/default.njk"
title: Apprentice Job Ad Index
slug: {{job.jobTitle}}
---

{# banner #}
<div class="bg-grey-100 h-full w-full">
  <div class="hero relative bg-grey-100 w-full mx-auto">
    <img src="../images/banner-1.png" alt="Apprenticeships hero image"
      class="md:block hidden h-full w-full hero-desktop" />
    <img src="../images/banner-2.png" alt="Apprenticeships hero image"
      class="md:hidden block h-full w-full hero-mobile" />
    <div class="absolute top-0 w-full h-full">
      <div class="flex flex-col justify-center items-center w-full h-full">
        <div class="max-w-2xl mx-auto px-4 lg:mb-8">
          <h1 class="text-center text-white mb-0 text-5xl leading-5xl max-w-md md:max-w-full">
          Find Your Dream Apprenticeship</h1>
        </div>
      
      </div>
    </div>
  </div>

<main class="main inner flex flex-1 flex-col focus:outline-none bg-grey-100 mt-4" tabindex="-1">
    <div class="flex flex-row justify-center flex-wrap lg:flex-no-wrap md:flex-no-wrap">
      <div class="flex-row w-full md:w-1/5 h-full">
          <h5 class="text-lg lg:text-xl">Filters</h5>
         
       

        <div class="w-full filterOptions"> 
      
            <p class="font-bold text-xs lg:text-md">Location</p>
            <div>
              <input type="checkbox" class="location" name="location" value="yorkshire & humberside"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs lg:text-md"> Yorkshire & Humbersides</label>
            </div>
        </div>

      </div> 

      <div class="flex-row w-full h-full">
      {% for job in apprenticeJobAds %}
      {% if (job.location === 'Leeds')%}
        <div class="flex align-middle">
          <div class="w-full h-auto rounded-lg mx-4 my-4 shadow-xl border-grey-200 p-8 bg-white">
            <div class="w-full h-auto rounded-t-lg lg:flex lg:flex-row">
              <div class="mx-2 flex justify-center h-20 w-20 border-grey-200 border-2 rounded-lg">
                <img class="flex h-full w-full" src="{{job.employerLogo}}">
              </div>
              <div class="md:w-4/5 mx-2 my-2">
                <div class="flex justify-between ml-1">
                  <h5 class="flex text-lg lg:text-2xl text-blue-700 m-0 p-0">{{job.jobTitle}}</h5>
                  <p class="flex text-lg font-bold mr-2">£{{job.salary}}</p>
                </div>
                <p class="ml-1 text-xs lg:text-md font-bold text-blue-700">{{job.employerName}}</p>
                <div class="flex flex-row">
                  <div class="flex">
                    <img src="../images/apprenticeJobAd/schedule_black_24dp.svg">
                    <p class="text-xs lg:text-md">{{job.contract}}</p>
                  </div>
                  <div class="flex ml-8">
                    <img src="../images/apprenticeJobAd/place_black_24dp.svg">
                    <p class="flex text-xs lg:text-md">{{job.location}}</p>
                  </div>
                  <div class="flex ml-8">
                    <img src="../images/apprenticeJobAd/date_range_black_24dp.svg">
                    <p class="flex text-xs lg:text-md"><span class="">Closing date: </span> {{job.closingDate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class=" w-full md:w-4/5 h-26 mx-2 my-2 overflow-hidden">
              <p class="overflow-clip text-xs lg:text-md">{{job.excerpt}} </p>
              <div class="mb-4 mt-2 flex flex-row">
                <div class="flex h-full">
                  <button id="ApplyBtn" class="bg-blue-200 text-white rounded-lg p-2 mx-1"> Apply Now</button>
                   <a href="/jobAdSingle/{{ job.slug.current }}/index.html" class="no-underline">
                  <button id="FindOutMoreBtn" class="bg-white  text-blue-200 border-solid border-2 border-blue-200 rounded-lg p-2 justify-center align-items-center">Find out more</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
        {% else %}
        <div class="hidden"></div>
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </main>
</div>






<script>

const locationCheckbox = document.querySelectorAll('.location')

locationCheckbox.forEach(box => box.addEventListener('click', e => { 
  let selectedLocation = e.target.value
  console.log(selectedLocation)
}))

{# let jobAd = [{% for jobAd in apprenticeJobAds %}
  {
    title: '{{ jobAd.jobTitle }}',
    location: '{{jobAd.location}}',
    employer: '{{jobAd.employerName}}',
    standard: '{{jobAd.standard}}'
  },
{% endfor %}]; #}


{# let searchString = ''
let filteredAds = []
let filteredbyCheckbox = []
console.log(jobAd) #}


//function to filter jobs based on input search string, which is called onlick of search button.

{# function filteredJobs() {
  const filtered = jobAd.filter(job => job.title.includes(searchString) || job.location.includes(searchString) || job.employer.includes(searchString) || job.standard.includes(searchString))
  filteredAds.push(filtered)
  console.log(filtered)
} #}

{# function filterByCheck() {
  standardCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedStandardValue = e.target.value
console.log('selectedStandardValue:', selectedStandardValue)
if(jobAd.includes(selectedStandardValue))
console.log(jobAd)
filteredbyCheckbox.push(selectedStandardValue)
console.log(filteredbyCheckbox)
}))
} #}

{# filterByCheck() #}


// use the user input to update the searchString variable
{# searchBar.addEventListener('keyup', e => {
searchString = e.target.value
return searchString
}) #}


// call filteredJobs function on click of the search button. 
{# searchBtn.addEventListener('click', e => {
  filteredJobs()
console.log('searchString:', searchString)
}) #}

{# standardCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedStandardValue = e.target.value
console.log('selectedStandardValue:', selectedStandardValue)
})) #}

{# disabiltyCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedDisabilityValue = e.target.value
  console.log(selectedDisabilityValue)
})) #}

locationCheckbox.forEach(box => box.addEventListener('click', e => { 
  let selectedLocation = e.target.value
  console.log(selectedLocation)
}))

{# employmentTypeCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedEmploymentType = e.target.value
  console.log(selectedEmploymentType)
})) #}

{# resetIcon.addEventListener('click', e => {
  reset()
console.log('clicked')
  }) #}

{# let mappedArray = jobAd.map(job => (
  console.log(job.title)
)) #}


{# function displayNumCourses(){
let numCourses = Array.from(jobAd)
numberOfJobs.innerHTML = `showing: ${numCourses.length}`
console.log('numCourses:', numCourses.length)
}

displayNumCourses()

function reset(){
  let filteredAds = jobAd

  console.log(filteredAds) #}

{# } #}

</script>
