---
layout: hub
location: West Yorkshire
image_source: Leeds-Apprenticeship-Recruitment-Fair.webp
tag: ldcf
meta_title: Free Digital and Coding Courses across Yorkshire | The Coders Guild
meta_description: Register your interest for our free Digital & Coding Courses in Yorkshire. Contact The Coders Guild to learn more.
body_class: apprenticeship-employer

---