---js
{
    layout: 'internal-page',
    meta_title: 'Case Study - Brand Ambition achieve 20% increase in revenue, through apprenticeships and partnerships.',
    meta_description: 'The Coders Guild, providing socially responsible digital skills training',
    body_class:'apprenticeships',
    title: 'Brand Ambition achieve 20% increase in revenue, through apprenticeships and partnerships.',
    heroImage: '/images/case-studies/BA-casestudy-hero.jpg'
}

---


<main>
     <div class="bg-white py-24 sm:py-16">
        <div class="mx-auto max-w-4xl inner px-6"> 

                    <div class="mx-auto grid grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 md:items-center lg:mx-0 lg:grid-cols-2 ">
                      


                        <img class="relative w-xl h-xl rounded-3xl object-contain" src="../images/case-studies/BA-casestudy-hero-sm.jpg" alt="3 Members of Brand Ambition, Sam Left, Dylan and Sophie Right having a conversation">

                      <div>
                        <img class="w-12 h-12 items-start object-contain" src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="TCG Logo">
                          <h2 class="font-semibold text-3xl sm:text-4xl">The Situation</h2>
                            <p class="text-base">In 2023, Brand Ambition, a digital brand marketing agency, decided to 
                            enhance its services with a brand-new web development department. The Leeds-based SME already provided clients with a range of other services including Paid Media, SEO and Brand Development. With frequent client requests for web support and development on the 
                            back of client relations built up over time, the company was in a position to open this as a new department.
                            In order to expand out the services, this meant that there were new vacancies to fill. As part of the company ethos of training and developing through upskilling, they chose to partner with The Coders Guild to help recruit for the roles. For Brand Ambition, they wanted to help provide apprentices with real-world experience that they instantly apply training to. 
                          </p>
                      </div>
 


                        <img class=" w-xl h-xl rounded-3xl object-contain flex flex-col lg:order-2" src="../images/case-studies/2work-office.jpg" alt="2Work's Co-working Space">

                      <div>
                        <img class="w-12 h-12 items-start object-contain" src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="TCG Logo">
                        <h2 class="font-semibold text-3xl sm:text-4xl">The Solution</h2>
                        <p class="text-base">To address these staffing needs, The Coders Guild facilitated the recruiting for the Web Developer Apprentice (Level 4) role. As part of the Government apprenticeship scheme, 
                            The Coders Guild was able to fund the course and training through the Apprenticeship Levy, with ASDA contributing to training costs.  As a separate service, The Coders Guild runs a range of 
                            skills boot camps – fully funded training courses for digital skills development – which provide a large database of talented professionals seeking new opportunities. 
                            This meant that they were quickly able to find high-quality talent with enthusiasm for the role, which is exactly what happened. Taking care of the paperwork and logistics, 
                            The Coders Guild worked closely with Brand Ambition to create a bespoke tailored training plan for the successful candidate. Once the funding for the training costs was secured, the apprentice was then quickly integrated into the existing team and the new department. 
                        </p>
                      </div>
 


                        <img class=" w-xl h-xl rounded-3xl object-contain" src="../images/case-studies/BA-casestudy-hero-sm.jpg" alt="3 Members of Brand Ambition, Sam Left, Dylan and Sophie Right having a conversation">
                      <div class="flex flex-col lg:order-2">
                        <img class="w-12 h-12 items-start object-contain" src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="TCG Logo">
                        <h2 class="font-semibold text-3xl sm:text-4xl">The Situation</h2>
                        <p class="text-base">In 2023, Brand Ambition, a digital brand marketing agency, decided to 
                        enhance its services with a brand-new web development department. The Leeds-based SME already provided clients with a range of other services including Paid Media, SEO and Brand Development. With frequent client requests for web support and development on the 
                        back of client relations built up over time, the company was in a position to open this as a new department.
                        In order to expand out the services, this meant that there were new vacancies to fill. As part of the company ethos of training and developing through upskilling, they chose to partner with The Coders Guild to help recruit for the roles. For Brand Ambition, they wanted to help provide apprentices with real-world experience that they instantly apply training to. 
                        </p>
                    </div>

                    
                    
                    </div>

                </div>
              </div>
            </div>


<div class="bg-grey-100">
  <section class="px-6 xl:px-48 lg:px-24">
    <div class="max-w-4xl mx-auto flex flex-col lg:flex-row lg:justify-center md:items-center lg:items-start lg:py-32 relative gap-8">
      <div class="flex flex-col gap-8 mt-16 lg:w-6/12">
        <h2 class="mb-0 text-5xl leading-120">Success Stories</h2>
        <p class="text-lg leading-7">See how our training has transformed businesses</p>
      </div>
      <div class="lg:w-6/12">
        <img class="w-full object-cover rounded-2xl shadow" src="../images/testimonials/sam-brand-ambition.jpeg" alt="Sam from Brand Ambition Leeds credits The Coders Guild with transforming his team" style="height: 562px;" />
      </div>
      <div class="testimonial-body lg:absolute -mt-48 bg-white overflow-hidden rounded-3xl shadow-lg">
        <div class="relative p-10 flex flex-col items-start gap-4">
          <object class="absolute pattern pattern-460" data="../images/patterns/460.svg" type="image/svg+xml"></object>
          <img class="w-48 h-14 object-cover rounded-3xl" src="../images/company-logos/brand-ambition.png" alt="Brand Ambition Logo" />
          <p class="leading-2xl text-xl">"Partnering with The Coders Guild has not only upskilled our team but ingrained a culture of innovation and agility in our operations. Our turnover increased significantly thanks to their funded training programs."</p>
          <p class="text-blue-100 font-bold text-lg">Sam, Brand Ambition</p>
        </div>
      
      </div>
    </div>
  </section>
  </div>


</main>


