---
layout: default
meta_title: Tech & Digital Skills Course Directory
meta_description: Dive into our expansive course directory featuring workshops, short courses, skills bootcamps, and apprenticeships. Tailored for every stage of your career, find the perfect program to elevate your skills and accelerate your professional growth with
---


<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
   <div class="bg-white section-rounded pt-20 md:pt-12 pb-24">
      {% include './includes/components/course-directory/header.njk' %}
      <div class="inner">
         {% include './includes/components/course-directory/tabs.njk' %}
         <div class="course-grid-container relative">
            {% for type in courseTypes %}
               {% include './includes/components/course-directory/course-grid.njk' %} 
            {% endfor %}
         </div>
      </div>
   </div>
</main>

</div>