---js
{
pagination: {
    data: 'courses',
    size: 1,
    alias: 'course'
    },
layout: 'course',
tag: ['course'],
permalink: "/course-directory/{{ course.slug.current }}/index.html",
eleventyComputed: {
    meta_title: data => data.course.title,
    title: data => data.course.title,
    meta_description: data => data.course.excerpt ? data.course.excerpt.replace( /(<([^>]+)>)/ig, '') : '',
    featured_image: data => data.course.featuredImage,
    }
}
---


