---
meta_title: The Coders Guild - About Us, Mission and Vision
meta_description: The UK’s gold standard for tech education, delivering the industry’s future innovators from society’s most underrepresented groups.
body_class: about

---

{% for course in courses.courseType %}
   <h2> {{ course }}</h2>
{% endfor %}

