---js
{
pagination: {
    data: 'courses',
    size: 1,
    alias: 'course'
    },
layout: 'course',
tag: ['course'],
permalink: "/course-directory/{{ course.slug.current }}/index.html",
eleventyComputed: {
    meta_title: data => data.course.title,
    excerpt: data => data.course.excerpt,
    featured_image: data => data.course.featured_image
    }
}
---

