---js
{
    layout: 'internal-page',
    meta_title: 'Find out how an Apprentice can benefit your team!',
    meta_description: 'The Coders Guild, providing socially responsible digital skills training',
    body_class:'apprenticeships',
    title: 'Unlock Your Teams Potential',
    tagline: 'Unleash the Power of Apprenticeships',
    valueProps: ['Boost Productivity', 'Cost Efficient Talent Development', 'Industry Led'],
    image: '/images/homepage/MVIMG_20180119_122608.jpg'
}

---

{% include '../site/includes/components/employers/case-study.njk' %}