---
layout: "layouts/default.njk"
---
<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
  <div class="inner max-w-5xl pt-20 mb-14 md:mb-20">
    <div class="my-14">
      <h1 class="text-center">Employer feedback form</h1>
      <p>When we place your apprentice with you, we set out to focus all efforts on equality and inclusivity and to
        ensure 'best in class' training provision. To assist us in delivering our objectives we kindly request that you
        take the opportunity to provide your feedback on our communication, training, and the progress of your
        apprentice. All feedback is greatly appreciated and will be used to improve the quality of our delivery and
        service.</p>
    </div>
    <form class="w-l flex-1 justify-center" action="https://formspree.io/f/mayaalby" method="POST">
      <label for="name" class="block text-sm font-medium text-black my-3">Name</label>
      <div class="mt-1">
        <input 
        type="text" 
        name="name" 
        id="name" 
        placeholder="Enter your name" 
        class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required/>
      </div>
      <label for="company" class="block text-sm font-medium text-black my-3">Company</label>
      <div class=" mt-1">
        <input 
        type="text" 
        name="company" 
        id="company" 
        placeholder="Enter your company name"
        class="py-3 px-4 block w-full border-1 border-black-500 rounded-lg shadow-sm" required />
      </div>
      <label for="Why Coders Guild" class="block text-sm font-medium mt-8">What made you decide to use The Coders
        Guild for your training requirements? <br /><span class="text-xs">Please
          select all that apply</span></label>
      <div class="mt-1 flex flex-row text-sm font-medium text-black my-3">
        <div class="flex flex-col">
          <div class="flex flex-row">
            <input 
            class="flex justify-center mr-4 mt-1" 
            type="checkbox" 
            id="Why Coders Guild" 
            name="Why Coders Guild" 
            value="recommendation"/>
            <label for="recommendation">Recommendation</label><br>
          </div>

          <div class="flex flex-row">
            <input 
            class="mr-4 mt-1" 
            type="checkbox" 
            id="Why Coders Guild" 
            name="Why Coders Guild" 
            value="flexible-learning"/>
            <label for="flexible-learning">Flexible learning</label><br>
          </div>

          <div class="flex flex-row">
            <input 
            class="mr-4 mt-1" 
            type="checkbox" 
            id="curriculum" 
            name="Why Coders Guild"
            value="Industry-led curriculum"/>
            <label for="curriculum">Industry-led curriculum</label><br>
          </div>

          <div class="flex flex-row">
            <input 
            class="mr-4 mt-1" 
            type="checkbox" 
            id="expert-training" 
            name="Why Coders Guild" 
            value="industry expert training"/>
            <label for="expert-training">Industry expert training</label><br>
          </div>

          <div class="flex flex-row">
            <input 
            class="mr-4 mt-1" 
            type="checkbox" 
            id="other" 
            name="Why Coders Guild" 
            value="other"/>
            <label for="other">Other</label><br>
          </div>

          <br />
         

          <label for="Level of contact" class="block text-sm font-medium my-3">Level of contact</label>
          <div class="mt-1 flex flex-row text-sm font-medium text-black my-3">
            <div class="flex flex-col">
              <div class="flex flex-row">
                <input 
                class="flex justify-center mr-4 mt-1" 
                type="radio" 
                id="very-satisfied" 
                name="Level of contact" 
                value="very satisfied"/>
                <label for="very-satisfied">Very satisfied</label><br>
              </div>

              <div class="flex flex-row">
                <input 
                class="flex justify-center mr-4 mt-1" 
                type="radio" 
                id="somewhat-satisfied" 
                name="Level of contact" 
                value="somewhat satisfied"/>
                <label for="somewhat-satisified">Somewhat satisfied</label><br>
              </div>

              <div class="flex flex-row">
                <input 
                class="flex justify-center mr-4 mt-1" 
                type="radio" 
                id="neither" 
                name="Level of contact" 
                value="Neither satisfied nor dissatisfied"/>
                <label for="neither">Neither satisfied nor dissatisfied</label><br>
              </div>

              <div class="flex flex-row">
                <input 
                class="flex justify-center mr-4 mt-1" 
                type="radio" 
                id="somewhat-dissatisfied" 
                name="Level of contact" 
                value="somewhat dissatisfied"/>
                <label for="somewhat-satisfied">Somewhat dissatisfied</label><br>
              </div>

              <div class="flex flex-row">
                <input 
                class="flex justify-center mr-4 mt-1" 
                type="radio" 
                id="dissatisfied" 
                name="Level of contact" 
                value="dissatisfied"/>
                <label for="dissatisfied">Dissatisfied</label><br>
              </div>

              <br />
              

              <label for="quality-of-info" class="block text-sm font-medium my-3">How satisfied are you with the quality of
                information that both yourself and your learner have received with regards to the training
                programme?
              </label>
              <div class="mt-1 flex flex-row text-sm font-medium text-black my-3">
                <div class="flex flex-col">

                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="very-satisfied" 
                    name="quality of info" 
                    value="very-satisfied"/>
                    <label for="very-satisfied">Very satisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="somewhat-satisfied" 
                    name="quality of info"  
                    value="somewhat-satisfied"/>
                    <label for="somewhat-satisfied">Somewhat satisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="neither" 
                    name="quality of info"  
                    value="neither satisfied nor dissatisfied"/>
                    <label for="neither">Neither satisfied nor dissatisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="somewhat-dissatisfied" 
                    name="quality of info"  
                    value="somewhat dissatisfied"/>
                    <label for="somewhat-dissatisfied">Somewhat dissatisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="dissatisfied" 
                    name="quality of info" 
                    value="dissatisfied"/>
                    <label for="dissatisfied">Dissatisfied</label><br>
                  </div>
                </div>
              </div>
              <br />
           

              <label for="planning-regularity" class="block text-sm font-medium my-3">How satisfied are you with the planning and
                regularity of the training?
              </label>
              <div class="mt-1 flex flex-row text-sm font-medium text-black my-3">
                <div class="flex flex-col">
                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="very-satisfied" 
                    name="Planning and Regularity" 
                    value="very-satisfied"/>
                    <label for="very-satisfied">Very satisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="Somewhat satisfied" 
                    name="Planning and Regularity"
                    value="Somewhat satisfied"/>
                    <label for="Somewhat satisfied">Somewhat satisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="Neither satisfied nor dissatisfied" 
                    name="Planning and Regularity" 
                    value="Neither satisfied nor dissatisfied"/>
                    <label for="Neither satisfied nor dissatisfied">Neither satisfied nor dissatisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="Somewhat dissatisfied" 
                    name="Planning and Regularity" 
                    value="Somewhat dissatisfied"/>
                    <label for="Somewhat dissatisfied">Somewhat dissatisfied</label><br>
                  </div>

                  <div class="flex flex-row">
                    <input 
                    class="flex justify-center mr-4 mt-1" 
                    type="radio" 
                    id="Dissatisfied" 
                    name="Planning and Regularity" 
                    value="Dissatisfied"/>
                    <label for="Dissatisfied">Dissatisfied</label><br>
                  </div>
                  <br />               
                  <label for="Well informed" class="block text-sm font-medium my-3">Do you feel that you are kept well informed
                    of the progress of your apprentice?
                  </label>
                  <div class="mt-1 block text-sm font-medium text-black my-3">
                    <div class="flex flex-col">
                      <div class="flex flex-row">
                        <input 
                        class="flex justify-center mr-4 mt-1" 
                        type="radio" 
                        id="Very satisfied" 
                        value="Very satisfied" 
                        name="Well informed"/>
                        <label for="Very satisfied">Very satisfied</label><br>
                      </div>

                      <div class="flex flex-row">
                        <input 
                        class="flex justify-center mr-4 mt-1" 
                        type="radio" 
                        id="Somewhat satisfied" 
                        value="Somewhat satisfied"  
                        name="Well informed"/>
                        <label for="Somewhat satisfied">Somewhat satisfied</label><br>
                      </div>

                      <div class="flex flex-row">
                        <input 
                        class="flex justify-center mr-4 mt-1" 
                        type="radio" 
                        id="Neither satisfied nor dissatisfied" 
                        value="Neither satisfied nor dissatisfied"  
                        name="Well informed"/>
                        <label for="Neither satisfied nor dissatisfied">Neither satisfied nor dissatisfied</label><br>
                      </div>
                      <div class="flex flex-row">
                        <input 
                        class="flex justify-center mr-4 mt-1" 
                        type="radio" 
                        id="option1" 
                        value="Somewhat dissatisfied"  
                        name="Well informed"/>
                        <label for="Somewhat dissatisfied">Somewhat dissatisfied</label><br>
                      </div>
                      <div class="flex flex-row">
                        <input 
                        class="flex justify-center mr-4 mt-1" 
                        type="radio" 
                        id="option1" 
                        value="Dissatisfied" 
                        name="Well informed"/>
                        <label for="Dissatisfied">Dissatisfied</label><br>
                      </div>

                      <br />                     

                      <label for="improvements" class="block text-sm font-medium text-black my-3">Do you have any suggestions
                        for how The Coders Guild could improve on their training provisions?</label>
                      <textarea 
                      name="improvements" 
                      id="improvements"
                      class="py-3 px-4 block w-full border-1 border-black-500 rounded-lg shadow-sm" required>
                      </textarea>
        
                      <br />                     

                      <label for="Other Feedback" class="block text-base font-medium text-black my-3">Any other feedback?</label>
                      <textarea class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm"
                      name="Other Feedback" 
                      id="Other Feedback"
                      >
                      </textarea>

                      <br />
                      

                      <label for="rating" class="block text-sm font-medium text-black my-3">On a scale of 1-10 how
                        likely are you to recommend us to some one else?</label>
                      <div class="mt-1">
                        <input 
                        type="text" 
                        name="rating" 
                        id="rating" 
                        placeholder=""
                        class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
                      </div>

                      <br />                    

                      <label for="Attachments" class="block text-sm font-medium text-black my-3">Attachments<br />
                        <span class="block text-xs font-medium"> In case you would like to
                          attach any files or screen grabs</span>
                      </label>
                      <div class="mt-1">
                        <input 
                        type="file" 
                        name="Attachments" 
                        id="Attachments" />
                      </div>
                    </div>
                  </div>
                <button
        class="w-lg inline-flex items-center justify-center px-6 py-3 my-3 border-1 rounded-lg shadow-sm text-base font-bold text-white bg-blue-200 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        type="submit">Submit
      </button>
    </form>
  </div>
</main>