---js
{
    layout: 'internal-page',
    meta_title: 'Find out how an Apprentice can benefit your team!',
    meta_description: 'The Coders Guild, providing socially responsible digital skills training',
    body_class:'apprenticeships',
    title: 'Unlock Your Teams Potential',
    tagline: 'Unleash the Power of Apprenticeships',
    valueProps: ['Boost Productivity', 'Cost Efficient Talent Development', 'Industry Led'],
    image: '/images/homepage/MVIMG_20180119_122608.jpg'
}

---

<div class="bg-white py-24 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-center">Unlock Your Team's Potential</h2>
      {# <p class="mt-6 text-lg leading-8 text-gray-600">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p> #}
    </div>
    <div class="mx-auto mt-16 sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
            <svg class="h-5 w-5 flex-none text-blue-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
            </svg>
           Boost Productivity
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Inject fresh skills and talent and enthusiasm into your team, reinvigorating your workplace with new skills and perspectives..</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.121 7.629A3 3 0 009.017 9.43c-.023.212-.002.425.028.636l.506 3.541a4.5 4.5 0 01-.43 2.65L9 16.5l1.539-.513a2.25 2.25 0 011.422 0l.655.218a2.25 2.25 0 001.718-.122L15 15.75M8.25 12H12m9 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Cost Efficient Talent Development
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Government funding covers the majority of training costs, making apprenticeships and skills bootcamps a cost-effective way to upskill your staff with super fast results.</p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
            <svg class="h-5 w-5 flex-none text-blue-200" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clip-rule="evenodd" />
            </svg>
            Industry Led
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">Our training programmes are not only designed but also delivered and routinely updated by  professionals who are actively working in the fields they instruct. This ensures that our courses remain immediately relevant and up-to-date.</p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="bg-white py-24 sm:py-16 section-rounded">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center">Unleash the Power of Apprenticeships</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Unearth hidden gems from your local talent pipeline or bolster your team’s impact with in demand professional skills.</p>
    </div>
    <dl class="mx-auto mt-16 grid grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <dt class="font-semibold text-gray-900">Streamlined Onboarding, Maximum Impact</dt>
        <dd class="mt-1 text-gray-600">Embarking on an apprenticeship journey has never been easier. We handle the paperwork, you reap the rewards. Already have an employee in mind? We can onboard them in just a matter of days.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">The Right Fit, Every Time</dt>
        <dd class="mt-1 text-gray-600">We've been matching employers with exceptional talent for over a decade. Our recruitment process is super inclusive and built on aptitude and enthusiasm, guaranteeing you the perfect apprentice for your team whilst also promoting equality, diversity and inclusion.
        </dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Ready-To-Go Talent Pool</dt>
        <dd class="mt-1 text-gray-600">Looking for skilled newcomers? Tap into our network of bootcamp graduates from across the UK, ready to contribute from day one without draining your resources.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Team-Wide Benefits</dt>
        <dd class="mt-1 text-gray-600">But it doesn’t stop at recruitment; we offer ongoing support to ensure your entire team maximises the advantages of incorporating apprentices into your workforce.</dd>
      </div>
      <div>
        <dt class="font-semibold text-gray-900">Tailored to Your Needs </dt>
        <dd class="mt-1 text-gray-600">Our apprenticeship programs are customised to align with your business objectives, ensuring that your apprentices acquire skills that directly benefit your organisation.</dd>
      </div>
    </dl>
  </div>
</div>



{% include '../site/includes/components/employers/case-study.njk' %}