---js
{
    layout: 'internal-page',
    meta_title: 'Find out how an Apprentice can benefit your team!',
    meta_description: 'The Coders Guild, providing socially responsible digital skills training',
    body_class:'apprenticeships',
    title: 'Unlock Your Teams Potential',
    tagline: 'Unleash the Power of Apprenticeships',
    valueProps: ['Boost Productivity', 'Cost Efficient Talent Development', 'Industry Led'],
    image: '/images/homepage/MVIMG_20180119_122608.jpg'
}

---


  <div class="bg-white py-24 sm:py-16">
    <div class="mx-auto max-w-3xl inner px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-center">Unlock Your Team's Potential</h2>
        {# <p class="mt-6 text-lg leading-8 text-gray-600">Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p> #}
      </div>
      <div class="mx-auto mt-16 sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl class="grid grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
            Boost Productivity
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
              <p class="flex-auto">Inject fresh skills and talent and enthusiasm into your team, reinvigorating your workplace with new skills and perspectives..</p>
            </dd>
          </div>
          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
              Cost Efficient Talent Development
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
              <p class="flex-auto">Government funding covers the majority of training costs, making apprenticeships and skills bootcamps a cost-effective way to upskill your staff with super fast results.</p>
            </dd>
          </div>
          <div class="flex flex-col">
            <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
              Industry Led
            </dt>
            <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
              <p class="flex-auto">Our training programmes are not only designed but also delivered and routinely updated by  professionals who are actively working in the fields they instruct. This ensures that our courses remain immediately relevant and up-to-date.</p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="bg-white py-24 sm:py-16 section-rounded">
    <div class="mx-auto max-w-3xl inner px-6 lg:px-8">
      <div class="mx-auto lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center">Unleash the Power of Apprenticeships</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Unearth hidden gems from your local talent pipeline or bolster your team’s impact with in demand professional skills.</p>
      </div>
      <dl class="mx-auto mt-16 grid grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div class="shadow-primary p-4">
          <dt class="font-semibold text-gray-900">Streamlined Onboarding, Maximum Impact</dt>
          <dd class="mt-1 text-gray-600"><p>Embarking on an apprenticeship journey has never been easier. We handle the paperwork, you reap the rewards. Already have an employee in mind? We can onboard them in just a matter of days.</p></dd>
        </div>
        <div class="shadow-primary p-4">
          <dt class="font-semibold text-gray-900">The Right Fit, Every Time</dt>
          <dd class="mt-1 text-gray-600"><p>We've been matching employers with exceptional talent for over a decade. Our recruitment process is super inclusive and built on aptitude and enthusiasm, guaranteeing you the perfect apprentice for your team whilst also promoting equality, diversity and inclusion.</p>
          </dd>
        </div>
        <div class="shadow-primary p-4">
          <dt class="font-semibold text-gray-900">Ready-To-Go Talent Pool</dt>
          <dd class="mt-1 text-gray-600"><p>Looking for skilled newcomers? Tap into our network of bootcamp graduates from across the UK, ready to contribute from day one without draining your resources.</p></dd>
        </div>
        <div class="shadow-primary p-4">
          <dt class="font-semibold text-gray-900">Team-Wide Benefits</dt>
          <dd class="mt-1 text-gray-600"><p>But it doesn’t stop at recruitment; we offer ongoing support to ensure your entire team maximises the advantages of incorporating apprentices into your workforce.</p></dd>
        </div>
        <div class="shadow-primary p-4">
          <dt class="font-semibold text-gray-900">Tailored to Your Needs </dt>
          <dd class="mt-1 text-gray-600"><p>Our apprenticeship programs are customised to align with your business objectives, ensuring that your apprentices acquire skills that directly benefit your organisation.</p></dd>
        </div>
        <div class="shadow-primary p-4">
          <dt class="font-semibold text-gray-900">Super cost effective </dt>
          <dd class="mt-1 text-gray-600"><p>Apprenticeships are a smart choice, with government-funded training. Employers can upskill their workforce cost-effectively while supporting employees' professional growth.</p></dd>
        </div>
      </dl>
    </div>
  </div>

{% include '../site/includes/components/employers/case-study.njk' %}


