---
layout: hub
location: Greater Manchester
programme: Greater Manchester Combined Authority's 'Skills for Growth' programme
tag: serco
meta_title: Free Digital and Coding Courses in Greater Manchester | The Coders Guild
meta_description: Free Digital and Coding Courses in Greater Manchester | The Coders Guild
body_class: apprenticeship-employer
---
