---
layout: default
meta_title: Free Digital and Coding Courses in Greater Manchester | The Coders Guild
meta_description: Free Digital and Coding Courses in Greater Manchester | The Coders Guild
---

<div class="inner py-24">
    <div class="flex flex-wrap py-24">
        <div class="w-full lg:w-5/12">
            <h1>Businesses in Greater Manchester</h1>
            <p class="font-bold text-lightblue-500"><span class="capitalize">Upskill your teams in digital</span> (at no cost to you*)</p>
            <p>Employers</p>
        </div>
        <div class="w-full lg:w-7/12 flex items-center justify-center">
            VIDEO DIV
        </div>
    </div>
</div>