---
layout: hub
location: Greater Manchester
programme: Greater Manchester Combined Authority's 'Skills for Growth' programme
tag: serco
meta_title: Free Coding Courses in Manchester | Coders Guild
meta_description: We offer high quality IT and coding courses in Greater Manchester. The Coders Guild is a leading provider of digital skills courses and bootcamps.
body_class: apprenticeship-employer
ctaOne: Ready to kickstart a career in IT? Register your interest in our fully funded IT courses in Manchester now
---
