---js
{
    layout: "quiz-result",
    permalink: "/quiz/high-performing-team/",
    h1: "Great Work! Keep Driving Excellence in Your Team",
    intro: `<p>Your leadership is <strong>fueling a high-performing, innovative team</strong> — and it shows! Your ability to empower and support your team is creating a <strong>strong, collaborative work culture</strong> that drives success.</p>
    <p>But even the best teams need <strong>ongoing investment</strong> to stay ahead. By <strong>focusing on leadership sustainability and continuous learning</strong>, you can maintain momentum and <strong>future-proof your success.</strong></p>`,
    actions: ["Establish more structured leadership pathways.", "Improve alignment on goals and success criteria.", "Invest in training to fill skill gaps before they become blockers."],
    course_ids: ['e6e9449f-791a-4cfc-8884-e983ce86954e', 'c96b2fdb-c396-4cd0-88a3-9e672e33db5f', 'c1536f0d-be42-4c25-8801-08994dc01476'],
    consultancy_heading: "Book an Advanced Strategy Call",
    eleventyComputed: {
        title: "High Performing Team | Quiz Results from The Coders Guild",
        meta_description: "Thanks you for taking our quiz with The Coders Guild - You're a high performing team! Have a look at our courses to see how we could elevate your performance even further!",
    }
}

---