---
layout: default
title: SME Growth Hub
---

<section id="course-cta-header" class="fixed top-0 bg-white flex space-between mx-auto z-50 shadow py-2 lg:py-4 w-full">
  <div class="flex inner justify-between items-center">
    <div class="flex items-center">
      <div class="logo mr-8 hidden sm:block">
        <img class="block h-10 md:h-10 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="The Coders Guild Logo">
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <a href="#" class="rounded inline-flex justify-center items-center p-2 gap-2 bg-gradient-to-r from-red-1000 to-purple-1000"><span class="text-white font-bold rounded whitespace-no-wrap text-xs lg:text-md">Book a Free Consultation<i class="ml-2 fa-solid fa-chevron-right"></i></span></a>
    </div>
  </div>
</section>

<!-- hero section -->
<section class="bg-blue-100/5 relative overflow-hidden">
  <object class="absolute -left-4 top-4 pattern" data="../images/patterns/2.svg" type="image/svg+xml"></object>
  <div class="relative px-4 py-32">
    <div class="relative mb-16">
      <img src="../images/learner-images/learners-in-agile-software-development.jpeg" alt="Learners in agile software development" class="rounded shadow-lg" />
      <div class="absolute -bottom-1/4 left-[5%]">
        <script src="https://widget.trustist.com/JgTmKy9K3kqIxBnXqyliBg/trustistreviewer.js"></script>
        <div ts-widget="" ts-border-radius="15px" ts-suppress-review-link="true" ts-reviews-url="/reviews"></div>
      </div>
    </div>
    <div class="flex flex-col items-start gap-8">
      <img src="" alt="The Coders Guild Small Logo" class="">
      <h2 class="mb-0">Empower Your SME with Cutting-Edge Tech Skills</h2>
      <p>Enhance your team’s capabilities with government-funded tech training. Book a free consultation today and discover how our bespoke training plans can upskill your team and boost productivity.</p>
      <a href="#" class="flex justify-center items-center self-stretch bg-gradient-to-r from-red-1000 to-purple-1000 px-4 py-4 text-white font-bold rounded shadow-lg">Book a Free Consultation <i class="ml-2 fa-solid fa-chevron-right"></i></a>

    </div>
  </div>
</section>