---
layout: default
title: SME Growth Hub
---

<section id="course-cta-header" class="fixed top-0 bg-white flex space-between mx-auto z-50 shadow py-2 lg:py-4 w-full">
  <div class="flex inner justify-between items-center">
    <div class="flex items-center">
      <div class="logo mr-8 hidden sm:block">
        <img class="block h-10 md:h-10 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="The Coders Guild Logo">
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <a href="#" class="rounded inline-flex justify-center items-center p-2 gap-2 bg-gradient-to-r from-red-1000 to-purple-1000"><span class="text-white font-bold rounded whitespace-no-wrap text-xs lg:text-md">Book a Free Consultation<i class="ml-2 fa-solid fa-chevron-right"></i></span></a>
    </div>
  </div>
</section>

<!-- hero section -->
<section class="h-[1475px] relative flex flex-col bg-white">
  <div class="bg-blue-100/5 relative flex flex-col px-4 pb-32">
    <div class="relative py-32 overflow-hidden">
      <object class="absolute left-[-10rem] top-[5rem] pattern" data="../images/patterns/2.svg" type="image/svg+xml"></object>
      <div class="relative">
        <img src="../images/learner-images/learners-in-agile-software-development.jpeg" alt="Learners in agile software development" class="relative rounded shadow-lg" />
        <div class="absolute bottom-[-20%] left-[5%]">
          <script src="https://widget.trustist.com/JgTmKy9K3kqIxBnXqyliBg/trustistreviewer.js"></script>
          <div ts-widget="" ts-border-radius="15px" ts-suppress-review-link="true" ts-reviews-url="/reviews"></div>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-start gap-8">
      <img src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="The Coders Guild Small Logo" class="w-10 h-7 object-cover">
      <h2 class="mb-0">Empower Your SME with Cutting-Edge Tech Skills</h2>
      <p>Enhance your team’s capabilities with government-funded tech training. Book a free consultation today and discover how our bespoke training plans can upskill your team and boost productivity.</p>
      <a href="#" class="flex justify-center items-center self-stretch bg-gradient-to-r from-red-1000 to-purple-1000 px-4 py-4 text-white font-bold rounded shadow-lg">Book a Free Consultation <i class="ml-2 fa-solid fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="absolute bottom-[-10%] left-[10%] right-[10%] flex p-8 items-start gap-4 bg-white rounded shadow-lg max-w-xs mx-auto">
    <div class="flex flex-col items-center gap-8 flex-1">
      <h2 class="mb-0">Welcome to The Coders Guild</h2>
      <p>In today's fast-paced business environment, staying ahead of the curve is essential. At The Coders Guild, we specialise in transforming your team’s potential through expert-led, government-funded tech training. Whether you're looking to upskill your existing team or onboard new talent, our tailored training plans ensure your business thrives.</p>
    </div>
  </div>
</section>

<!-- Why Upskill -->
<section class="flex pt-0 px-4 pb-32">
  <div class="flex flex-col items-start gap-10">
    <div class="flex flex-col items-start gap-10">
      <h2 class="mb-0">Why Upskill Your Team?</h2>
      <p>Investing in your team's development isn't just about new skills—it's about driving your business forward. By accessing government funding, you can:</p>
      <ul>
        <li>Enhance productivity and efficiency.</li>
        <li>Boost employee morale and retention.</li>
        <li>Increase your team’s billable rate with advanced tech skills.</li>
      </ul>
      <a href="#" class="bg-gradient-to-r from-red-1000 to-purple-1000 text-white font-bold rounded shadow-lg px-4 py-4">Book Your FREE Consultation <i class="ml-2 fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="bg-grey-100 h-full w-full"></div>
  </div>
</section>

<!--Our Approach -->
<section class="flex flex-col items-center py-16 px-4">
  <div class="flex flex-col items-start gap-10">
    <h2 class="mb-0">Our Approach to Training</h2>
    <p>At The Coders Guild, we understand that every business is unique. Our bespoke training plans are tailored to align with your specific needs, systems, and tools, ensuring maximum relevance and impact.</p>
    <ul>
      <li>Customised Learning Journeys: Training programs designed to fit your business processes and technologies.</li>
      <li>Industry-Led Curriculum: Courses crafted by professionals actively working in the field.</li>
      <li>Practical Skills Application: Focused on real-world application and immediate relevance.</li>
    </ul>
  </div>
  <div class="bg-grey-100 h-full w-full"></div>
</section>

<!-- Featured Courses and Meet The Trainers -->
<section class="flex flex-col items-start justify-center py-16 px-4 gap-24 bg-gradient-to-r from-blue-100 to-blue-200">
  <div class="flex flex-col items-start gap-10 self-stretch">
    <div class="flex flex-col justify-center items-center gap-4 text-white text-center">
      <h2 class="font-bold">Featured Courses and Apprenticeships</h2>
      <p>Explore our range of training programs designed to meet the evolving needs of the tech industry:</p>
    </div>
    <div class="">
      {% include './includes/components/global/course-grid.njk' %}
    </div>
  </div>
  <div class=""></div>

</section>