---
layout: default
title: SME Growth Hub
---

<section id="hub-cta-header"class="fixed top-0 bg-white flex space-between mx-auto z-50 shadow py-2 lg:py-4 w-full">
    <div class="flex inner justify-between items-center">
      <div class="flex items-center">
        <div class="logo mr-8 hidden sm:block">
          <img class="block h-10 md:h-10 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="The Coders Guild Logo">
        </div>
      </div>
      <div class="flex flex-col sm:flex-row">
        <a href="#" class="rounded inline-flex justify-center items-center p-2 gap-2 bg-gradient-to-r from-red-1000 to-purple-1000"><span class="text-white font-bold rounded whitespace-no-wrap text-xs lg:text-md">Book Your FREE Consultation <i class="ml-2 fa-solid fa-chevron-right"></i></span></a>
      </div>
    </div>
  </section>
  {% include './includes/components/hub/header.njk' %}

  <section class="flex flex-col items-start gap-2 py-16 px-48">
    <div class="flex flex-col md:flex-row md:pl-28 justify-between">
        <div class="flex flex-col items-start gap-12">
            <h2>Why Upskill Your Team</h2>
            <p>Investing in your team's development isn't just about new skills—it's about driving your business forward. By accessing government funding, you can:</p>
            <ul>
                <li>Enhance productivity and efficiency</li>
                <li>Boost employee morale and retention</li>
                <li>Increase your team's billable rate with advanced tech skills</li>
            </ul>
            <a href="#" class="bg-gradient-to-r from-red-1000 to-purple-1000 py-2 px-4 text-white flex gap-2 items-center justify-center rounded font-bold text-sm lg:text-md">Book Your FREE Consultation <i class="ml-2 fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="bg-grey-100">

        </div>
    </div>

  </section>

  <section class="flex flex-col items-start gap-2 py-16 px-48">
    <div class="flex flex-col md:flex-row md:pl-28 justify-between">
        <div class="bg-grey-100">
            <img class="object-cover h-auto max-w-8/12" src="../images/learner-images/coders-training.jpg" alt="Some training from TCG">
        </div>
        <div class="flex flex-col items-start gap-12">
            <h2>Why Upskill Your Team</h2>
            <p>Investing in your team's development isn't just about new skills—it's about driving your business forward. By accessing government funding, you can:</p>
            <ul>
                <li>Enhance productivity and efficiency</li>
                <li>Boost employee morale and retention</li>
                <li>Increase your team's billable rate with advanced tech skills</li>
            </ul>
            <a href="#" class="bg-gradient-to-r from-red-1000 to-purple-1000 py-2 px-4 text-white flex gap-2 items-center justify-center rounded font-bold text-sm lg:text-md">Book Your FREE Consultation <i class="ml-2 fa-solid fa-chevron-right"></i></a>
        </div>
    </div>

  </section>