---
layout: hub
location: Hull and East Yorkshire
image_source: hull-digital-skills.jpg
tag: hey
b2bpdf: hey-b2b.pdf
b2cpdf: hey-b2c.pdf
meta_title: Free Digital and Coding Courses in Hull and East Yorkshire | The Coders Guild
meta_description: Free Digital and Coding Courses in Hull and East Yorkshire | The Coders Guild
body_class: apprenticeship-employer
---