---
layout: hub
location: York and North Yorkshire
image_source: hull-digital-skills.jpg
tag: hey
meta_title: Free Digital and Coding Courses in Hull and East Yorkshire | The Coders Guild
meta_description: Free Digital and Coding Courses in Hull and East Yorkshire | The Coders Guild
body_class: apprenticeship-employer
---