---js
{
    layout: "quiz-result",
    permalink: "/quiz/immediate-action/",
    h1: "Your Team Has Potential – Here’s How to Unlock It",
    intro: `<p>Your team has a <strong>strong foundation,</strong> but there are opportunities to level up your leadership approach. Building a high-performing team takes structure, alignment, and the right leadership mindset.</p>
    <p>With the right strategies, you can <strong>boost collaboration, refine leadership structure, and drive team performance.</strong> Small changes today can lead to <strong>big improvements in efficiency and morale.</strong></p>`,
    actions: ["Encourage structured leadership development with dedicated training.", "Improve goal-setting and team alignment for better focus and direction.", "Invest in mentorship and upskilling to create a culture of continuous improvement."],
    course_ids: ['e6e9449f-791a-4cfc-8884-e983ce86954e', 'c96b2fdb-c396-4cd0-88a3-9e672e33db5f', 'c1536f0d-be42-4c25-8801-08994dc01476'],
    consultancy_heading: "Book your free Skills Gap Consultancy",
    eleventyComputed: {
        title: "Your Team has High Potential | Quiz Results from The Coders Guild",
        meta_description: "Thanks you for taking our quiz with The Coders Guild - Your team has high potential! Have a look at our courses to see how we could elevate your performance!",
    }
}

---