---
layout: home
meta_title: Coding Apprenticeships & Digital Skills Training
meta_description: We are the leading Software Development Apprenticeships and Software Testing Training provider. Get in touch to discover our coding courses & bootcamps.
body_class: home
title: The Coders Guild - Coding Apprenticeships & Digital Skill Training
---

<div class="container max-w-full md:pt-22 pt-20">

  <main id="main" class="main flex flex-1 flex-col focus:outline-none relative" tabindex="-1">
    <div class="bg-red-100 section-rounded">
      <div class="bg-white section-rounded">
        <div class="bg-blue-200 section-rounded">
          <div class="bg-white section-rounded">
            {% include "components/home/intro.njk" %}
          </div>
          {% include "components/home/apprenticeships.njk" %}
        </div>
        {% include "components/home/employability.njk" %}
      </div>
      {% include "components/home/services.njk" %}
    </div>
    {% include "components/home/social-mission.njk" %}
    {% include "components/blog/blog-section.njk" %}
    {% include "components/global/newsletter.njk" %}

  </main>
</div>


