---js
{
layout: 'internal-page',
meta_title: 'Vacancies with The Coders Guild',
meta_description: 'We Provide Paid Software & Web Development Apprenticeship Training Courses In Leeds, London & Remotely Online. Get in touch to learn more.',
body_class: 'apprenticeships',
title: 'Vacancies at The Coders Guild',
tagline: '',
heroImage: '/images/group-11.png',
ctas: []
}
---




  <div class="bg-white section-rounded">
    <div class="max-w-7xl mx-auto py-16">
      <div class="flex flex-wrap justify-center">
        <div class="w-full h-full lg:px-6">
          <div class="flex flex-col">
          {% for job in vacancies %}

            <div class="main-container flex flex-col">
              <div class="bg-white my-4 p-8 rounded-lg shadow-xl">

                <div class="top-row flex flex-row justify-between mb-6">
                  <div class="hidden md:block w-36 h-36 mr-2" style="background-image: url('{%if job.employerLogo %}{{job.employerLogo}}{%else%}{{site.images.logo}}{%endif%}'); background-size: contain; background-repeat: no-repeat; background-position: center;" alt="{{job.jobTitle}}" class="w-24 h-24 mr-6">
                  </div>
                  <div class="flex flex-col align-start justify-self-start w-full">
                    <div class="flex flex-wrap justify-between w-full">
                      <h3 class="p-0 mb-0 leading-none text-xl">{{job.jobTitle}}</h3>
                      <span class="font-bold p-0 m-0">{%if job.salary%}£{{job.salary}}{%else%}DOE{%endif%}</span>
                    </div>
                    <div class="flex flex-row flex-wrap items-center mt-2">
                      <div class="flex items-center my-2 sm:my-0">
                        <img src="../images/apprenticeJobAd/place_black_24dp.svg" alt="location-icon" class="p-0"><span class="mr-4 text-sm">{{job.location}}</span>
                      </div>
                      <div class="flex items-center mr-4 my-2 sm:my-0">
                        <img src="../images/apprenticeJobAd/date_range_black_24dp.svg" alt="clock-icon" class="flex">
                        <span class="text-sm">{{job.closingDate}}</span>
                      </div>
                    </div>
                    <div class="mt-2 ml-2">
                      <p class="text-sm">{{job.briefOverview}}</p>
                    </div>
                  </div>
                </div>
                <div class="apply-btn find-out-more-btn flex flex-col sm:flex-row">
                  <a class="mt-auto mr-0 sm:mr-8 mb-2 sm:mb-0 py-2 px-4 bg-blue-200 text-md font-bold font-heading rounded text-white" {% if job.slug.current === 'apprentice-admin-assistant-tcg' %} href="https://www.findapprenticeship.service.gov.uk/apprenticeship/1000131065" target="_blank" {% else %}href="/jobs/{{ job.slug.current }}/index.html"{% endif %} style="color:white;">Apply Now</a>
                  <a class="mt-auto py-2 px-4 bg-white text-md font-bold font-heading rounded border border-blue-200" href="{{job.pdf}}" target="_blank" style="color:#2574a9;">Find Out More</a>
                </div>

              </div>
            </div>

          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>