---
layout: default
title: Vacancies
---

{# banner #}
{# <div class="bg-grey-100 h-full">
  <div class="hero relative bg-grey-100 w-full mx-auto">
    <img src="../images/banner-1.png" alt="Apprenticeships hero image"
      class="md:block hidden h-full w-full hero-desktop" />
    <img src="../images/banner-2.png" alt="Apprenticeships hero image"
      class="md:hidden block h-full w-full hero-mobile" />
    <div class="absolute top-0 w-full h-full">
      <div class="flex flex-col justify-center items-center w-full h-full">
        <div class="max-w-2xl mx-auto px-4 lg:mb-8">
          <h1 class="text-center text-white mb-0 text-5xl leading-5xl max-w-md md:max-w-full">Vacancies</h1>
        </div>
        {# <div>
          <div class="mt-4 flex rounded-md shadow-sm w-ful">
            <div class="relative flex items-stretch flex-grow w-full">
              <input type="text" name="search" id="search" class="w-full rounded-l-lg pl-2 sm:text-sm"
                placeholder="Search a keyword...">
            </div>
            <button type="button" id="searchBtnJobIndex"
              class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 rounded-r-lg">Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

<main class="main inner flex flex-1 flex-col focus:outline-none bg-white" tabindex="-1">
    <div class="flex flex-wrap flex-row justify-center">
      <div class="flex-row w-full md:w-1/5 h-full">
        <div class="flex justify-between mt-6">
          <h5 class="text-lg">Filters</h5>
          <div class="resetIcon flex">
            <img src="../images/apprenticeJobAd/restart_alt_black_24dp.svg" class="w- h-8 p-2">
            <h5 class="text-xs">Reset Filters</h5>
          </div>
        </div>
        <div class="w-full filterOptions">
        <div class="flex-col mr-4">
          <div class="filter-form mt-4">
            <p class="font-bold text-xs">Type of employment</p>
            <div>
              <input type="checkbox" class="employment-type" name="apprenticeship" value="apprenticeship"
                class="transform scale-150">
              <label for="apprenticeship" class="ml-1 text-xs"> Apprenticeship</label>
            </div>
            <p class="font-bold text-xs">Location</p>
            <div>
              <input type="checkbox" class="location" name="location" value="yorkshire & humberside"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs"> Yorkshire & Humbersides</label>
            </div>
             <div>
              <input type="checkbox" class="location" name="location" value="yorkshire & humberside"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs"> Yorkshire & Humbersides</label>
            </div>
            <div>
              <input type="checkbox" class="location" name="location" value="yorkshire & humberside"
                class="transform scale-150">
              <label for="location" class="ml-1 text-xs"> Yorkshire & Humbersides</label>
            </div>
            <p class="font-bold text-xs">Apprenticeship Standard</p>
            <div>
              <input type="checkbox" class="apprentince-standard" name="apprentince standard"
                value="software developer level 4" class="transform scale-150">
              <label for="apprentince standard" class="ml-1 text-xs"> Software developer level 4</label>
            </div>
            <div>
              <input type="checkbox" class="apprentince-standard" name="apprentince standard"
                value="software developer level 3" class="transform scale-150">
              <label for="apprentince standard" class="ml-1 text-xs"> Software developer level 3</label>
            </div>
            <div>
              <input type="checkbox" class="apprentince-standard" name="apprentince standard"
                value="software tester level 3" class="transform scale-150">
              <label for="apprentince standard" class="ml-1 text-xs"> Software tester level 3</label>
            </div>
            <div>
              <input type="checkbox" class="apprentince-standard" name="apprentince standard"
                value="accessibilty specialist level 4" class="transform scale-150">
              <label for="apprentince standard" class="ml-1 text-xs"> Accessibilty specialist level 4</label>
            </div>
            <div>
              <input type="checkbox" class="apprentince-standard" name="apprentince standard" value="data analyst level 4"
                class="transform scale-150">
              <label for="apprentince standard" class="ml-1 text-xs"> Data analyst level 4</label>
            </div>
            <div>

              <p class="font-bold text-xs">Salary Range</p>
              <label for="salary range" class="text-xs">£24k-£36k</label>
              <input class="rounded-lg overflow-hidden appearance-none bg-grey-700 w-full h-1" type="range" min="18"
                max="100" step="1" value="18" />
              <div class="flex flex-row justify-between">
                <p class="flex text-xs">£18k</p>
                <p class="flex text-xs">100k</p>
              </div>
            </div>
            <p class="font-bold text-xs">Disability confident employer</p>
            <div>
              <input type="checkbox" class="disability-confident-employer" name="disability confident employer" value="yes"
                class="transform scale-150">
              <label for="disability-confident-employer" class="ml-1 text-xs"> Yes</label>
            </div>
            <div>
              <input type="checkbox" class="disability-confident-employer" name="disability confident employer" value="no"
                class="transform scale-150">
              <label for="disability confident employer" class="ml-1 text-xs"> No</label>
            </div>
            <div>
              <input type="checkbox" class="disability-confident-employer" name="disability confident employer" value="in progress" class="transform scale-150">
              <label for="disability confident employer" class="ml-1 text-xs"> In Progress</label>
            </div>
          </div>
        </div>
        </div>
      </div> #}
        <div class="inner pt-48">
            <div class="flex-row w-full h-full">
                {% for job in vacancies %}
                {% if job.isActive and not job.isExternal %}
                {# <div class="w-full h-full my-4 flex flex-row justify-center rounded-lg pb-4 bg-white"> #}
                    <div class="flex align-middle">
                    <div class="w-full h-auto rounded-lg mx-4 my-4 shadow-xl border-grey-200 p-8 bg-white">
                        <div class="w-full h-auto rounded-t-lg flex flex-row">
                        <div class="mx-2 flex justify-center h-20 w-20 border-grey-200 border-2 rounded-lg">
                            <img class="flex h-full w-full" src="{% if job.employerLogo %}{{job.employerLogo}}{% else %}{{ site.images.logo }}{% endif %}">
                        </div>
                        <div class="md:w-4/5 mx-2 my-2">
                            <div class="flex justify-between ml-1">
                            <h5 class="flex text-lg text-blue-700 m-0 p-0">{{job.jobTitle}}</h5>
                            <p class="flex text-xs font-bold mr-2">{% if job.salary %}£{{job.salary}}{% else %} Negotiable DOE {% endif %}</p>
                            </div>
                            <p class="ml-1 text-xs font-bold text-blue-700">{{job.employerName}}</p>
                            <div class="flex flex-row">
                            <div class="flex">
                                <img class="mr-2" src="../images/apprenticeJobAd/schedule_black_24dp.svg">
                                <p class="text-xs">{{job.contract}}</p>
                            </div>
                            <div class="flex ml-8">
                                <img class="mr-2" src="../images/apprenticeJobAd/place_black_24dp.svg">
                                <p class="flex text-xs">{{job.location}}</p>
                            </div>
                            <div class="flex ml-8">
                                <img class="mr-2" src="../images/apprenticeJobAd/date_range_black_24dp.svg">
                                <p class="flex text-xs"><span class="font-bold">Closing date:&nbsp; </span> {{job.closingDate}}</p>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class=" w-full md:w-4/5 h-20 mx-2 my-2 overflow-hidden">
                        <p class="truncate text-xs">{{job.briefOverview}} </p>
                        <div class="mb-4 mt-2 flex flex-row">
                            <div class="flex">
                            <a href="{{job.slug.current}}">
                            <button class="w-auto h-auto bg-blue-200 text-white rounded-lg p-2 mx-1"> Apply Now</button>
                            </a>
                            <a href="{% if job.pdf %}{{job.pdf}}{% else %}{{job.slug.current}}{% endif %}">
                            <button class="w-auto h-auto bg-blue-200 text-white rounded-lg p-2 mx-1"> Find out more</button>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div>
                    </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {# </div> #}
  </main>
</div>






<script>

let jobAd = [{% for jobAd in apprenticeJobAds %}
  {
    title: '{{ jobAd.jobTitle }}',
    location: '{{jobAd.location}}',
    employer: '{{jobAd.employerName}}',
    standard: '{{jobAd.standard}}'
  },
{% endfor %}];

const searchBar = document.querySelector('#search')
const searchBtn = document.querySelector('#searchBtnJobIndex')
const standardCheckbox = document.querySelectorAll('.apprentince-standard')
const disabiltyCheckbox = document.querySelectorAll('.disability-confident-employer')
const locationCheckbox = document.querySelectorAll('.location')
const employmentTypeCheckbox = document.querySelectorAll('.employment-type')
const resetIcon = document.querySelector('.resetIcon')
const numberOfJobs = document.querySelector('.showing')


let searchString = ''
let filteredAds = []
let filteredbyCheckbox = []
console.log(jobAd)


//function to filter jobs based on input search string, which is called onlick of search button.

function filteredJobs() {
  const filtered = jobAd.filter(job => job.title.includes(searchString) || job.location.includes(searchString) || job.employer.includes(searchString) || job.standard.includes(searchString))
  filteredAds.push(filtered)
  console.log(filtered)
}

function filterByCheck() {
  standardCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedStandardValue = e.target.value
console.log('selectedStandardValue:', selectedStandardValue)
if(jobAd.includes(selectedStandardValue))
console.log(jobAd)
filteredbyCheckbox.push(selectedStandardValue)
console.log(filteredbyCheckbox)
}))
}

filterByCheck()


// use the user input to update the searchString variable
searchBar.addEventListener('keyup', e => {
searchString = e.target.value
return searchString
})


// call filteredJobs function on click of the search button.
searchBtn.addEventListener('click', e => {
  filteredJobs()
console.log('searchString:', searchString)
})

standardCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedStandardValue = e.target.value
console.log('selectedStandardValue:', selectedStandardValue)
}))

disabiltyCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedDisabilityValue = e.target.value
  console.log(selectedDisabilityValue)
}))

locationCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedLocation = e.target.value
  console.log(selectedLocation)
}))

employmentTypeCheckbox.forEach(box => box.addEventListener('click', e => {
  let selectedEmploymentType = e.target.value
  console.log(selectedEmploymentType)
}))

resetIcon.addEventListener('click', e => {
  reset()
console.log('clicked')
  })

let mappedArray = jobAd.map(job => (
  console.log(job.title)
))


function displayNumCourses(){
let numCourses = Array.from(jobAd)
numberOfJobs.innerHTML = `showing: ${numCourses.length}`
console.log('numCourses:', numCourses.length)
}

displayNumCourses()

function reset(){
  let filteredAds = jobAd

  console.log(filteredAds)

}

</script>
