---
layout: hub
location: Leeds Digital Careers Festival 2022 #LCDF22
image_source: lcdf.png
tag: yorkshire-humber
meta_title: Free Digital and Coding Courses across Yorkshire and Manchester | The Coders Guild
meta_description: Register your interest for our free Digital & Coding Courses in Yorkshire and Greater Manchester. Contact The Coders Guild to learn more.
body_class: apprenticeship-employer

---