---
layout: "layouts/default.njk"
title: Logo Test
---



<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    {# <p class="text-center text-base font-semibold uppercase text-gray-600 tracking-wider">
      Trusted by over 5 very average small businesses
    </p> #}
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../images/LocalAuthLogos/dfe.png" alt="Dfe Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../images/LocalAuthLogos/erdf.png" alt="EU regional development fund logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../images/LocalAuthLogos/esf.png" alt="EU Social Fund Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../images/LocalAuthLogos/gmca.png" alt="GMCA Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../images/LocalAuthLogos/lcr.png" alt="Liverpool Combined Authority Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../images/LocalAuthLogos/wyca.png" alt="West Yorkshire Combined Authority Logo">
      </div>
    </div>
  </div>
</div>


