---
layout: "layouts/default.njk"
---
<div class="inner max-w-5xl pt-10 mt-8 mb-8 md:mb-10 text-center">
<h1 class="mt-24">Media Consent Form</h1>
</div>
<div class="inner max-w-5xl pt-2 mt-2 mb-8 md:mb-20">
<p>Sharing the experiences of people like you raises awareness of available training and encourages more people like you to start a career on tech.</p>
<br />
<p>By completing this form, you us give permission to use your story and/or photos in our communications for a period of three years. During this period you can choose to opt out at any time by emailing <a href="mailto:media@thecodersguild.org.uk">media@thecodersguild.org.uk</a></p>
</div>
<div class="inner max-w-5xl pt-2 mt-2 mb-8 md:mb-20">
<form class="w-l flex-1 justify-center" action="https://formspree.io/f/moqyeapj" method="POST">
      <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Full Name</label>
        <div class="mt-1">
          <input
          type="text"
          name="Name"
          id="name"
          placeholder="Enter your name"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>
        <div class="sm:col-span-2">
        <label for="email" class="block text-sm font-medium text-black my-3">Email Address</label>
        <div class="mt-1">
          <input
          type="email"
          name="email address"
          id="email address"
          placeholder="e.g john@email.com"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>
        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Phone Number</label>
        <div class="mt-1">
          <input
          type="tel"
          name="phone number"
          id="phone number"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" />
        </div>
        </div>
          <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Connection to the Coders Guild (if you're taking one of our courses - which one!)</label>
        <div class="mt-1">
          <textarea
          name="Connection to The Coders Guild"
          id="Connection to The Coders Guild"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm">
          </textarea>
        </div>
        </div>
        <div class="flex-column mt-2">
        <label for="photo" class="block text-sm font-medium text-black ">Preferred Photo</label>
        <p class="block text-xs font-small">If you have a particular photo or headshot you would like us to use, please upload it here. </p>
        <input
        type="file"
        class="flex mt-2 mb-4"
        id="photo"
        name="Preferred photo"/>
      </div>
       <div class="flex-column mt-2">
        <label for="date of birth" class="block text-sm font-medium text-black ">Date of Birth</label>
        <input
      class="py-3 px-4 mt-2 block w-full border-1 border-gray-400 rounded-lg shadow-sm"
      type="date"
      placeholder="dd/mm/yyyy"
      name="Date of Birth" />
        </div>
        <div class="flex-column mt-2">
        <label for="postcode" class="block text-md font-medium text-black my-3">Postcode</label>
      <input
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm"
      type="text"
      name="PostCode" />
      </div>

      <label for="Why Coders Guild" class="block text-md font-medium mt-8 mb-4">I give permission for the The Coders Guild to use my image/story on:<br /><span class="text-xs">Please
          select all that apply</span></label>
      <div class="mt-1 mb-2 flex flex-row text-sm font-medium text-black my-3">
        <div class="flex flex-col">
          <div class="flex flex-row">
            <input
            class="flex justify-center mr-4 mt-1"
            type="checkbox"
            id="Permission"
            name="I give permission for The Coders Guild to use my image and story on:"
            value="Publications"/>
            <label for="Publications">Publications: leaflets, posters, newsletters and other marketing materials</label><br>
          </div>

          <div class="flex flex-row">
            <input
            class="mr-4 mt-1"
            type="checkbox"
            id="Permission"
            name="I give permission for The Coders Guild to use my image and story on:"
            value="SSocial media: Twitter, Facebook, Instagram, LinkedIn, Youtube, TikTok"/>
            <label for="Social media">Social media: Twitter, Facebook, Instagram, LinkedIn, Youtube, TikTok</label><br>
          </div>

          <div class="flex flex-row">
            <input
            class="mr-4 mt-1"
            type="checkbox"
            id="websites"
            name="I give permission for The Coders Guild to use my image and story on:"
            value="Websites"/>
            <label for="websites">Websites: Company website, microsites and course companions</label><br>
          </div>

          <div class="flex flex-row">
            <input
            class="mr-4 mt-1"
            type="checkbox"
            id="print"
            name="I give permission for The Coders Guild to use my image and story on:"
            value="Print and online media: National, regional and local papers; magazines and news sites"/>
            <label for="print">Print and online media: National, regional and local papers; magazines and news sites </label><br>
          </div>

           <div class="flex flex-row">
            <input
            class="mr-4 mt-1"
            type="checkbox"
            id="television"
            name="I give permission for The Coders Guild to use my image and story on:"
            value="Television and radio: National and regional television; national, regional and local radio"/>
            <label for="television">Television and radio: National and regional television; national, regional and local radio</label><br>
          </div>

          <div class="flex flex-row">
            <input
            class="mr-4 mt-1"
            type="checkbox"
            id="presentations"
            name="I give permission for The Coders Guild to use my image and story on:"
            value="Presentations: internal and external demos, slideshows and presentations"/>
            <label for="presentations">Presentations: internal and external demos, slideshows and presentations</label><br>
          </div>
          </div>
          </div>

          <div class="flex-column mt-4">
        <label for="email" class="block text-md font-medium text-black my-3">I am happy for my real name to be used</label>
        <div>
          <input
          type="checkbox"
          name="I am happy for my real (first) name to be used"
          id="I am happy for my real (first) name to be used"
          />
        </div>
        </div>

        <div class="flex-column mt-4">
        <label for="email" class="block text-md font-medium text-black my-3">I am happy for my general location to be used<br /><span class="text-xs">e.g Leeds,UK</span></label></label>
        <div>
          <input
          type="checkbox"
          name="I am happy for my general location to be used"
          id="I am happy for my general location to be used"
          />
        </div>
        </div>

        <div class="sm:col-span-2">
        <label for="other preferences" class="block text-md font-medium text-black my-3">Other Preferences<br /><span class="text-xs">Please note any other preferences/ways you would like to be described below. Eg Please don't disclose my age, gender...</span></label>
        <div class="mt-1">
          <textarea
          name="other preferences"
          id="other preferneces"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm">
          </textarea>
        </div>
        </div>

           <div class="flex-column mt-4">
        <label for="TC's" class="block text-md font-medium text-black my-3 mt-2">I agree to the terms and conditions<br /><span class="text-xs">The Coders Guild complies with GDPR and the Data Protection Act 2018 Sarcoma UK is a registered limited company in England and Wales [9622444] <a href="https://thecodersguild.org.uk/pdf/Terms%20and%20Conditions%20v1.2.pdf">Terms and conditions.</a> You can read our privacy policy <a href="https://thecodersguild.org.uk/pdf/Privacy%20Policy%20v1.2.pdf">here</a></span></label>
        <div>
          <input
          type="checkbox"
          name="I agree to the terms and conditions"
          id="I agree to the terms and conditions"
          required
          />
        </div>
        </div>
          <button
                    class="w-lg inline-flex items-center justify-center px-6 py-3 my-3 border-1 rounded-lg shadow-sm text-base font-medium text-white bg-blue-200 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    type="submit">Submit
                  </button>



  </form>
</div>