---
layout: "layouts/default.njk"
---
<div class="inner max-w-5xl pt-10 mt-8 mb-8 md:mb-10 text-center">
<h1 class="mt-24">Media Consent Form</h1>
</div>
<div class="inner max-w-5xl pt-2 mt-2 mb-8 md:mb-20">
<p>Sharing the experiences of people like you raises awareness of available training and encourages more people like you to start a career on tech.</p>
<br />
<p>By completing this form, you us give permission to use your story and/or photos in our communications for a period of three years. During this period you can choose to opt out at any time by emailing <a href="mailto:media@thecodersguild.org.uk">media@thecodersguild.org.uk</a></p>
</div>
<div class="inner max-w-5xl pt-2 mt-2 mb-8 md:mb-20">
<form class="w-l flex-1 justify-center" action="https://formspree.io/f/mnqllpyr" method="POST">
      <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Full Name</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="name" 
          id="name" 
          placeholder="Enter your name"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>
        <div class="sm:col-span-2">
        <label for="email" class="block text-sm font-medium text-black my-3">Email Address</label>
        <div class="mt-1">
          <input 
          type="email" 
          name="email" 
          id="email" 
          placeholder="e.g john@email.com"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>
        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Phone Number</label>
        <div class="mt-1">
          <input 
          type="tel" 
          name="phone" 
          id="phone"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" />
        </div>
        </div>
          <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Connection to the Coders Guild</label>
        <div class="mt-1">
          <textarea  
          name="connection" 
          id="connetion"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm">
          </textarea>
        </div>
        </div>

</form>
</div>