---
layout: blank
permalink: /data/fridaymeeting/trustistwidget/index.html
title: Trustist Widget
index: noindex
---

<div class="py-32 flex flex-col items-center justify-center px-4">
    <script src="https://widget.trustist.com/JgTmKy9K3kqIxBnXqyliBg/trustistreviewer.js"></script>
    <div ts-widget="" ts-border-radius="15px" ts-suppress-review-link="true" ts-reviews-url="/reviews"></div> 
</div>

