---js
{
layout: 'internal-page',
meta_title: 'Reviews',
meta_description: 'See All Our Happy Customer Reviews, From Employers And Apprenticeship Students.',
body_class: 'apprenticeship-employer',
title: 'Reviews',
tagline: 'Our Learners and our Partners talk about our value to them',
heroImage: '/images/group-11.png',
ctas: []
}
---





<div class="container max-w-full md:pt-22 pt-20 bg-white section-rounded">
  {% include './includes/components/home/logos.njk'  %}
      <div class="max-w-3xl mx-auto md:px-16 pb-20">
        <!--START OF TRUSTist REVIEWer CODE - DO NOT CHANGE-->
        <script src="https://widget.trustist.com/JgTmKy9K3kqIxBnXqyliBg/reviewlist.js"></script>
        <div ts-reviewlistwidget ts-page-size="10" class="reviews-component"></div>
        <!--END OF TRUSTist REVIEWer CODE-->
      </div>
      {% include './includes/components/global/testimonials.njk' %}
</div>

<div class="section-rounded">
  {% include './includes/components/employers/case-study.njk' %}
</div>

