---
layout: "layouts/default.njk"
---

<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">

  <div class="inner max-w-5xl pt-20 mt-8 mb-8 md:mb-20 text-center">
  <h1>Staff/ Associate Reference Form</h1>
  </div>

<div class="inner max-w-5xl mb-14 md:mb-20">
  <form class="w-l flex-1 justify-center" action="https://formspree.io/f/mvodleqy" method="POST">

      <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Your Name</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="Your Name" 
          id="name"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 1: Name</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="Reference 1: Name" 
          id="name"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 1: Relationship</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="Reference 1: Relationship" 
          id="Reference 1: Relationship"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 1: Organisation</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="Reference 1: Organisation" 
          id="Reference 1: organisation"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 1: Email</label>
        <div class="mt-1">
          <input 
          type="email" 
          name="Reference 1: email" 
          id="Refence 1: email"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

          <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 1: Phone</label>
        <div class="mt-1">
          <input 
          type="tel" 
          name="Reference1: Phone" 
          id="Reference 1: phone"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 1: Notes</label>
        <div class="mt-1">
          <textarea  
          name="Reference1: Notes" 
          id="Refence 1: notes"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm">
          </textarea>
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 1: Attachements</label>
        <div class="mt-1">
          <input 
          type="file"
          name="Reference 1: Attachements" 
          id="Reference 1: Attachements"
          class="py-3 px-4"
          />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 2: Name</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="Reference 2: Name" 
          id="Reference 2: Name"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 2: Relationship</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="Reference 2: Relationship" 
          id="Reference 2: Relationship"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 2: Organisation</label>
        <div class="mt-1">
          <input 
          type="text" 
          name="Reference 2: Organisation" 
          id="Refence 2: organisation"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 2: Email</label>
        <div class="mt-1">
          <input 
          type="email" 
          name="Reference 2: email" 
          id="Refence 2: email"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" required />
        </div>

          <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 2: Phone</label>
        <div class="mt-1">
          <input 
          type="tel" 
          name="Reference 2: Phone" 
          id="Reference 2: Phone"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" />
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 2: Notes</label>
        <div class="mt-1">
          <textarea  
          name="Reference 2: Notes" 
          id="Reference 2: Notes"
          class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm">
          </textarea>
        </div>

        <div class="sm:col-span-2">
        <label for="name" class="block text-sm font-medium text-black my-3">Reference 2: Attachements</label>
        <div class="mt-1">
          <input 
          type="file"
          name="Refence 2: notes" 
          id="Refence 2: notes"
          class="py-3 px-4"
          />
        </div>
          <button
        class="w-lg inline-flex items-center justify-center px-6 py-3 my-3 border-1 rounded-lg shadow-sm text-base font-medium text-white bg-blue-200 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        type="submit">
        Submit
        </button>
    </form>
    </div>
</main>