---js
{
    layout: "quiz-result",
    permalink: "/quiz/team-with-potential/",
    h1: "Your Team is Growing – Here’s How to Level Up",
    intro: `<p>Your team has a <strong>solid leadership foundation</strong>, and you’re making great progress! Now’s the time to refine your approach, <strong>build on your strengths</strong>, and tackle areas for improvement to reach the next level.</p>
        <p>By <strong>sharpening leadership strategies and creating scalable processes</strong>, you can future-proof your team and <strong>develop a culture of ongoing success.</strong></p>`,
    actions: ["Fine-tune priorities and processes to maximise efficiency.", "Make leadership more intentional and scalable for sustainable growth.", "Invest in proactive skills development to keep your team evolving."],
    course_ids: ['c96b2fdb-c396-4cd0-88a3-9e672e33db5f'],
    consultancy_heading: "Book a Strategy Call to Future-Proof Your Team",
    eleventyComputed: {
        title: "Your Team is Growing – Here’s How to Level Up | Quiz Results from The Coders Guild",
        meta_description: "Thanks you for taking our quiz with The Coders Guild - Your Team is Growing – Here’s How to Level Up! Have a look at our courses to see how we could elevate your performance!",
    }
}

---