---
layout: default
meta_title: "Unlock Your Team’s Leadership Potential in Just 3 Minutes"
meta_description: "Take this quick quiz to assess your team’s strengths, uncover areas for improvement, and receive tailored insights to help your team grow."
permalink: /tech-leadership-quiz/
body_class: hub
---

<div class="bg-grey-100">
    <section class="relative flex flex-col bg-white gap-10">
      <div class="bg-blue-100/5 relative flex flex-col lg:flex-row lg:items-center lg:justify-between gap-8 xl:gap-10 px-6 md:px-24 pt-24 lg:py-32">
        <div class="max-w-5xl xl:max-w-9xl mx-auto flex flex-col lg:flex-row lg:items-center lg:gap-16 xl:gap-40">
          <div class="relative lg:order-2 lg:w-7/12 mb-12 lg:mb-0" style="max-height: 516px;">
            <object class="absolute pattern pattern-2" data="../images/patterns/2.svg" type="image/svg+xml"></object>
            <div class="relative">
              <img src="https://images.unsplash.com/photo-1622675103136-e4b90c9a33d6?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Unlock Your Team’s Leadership Potential in Just 3 Minutes" class="relative rounded-lg shadow-lg w-full h-full object-cover" style="max-height: 516px;" />
              <div class="absolute trustist-box">
                <script src="https://widget.trustist.com/JgTmKy9K3kqIxBnXqyliBg/trustistreviewer.js"></script>
                <div ts-widget="" ts-border-radius="15px" ts-suppress-review-link="true" ts-reviews-url="/reviews"></div>
              </div>
            </div>
          </div>
          <div class="flex flex-col md:items-start gap-4 lg:content-center lg:order-1 lg:w-5/12" style="max-width: 620px;">
            <img src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="The Coders Guild Small Logo" class="w-10 h-7 object-cover rounded-lg">
            <h1 class="mb-0 text-4xl xxxl:text-6xl leading-118">Unlock Your Team’s Leadership Potential in Just 3 Minutes</h1>
            <p class="text-lg leading-7">Take this quick quiz to assess your team’s strengths, uncover areas for improvement, and receive tailored insights to help your team grow.</p>
            <a href="https://t-c-g.typeform.com/to/oAPD13pW" class="bg-gradient-to-r from-blue-200 to-blue-100 text-white py-4 px-4 my-4 rounded font-bold">Start the Quiz Now <i class="fas fa-chevron-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section>

    </section>
    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
        <div class="absolute inset-0 -z-10 overflow-hidden">
          <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
            <defs>
              <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M100 200V.5M.5 .5H200" fill="none" />
              </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
              <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
          </svg>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
          <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
              <div class="lg:max-w-lg flex flex-col items-start gap-4 decorated-list">
                <p class="mt-6 text-gray-700">Great leadership isn’t just about managing—it’s about inspiring, empowering, and guiding your team toward success. In the fast-moving world of tech, agility, collaboration, and strong leadership make the difference between a thriving team and one that struggles to keep up.</p>
                <p>This <strong>3-minute quiz</strong> goes beyond generic assessments—it provides <strong>real, actionable insights</strong> to help you refine your leadership approach and unlock your team’s full potential.</p>
                <a href="https://t-c-g.typeform.com/to/oAPD13pW" class="bg-gradient-to-r from-blue-200 to-blue-100 text-white py-4 px-4 my-4 rounded font-bold">Start the Quiz Now <i class="fas fa-chevron-right ml-2"></i></a>
                <h2 class="mb-0">What you'll get</h2>
                <ul class="list-disc list-inside">
                    <li> A personalised leadership effectiveness score</li>
                    <li>Insights into how your team works and collaborates</li>   
                    <li>Practical recommendations to improve performance</li>    
                </ul>
              </div>
            </div>
          </div>
          <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="image">
          </div>
        </div>
      </div>
      