---
layout: default
title: SME Growth Hub
body_class: hub
---

<section id="course-cta-header" class="fixed top-0 bg-white flex space-between mx-auto z-50 shadow py-2 lg:py-4 w-full">
  <div class="flex inner justify-between items-center">
    <div class="flex items-center">
      <div class="logo mr-8 hidden sm:block">
        <img class="block h-10 md:h-10 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="The Coders Guild Logo">
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      {% include './includes/components/hub/consultation-button.njk' %}
    </div>
  </div>
</section>

<div class="bg-grey-100">
  <section class="relative flex flex-col bg-white gap-10">
    <div class="bg-blue-100/5 relative flex flex-col lg:flex-row lg:items-center lg:justify-between gap-8 xl:gap-10 px-6 md:px-24 pt-24 lg:pt-32 pb-80 md:pb-60">
      <div class="max-w-5xl xl:max-w-9xl mx-auto flex flex-col lg:flex-row lg:items-center lg:gap-16 xl:gap-40">
        <div class="relative lg:order-2 lg:w-7/12 mb-12 lg:mb-0" style="max-height: 516px;">
          <object class="absolute pattern pattern-2" data="../images/patterns/2.svg" type="image/svg+xml"></object>
          <div class="relative">
            <img src="../images/learner-images/learners-in-agile-software-development.jpeg" alt="Learners in agile software development" class="relative rounded-lg shadow-lg w-full h-full object-cover" style="max-height: 516px;" />
            <div class="absolute trustist-box">
              <script src="https://widget.trustist.com/JgTmKy9K3kqIxBnXqyliBg/trustistreviewer.js"></script>
              <div ts-widget="" ts-border-radius="15px" ts-suppress-review-link="true" ts-reviews-url="/reviews"></div>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:items-start gap-4 lg:content-center lg:order-1 lg:w-5/12" style="max-width: 620px;">
          <img src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="The Coders Guild Small Logo" class="w-10 h-7 object-cover rounded-lg">
          <h1 class="mb-0 text-4xl xxxl:text-6xl leading-118">Empower Your SME with Cutting-Edge Tech Skills</h1>
          <p class="text-lg leading-7">Enhance your team’s capabilities with government-funded tech training. Book a free consultation today and discover how our bespoke training plans can upskill your team and boost productivity.</p>
          {% include './includes/components/hub/consultation-button.njk' %}
        </div>
      </div>
    </div>
    <div class="hero-info">
      <div class="flex flex-col items-center gap-8 flex-1">
        <h2 class="mb-0">Welcome to The Coders Guild</h2>
        <p class="leading-7">In today's fast-paced business environment, staying ahead of the curve is essential. At The Coders Guild, we specialise in transforming your team’s potential through expert-led, government-funded tech training. Whether you're looking to upskill your existing team or onboard new talent, our tailored training plans ensure your business thrives.</p>
      </div>
    </div>
  </section>
  
  <!-- Why Upskill -->
  <section class="flex pt-80 md:pt-60 px-6 xl:px-48 lg:px-24 mx-auto pb-8">
    <div class="flex flex-col lg:flex-row lg:justify-between  gap-10 max-w-7xl mx-auto">
      <div class="flex flex-col items-start gap-8 decorated-list lg:w-5/12">
        <h2 class="mb-0 leading-120">Why Upskill Your Team?</h2>
        <p class="leading-200 text-md">Investing in your team's development isn't just about new skills—it's about driving your business forward. By accessing government funding, you can:</p>
        <ul class="text-lg leading-7 ml-4">
          <li> Enhance productivity and efficiency.</li>
          <li> Boost employee morale and retention.</li>
          <li> Increase your team’s billable rate with advanced tech skills.</li>
        </ul>
        {% include './includes/components/hub/consultation-button.njk' %}

      </div>
      <div class="bg-grey-2000 h-full w-full lg:w-6/12">
        <img src="../images/learner-images/upskilling-your-team.jpg" alt="Upskill yuor Team with The Coders Guild" class="w-full h-full object-cover">
      </div>
    </div>
  </section>
  
  <!--Our Approach -->
  <section class="flex pt-4 pb-8 px-6 xl:px-48 lg:px-24 mx-auto ">
    <div class="flex flex-col lg:flex-row lg:justify-between  items-start gap-10 max-w-7xl mx-auto">
      <div class="flex flex-col items-start gap-8 decorated-list lg:order-2 lg:w-5/12">
        <h2 class="mb-0 leading-120">Our Approach to Training</h2>
        <p class="text-wrap leading-200 text-md">At The Coders Guild, we understand that every business is unique. Our bespoke training plans are tailored to align with your specific needs, systems, and tools, ensuring maximum relevance and impact.</p>
        <ul class="text-lg leading-7 ml-4">
          <li>Customised Learning Journeys: Training programs designed to fit your business processes and technologies.</li>
          <li>Industry-Led Curriculum: Courses crafted by professionals actively working in the field.</li>
          <li>Practical Skills Application: Focused on real-world application and immediate relevance.</li>
        </ul>
      </div>
      <div class="bg-grey-2000 h-full w-full lg:w-6/12">
        <img src="../images/learner-images/upskilling-your-team-2.jpg" alt="Upskill yuor Team with The Coders Guild" class="w-full h-full object-cover">
      </div>
    </div>
  </section>
  
  <!-- Featured Courses and Meet The Trainers -->
  <section class="flex flex-col items-start justify-center py-16 px-6 xl:px-48 lg:px-24 gap-24 bg-gradient-to-r from-blue-100 to-blue-200">
    <div class="flex flex-col gap-10 self-stretch">
      <div class="flex flex-col justify-center items-center gap-2 text-white text-center">
        <h2 class="font-bold text-white text-center leading-120">Featured Courses and Apprenticeships</h2>
        <p class="text-white text-center leading-200 text-md">Explore our range of training programs designed to meet the evolving needs of the tech industry:</p>
      </div>
      <div id="course-grid-container" class="relative" data-cards="4">
        <object class="absolute pattern pattern-12" data="../images/patterns/12.svg" type="image/svg+xml"></object>
        <object class="absolute pattern pattern-1212" data="../images/patterns/11.svg" type="image/svg+xml"></object>


        {% include './includes/components/global/course-carousel.njk' %}
      </div>
    </div>
    <div class="flex flex-col gap-y-12">
      <h2 class="text-white text-center leading-120">Meet the Trainers</h2>
      <div class="flex flex-wrap md:items-start items-start justify-center gap-y-8 self-stretch mx-auto">
        {% for trainer in trainers %}
          <div class="flex flex-col py-0 px-8 justify-center items-center gap-6 w-6/12 lg:w-1/4">
            <img src="{{ trainer.image }}" alt="{{ trainer.name }}'s profile picture" class="border-4 border-blue-100 w-28 h-28 lg:w-40 lg:h-40 object-cover rounded-full">
            <div class="flex flex-col gap-2 leading-5">
              <p class="text-white font-semibold text-center font-2xl">{{trainer.name}}</p>
              <p class="text-white text-center text-md">{{ trainer.occupation }}</p>
              <div class="flex justify-center">
                {% if trainer.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ trainer.linkedin }}" class="p-2">
                    <span class="sr-only">Linkedin</span>
                    <img src="../../images/icons/linkedin.svg" class="h-4"/>
                    </a>
                {% endif %}
                {% if trainer.twitter %}
                    <a href="https://x.com/{{ trainer.twitter }}" class="p-2">
                    <span class="sr-only">Twitter</span>
                    <img src="../../images/icons/twitter.svg" class="h-4"/>
                    </a>
                {% endif %}
                {% if trainer.github %}
                    <a href="https://www.github.com/{{ trainer.github }}" class="p-2">
                    <span class="sr-only">Github</span>
                    <img src="../../images/icons/github.svg" class="h-4"/>
                    </a>
                {% endif %}
            </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  
  </section>

  <section id="contact" class="flex justify-center items-center gap-36 bg-gradient-to-r from-red-1000 to-purple-1000">
    <div class="max-w-screen-2xl mx-auto py-32 ">
        <div class="mx-auto flex flex-col lg:flex-row justify-center items-center flex-1 gap-8 lg:gap-36 px-6 md:px-12 lg:px-32">
            <div class="flex flex-col items-start gap-8 lg:w-5/12 w-full text-white">
                <h2 class="text-white text-4xl leading-112">Join Our Next Cohort</h2>
                <p class="text-white text-md leading-200">Find out how The Coders Guild can maximise your teams potential through industry led, community driven training.</p>
                <a href="#" data-modal="book-a-call-calendly" class="bg-white rounded font-bold flex items-center justify-center gap-2 p-4 text-blue-200">Book a Call <i class="ml-2 fa-solid fa-chevron-right"></i></a>
                <p class="text-white font-bold leading-112">Let’s maximise your team’s potential together!</p>
            </div>
            <div class="w-full lg:w-7/12">
                {% include './includes/components/forms/blog-eoi.njk' %}
            </div>
        </div>
    </div>
</section>
  
  <!-- testimonial -->
  
  <section class="px-6 xl:px-48 lg:px-24">
    <div class="max-w-4xl mx-auto flex flex-col lg:flex-row lg:justify-center md:items-center lg:items-start lg:py-32 relative gap-8">
      <div class="flex flex-col gap-8 mt-16 lg:w-6/12">
        <h2 class="mb-0 text-5xl leading-120">Success Stories</h2>
        <p class="text-lg leading-7">See how our training has transformed businesses</p>
      </div>
      <div class="lg:w-6/12">
        <img class="w-full object-cover rounded-2xl shadow" src="../images/testimonials/sam-brand-ambition.png" alt="Sam from Brand Ambition Leeds credits The Coders Guild with transforming his team" style="height: 562px;" />
      </div>
      <div class="testimonial-body lg:absolute -mt-48 bg-white overflow-hidden rounded-3xl shadow-lg">
        <div class="relative p-10 flex flex-col items-start gap-4">
          <object class="absolute pattern pattern-460" data="../images/patterns/460.svg" type="image/svg+xml"></object>
          <img class="w-48 h-14 object-cover rounded-3xl" src="../images/company-logos/brand-ambition.png" alt="Brand Ambition Logo" />
          <p class="leading-2xl text-xl">"Partnering with The Coders Guild has not only upskilled our team but ingrained a culture of innovation and agility in our operations. Our turnover increased significantly thanks to their funded training programs."</p>
          <p class="text-blue-100 font-bold text-lg">Sam, Brand Ambition</p>
        </div>
        
      </div>
    </div>
  </section>

  <!-- Getting Started -->
  <section class="lg:px-24 xl:px-48 px-6 py-20">
    <div class="max-w-screen-xl mx-auto flex flex-col relative gap-8">
      <div class="flex flex-col items-center gap-8">
        <h2 class="mb-0 leading-112">Getting Started</h2>
        <p class="text-lg leading-7 text-center text-dark">Ready to transform your team? Follow these simple steps:</p>
      </div>
      <div class="flex flex-col gap-y-12 md:flex-row items-start justify-between">
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/Conversation.svg" alt="get in touch">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">1. Get in Touch</h3>
            <p class="text-sm leading-5">Use our chat feature or fill out the contact form.</p>
          </div>
        </div>
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/session_icon.svg" alt="schedule a consultation (BELOW)">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">2. Schedule a Consulatation</h3>
            <p class="text-sm leading-5">Book your free consultancy session</p>
          </div>
        </div>
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/plan.svg" alt="Receive Your Training Plan">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">3. Receive Your Training Plan</h3>
            <p class="text-sm leading-5 mb-0">We'll handle the paperwork and setup.</p>
          </div>
        </div>
        <div class="flex flex-col flex-0 items-center items-start gap-4 w-full md:w-6/12 lg:w-2/12">
          <img class="h-12 w-12" src="../images/icons/part_time_icon.svg" alt="Start training with The Coders Guild">
          <div class="flex flex-col text-center gap-4">
            <h3 class="text-md leading-lg mb-0">4. Start Training</h3>
            <p class="text-sm leading-5">Begin your tailored training program and watch your business grow.</p>
          </div>
        </div>
      </div>

    </div>
  </section>


  <!-- CTA Section -->
  <section class="bg-gradient-to-r from-red-1000 to-purple-1000 flex items-start self-stretch gap-4 px-6 lg:px-24 xl:px-48 py-8 lg:py-32">
    <div class="flex flex-col lg:flex-row justify-between items-center lg:items-start flex-1 gap-10">
      <div class="w-full lg:w-5/12 flex flex-col items-start gap-10 lg:gap-14 text-white decorated-list white">
        <h2 class="mb-0 text-white text-5xl lg:text-6xl font-bold leading-112">Book Your Free Consultancy</h2>
        <p class="text-white text-md leading-200">Take advantage of our limited-time offer: three free consultancy sessions per week for the next six weeks. <strong>Book a 45-minute session with Crispin Read</strong>, our founder and CEO, to discover how your SME can benefit from government-funded training.</p>
        <ul class="flex flex-col items-start gap-2 text-md leading-lg xl:text-xl">
          <li>Get a Personalized Skills Gap Analysis</li>
          <li>Discover Available Funding Opportunities</li>
          <li>Receive a Customized Training Plan</li>
        </ul>
      </div>
      <div class="w-full lg:w-6-12">
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/crispin_read/skills-gap-consultancy?hide_event_type_details=1&hide_gdpr_banner=..." style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        <!-- Calendly inline widget end --></div>
    </div>
  </section>

  {% include './includes/components/hub/faqs.njk' %}
</div>
