---js
{
  'layout': 'landing',
  'body_class': 'hub',
  'title': 'Master UX & CX Design with The Coders Guild',
  'tagline': 'Design seamless user and customer experiences that drive satisfaction and business growth. Our UX/CX courses equip you with the skills to create intuitive interfaces and improve the end-to-end customer journey.',
  'featured_image':  {
    'src': '../images/learner-images/learners-in-agile-software-development.jpeg',
    'alt': 'Learners in UX & CX Design',
    },
  'skills_relevance_title': "Why UX & CX Design Matter",
  'skills_relevance': "In today’s hyper-connected world, User Experience (UX) and Customer Experience (CX) are at the heart of every successful business. A well-crafted UX keeps users engaged, while a seamless CX ensures customer satisfaction across all touchpoints, from browsing a website to completing a purchase.",
  'trainer_ids': [
    '6300c985-ee97-47d9-8f84-2b434b1279bc',
    ],
  'testimonial_id': '8cd390ce-8641-41fb-8692-98b7a72207e3',
  'course_ids': [
      '6c59beea-135f-4b3b-88b3-551d10679f4f',
      'ea1c43f7-abda-4244-b10d-6ae0c0a70327',
    ],
  'blog_ids': [
      'caa1374c-6087-483b-ad5e-6d228fc3a95a',
      'a4684415-3e56-4b04-b923-7276b213f293',
      '056ae3bc-fa8b-48d2-b5c7-f23e04bdd9cc'
    ],

  
}

---

