---
layout: hub
location: West Yorkshire
image_source: halifax.jpg
tag: wyca
meta_title: Free Digital and Coding Courses in West Yorkshire | The Coders Guild
meta_description: Free Digital and Coding Courses in WEst Yorkshire | The Coders Guild
body_class: apprenticeship-employer
---