---js
{
    layout: 'internal-page',
    meta_title: 'Coding Apprenticeships & Digital Skills Training',
    meta_description:'We are the leading Software Development Apprenticeships and Software Testing Training provider. Get in touch to discover our coding courses & bootcamps.',
    body_class: 'home',
    title: 'Women Leaders in the Digital Age',
    tagline: 'Supporting Neurodiverse Women Leaders in their pursuit of greatness',
    heroImage: 'https://images.unsplash.com/photo-1590650516494-0c8e4a4dd67e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8d29tZW4lMjBsZWFkZXJzJTIwdGVjaHxlbnwwfHwwfHx8MA%3D%3D'
}
---
<div class="bg-white section-rounded">

  <div class="bg-white py-24 sm:py-16">
    {# pitch and image #}
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-7xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-4">
          <div class="relative rounded-3xl bg-gray-900 shadow-2xl lg:max-w-lg">
            <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1581092581294-a030b4f01a11?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdvbWVuJTIwaW4lMjBtZWV0aW5nfGVufDB8MXwwfHx8MA%3D%3D" alt="Women leading in tech!">
          </div>
        </div>
        <div>
          <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
            <h3 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Navigating Leadership: A Dedicated Program for Women in Tech</h3>
            <div class="max-w-xl">
              <p class="mt-6">The Coders Guild's Women's Leadership Course is a groundbreaking initiative aimed at equipping women and non-binary individuals with the skills to excel in tech leadership. This course is particularly tailored for those with neurodiverse profiles, providing them with tools to navigate the digital world effectively.</p>
              <p class="mt-8">Take this chance to transform your career. This course is a step towards a more empowered, balanced, and successful professional life in tech.</p>
              <p class="mt-8">Enrolment is open now, spots are limited to 32 and are filling fast. Be part of a course that's more than just learning; it's about transforming and leading in the digital age.</p>
            </div>
          </div>
          <dl class="mt-10 grid grid-cols-1 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-3">
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Tech Leadership Roles held by women</dt>
              <dd class="mt-2 text-xl font-bold leading-10 tracking-tight text-gray-900">25%</dd>
            </div>
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Workers who are neurodiverse</dt>
              <dd class="mt-2 text-xl font-bold leading-10 tracking-tight text-gray-900">20%</dd>
            </div>
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Age of neurodiversity diagnosis in women</dt>
              <dd class="mt-2 text-xl font-bold leading-10 tracking-tight text-gray-900">Late 30's (compared to age 7 for men)</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>

    {# course instances #}


    <div class="bg-white py-4 sm:py-16 mt-8 content">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-4xl sm:text-center">
          <h2 class="text-base font-semibold leading-7 text-blue-200 text-lg">Upcoming Delivery</h2>
          <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Choose the best delivery for you</p>
        </div>
        <div class="mt-20 flow-root">
          <div class="isolate -mt-16 grid grid-cols-1 place-items-center gap-y-8 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none md:grid-cols-2 lg:divide-x lg:divide-y-0 xl:-mx-4">
            <div class="pt-8 md:px-8 lg:pt-0 xl:px-4 self-start">
              <h3 class="text-base font-semibold leading-7 text-gray-900 text-center md:text-left">Week Commencing</h3>
              <p class="mt-6 items-baseline gap-x-1 text-center md:text-left">
                <span id="date" class="text-2xl font-bold text-gray-900">15th January 2024</span>
              </p>
              <a href="https://forms.gle/RrPafeNmXX1FBoet8" target="_blank" aria-describedby="date" class="mt-10 inline-block w-full justify-center items-center bg-gradient-to-r from-blue-200 to-blue-100 px-2 py-4 text-white text-center rounded my-6 w-6/12 font-bold">
                <span class="text-white">Apply Now</span>
                <svg class="svg-inline--fa fa-chevron-right ml-2 text-white !important
                " aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
              </a>
              <ul class="mt-2 lg:mt-10
              text-sm font-semibold leading-6 text-gray-900">
                <li>Runs on Fridays</li>
                <li>Additional lunchtime webinars</li>
                <li>2 in person Saturday workshops (TBC)</li>
              </ul>
            </div>

            <div class="pt-8 md:px-8 lg:pt-0 xl:px-4 self-start border-none">
              <h3 class="text-base font-semibold leading-7 text-gray-900 text-center md:text-left">Week Commencing</h3>
              <p class="mt-6 items-baseline gap-x-1 text-center md:text-left">
                <span id="date" class="text-2xl font-bold text-gray-900">15th January 2024</span>
              </p>
              <a href="https://forms.gle/RrPafeNmXX1FBoet8" target="_blank" aria-describedby="date" class="mt-10 inline-block w-full justify-center items-center bg-gradient-to-r from-blue-200 to-blue-100 px-2 py-4 text-white text-center rounded my-6 w-6/12 font-bold">
                <span class="text-white">Apply Now</span>
                <svg class="svg-inline--fa fa-chevron-right ml-2 text-white !important
                " aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
              </a>
              <ul class="mt-2 lg:mt-10
              text-sm font-semibold leading-6 text-gray-900">
                <li>Runs mainly on Tuesday evenings</li>
                <li>Additional lunchtime webinars</li>
                <li>2 in person workshops (dates TBC)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  {# banner cta #}
  <div class="relative my-4 lg:my-8 max-w-5xl mx-auto content">
      <div class="flex justify-between">
          <object type="image/svg+xml" data="../../../images/patterns/98.svg" class="absolute pattern pattern-98 left-0 hidden lg:block"></object>
          <object type="image/svg+xml" data="../../../images/patterns/99.svg" class="absolute pattern pattern-99 right-0 hidden lg:block"></object>
      </div>
      <div>
          <h2 class="mt-12 mb-0 text-center text-blue-200">Would you like to do this course for free?</h2>
          <h2 class="mb-12 text-center text-red-100"><span class="strikediag">£2995</span></h2>

          <div class="cta bg-gradient-to-r from-blue-200 to-blue-100 flex flex-col lg:flex-row justify-between px-8 py-4 rounded">
          <p class="text-center lg:text-left text-white max-w-3xl leading-xl lg:leading-md text-lg mb-4 lg:mb-0 lg:w-9/12">If you live or work in  <strong>West Yorkshire</strong> it is very likely that you will be eligible for <strong>100% funding.</strong></p>
          <a href="https://forms.gle/RrPafeNmXX1FBoet8" class="flex items-center justify-center lg:justify-start bg-white px-12 py-2 lg:py-0 text-lightblue-500 rounded text-center" target="_blank">Apply Now <i class="ml-2 fa-solid fa-angle-right"></i></a>
          </div>
      </div>
      <div class="flex items-center justify-around mx-auto mt-8 w-full sm:w-7/12">
          <p class="bg-green-100 text-center text-black text-sm sm:text-md rounded px-4 py-2">Next Course Starts: <strong>15th January 2024</strong></p>
      </div>
  </div>
</div>
