---
layout: hub
location: York and North Yorkshire
image_source: york-digital-skills.jpg
tag: yny
meta_title: Free Digital and Coding Courses in York and North Yorkshire | The Coders Guild
meta_description: Free Digital and Coding Courses in York and North Yorkshire | The Coders Guild
body_class: apprenticeship-employer
---