<div class="bg-white section-rounded">
  <div class="bg-white py-24 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-7xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-4">
          <div class="relative rounded-3xl bg-gray-900 shadow-2xl lg:max-w-lg">
            <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1581092581294-a030b4f01a11?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdvbWVuJTIwaW4lMjBtZWV0aW5nfGVufDB8MXwwfHx8MA%3D%3D" alt="Women leading in tech!">
          </div>
        </div>
        <div>
          <div class="text-base leading-7 text-gray-700 lg:max-w-lg">
            <h3 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Navigating Leadership: A Dedicated Program for Women </h3>
            <div class="max-w-xl">
              <p class="mt-6">The Coders Guild's Women's Leadership Course is a groundbreaking initiative aimed at equipping women and non-binary individuals with the skills to excel in tech leadership. This course is particularly tailored for those with neurodiverse profiles, providing them with tools to navigate the digital world effectively.</p>
              <p class="mt-8">Take this chance to transform your career. This course is a step towards a more empowered, balanced, and successful professional life in tech.</p>
              <p class="mt-8">Enrolment is open now, spots are limited to 32 and are filling fast. Be part of a course that's more than just learning; it's about transforming and leading in the digital age.</p>
            </div>
          </div>
          <dl class="mt-10 grid grid-cols-1 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-3">
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Tech Leadership Roles held by women</dt>
              <dd class="mt-2 text-xl font-bold leading-10 tracking-tight text-gray-900">25%</dd>
            </div>
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Workers who are neurodiverse</dt>
              <dd class="mt-2 text-xl font-bold leading-10 tracking-tight text-gray-900">20%</dd>
            </div>
            <div>
              <dt class="text-sm font-semibold leading-6 text-gray-600">Age of neurodiversity diagnosis in women</dt>
              <dd class="mt-2 text-xl font-bold leading-10 tracking-tight text-gray-900">Late 30's (compared to age 7 for men)</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>