
<div class="md:flex md:flex-col lg:flex-row md:mb-16 mb-14">
    <div class="lg:max-w-sm lg:pr-12 mb-12 lg:mb-0">
    <h3 class="text-white">Our Available Apprenticeships & Digital Courses {{ page.url }}</h3>
    <p class="text-white mb-6">Kick-start your new career with proper training and support from industry experts. Check out our <a class="text-white border-b-2 border-white" href="/course-directory/">course directory</a>. Our expertise covers a range of training options, such as coding bootcamps, courses in user experience design, and junior web development apprenticeships. We also offer workshops and immersive courses to meet all needs. Whether you're looking for a short course, a full-immersive experience or a <a class="text-white" href="/apprenticeships/">digital skill apprenticeship</a>, we have the perfect options to broaden your skillset and boost your job prospects.</p>
    <a href="https://forms.gle/HWEdypZ5uuNzbGNJ9" class="inline-block text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Apply for an apprenticeship!<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
    </div>



    <div class="grid grid-cols-1 sm:grid-cols-2 place-items-center">
    {% for course in courses %}
        {% if course.courseType === "Apprenticeships" and course.isActive  %}
        {% if page.url === '/apprenticeships/' %}
            {% set modifiedTitle = course.title | courseDisplay %}
        {% else %}
            {% set modifiedTitle = course.title %}
        {% endif %}

            <div class="md:flex md:flex-col items-stretch mx-4 mb-4 p-4 w-full h-full px-4">
            <div class="flex items-stretch h-full w-full">
                <div class="bg-white px-6 py-8 rounded-lg shadow-primary w-full">
                <div class="flex flex-col items-start">
                    <object type="image/svg+xml" data="../images/icons/Group-79.svg" class="mb-2"></object>
                    <h3 class="text-xl leading-lg mb-0">{{ modifiedTitle }}</h3>
                    <div class="mt-auto">
                    <p class="font-bold leading-sm font-heading mb-4">{% if page.url === '/apprenticeships/' %}{{ course.title }}{% else %}I want to...{% endif %}</p>
                    <div class="mb-4">
                        <a href="/course-directory/{{ course.slug.current }}/" class="inline-block bg-blue-200 text-white font-heading font-bold text-md leading-sm py-2 px-6 rounded whitespace-no-wrap">Find out more!</a>
                    </div>
                    <div>
                        <a href="#" data-modal="book-a-call-calendly" class="bookacall inline-block bg-red-100 text-white font-heading font-bold text-md leading-sm py-2 px-6 rounded whitespace-no-wrap">Hire our next star!</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
