<footer class="border-t-2 border-grey-100">
  <div class="py-12 inner sm:px-4 lg:px-8 lg:max-w-screen-xl">
    <div class="flex justify-between flex-wrap sm:-mx-3 lg:mx-auto">

      <div class="lg:w-auto mb-6 sm:mb-12 lg:mb-0 w-full sm:w-1/2 sm:px-6 lg:px-0">
        <div class="mb-5">
          <img src="../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" class="block h-16" />
        </div>
        <p>Industry led, community driven.</p>
      </div>

      <div class="lg:py-10 mb-6 sm:mb-12 lg:mb-0 lg:w-3/12 w-full sm:w-1/2 sm:px-6 lg:px-0 lg:ml-auto">
        <div class="">
          <h5 class="uppercase text-blue-200 font-semibold">Contact us</h5>
          <p class="">Duke Studios, 3 Sheaf St</p>
          <p class="mb-4">Leeds LS10 1HD</p>
          <p class="mb-4 font-semibold text-blue-200">0113 460 1024</p>
          <ul class="flex -mx-1">
            {% for social in navigation.social_links %}
              <li class="px-1">
                <span class="sr-only">Find us on {{ social.label }}</span>
                <a href="{{ social.url }}" class="rounded h-10 w-10 lg:h-8 lg:w-8 flex justify-center items-center bg-blue-100">
                  <i class="fab {{ social.icon }} text-white"></i>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {% for group in navigation.footer %}
        <div class="lg:py-10 mb-6 sm:mb-12 lg:mb-0 lg:w-3/12 w-full sm:w-1/2 sm:px-6 lg:px-0">
          <div class="border-b-2 border-grey-100 sm:border-none">
            <button class="sm:hidden flex justify-between items-center w-full footer-dropdown relative toggle-show-hide mb-3">
              <h5 class="uppercase text-blue-200 font-semibold mb-0">{{ group.title }}</h5>
              <i class="fas fa-angle-down text-blue-200"></i>
            </button>
            <h5 class="hidden sm:block uppercase text-blue-200 font-semibold">{{ group.title }}</h5>
            <ul class="footer-dropdown-content h-auto max-h-0 opacity-0 sm:opacity-100 transition-all ease-in duration-150">
              {% for link in group.links %}
                <li class="mb-2">
                  <a href="{{ link.url }}" class="block text-black">{{ link.label }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}

      <div class="lg:py-10 mb-6 sm:mb-12 lg:mb-0 lg:w-auto w-full bg-white sm:w-1/2 sm:px-6 lg:px-0">
        <div class="flex flex-wrap sm:block lg:mx-0">
          <div class="mb-4 pr-6 sm:pr-0 sm:mb-4">
            <img src="../../images/apprenticeships-logo.png" alt="" class="h-12 w-auto block relative" />
          </div>
          <div class="mb-4 pr-6 sm:pr-0 sm:mb-4">
            <img src="../../images/european-structural-investment-funds.png" alt="" class="h-12 w-auto block relative" />
          </div>
          <div class="">
            <img src="../../images/dcc.png" alt="" class="h-12 w-auto block relative" />
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="bg-blue-200">
    <div class="inner sm:px-4 lg:px-8 lg:max-w-screen-xl py-2">
      <div class="flex -mx-6 flex-wrap">
        <div class="text-white lg:text-xs px-6 mb-1 md:mb-0 text-xs">&copy; 2020 Workflow, Inc. All rights reserved.</div>
        <div class="text-white lg:text-xs px-6 mb-1 md:mb-0 text-xs">Reg England and Wales: 9622444</div>
        <div class="text-white lg:text-xs px-6 text-xs">UKPRN 10058030</div>
      </div>
    </div>
  </div>
</footer>