<div class="rounded bg-blue-200 lg:p-4 py-8 px-6 flex lg:flex-row flex-col get-in-touch items-center">
  <div class="lg:mr-4 lg:mb-0 mb-6">
    <img class="h-10 w-10 block" alt="" src="../images/logo/TGC_Square_Logo_White.svg"/>
  </div>
  <div class="cta__text">
    <p class="text-lg leading-xl font-bold text-white text-center lg:text-left lg:mb-0 mb-6">We’re really proud of what we do and love talking with local businesses about it. 
    Chat with us now to find out how your team could benefit.</p>
  </div>
  <div class="lg:ml-auto">
    <a href="" class="bookacall-f-btn text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap" data-modal="book-a-call">Get in touch today<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
  </div>
</div>