<header class="header fixed w-full z-10 transition-colors duration-500 ease-in" id="header">
  <div>
    <div class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl">
      <div class="flex justify-between items-center w-full py-6">

        {% include "components/global/logo.njk" %}
        {% include "components/global/nav.njk" %}
        
      </div>
    </div>
  </div>

</header>
