<section id="hero relative section-rounded min-vh-50">
  <object type="image/svg+xml" data="../../images/patterns/280.svg" class="hidden lg:block absolute pattern pattern-280"></object>
    <div class="flex flex-col items-center justify-center md:px-20 relative sm:pt-10 md:pt-24 min-h-80 rounded" style="background-image: url(../../images/gradient-background.svg); background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="flex flex-col">
        <div class="flex flex-col lg:flex-row container">
          <div class="lg:w-6/12 order-2 lg:order-1">
            <header class="md:w-8/12">
              <h1 class="md:pt-12 text-blue-200 text-4xl leading-4xl sm:text-5xl sm:leading-5xl mb-2">{{ title }}</h1>
              <h2 class="mb-2 text-2xl sm:text-2xl text-black leading-3xl sm:leading-4xl">{{tagline}}</h2>
            </header>
          </div>
          <div class="lg:w-6/12 pt-24 lg:pt-0 order-1 lg:order-2 flex items-center justify-center mb-6 lg:mb-0">
            <img src="{{ image }}" class="rounded-lg aspect-[4/3] z-20" alt="{{ title }}" />
            <object type="image/svg+xml" data="../../images/patterns/145.svg" class="hidden lg:block absolute pattern pattern-145"></object>
          </div>
        </div>
      </div>
    </div>
  </section>