<div class="relative isolate overflow-hidden section-rounded">
  <div class="absolute inset-0 bg-blue-200 -z-20"></div>
    <img src="{{heroImage}}" alt="The Coders Guild - providers of quality IT further education, apprenticeships and bootcamps" class="-z-1 absolute inset-0 -z-10 h-full w-full object-cover saturated-image">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="text-center text-white px-2 lg:px-0">
        <h1 class="text-4xl font-bold tracking-loose leading-none text-white sm:text-6xl">{{title}}</h1>
        <p class="mt-6 text-2xl leading-8 text-white">{{tagline}}</p>
        {% if page.url === '/reviews/' %}
          <div class="mt-10 flex flex-col sm:flex-row gap-y-8 items-center justify-center gap-x-6">
            <a href="https://www.trustistreviewer.com/Survey/eEtNYvDPNUCgGxnXqyliBw.html" target="_blank" class="text-lg font-semibold leading-6 bg-white text-blue-200 rounded hover:bg-grey-200 px-3 py-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-400">Leave us a review! <i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
          </div> 
        {% endif %}
      </div>
    </div>
  </div>