
{% if page.url === '/course-directory/get-hired-as-a-software-tester/' or page.url === '/course-directory/get-hired-as-a-ux-professional/' or page.url === '/course-directory/digital-project-manager/' or page.url === '/course-directory/essential-skills-for-your-tech-career/' or page.url === '/course-directory/ux-in-5-days/' or page.url === '/course-directory/problem-solving-with-javascript/' or page.url === '/course-directory/source-control-and-workflows-with-git-5-day/' or page.url === '/course-directory/practical-agile-in-5-days/'  %}
<div class="flex justify-between pb-4 sm:pb-0">
  <div class="flex flex-col sm:flex-row items-center justify-center flex-wrap">
    <a href="/" class="no-underline block">
      <img class="block h-12 md:h-14 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="Workflow logo" />
    </a>
      <img class="block h-12 md:h-14 w-auto mt-4 sm:mt-0 ml-4" src="../../images/LocalAuthLogos/skills_for_growth.png"  alt="Department for Education Logo">
      <img class="block h-12 md:h-14 w-auto mt-4 sm:mt-0 ml-4" src="../../images/LocalAuthLogos/european_union_social.png"  alt="EU Reginonal Development Fund Logo">
  </div>
</div>
{% else %}
<div class="flex justify-between pb-4 sm:pb-0">
  <div class="flex items-center justify-center flex-wrap">
    <a href="/" class="no-underline block">
      <img class="block h-12 md:h-14 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="Workflow logo" />
    </a>
  </div>
</div>
{% endif %}