
<div class="flex justify-between z-20">
  <div class="flex-shrink-0 flex items-center">
    <a href="/" class="no-underline block">
      <img class="block h-12 md:h-14 w-auto" src="../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="Workflow logo" />
    </a>
  </div>
</div>
