<div class="nav">
  <div class="md:hidden">
    <button id="nav-toggle" class="burger relative block z-20">
      <span class="block bg-blue-100 rounded"></span>
      <span class="block bg-blue-100 rounded"></span>
      <span class="block bg-blue-100 rounded"></span>
    </button>

    <div class="mobile-nav-container opacity-0 fixed z-10 h-full flex bg-white">
      <nav id="mobile-nav" class="inner">
        <ul class="py-24">
        {% for nav_link in navigation.main %}
          <li class="my-8 text-center">
            <a href="{{ nav_link.url | safe }}" class="block py-2 font-bold font-heading text-black capitalize text-3xl leading-4xl">{{ nav_link.label | safe }}
            </a>
          </li>
        {% endfor %}
          <li class="mt-6 text-center">
            <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fionathecodersguild/quick-call?hide_event_type_details=1'});return false;" class="bookacall-c-btn block sm:inline-block sm:px-24 py-2 font-bold bg-blue-200 text-white rounded font-heading text-2xl leading-2xl">Book a Call</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


  <nav id="nav-links" class="nav-links hidden md:block">
    <div class="nav-links-inner">
      <ul class="flex -mx-3">
      {% for nav_link in navigation.main %}
        <li class="px-4">
          <a href="{{ nav_link.url | safe }}" class="block py-2 font-bold text-grey-300 font-heading hover:text-blue-200 focus:text-blue-100 active:text-blue-100 capitalize">{{ nav_link.label | safe }}
          </a>
        </li>
      {% endfor %}
        <li class="px-3">
          <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fionathecodersguild/quick-call?hide_event_type_details=1'});return false;" class="bookacall-c-btn block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100">Book a Call</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
        
    
