<div class="nav">
  <div class="lg:hidden">
    <button id="nav-toggle" class="burger relative block z-20" aria-label="toggle nav bar" aria-expanded="false">
      <span class="block bg-blue-100 rounded"></span>
      <span class="block bg-blue-100 rounded"></span>
      <span class="block bg-blue-100 rounded"></span>
    </button>
    <div id="mobile-nav-container" class="mobile-nav-container fixed z-10 h-full flex bg-white hidden">
      <nav id="mobile-nav" class="inner">
        <ul class="py-24 nav-links">
          {% for nav_link in navigation.main %}
          <li class="px-4 text-center relative parent py-2 font-bold font-heading text-black capitalize text-3xl leading-4xl">
            <button aria-haspopup="true" aria-expanded="false" class="dropdown-trigger">
              {{ nav_link.label | safe }}<i class="align-middle ml-2 fas fa-angle-down text-md leading-md" aria-hidden="true"></i>
            </button>
            {% if nav_link.submenu %}
            <ul class="submenu absolute shadow-secondary hidden">
              {% for link in nav_link.submenu %}
              <li class="px-4 hover:bg-blue-200 hover:text-white">
                <a href="{{ link.url | safe }}" class="block py-2 font-bold font-heading text-black capitalize text-xl leading-xl">{{ link.label | safe }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% else %}
          <li class="px-4 text-center">
            <a href="{{ nav_link.url | safe }}" class="block py-2 font-bold font-heading text-black capitalize text-3xl leading-4xl">{{ nav_link.label | safe }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  <nav id="nav-links" class="nav-links hidden lg:block">
    <div class="nav-links-inner">
      <ul class="flex items-center gap-6 -mx-3">
        {% for nav_link in navigation.main %}
          {% if nav_link.submenu %}
            <li class="has-submenu relative flex items-center py-2 font-bold text-grey-300 font-heading hover:text-blue-200 focus:text-blue-100 active:text-blue-100 capitalize">
              <button aria-haspopup="true" aria-expanded="false" class="dropdown-trigger capitalize">
                {{ nav_link.label | safe }}<i class="align-middle ml-2 fas fa-angle-down text-md leading-md"></i>
              </button>
              <ul class="submenu absolute shadow-secondary hidden">
                {% for link in nav_link.submenu %}
                <li class="px-4 hover:bg-blue-200 hover:text-white">
                  <a href="{{ link.url | safe }}" class="block py-2 font-bold text-grey-300 font-heading hover:text-white focus:text-blue-100 active:text-blue-100 capitalize">{{ link.label | safe }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>        
          {% else %}
            <li>
              <a href="{{ nav_link.url | safe }}" class="block py-2 font-bold text-grey-300 font-heading hover:text-blue-200 focus:text-blue-100 active:text-blue-100 capitalize">{{ nav_link.label | safe }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
