<nav id="nav-links" class="nav-links">
  <div class="nav-links-inner">
    <ul class="flex -mx-3 my-3">
    {% for nav_link in navigation.main %}
      <li class="px-3">
        <a href="{{ nav_link.url | safe }}" class="block py-3 px-3">{{ nav_link.label | safe }}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</nav>
        
    
