<section class="relative md:py-20 pt-14 pb-8 newsletter section-rounded-t z-10">
  <div class="inner">
    <div class="md:flex">

      <div class="md:w-1/2">
        <h2 class="text-white md:mb-0">Sign up for our newsletter</h2>
      </div>

      <div class="md:w-1/2">
        <form action="https://formspree.io/mvovolen" method="POST">
          <div class="rounded md:flex">
            <input aria-label="Email address" type="email" required placeholder="Enter your email" class="p-4 w-full text-md leading-sm h-14 text-black mb-4 md:mb-0" name="_replyto" />
            <button type="submit" class="block py-4 px-5 bg-blue-200 whitespace-no-wrap text-white font-heading font-bold text-lg leading-md w-full md:w-auto">Sign me up</button>
          </div>
        </form>
        <span class="block text-sm leading-xs text-white mt-2">We care about the protection of your data. Read our <a href="/pdf/tcg_privacy_policy.pdf" class="font-bold text-white">Privacy Policy</a>.</span>
      </div>

    </div>
  </div>

</section>
