{% if body_class == "apprenticeship-employer" and testimonials %}
  <section class="relative md:pt-16 pt-14 testimonials overflow-hidden">
    <div class="inner relative z-10">
      <div class="max-w-3xl mx-auto md:px-16">
        <h2 class="text-center mb-8 md:mb-14">What our partners say about us</h2>
        
        <div class="testimonials__slider">
          {% for testimonial in testimonials %}
            <div class="p-4">
              <div class="shadow-secondary bg-white sm:p-10 pt-12 px-8 pb-8">
                <div class="sm:flex sm:items-center">
                  <div class="testimonials__author block sm:mr-14 sm:mb-0 mb-6" style="background-image: url('{{ testimonial.img_url }}');"></div>
                  <div class="relative testimonials__quote">
                    <h3 class="mb-2px">{{ testimonial.author }}</h3>
                    <span class="text-md leading-sm font-heading font-bold mb-2 block">{{ testimonial.occupation }}</span>
                    <p class="text-sm leading-lg">{{ testimonial.text }}</p>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}
        </div>
        <div class="flex justify-center items-center mt-8">
          <button type="button" class="prev mr-6">
            <img src="../images/icons/chevron-right-white.svg" class="h-6 w-6 m-auto" />
          </button>
          <div class="dots"></div>
          <button type="button" class="next ml-6">
            <img src="../images/icons/chevron-left-white.svg" class="h-6 w-6 m-auto" />
          </button>
        </div>
      </div>

      <div class="md:my-24 my-14">
        {% include "components/global/get-in-touch-cta.njk" %}
      </div>

      <object type="image/svg+xml" data="../images/patterns/11.svg" class="hidden md:block absolute pattern pattern-11"></object>
      <object type="image/svg+xml" data="../images/patterns/12.svg" class="hidden md:block absolute pattern pattern-12"></object>
    </div>
  </section>
{% endif %}