<section class="py-12 bg-gray-50 overflow-hidden md:py-20 lg:py-24">
  <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">

    <div class="relative">
      <blockquote class="mt-8">
        <div class="max-w-3xl mx-auto text-center text-2xl leading-9 font-medium text-gray-900">
          <p>
            &ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.&rdquo;
          </p>
        </div>
        <footer class="mt-8">
          <div class="md:flex md:items-center md:justify-center">
            <div class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center">
              <div class="text-base leading-6 font-medium text-gray-900">Judith Black <span class="ext-base leading-6 font-medium text-gray-500">CEO, Workcation</span></div>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>