<section class="relative pt-16 pb-18 z-10 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/3.svg" class="absolute pattern pattern-3"></object>
  <object type="image/svg+xml" data="../images/patterns/4.svg" class="absolute pattern pattern-4"></object>

  <div class="inner">
    <h2 class="text-white mb-10">Apprenticeships</h2>

    <div class="md:flex -mx-8">
      <div class="md:w-1/3 px-8 md:mb-0 mb-12">
        <h3 class="text-white">No one knows the landscape better</h3>
        <p class="text-white">We started the first industry-led digital apprenticeship back in 2012, revolutionising the way modern technical vocations are learned. Since then we’ve continually improved our courses and are now transferring our know-how to new areas.</p>
      </div>
      <div class="md:w-1/3 px-8 md:mb-0 mb-12">
        <h3 class="text-white">Billable within weeks</h3>
        <p class="text-white">We know learning on the job is the best way to learn the skills and knowledge necessary to succeed. Our apprentices are confidently applying their skills to real-world projects in a matter of weeks.</p>
      </div>
      <div class="md:w-1/3 px-8 md:mb-0 mb-12">
        <h3 class="text-white">Devised and delivered by pro developers</h3>
        <p class="text-white">All our courses are devised and delivered by industry professionals; many of them experts in their field.</p>
      </div>
    </div>

    <div class="mt-12 md:mb-16 mb-8">
      <div class="rounded bg-white lg:p-4 py-8 px-6 flex lg:flex-row flex-col get-in-touch items-center">
        <div class="lg:mr-4 lg:mb-0 mb-6">
          <img class="h-10 w-10 block" alt="" src="../images/logo/TCG-logo.svg"/>
        </div>
        <div class="cta__text">
          <p class="text-lg leading-xl font-bold text-blue-200 text-center lg:text-left lg:mb-0 mb-6">If you’re looking for a training provider with a real understanding of the industry.</p>
        </div>
        <div class="lg:ml-auto">
          <a href="" class="bookacall-f-btn text-md leading-sm text-white bg-blue-200 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap" data-modal="book-a-call">Get in touch today<i class="fas fa-angle-right text-md leading-sm text-white ml-2"></i></a>
        </div>
      </div>
    </div>

    <div class="md:flex md:mb-16 mb-14">
      <div class="md:max-w-sm pr-12 mb-12 md:mb-0">
        <h3 class="text-white">Our Available Apprenticeships</h3>
        <p class="text-white mb-6">Kick-start your new career with proper training and support from industry experts.</p>
        <a href="/apprenticeships" class="inline-block text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">See all our apprenticeships<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
      </div>

      <div>
        {% if apprenticeships.active %}
          <div class="flex -mx-4">
            {% for item in apprenticeships.active %}
            <div class="px-4">
              <div class="bg-white px-6 py-8 rounded-lg shadow-primary h-full apprenticeships__item">
                <div class="flex flex-col items-start h-full">
                  <object type="image/svg+xml" data="../images/icons/Group-79.svg" class="mb-2"></object>
                  <h3 class="text-xl leading-lg mb-0">{{ item.title }}</h3>
                  <h3 class="text-xl leading-lg mb-2">{{ item.qualification }}</h3>
                  <div class="mt-auto">
                    <p class="font-bold leading-sm font-heading mb-4">I want to...</p>
                    <div class="mb-4">
                      <a href="{{ item.apprentice_link }}" class="inline-block bg-blue-200 text-white font-heading font-bold text-md leading-sm py-2 px-6 rounded whitespace-no-wrap">Be a Developer</a>
                    </div>
                    <div>
                      <a href="{{ item.employer_link }}" class="inline-block bg-red-100 text-white font-heading font-bold text-md leading-sm py-2 px-6 rounded whitespace-no-wrap">Hire a Developer</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div>
      <h3 class="text-white">More coming soon</h3>
      <div class="md:flex md:items-center">
        <p class="text-white md:mb-0 mb-6">Through our training development team we are continually adding more digital apprenticeships and training programs. Stay in the loop by signing up to our mailing list.</p>
        <a href="" class="inline-block text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap" data-modal="mailing-list">Join Mailing List<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
      </div>
    </div>
  </div>
  <object type="image/svg+xml" data="../images/patterns/16.svg" class="absolute pattern pattern-5"></object>
  
</section>