<section class="relative pt-16 pb-18 z-10 overflow-hidden">
  <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/3.svg" class="absolute pattern pattern-3"></object>
  <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/4.svg" class="absolute pattern pattern-4"></object>

  <div class="inner">
    <h2 class="text-white mb-10">Tech Apprenticeships</h2>

    <div class="md:flex -mx-8">
      <div class="md:w-1/3 px-8 md:mb-0 mb-12">
        <h3 class="text-white">No one knows the landscape better</h3>
        <p class="text-white">We have been revolutionising the way modern technical vocations are learned since 2012! Our <a class="text-white border-b-2 border-white" href="/course-directory/">course directory</a> covers a variety of digital areas, from web development to project management. We deliver professional tech apprenticeships in Leeds and all over the UK, and we're one of the UK's leading providers of digital skills courses and bootcamps.</p>
      </div>
      <div class="md:w-1/3 px-8 md:mb-0 mb-12">
        <h3 class="text-white">Digital skills billable within weeks</h3>
        <p class="text-white">We know learning on the job is the best way to learn the skills and knowledge necessary to succeed. Our apprentices are confidently applying their skills to real-world projects in a matter of weeks.</p>
      </div>
      <div class="md:w-1/3 px-8 md:mb-0 mb-12">
        <h3 class="text-white">Devised and delivered by industry experts</h3>
        <p class="text-white">All our courses are devised and delivered by industry professionals; many of them experts in their field. All our web training courses and bootcamps are designed to help you acquire the perfect skills to boost your professional growth in your industry or to find new job opportunities. </p>
      </div>
    </div>

    <div class="mt-12 md:mb-16 mb-8">
      <div class="rounded bg-white lg:p-4 py-8 px-6 flex lg:flex-row flex-col get-in-touch items-center">
        <div class="lg:mr-4 lg:mb-0 mb-6">
          <img class="h-10 w-10 block" alt="The Coders Guild Logo" src="../images/logo/TCG-logo.svg"/>
        </div>
        <div class="cta__text">
          <p class="text-lg leading-xl font-bold text-blue-200 text-center lg:text-left lg:mb-0 mb-6">Let us train your team with the digital skills they need!</p>
        </div>
        <div class="lg:ml-auto">
          <a href="/contact-us" class="bookacall-f-btn text-md leading-sm text-white bg-blue-200 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Get in touch today<i class="fas fa-angle-right text-md leading-sm text-white ml-2"></i></a>
        </div>
      </div>
    </div>

    {% include '../global/course-grid.njk' %}
  </div>
  <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/16.svg" class="absolute pattern pattern-5"></object>

</section>
