<section class="relative py-20 z-10 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/19.svg" class="absolute pattern pattern-6"></object>
  <div class="inner">
    <div class="max-w-3xl text-center mx-auto md:px-18">
      <img src="../images/logo/TCG-logo.svg" class="mx-auto h-10 mb-8" />
      <h2>Employability and Tech Skills</h2>
      <p class="mb-6">With the impact of Covid19 on the economy we need to upskill the workforce and secure the talent pipeline. One of the best ways to prepare yourself for a post-coronavirus-world is to acquire technology skills.</p>
      <p class="mb-6">We are working with local authorities and educational organisations to equip young people and assist career changers with acquiring digital and technical skills.</p>
      <p class="mb-6">Got a techy outreach project? Know of an organisation that is looking to upskill marginalised or underrepresented groups?</p>
      <p><a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/fionathecodersguild/quick-call?hide_event_type_details=1'});return false;" class="font-bold text-blue-200">Get in touch</a> - let’s have a chat to see if we can help.</p>
    </div>
  </div>
  <object type="image/svg+xml" data="../images/patterns/1.svg" class="absolute pattern pattern-7"></object>
</section>