<section class="relative md:pt-32 pt-24 md:pb-20 pb-16 z-10 overflow-hidden">
              <object type="image/svg+xml" data="../images/patterns/5.svg" class="absolute pattern pattern-1"></object>
              <div class="inner">
                <div class="max-w-6xl mx-auto">
                  <div class="md:flex md:items-center">
                    <div class="md:w-1/2 pr-10">
                      <div class="max-w-md mx-auto md:mb-0 mb-10">
                        <h2 class="max-w-xs">Digital skills for the next generation</h2>
                        <p class="mb-6">We offer extensive <a href="/applicant-software-dev/">software developer apprenticeships</a>, <a href="/applicant-software-test/">software tester apprenticeships</a>, web designer courses, training in coding, and high quality <a href="/course-directory">digital skills courses</a>.</p>
                        <p class="mb-6">Our ‘best-in-class’ digital skills training and apprenticeships put you at the centre of an industry-led community. Our contribution to local, national and international communities, through outreach programs, events and sponsorship, sets us apart.</p>
                        <a href="/about" class="inline-block text-md leading-sm text-white bg-blue-200 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap not-on-print">Find out more<i class="fas fa-angle-right text-md leading-sm text-white ml-2 not-on-print"></i>
                        </a>
                      </div>
                    </div>
                    <div class="md:w-1/2 not-on-print">
                      <img src="../images/chevrons-3.png" alt="decorative image" class="mx-auto"/>
                    </div>
                  </div>
                  <div class="md:flex md:pt-16 pt-20 pb-12 md:pb-12">
                    <div class="md:w-1/3 md:mb-0 mb-12">
                      <div class="px-4">
                        <img src="../images/icons/Group-16.svg" alt="Image of a group to indicate a group of developers" class="mx-auto mb-6 h-16"/>
                        <h3 class="text-center text-xl leading-lg mb-0">For budding developers</h3>
                      </div>
                    </div>
                    <div class="md:w-1/3 md:mb-0 mb-12">
                      <div class="px-4">
                        <img src="../images/icons/Group-34.svg" alt="icon to denote coding professionals" class="mx-auto mb-6 h-16"/>
                        <h3 class="text-center text-xl leading-lg mb-0">Upskilling professionals</h3>
                      </div>
                    </div>
                    <div class="md:w-1/3">
                      <div class="px-4">
                        <img src="../images/icons/Group-72.svg" alt="icon to denote a presentation" class="mx-auto mb-6 h-16"/>
                        <h3 class="text-center text-xl leading-lg mb-0">SMEs and larger organisations</h3>
                      </div>
                    </div>
                  </div>
                  <p class="max-w-3xl text-center mx-auto md:px-18">We are an inclusive organisation, committed to taking positive action to remove barriers to participation in learning. We support individuals by reducing discrimination and barriers to entry, resulting in increased equality and opportunities.</p>
                </div>
              </div>
              <object type="image/svg+xml" data="../images/patterns/6.svg" class="absolute pattern pattern-2"></object>
            </section>