<div class="relative bg-white py-6 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center">Our Industry Partners</h2>
    <div class="mx-auto grid grid-cols-4 items-center gap-x-8 gap-y-12 sm:gap-x-10 sm:gap-y-14 lg:grid-cols-4">
      <img class="col-span-2  w-full object-cover sm:col-span-1" src="../images/company-logos/rotacloud-logo2.webp" alt="RotaCloud Logo">
      <img class="col-span-2  w-full object-contain sm:col-span-1" src="../images/mastek-logo.png" alt="Mastek">
      <img class="col-span-2  w-full object-contain sm:col-span-1" src="../images/company-logos/dedalus-logo.jpg" alt="Dedalus Logo">
      <img class="col-span-2  w-full object-contain  sm:col-span-1" src="../images/company-logos/pragmatic-logo.webp" alt="Pragmatic Digital">
      {# <img class="col-span-2 col-start-2 w-full object-contain  lg:col-span-1" src="./images/company-logos/step-3-logo.png" alt="Step3 Logo"> #}
    </div>
    <div class="sm:mb-8 sm:flex sm:justify-center">
      <div class="text-sm leading-6 text-center relative rounded-full px-4 py-1 text-sm leading-6 text-grey-600 border-1 border-grey-900/10 hover:border-grey-900/20">See what our partners say about working with us! <a href="/reviews" class="font-semibold text-blue-200"><span class="absolute inset-0" aria-hidden="true"></span>Read more <span aria-hidden="true">&rarr;</span></a></div>
    </div>
        <object type="image/svg+xml" data="../images/patterns/2.svg" class="absolute pattern-4"></object>

  </div>
</div>