<section class="relative md:py-20 pt-16 pb-12 z-10 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/17.svg" class="absolute pattern pattern-8"></object>

  <div class="inner">
    <div class="max-w-3xl text-center mx-auto md:px-18">
      <h2 class="text-white">Other services</h2>
      <p class="text-white mb-12">As experts in devising and providing technical and digital training we also provide consultancy and contract services as well as CPD events for developers and testers.</p>
    </div>

    <div class="md:flex -mx-3 mb-12">
      <div class="md:w-1/3 px-3 mb-6 md:mb-0">
        <div class="bg-white pb-7 relative services-item rounded-10 md:h-full overflow-y-hidden">
          <img src="../images/services/services-1.png" class="md:block hidden relative top-0 w-full mb-6"/>
          <img src="../images/services/services-1-mobile.png" class="block md:hidden relative top-0 w-full mb-6"/>

          <h3 class="mb-4 px-8 text-center">Subcontracting</h3>
          <p class="px-8 text-center">Boost your success and retention rates by subcontracting technical apprenticeship training with us.</p>
        </div>
      </div>

      <div class="md:w-1/3 px-3 mb-6 md:mb-0">
        <div class="bg-white pb-7 relative services-item rounded-10 md:h-full overflow-y-hidden">
          <img src="../images/services/services-2.png" class="md:block hidden relative top-0 w-full mb-6"/>
          <img src="../images/services/services-2-mobile.png" class="md:hidden block relative top-0 w-full mb-6"/>

          <h3 class="mb-4 px-8 text-center">Bespoke Training</h3>
          <p class="px-8 text-center">We can devise, deliver and monitor the training your team needs - classroom, remote, online or 1-1.</p>
        </div>
      </div>

      <div class="md:w-1/3 px-3">
        <div class="bg-white pb-7 relative services-item rounded-10 md:h-full overflow-y-hidden">
          <img src="../images/services/services-3.png" class="md:block hidden relative top-0 w-full mb-6"/>
          <img src="../images/services/services-3-mobile.png" class="md:hidden block relative top-0 w-full mb-6"/>

          <h3 class="mb-4 px-8 text-center">CPD and Coaching</h3>
          <p class="px-8 text-center">Training events and mentoring to upskill your team in the areas they need.</p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a href="/contact-us" class="inline-block text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Get In touch to find out more<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2" aria-hidden="true"></i></a>
    </div>
  </div>
  <object type="image/svg+xml" data="../images/patterns/18.svg" class="absolute pattern pattern-9"></object>

</section>