<section class="relative md:py-24 py-20">
  <div class="inner">
    <div class="max-w-6xl mx-auto">
      <div class="md:flex md:items-center md:justify-center">
        <div class="md:w-1/2 pr-10">
          <div class="max-w-md mx-auto">
            <h2 class="max-w-xs">Our Social Mission</h2>
            <p class="md:mb-0 mb-8">We have always been invested in our community. We partner with charities and organisations through outreach projects to have a positive impact wherever we can.</p>
          </div>
        </div>

        <div class="md:w-1/2">
          <div class="max-w-md mx-auto">
            <div class="flex mb-4 items-center">
              <img src="../images/icons/Chevron-Left.svg" class="h-6 mr-2"/>
              <p class="font-heading leading-sm text-blue-200 font-bold">Improve diversity in tech</p>
            </div>
            <div class="flex mb-4 items-center">
              <img src="../images/icons/Chevron-Left.svg" class="h-6 mr-2"/>
              <p class="font-heading leading-sm text-blue-200 font-bold">Remove barriers for disadvantaged or marginalised groups</p>
            </div>
            <div class="flex mb-4 items-center">
              <img src="../images/icons/Chevron-Left.svg" class="h-6 mr-2"/>
              <p class="font-heading leading-sm text-blue-200 font-bold">Promote knowledge share</p>
            </div>
            <div class="flex mb-4 items-center">
              <img src="../images/icons/Chevron-Left.svg" class="h-6 mr-2"/>
              <p class="font-heading leading-sm text-blue-200 font-bold">Support people</p>
            </div>
            <div class="flex mb-4 items-center">
              <img src="../images/icons/Chevron-Left.svg" class="h-6 mr-2"/>
              <p class="font-heading leading-sm text-blue-200 font-bold">Contribute to Free and Open Source Software</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>