
<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24">
  <div class="bg-white">
    <div class="max-w-full lg:max-w-screen-xl">
      <div class="relative">
        <h2 class="relative title font-semibold mb-12">Services</h2>
        <p class="mb-6">As experts in devising and providing technical 
        and digital training  we also provide consultancy and contract 
        services as well as CPD events for developers and testers.</p>
      </div>
      <div class="md:flex md:-mx-6 my-12">
        <div class="md:mx-6 md:w-1/3 py-6 px-12 md:px-6 shadow rounded-lg mb-10 md:mb-0 max-w-90 md:max-w-none mx-auto md:mx-0">
          <h3>Subcontracting</h3>
          <p class="max-w-90 md:max-w-full">Boost your success and retention 
          rates by subcontracting technical apprenticeship training with us</p>
        </div>

        <div class="md:mx-6 md:w-1/3 py-6 px-12 md:px-6 shadow rounded-lg mb-10 md:mb-0 max-w-90 md:max-w-none mx-auto md:mx-0">
          <h3>Bespoke Training</h3>
          <p class="max-w-90 md:max-w-full">We can devise, deliver and monitor 
          the training your team needs - classroom, remote, online or  1-1</p>
        </div>

        <div class="md:mx-6 md:w-1/3 py-6 px-12 md:px-6 shadow rounded-lg max-w-90 md:max-w-none mx-auto md:mx-0">
          <h3>CPD and coaching</h3>
          <p class="max-w-90 md:max-w-full">Training events and mentoring to upskill your team in the areas they need.</p>
        </div>
      </div>

      <div>
        <a href="/contact" class="link">Get in touch to find out more</a>
      </div>
    </div>
  </div>
</section>