---
layout: default
---
<main class="inner pt-24">
<form id="applicationForm" action='/thanks-applications/' method="post">
    <h2 class="my-8">Application Form</h2>
    {% set counter = 0 %}
    {% for fieldset in form %}
        {% set counter = counter + 1 %}
    {% endfor %}
    {% set fieldsetCounter = 0 %}
    {% for fieldset in form %}
        <fieldset class="application-form--fieldset {% if fieldsetCounter == 0 %} active {% endif %}" data-fieldset="{{fieldset.name}}">
            <div class="card">
                <div class="lg:flex">
                    <div class="lg:w-2/6 pr-8">
                        <label for="" class="form-label">{{ fieldset.label }}</label>
                        {% if fieldset.help %}
                            <p class="mt-1 text-sm leading-5 text-gray-500">{{ fieldset.help }} </p>
                        {% endif %}

                        {% if form[0].fields.opportunity.options %}
                            <h3 class="my-8 text-center lg:text-left">Current Vacancies</h3>
                            <div class="flex flex-wrap justify-around lg:flex-nowrap lg:justify-start">
                            {% for key, option in form[0].fields.opportunity.options  %}
                            <div class="mb-6 flex-0">
                                    <p><strong>{{option.name}}</strong></p>
                                    <p><strong>{{option.job_title}}</strong></p>
                                    <p class="mt-1 text-sm leading-5 text-gray-500">{{option.location}}</p>
                                    <a class="mt-1 text-sm break-all" href="{{option.url}}" target="_blank">Click here for the full job specification</a>
                            </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                     </div>

                    <div class="lg:w-4/6 card-dark lg:pl-8">
                        {% set fieldCounter = 0 %}
                        {% for name,field in fieldset.fields %}
                            <div class="question {% if fieldCounter != 0 %}mt-8{%endif%} {% if field.tags %}{% for tag in field.tags %}{{ tag | join }} {% endfor %}{% else %}all {% endif %}">
                                <label for="{{name}}" class="form-label">
                                    {{field.label}}
                                    {% if field.required != 0 %}
                                        <span class="required">*</span>
                                    {% endif %}
                                </label>
                                {% if field.help %}
                                    <p class="mt-2 text-sm text-gray-500">{{field.help | safe}}</p>
                                {% endif %}
                                {% switch field.type %}
                                    {% case 'text' %}
                                        <input id="{{name}}" name="{{name}}" class="form-input mt-1 mb-1 block w-full placeholder-muted" {% if field.required_message %}required{%endif%} />
                                    {% case 'file' %}
                                        <input id="{{name}}" type="{{field.type}}" name="{{name}}" class="mt-1 mb-1 block w-full placeholder-muted" {% if field.required_message %}required{%endif%} />
                                     {% case 'email' %}
                                        <input id="{{name}}" name="{{name}}" type="email" class="form-input mt-1 mb-1 block w-full placeholder-muted" {% if field.required_message %}required{%endif%} />
                                    {% case 'date_picker' %}
                                        <input id="{{name}}" name="{{name}}" class="form-input mt-1 mb-1 block w-full placeholder-muted" {% if field.required_message %}required{%endif%} />
                                        <script>
                                            jQuery( document ).ready(function() {
                                                jQuery( "#{{name}}" ).datepicker({
                                                    changeMonth: true,
                                                    changeYear: true,
                                                    yearRange: "-100:+0", // last hundred years
                                                    defaultDate: '-20y',
                                                    onSelect: function(dateText, inst) {
                                                        jQuery(this).focus();
                                                    }
                                                });
                                            });
                                        </script>
                                    {% case 'radio' %}
                                        {% set arrFields = [] %}
                                        {% set optionID = '' %}
                                        {% for option in field.options %}
                                            {% set fieldID = name+'-'+option %}
                                            {% set fieldID = fieldID | replace(' ', '-', 50) %}
                                            {% set fieldID = fieldID | replace('/', '-', 50) %}
                                            {% set fieldID = fieldID | replace('#', '', 50) %}
                                            {% set arrFields = (arrFields.push('#'+fieldID),arrFields) %}
                                            {% if option == field.other %}
                                                {% set optionID = fieldID %}
                                            {% endif %}
                                            <div class="relative flex items-start">
                                                <div class="flex items-center h-5">
                                                    <input id="{{fieldID}}" type="radio" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" name="{{name}}" value="{{option}}"/>
                                                </div>
                                                <div class="ml-3 text-sm leading-5">
                                                    <label for="{{fieldID}}" class="font-medium text-gray-700">{{option}}</label>
                                                </div>
                                            </div>
                                        {% endfor %}  
                                        {% if (field.other) or (not ukSelected) %}
                                            <div class="other other__{{name}}">
                                                <p class="m-2 text-sm text-gray-500">{{field.other_text}}</p>
                                                <input id="{{name}}_option_selected" name="{{name}}_option_selected" class="form-input mt-1 mb-1 block w-full placeholder-muted" {% if field.required_message %}required{%endif%} />
                                            </div>
                                            <script>
                                                var fieldIDs = "{{arrFields.join(',')}}";
                                                jQuery(document).on("click",fieldIDs, function(event) {
                                                    var currentID = event.target.id;
                                                    var optionContainer = jQuery('.other__{{name}}');
                                                    if(currentID == '{{optionID}}'){
                                                        optionContainer.show();
                                                    } else {
                                                        optionContainer.hide();
                                                    }
                                                });
                                            </script>
                                        {% endif %}
                                    {% case 'checkbox' %}
                                        {% set arrFields = [] %}
                                        {% set optionID = '' %}
                                        {% for option in field.options %}
                                            {% set fieldID = name+'-'+option %}
                                            {% set fieldID = fieldID | replace(' ', '-', 50) %}
                                            {% set fieldID = fieldID | replace('/', '-', 50) %}
                                            {% set fieldID = fieldID | replace('#', '', 50) %}
                                            {% set arrFields = (arrFields.push('#'+fieldID),arrFields) %}
                                            {% if option == field.other %}
                                                {% set optionID = fieldID %}
                                            {% endif %}
                                            <div class="relative flex items-start">
                                                <div class="flex items-center h-5">
                                                    {% switch name %}
                                                        {% case 'terms' %}
                                                            <input id="terms" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" name="{{name}}"  value="true"/>
                                                        {% case 'privacy' %}
                                                            <input id="privacy" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" name="{{name}}"  value="true"/>
                                                        {%default%}
                                                            <input id="{{fieldID}}" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" name="{{name}}"  value="{{option}}"/>
                                                    {% endswitch %}
                                                </div>
                                                <div class="ml-3 text-sm leading-5">
                                                    {% switch name %}
                                                        {% case 'terms' %}
                                                            <label for="terms" class="font-medium text-gray-700">{{option|safe}}</label>
                                                        {% case 'privacy' %}
                                                            <label for="privacy" class="font-medium text-gray-700">{{option|safe}}</label>
                                                        {%default%}
                                                            <label for="{{fieldID}}" class="font-medium text-gray-700">{{option}}</label>
                                                    {% endswitch %}
                                                </div>
                                            </div>
                                        {% endfor %} 
                                        {% if field.other %}
                                            <div class="other other__{{name}}">
                                                <p class="m-2 text-sm text-gray-500">{{field.other_text}}</p>
                                                <input id="{{name}}_option_selected" name="{{name}}_option_selected" class="form-input mt-1 mb-1 block w-full placeholder-muted" {% if field.required_message %}required{%endif%} />
                                            </div>
                                            <script>
                                                var fieldIDs = "{{arrFields.join(',')}}";
                                                jQuery(document).on("click",fieldIDs, function(event) {
                                                    var selector = '[name ="{{name}}"]';
                                                    var inputs = jQuery(selector);
                                                    var optionContainer = jQuery('.other__{{name}}');
                                                    inputs.each(function( index ) {
                                                        var currentCheckbox = jQuery(this);
                                                        if(currentCheckbox.prop('checked')){
                                                            if(currentCheckbox.attr('id') == '{{optionID}}'){
                                                                optionContainer.show();   
                                                            } else {
                                                                optionContainer.hide();
                                                            }
                                                        }
                                                    });
                                                });
                                            </script>
                                        {% endif %}
                                    {% case 'select' %}
                                        <div class="relative flex items-start">
                                            <select name="{{name}}" id="{{name}}" class="form-select"> 
                                                <option value="">Please Select</option>
                                                {% for key,option in field.options %}
                                                    <option value="{{key}}">{% if option.name %}{{option.name}}{% else %}{{option}}{% endif %}</option>
                                                {% endfor %} 
                                            </select>
                                        </div>
                                        {# <script>
                                            var ukSelected = true;
                                            var nationalityField = document.getElementById('nationality');
                                            var optionContainer = document.querySelector('.nationality');
                                        
                                            nationalityField.addEventListener('change', ()=>{
                                                if(nationalityField.value !== 'EU Citizen'){
                                                    ukSelected = true; 
                                                    optionContainer.style.display = 'none'
                                                    
                                                } else {
                                                    ukSelected = false;
                                                    optionContainer.style.display = 'block';
                                                    
                                                }
                                            })
                                            
                                        </script>   #}
                                        {% if not ukSelected %}
                                            <div class="other nationality">
                                                <p class="m-2 text-sm text-gray-500">{{field.other_text}}</p>
                                                <input id="{{name}}_option_selected" name="{{name}}_option_selected" class="form-input mt-1 mb-1 block w-full placeholder-muted" {% if field.required_message %}required{%endif%} />
                                            </div>
                                        {% endif %}
                                        
                                    {% case 'textarea' %}
                                        <textarea id="{{name}}" name="{{name}}" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"></textarea>
                                    {%default%}
                                {% endswitch %}
                                {% if field.required_message %}
                                    <div class="requiredMessage text-danger text-xs font-bold hidden {{name}}">{{field.required_message}}</div>
                                {% endif %}
                            </div>
                            {% set fieldCounter = fieldCounter + 1 %}
                        {% endfor %}
                    </div>
                </div>
                <div class="buttonContainer">
                    {% if fieldsetCounter != 0 %}
                        <button data-fieldsetcounter="{{fieldsetCounter}}" class="validateFormStepPrev btn inline-block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100">Prev</button>
                    {% endif %}
                    {% if fieldsetCounter != (counter -1) %}
                        <button data-fieldsetcounter="{{fieldsetCounter}}" class="validateFormStepNext btn inline-block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100">Next</button>
                    {% else %}
                        <button data-fieldsetcounter="{{fieldsetCounter}}" type="submit" class="btn block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100 submitApplication">Submit Application</button>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </fieldset>
        {% set fieldsetCounter = fieldsetCounter + 1 %}
    {% endfor %}
</form>
</main>
<script>
    var objInputs = {{ form | dump | safe }}
</script>

<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/tcg-validation.js"></script>
<script src="/js/multi-app-form.js"></script>
