<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>TCG Trustist Monday Display</title>
</head>
<body style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    {{ content | safe}}
</body>
</html>