---
layout: default
related_articles: true
meta_title: {{ title }}
meta_description: {{ excerpt }}
---


    <main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">

        <article id="container-centre" class="column centre flex-1 mb-10 sm:mb-20 mx-auto pt-20">

            <div class="mb-10 sm:mb-8 max-w-6xl">
                {% if featured_image %}

                    <figure class="">
                        <img data-lazy="{{ featured_image }}" alt="{{ featured_image_alt }}" class="max-h-96 h-40 sm:h-56 md:h-auto object-cover">
                    </figure>

                {% endif %}

                <div class="md:px-20 relative pt-12 sm:pt-10 max-w-3xl mx-auto inner">

                  <header>
                    <h1 class="text-blue-200 text-4xl leading-4xl sm:text-5xl sm:leading-5xl">{{ course.title }}</h1>
                  </header>

                  

            </div>

            <div class="content post md:px-20 max-w-3xl mx-auto inner">

                {{ course.body | safe }}

            </div>

            {% include '../components/course-directory/apply-cta.njk' %}
            </div>

        </article>

        {# {% include "components/course-directory/course-section.njk" %} #}
      <script>
        const styledDiv = document.querySelector('.content > div');
        styledDiv.classList.add('content');
      </script>
    </main>
  </div>
