---
layout: default
related_articles: true
meta_title: {{ title }}
meta_description: {{ excerpt }}
body_class: apprenticeship-employer
---
{# {% include '../components/modals/expression-of-interest.njk' %} #}
<main id="course" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
<section id="course-cta-header"class="fixed top-0 bg-white flex space-between mx-auto z-50 shadow py-2 lg:py-4 w-full">
  <div class="flex inner justify-between items-center">
    <div class="flex items-center">
      <div class="logo mr-8 hidden sm:block">
        <img class="block h-10 md:h-10 w-auto" src="../../../images/tcg-logo/Blue/The_Coders_Guild_Logo_Blue.svg" alt="The Coders Guild Logo">
      </div>
      <div class="title">
        <p class="text-blue-200 text-sm md:text-md lg:text-lg font-bold">{{ course.title }}</p>
      </div>
    </div>
    <div>
      <a href="{% if course.link %}{{ course.link }}{% else %}#contact{% endif %}" class="px-2 md:px-4 py-2 bg-blue-200" {% if course.link %}target="_blank"{% endif %}><span class="text-white font-bold rounded whitespace-no-wrap text-sm lg:text-md">Apply Now <i class="ml-2 fa-solid fa-chevron-right"></i></span></a>
    </div>
  </div>
</section>
<section id="hero relative">
<object type="image/svg+xml" data="../../images/patterns/280.svg" class="hidden lg:block absolute pattern pattern-280"></object>
  <div class="flex flex-col items-center justify-center md:px-20 relative sm:pt-10 md:pt-24 min-h-80 rounded" style="background-image: url(../../images/gradient-background.svg); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="flex flex-col">
      <div class="flex flex-col lg:flex-row container">
        <div class="lg:w-6/12 order-2 lg:order-1">
          <header class="md:w-8/12">
            <h1 class="md:pt-12 text-blue-200 text-4xl leading-4xl sm:text-5xl sm:leading-5xl mb-2">{{ course.title }}</h1>
            {# <p class="mb-2 text-2xl sm:text-3xl text-blue-200 leading-3xl  font-bold">{{course.subtitle}}</p> #}
            <p class="mb-2 text-sm font-bold">{{course.duration}}</p>
            <p class="bg-green-100 py-2 px-4 text-black inline-block rounded text-sm lg:text-md">Next Course Starts: <strong> {{ course.start | dateDisplay }}</strong></p>
            <a href="{% if course.link %}{{ course.link }}{% else %}#contact{% endif %}" class="flex justify-center items-center bg-gradient-to-r from-blue-200 to-blue-100 px-2 py-4 text-white rounded my-6 w-6/12 font-bold" {% if course.link %}target="_blank"{% endif %}>Apply Now <i class="ml-2 fa-solid fa-angle-right"></i> </a>
            <a href="#" data-modal="cd-send-info" class="mt-4 text-purle-700 text-lg flex items-center "><strong>Info for Businesses <i class="ml-2 fa-solid fa-angle-right"></i></strong> </a>
          </header>
        </div>
        <div class="lg:w-6/12 pt-24 lg:pt-0 order-1 lg:order-2 flex items-center justify-center mb-6 lg:mb-0">
          <img src="{{course.featuredImage}}" class="rounded-lg aspect-[4/3] z-20" alt="{{course.title}}" />
          <object type="image/svg+xml" data="../../images/patterns/145.svg" class="hidden lg:block absolute pattern pattern-145"></object>
        </div>
      </div>
      {% include '../components/courses/logos.njk' %}
    </div>
  </div>
</section>
<section id="pitch">
  <div class="post inner content md:px-20 mx-auto mt-12">
    {% include '../components/courses/pitch.njk' %}
    {# {% if course.instances %}
      {% include '../components/courses/course-instances.njk' %}
    {% endif %} #}
    {% include '../components/courses/banner-cta.njk' %}
  {% if course.video_embed %}
    {% include '../components/courses/video.njk' %}
  {% endif %}
  </div>
</section>
<section id="content" class="section-rounded z-10">
  {% include '../components/courses/content.njk' %}
</section>
{% if course.trainers.length > 0%}
  <section id="trainers">
    {% include '../components/courses/trainers.njk' %}
  </section>
{% endif %}
<section id="testimonials" class="my-12">
    {% include '../components/courses/course-testimonial.njk' %}
</section>
<section id="further-cta">
    {% include '../components/courses/further-cta.njk' %}
</section>
<section id="footer-cta">
  {% include '../components/courses/individuals-and-businesses.njk' %}
</section>
<section id="contact" class="pt-16">
  {% include '../components/courses/contact.njk' %}
</section>



      {# {% if course.body %}
        {{ course.body | safe }}
      {% endif %} #}

  </div>




    {# <div class="post content md:px-20 max-w-3xl mx-auto inner">
        {% if course.additionalText %}
          {{ course.additionalText | safe}}
        {% endif %}
    </div>
    <div class="inner rounded text-center py-12">
      <h2 class="text-center mb-0">100% Funded Courses Available</h2>
      <p class="text-sm mt-0">*Whilst it is very likely you will be eligible for funding it is not a guarantee</p>


        <div class="flex flex-col xs:flex-row py-16 inner">
          <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
              <object type="image/svg+xml" data="../../../images/icons/Group-72.svg" class="h-14 w-14 mx-auto mb-6"></object>
              <h3 class="text-center text-xl leading-lg mb-4">Learn from the best</h3>
              <p class="text-center">Our trainers and coaches are industry-leading digital experts, providing you with top-notch skills and knowledge to help you excel.</p>
          </div>

          <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
              <object type="image/svg+xml" data="../../../images/icons/Group-79.svg" class="h-14 w-14 mx-auto mb-6"></object>
              <h3 class="text-center text-xl leading-lg mb-4">Boost your confidence</h3>
              <p class="text-center">Our courses are designed to teach you in-demand tech and digital skills.</p>
          </div>

          <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
              <object type="image/svg+xml" data="../../../images/icons/Group-15.svg" class="h-14 w-14 mx-auto mb-6"></object>
              <h3 class="text-center text-xl leading-lg mb-4">Upskill</h3>
              <p class="text-center">Develop new tech skills or brush-up on existing skills to increase your productivity.  You and your teams will feel empowered, engaged and educated.</p>
          </div>
        </div>
    </div> #}
    {# <div class="py-12 text-center inner">
      <h2>What's the next Step?</h2>
      <p><a href="https://calendly.com/sarah-1661/course-info">Book a call with us today</a> and speak to a member of our team about how you can <strong>progress your tech career.</strong></p>
      <h3 class="mt-4">100% Funded Courses Available!*</h3>
      <p>Whilst it is very likely you will be eligible for funding, it is not a guarantee.</p>
      <p><a class="expression-of-interest-c-btn inline-block mt-4 py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100" href="" data-modal="expression-of-interest">Get in touch to find out more!</a></p>
    </div>

        <div class="mt-12">
          <h2 class="text-center">100% funding is often available for our courses</h2>
        </div>
    </div>
    <div class="inner mb-12">
      {% include '../components/course-directory/apply-cta.njk' %}
    </div> #}
  </article>

</main>
