---
layout: default
related_articles: true
meta_title: {{ title }}
meta_description: {{ excerpt }}
---

<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1 mb-10 sm:mb-20 mx-auto pt-20">

        <div class="mb-10 sm:mb-8 max-w-7xl">
            {% if featured_image %}
                <figure class="">
                    <img data-lazy="{{ featured_image }}" alt="{{ featured_image_alt }}" class="max-h-96 h-40 sm:h-56 md:h-auto object-cover">
                </figure>
            {% endif %}
            <div class="md:px-20 relative pt-12 sm:pt-10 max-w-3xl mx-auto inner">
              <header>
                <h1 class="text-blue-200 text-4xl leading-4xl sm:text-5xl sm:leading-5xl">{{ course.title }}</h1>
              </header>
            </div>
        </div>

        <div class="post content md:px-20 max-w-3xl mx-auto inner">
        {% for tag in course.tags %}
          {% if tag.value === 'serco' %}
                <div class="mt-6 grid grid-cols-6 gap-0.5 mt-8 mb-16">
                  <div class="col-span-6 my-8">
                    <p>The Coders Guild have been commissioned by the
                    Greater Manchester Combined Authority and work
                    alongside <a href="https://www.serco.com/about" target="_blank">SERCO</a>
                    to help deliver the fully funded courses in the
                    Greater Manchester Area under the GMCA's
                    <a href="https://www.greatermanchester-ca.gov.uk/news/new-training-to-combat-digital-skills-shortage-as-businesses-adapt-to-impact-of-covid-19/" target="_blank">'Skills for Growth'</a> Programme.</p>
                  </div>
                  <div class="col-span-2 flex justify-center py-2 px-2 bg-gray-50">
                    <img class="max-h-12" src="../../images/LocalAuthLogos/Serco.jpg"  alt="Leeds LEP Logo">
                  </div>
                  <div class="col-span-2 flex justify-center py-2 px-2 bg-gray-50">
                    <img class="max-h-12" src="../../images/LocalAuthLogos/skills_for_growth.png"  alt="Department for Education Logo">
                  </div>
                  <div class="col-span-2 flex justify-center py-2 px-2 bg-gray-50">
                    <img class="max-h-12" src="../../images/LocalAuthLogos/european_union_social.png"  alt="EU Reginonal Development Fund Logo">
                  </div>
                </div>
          {% endif %}
        {% endfor %}

            {{ course.body | safe }}

            <div class="flex flex-col xs:flex-row py-16">
              <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
                  <object type="image/svg+xml" data="../../../images/icons/Group-72.svg" class="h-14 w-14 mx-auto mb-6"></object>
                  <h3 class="text-center text-xl leading-lg mb-4">Learn from the best</h3>
                  <p class="text-center">Our trainers and coaches are industry-leading digital experts, providing you with top-notch skills and knowledge to help you excel.</p>
              </div>

              <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
                  <object type="image/svg+xml" data="../../../images/icons/Group-79.svg" class="h-14 w-14 mx-auto mb-6"></object>
                  <h3 class="text-center text-xl leading-lg mb-4">Boost your confidence</h3>
                  <p class="text-center">Our courses are designed to teach you in-demand tech and digital skills.</p>
              </div>

              <div class="px-0 md:px-4 md:mx-4 mb-14 md:mb-0 sm:w-1/2 md:w-auto sm:mx-auto">
                  <object type="image/svg+xml" data="../../../images/icons/Group-15.svg" class="h-14 w-14 mx-auto mb-6"></object>
                  <h3 class="text-center text-xl leading-lg mb-4">Upskill</h3>
                  <p class="text-center">Develop new tech skills or brush-up on existing skills to increase your productivity.  You and your teams will feel empowered, engaged and educated.</p>
              </div>
            </div>

            <div class="mt-12">
              <h2 class="text-center">100% funding is often available  for our courses</h2>

              <!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    {# <p class="text-center text-base font-semibold uppercase text-gray-600 tracking-wider">
      Trusted by over 5 very average small businesses
    </p> #}
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-4 lg:mt-8">
      <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../../images/LocalAuthLogos/skills-for-growth-logo.png"  alt="Leeds LEP Logo">
      </div>
      <div class="col-span-2 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../../images/logoesf_col_landscape.png" alt="EU Social Fund Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../../images/LocalAuthLogos/dfe.png"  alt="Department for Education Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../../images/LocalAuthLogos/erdf.png"  alt="EU Reginonal Development Fund Logo">
      </div>
      <div class="col-span-1 flex justify-center bg-gray-50">
        <img class="max-h-12" src="../../images/LocalAuthLogos/lep-logo.jpg"  alt="Skills for Growth Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../../images/LocalAuthLogos/lcr.png"  alt="Liverpool City Region Logo">
      </div>
      <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
        <img class="max-h-12" src="../../images/LocalAuthLogos/wyca.png"  alt="West Yorkshire Combined Authority Logo">
      </div>
    </div>
  </div>
</div>







              {# <div class="flex flex-col md:flex-row flex-wrap">
                  <div class="relative h-24 md:h-40 w-full mb-6" style="background-image:url('../../images/gmca-logo-landscape.png'); background-size: contain; background-position: center; background-repeat: no-repeat;">
                  <a href="https://www.greatermanchester-ca.gov.uk/" class="h-full absolute top-0 right-0 left-0 bottom-0">
                  </a>
                </div>
                 <div class="relative h-24 md:h-56 w-full sm:w-1/2" style="background-image:url('../../images/esf_logo.png'); background-size: contain; background-position: center; background-repeat: no-repeat;">
                    <a href="https://ec.europa.eu/esf/home.jsp" class="h-full absolute top-0 right-0 left-0 bottom-0">
                    </a>
                  </div>
                <div class="relative h-24 md:h-56 w-full sm:w-1/2" style="background-image:url('../../images/dfe_logo.jpg'); background-size: contain; background-position: center; background-repeat: no-repeat;">
                  <a href="https://www.gov.uk/government/organisations/department-for-education" class="h-full absolute top-0 right-0 left-0 bottom-0">
                  </a>
                </div>
              </div> #}
            </div>
        </div>

          {% if course.ctaActive %}
          {% include '../components/course-directory/main-cta.njk' %}
          {% endif %}
          {% include '../components/course-directory/apply-cta.njk' %}




    </article>
  <script>
    const styledDiv = document.querySelector('.content > div');
    styledDiv.classList.add('content');
  </script>
</main>
