---
layout: default
body_class: apprenticeship-employer
---
<main>
    <div class="bg-grey-100">
        <div class="bg-blue-200 section-rounded">
            <div class="bg-yellow-100 section-rounded">
                <div class="section-rounded">
                    <div class="bg-white section-rounded">
                        <div class="inner py-24">
                            <div class="flex flex-wrap pt-6 lg:pt-24 pb-12">
                                <div class="w-full lg:w-5/12">
                                    <h1>{{location}} Digital Skills Hub</h1>
                                    <p class="font-bold text-lightblue-500 mb-4"><span class="capitalize">Businesses and employees in {{location}}! Apply for our digital upskill and reskill courses.<br>At no cost to you (or your business).
                                    </p>
                                    <p>Our digital courses will:</p>
                                        <ul class="decorated-ul my-4">
                                            <li class="mb-0">Improve productivity</li>
                                            <li class="mb-0">Drive business growth</li>
                                            <li class="mb-0">Fill the digital skills gap</li>
                                        </ul>

                                    <a class="my-4 inline-block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100" href="/course-directory/"> View our Courses</a>
                                </div>
                                <div class="w-full lg:w-7/12 flex items-center justify-center mb-8 lg:mb-0 order-first lg:order-last">
                                    {% if location === 'Greater Manchester' %}
                                    <iframe width="530" height="298" src="https://www.youtube.com/embed/waFGqRBR4qs" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    {% else %}
                                    <img class="lg:px-6" src="../../images/{{ image_source}}" alt="Digital Skills Courses in {{location}}" class="w-full" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="w-full md:w-8/12 mx-auto">
                            {% if location === 'Greater Manchester' %}
                                {% include '../components/hub/manchester/logogrid.njk' %}
                            {% endif %}
                                {% if tag === 'wyca' %}
                                    //todo - change the below to sections and finish these blocks
                                {% endif %}
                                <p class="text-center">The Digital Careers Upskill Programme (DCUP) is delivered by Serco as part of Greater Manchester Combined Authority’s three-year Skills for Growth programme, which is funded through the European Social Fund.</p>
                                <p class="text-center">We are part of Serco’s Approved Training Providers, providing businesses and employed people with access to fully funded digital skills training courses across the Greater Manchester area. It is available in Bolton, Bury, Manchester, Oldham, Rochdale, Salford, Stockport, Tameside, Trafford and Wigan.</p>
                                <p class="mt-4 text-center"><span class="font-bold">What's on offer?</span><br>
                                    The courses have been designed to address two types of learners and career goals:<br>
                                    <ul>
                                        <li><span class="font-bold">Reskilling -</span>Training for those looking to start a new career in a digital role</li>
                                        <li><span class="font-bold">Upskilling -</span>Training for those in digital role aspiring to progress their digital career</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-rounded py-24">
                    <div class="inner">
                        <div class="w-full md:w-8/12 mx-auto">
                            <h2 class="text-center text-white mb-6">Upskill/Reskill yourself and
                            your teams with these 100% funded courses</h2>
                        </div>
                        <div class="courses flex flex-wrap">
                            {% for course in courses %}
                            {% if course.courseType !== 'Apprenticeship' %}
                            {% for item in course.tags %}
                                {% if item.value === tag %}
                                <div class="rounded flex flex-col w-full sm:w-6/12 md:w-4/12 lg:w-3/12 sm:px-4 mb-6 min-h-full">
                                    <div class="bg-white rounded h-full flex flex-col">
                                        <div class="featured-image rounded-full">
                                            <img src="{{course.courseItemImage}}" alt="{{course.title}}" class="rounded w-full">
                                        </div>
                                        <div class="content flex flex-col justify-between p-4 flex-grow-grow">
                                            <div>
                                                <h3 class="text-lg">{{ course.title }}</h3>
                                            </div>
                                            <div class="mb-4">
                                                <p class="leading-tight"><span class="text-sm font-bold">Starts:</span> <span class="text-sm">{{course.start}}</span></p>
                                                <p class="leading-tight"><span class="text-sm font-bold">Length:</span> <span class="text-sm">{%if course.duration.length < 0%}Coming soon!{% elseif course.duration.length === 1%}{{ course.duration[0] }}{% else %}Multiple options available{% endif %}</span></p>
                                                <p class="leading-tight"><span class="text-sm font-bold">Type:</span> <span class="text-sm">{{ course.courseType }}</span></p>
                                            </div>
                                            <div>
                                                <a href="../course-directory/{{ course.slug.current }}/" class="mt-8 text-lightblue-500">View this course <i class="align-middle ml-2 text-lightblue-500 fas fa-angle-right text-md leading-md" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cta bg-white rounded lg:p-4 py-8 px-6 flex lg:flex-row flex-col get-in-touch items-center shadow-primary">
                            <div class="logo flex items-center mx-auto w-1/12">
                                <img class="w-full" src="../../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="The Coders Guild Logo">
                            </div>
                            <div class="content flex flex-col justify-center md:w-7/12 lg:w-8/12 text-center lg:text-left mb-4 md:mb-0">
                                <h4 class="mb-0">Not found a suitable course for your team?</h4>
                                <p>Speak to our course experts to find out how we can help your team grow</p>
                            </div>
                            <div class="buttons flex items-center self-center md:w-4/12 lg:w-3/12">
                                <a href="" data-modal="book-a-call" class="bookacall-c-btn inline-block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100">Get in Touch Today <i class="align-middle ml-2 text-white fas fa-angle-right text-md leading-md" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="employers-employees section-rounded py-24">
                <h2 class="text-center text-white">Hear from the Employers and Employees
                </h2>
                <div>
                    <div class="md:w-9/12 mx-auto flex flex-wrap">
                        <div class="w-full lg:w-6/12 p-6 flex">
                            <div class="block mr-6 sm:mr-14 sm:mb-0 mb-6">
                                <img style="max-width: unset;" src="../../images/white-quote.svg" alt="quotation mark" />
                            </div>
                            <div class="relative text-white">
                                <p class="text-sm leading-lg text-white">Just wanted to say a big thank you to The Coders Guild team for a great course! Definitely inspired me to push our team in different directions to ensure we are developing a more rounded project</p>
                                <span class="font-bold mb-2px">Essential Skills for Your Tech Career - Employer</span>
                            </div>
                        </div>
                        <div class="w-full lg:w-6/12 p-6 flex">
                            <div class="block mr-6 sm:mr-14 sm:mb-0 mb-6">
                                <img style="max-width: unset;" src="../../images/white-quote.svg" alt="quotation mark" />
                            </div>
                            <div class="relative text-white">
                                <p class="text-sm leading-lg text-white">From the course I was able to get progression within my employment, I have more of a tech based role which I am loving.</p>
                                <span class="font-bold mb-2px">Software Tester - Employee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% if location === 'Greater Manchester' %}
            <section class="relative md:py-16 py-14 testimonials overflow-hidden partners">
                <div class="inner relative z-10">
                    <div class="max-w-3xl mx-auto md:px-16">
                        <h2 class="text-center">Hear from our Partners:</h2>
                        <div class="testimonials__slider">
                            {% for testimonial in testimonials %}
                                {% if not testimonial.avatar %}
                                    <div class="px-4 pb-4 h-full">
                                        <div class="shadow-secondary bg-white sm:p-10 pt-2 px-8 pb-8">
                                            <div class="flex flex-col sm:items-center">
                                                <div class="quote">
                                                    <img src="/images/quotation.svg" alt="quotation mark">
                                                </div>
                                                <div class="relative testimonials__quote mb-2">
                                                    <p class="mb-2px">{{ testimonial.testimonial }}</p>
                                                </div>
                                                <div class="">
                                                    <span class="text-md leading-sm font-heading font-bold mb-2 block">{{ testimonial.client }}</span>
                                                    <p class="text-sm leading-lg">{{ testimonial.occupation }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="flex justify-center items-center mt-8">
                        <button type="button" class="prev mr-6">
                            <img src="../images/icons/chevron-right-white.svg" class="h-6 w-6 m-auto" />
                        </button>
                        <div class="dots"></div>
                        <button type="button" class="next ml-6">
                            <img src="../images/icons/chevron-left-white.svg" class="h-6 w-6 m-auto" />
                        </button>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
<section class="py-12">
    <div class="inner">
        <div class="md:flex md:pt-16 pt-20 pb-12 md:pb-12">
            <div class="md:w-1/3 md:mb-0 mb-12">
                <div class="px-4">
                <img src="../images/icons/Group-16.svg" alt="Image of a group to indicate a group of developers" class="mx-auto mb-6 h-16"/>
                <h3 class="text-center text-xl leading-lg mb-0">Digital Training Courses</h3>
                </div>
            </div>
            <div class="md:w-1/3 md:mb-0 mb-12">
                <div class="px-4">
                <img src="../images/icons/Group-34.svg" alt="icon to denote coding professionals" class="mx-auto mb-6 h-16"/>
                <h3 class="text-center text-xl leading-lg mb-0">Upskilling professionals</h3>
                </div>
            </div>
            <div class="md:w-1/3">
                <div class="px-4">
                <img src="../images/icons/Group-72.svg" alt="icon to denote a presentation" class="mx-auto mb-6 h-16"/>
                <h3 class="text-center text-xl leading-lg mb-0">SMEs and larger organisations</h3>
                </div>
            </div>
        </div>
    </div>
</section>

{% if location === 'Greater Manchester' %}
<section class="logos py-12 md:py-24">
    <div class="w-full md:w-6/12 mx-auto">
        {% include '../components/hub/manchester/logogrid.njk' %}
        <p class="text-center">
        We offer fully funded Digital courses and qualifications for businesses and employed individuals based in Bolton, Bury, Manchester, Oldham, Rochdale, Salford, Stockport, Tameside, Trafford and Wigan.
        </p>
    </div>
</section>
{% endif %}

<section class="contact py-24">
<div class="inner">
    <div class="flex flex-wrap">
        <div class="w-full md:w-4/12 mb-6 md:mb-0">
            <img class="w-full" src="../../images/chevrons-2.png" alt="The Coders Guild students on a course">
        </div>
        <div class="w-full md:w-8/12">
            {% include '../components/contact/contact-form.njk' %}
        </div>
    </div>
</div>
</section>
</main>
