---
layout: default
body_class: apprenticeship-employer
---
<main>
    <div class="bg-grey-100 section-rounded">
        <div class="bg-blue-200 section-rounded">
            <div class="bg-yellow-100 section-rounded">
                <div class="bg-grey-100 section-rounded">
                    <div class="bg-white section-rounded">
                        <div class="inner py-24">
                            <div class="flex flex-wrap pt-6 lg:pt-24 pb-12">
                                <div class="w-full lg:w-5/12">
                                    <h1 class="text-center lg:text-left">Elevate Your Tech Career in West Yorkshire with The Coders Guild</h1>
                                    <p class="font-bold text-lightblue-500 mb-4">Are you ready to enhance your skillset? Dive into our fully funded digital courses! Expand your career opportunities or refine your existing skills through expert-led training and support. Secure your place today - spaces are filling up fast! 
                                    </p>
                                    <ul class="decorated-ul my-4">
                                        <li class="mb-0"><strong>Diverse course offerings for all skill levels</li>
                                        <li class="mb-0"><strong>Real-world skills for immediate career impact</li>
                                        <li class="mb-0"><strong>Fully funded opportunities by WYCA</li>
                                    </ul>
                                    <a class="my-4 inline-block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100" href="#courses">Explore Courses and Secure Your Spot</a>
                                </div>
                                <div class="w-full lg:w-7/12 flex flex-col items-center justify-center mb-8 lg:mb-0 order-first lg:order-last">
                                    <img class="lg:px-6" src="../../images/{{ image_source}}" alt="Digital Skills Courses in {{location}}" class="w-full" />
                                </div>
                            </div>
                            <div class="w-full md:w-8/12 mx-auto">
                                {% include '../components/hub/west-yorks-intro.njk' %}
                                <div class="mt-12">
                                    {% include '../components/hub/wyca/wyca-logos.njk' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="courses" class="section-rounded py-24">
                    <div class="inner">
                        <div class="w-full md:w-8/12 mx-auto">
                            <h2 class="text-center text-white mb-6">Reskill yourself and
                            your teams with these 100% funded courses </h2>
                        </div>

                        <div class="courses flex flex-wrap justify-center">
                            {% for course in courses %}
                                {% if course.courseType !== 'Apprenticeship' %}
                                    {% for item in course.tags %}
                                        {% if item.value === tag %}
                                        <div class="relative rounded flex flex-col w-full sm:w-6/12 md:w-4/12 lg:w-3/12 sm:px-4 mb-6 min-h-full">
                                            <div class="bg-white rounded h-full flex flex-col">
                                                <div class="featured-image rounded-full">
                                                    <img src="{{course.courseItemImage}}" alt="{{course.title}}" class="rounded w-full">
                                                </div>
                                                <div class="content flex flex-col justify-between p-4 flex-grow-grow">
                                                    <div>
                                                        <h3 class="text-lg">{% if course.subtitle %}{{ course.subtitle}}{% else %}{{ course.title | courseDisplay }}{% endif %}</h3>
                                                    </div>
                                                    <div class="mb-4">
                                                        <p class="leading-tight"><span class="text-sm font-bold">Starts:</span> <span class="text-sm">{{course.start | dateDisplay}}</span></p>
                                                        <p class="leading-tight"><span class="text-sm font-bold">Length:</span> <span class="text-sm">{%if course.duration.length < 0%}Coming soon!{% elseif course.duration.length === 1%}{{ course.duration[0] }}{% else %}Multiple options available{% endif %}</span></p>
                                                        <p class="leading-tight"><span class="text-sm font-bold">Type:</span> <span class="text-sm">{{ course.courseType }}</span></p>
                                                    </div>
                                                    <div>
                                                        <a href="../course-directory/{{ course.slug.current }}/" class="stretched-link mt-8 text-lightblue-500">View this course <i class="align-middle ml-2 text-lightblue-500 fas fa-angle-right text-md leading-md" aria-hidden="true"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="cta bg-white rounded lg:p-4 py-8 px-6 flex lg:flex-row flex-col get-in-touch items-center shadow-primary">
                            <div class="logo flex items-center mx-auto w-1/12">
                                <img class="w-full" src="../../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="The Coders Guild Logo">
                            </div>
                            <div class="content flex flex-col justify-center md:w-7/12 lg:w-8/12 text-center lg:text-left mb-4 md:mb-0">
                                <h4 class="mb-0">Not found a suitable course for your team?</h4>
                                <p>Speak to our course experts to find out how we can help your team grow, or register your interest for our courses coming soon</p>
                            </div>
                            <div class="buttons flex items-center self-center md:w-4/12 lg:w-3/12">
                                <a href="" data-modal="book-a-call" class="bookacall-c-btn inline-block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100">Get in Touch Today <i class="align-middle ml-2 text-white fas fa-angle-right text-md leading-md" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="employers-employees section-rounded py-24">
                <h2 class="text-center text-white">Hear from the Employers and Employees
                </h2>
                <div>
                    <div class="md:w-9/12 mx-auto flex flex-col lg:flex-row justify-center">
                        {% for testimonial in testimonials %}
                            {% if testimonial._id === '7b59b61e-7d49-4d14-9bad-bf121a4cb66a' or testimonial._id === '91de1d93-948e-44ff-8672-da0df1d9aba9' or testimonial._id === 'fdd56cf8-0507-47f1-b18d-95e6542fec74' %}
                                <div class="w-full lg:w-6/12 p-8">
                                    <div class="relative shadow-secondary bg-blue-300 text-white pt-4 pl-16 pr-4 pb-8 w-full flex flex-col">
                                        <div class="sm:flex sm:flex-col">
                                            <div class="-ml-10 mt-4 sm:mr-14 sm:mb-0 mb-6 border-1 border-lightblue-500 rounded-full h-24 w-24 absolute top-0 left-0" style="background-image: url('{{ testimonial.avatar }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                                            <h3 class="mb-0 text-white text-md">{{ testimonial.client }}</h3>
                                            <span class="text-sm text-white leading-sm font-heading font-bold mb-2 block">{{ testimonial.occupation }}</span>
                                            <p class="text-sm leading-lg text-white">{{ testimonial.testimonial }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact py-24">
        <div class="inner">
            <div class="flex flex-wrap">
                <div class="w-full md:w-4/12 mb-6 md:mb-0">
                    <img class="w-full" src="../../images/chevrons-2.png" alt="The Coders Guild students on a course">
                </div>
                <div class="w-full md:w-8/12">
                    {% include '../components/contact/contact-form.njk' %}
                </div>
            </div>
        </div>
    </section>
</main>
