---
layout: default
---

{% include '../components/global/internal-hero.njk' %}
<div class="container max-w-full md:pt-22 pt-20">
  <main id="main" class="main flex flex-1 flex-col focus:outline-none  overflow-hidden" tabindex="-1">
    <div class="bg-green-100">
      <div class="bg-red-100 section-rounded">
        <div class="bg-blue-200 section-rounded">
          <div class="bg-white">
            {{ content | safe }}
          </div>
        </div>
        {% include "components/home/services.njk" %}
      </div>
      {% include "components/global/newsletter.njk" %}
    </div>
  </main>
</div>