---
layout: default
related_articles: true
title: {{ title }}
meta_description: {{ excerpt }}
---


<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1 mb-10 sm:mb-20 mx-auto pt-20">

        <div class="mb-10 sm:mb-8 max-w-6xl">

                <figure class="relative">
                    <img data-lazy="https://cdn.sanity.io/images/wd1bon7z/production/980e1a692018f20aa937b1e51b49916248f4530a-1024x768.jpg" alt="{{ featured_image_alt }}" class="max-h-96 max-w-4xl h-40 sm:h-56 md:h-auto object-cover loaded">
                      <div class="absolute h-32 w-32 bg-white" style="bottom: -50px; left: 50px;">
                        <img data-lazy="{{ job.employerLogo }}" alt="{{ job.jobTitle }}" class="w-full h-full" />
                      </div>
                </figure>

                <div class="flex flex-col md:px-20 relative pt-12 sm:pt-10 max-w-3xl mx-auto inner mt-12">
                  <h2 class="text-blue-200 text-4xl leading-4xl sm:text-5xl sm:leading-5xl">{{ job.jobTitle }}</h2>
                  <div class="flex flex-col">
                    <div>
                      <p class="font-bold">{{ job.standard }}</p>
                    </div>
                    <div class="flex items-center">
                      <p class="mr-4 font-bold text-blue-200">{{ job.employerName }}</p>
                      <img class="mr-1" src="../../images/apprenticeJobAd/place_black_24dp.svg">
                      <p class="text-sm">{% for location in job.location %}{{location.name}}</p>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="flex items-center justify-start flex-wrap">
                    <div class="flex items-center justify-around mr-6 py-2">
                      <img class="mr-2 ml-1 md:ml-0 mr-2" src="../../images/apprenticeJobAd/pound_icon.svg">
                      <p class="text-sm"><strong>{{ job.salary }}</strong></p>
                    </div>

                  {% if job.contract %}
                    <div class="flex items-center justify-around mr-6">
                      <img class="mr-2" src="../../images/apprenticeJobAd/schedule_black_24dp.svg">
                      <p class="text-sm"><strong>{{ job.contract }}</strong></p>
                    </div>
                  {% endif %}


                    <div class="flex items-center justify-around">
                      <img class="mr-2" src="../../images/apprenticeJobAd/date_range_black_24dp.svg">
                      <p class="text-sm">Closing Date: <strong>{{ job.closingDate | dateDisplay }}</strong></p>
                    </div>
                 </div>
                <div class="flex items-center py-2">
                  <p class="text-sm"><span class="font-bold">Disability Confident Employer:</span>{% if job.disabilityConfident %} Yes {% else %} No {% endif %}</pclass=>
                </div>
                {# <div class="flex items-center py-2">
                  <span class="text-blue-200 font-bold text-sm">Company Socials:&nbsp;&nbsp; </span>
                  {%if job.linkedin %}<a class="border-none" href="{{ job.linkedin}}"><img src="../../images/icons/LINKEDIN_ICON.svg" class="h-6 mr-2"></a>{% endif %}
                  {%if job.facebook %}<a class="border-none" href="{{ job.facebook}}"><img src="../../images/icons/FACEBOOK.svg" class="h-6 mr-2"></a>{% endif %}
                  {%if job.twitter %}<a class="border-none" href="{{ job.twitter}}"><img src="../../images/icons/TWITTER_ICON.svg" class="h-6 mr-2"></a>{% endif %}
                  {%if job.instagram %}<a class="border-none" href="{{ job.instagram}}"><img src="../../images/icons/INSTAGRAM.svg" class="h-6 mr-2"></a>{% endif %}
                </div> #}
                <div class="my-4">
                <a href="{% if job.isDev%}https://applysdl4.thecodersguild.org.uk{% elseif job.isTest%}https://applystl4.thecodersguild.org.uk{% endif %}" class="text-white bg-green-100 px-6 py-2 rounded font-bold">Apply Now <svg class="svg-inline--fa fa-angle-right fa-w-8 align-middle ml-2 text-white text-md leading-md" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></a>
                </div>
            </div>
        </div>

        <div class="post content md:px-20 max-w-3xl mx-auto inner">
            {% if job.companyIntro %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl mb-6">Company Intro</h3>
                {{job.companyIntro | safe}}
            </div>
            {% endif %}

            {% if job.excerpt %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Brief Overview of the Role</h3>
                {{job.excerpt | safe}}
            </div>
            {% endif %}

            {% if job.trainingProvided %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Training to be provided</h3>
                {{job.trainingProvided | safe}}
            </div>
            {% endif %}

            {% if job.jobDescription %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Vacancy Description</h3>
                {{job.jobDescription | safe}}
            </div>
            {% endif %}

            {% if job.jobDuties %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">YOur duties will include:</h3>
                {{job.jobDuties | safe}}
            </div>
            {% endif %}

            {% if job.jobDuties %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Your duties will include:</h3>
                {{job.jobDuties | safe}}
            </div>
            {% endif %}

            {% if job.benefits %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Benefits:</h3>
                {{job.benefits | safe}}
            </div>
            {% endif %}

            {% if job.support %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">How we will support you as an apprentice</h3>
                {{job.support | safe}}
            </div>
            {% endif %}

            <h3 class="text-3xl text-lightblue-500 my-8">Requirements and Prospects</h3>

            {% if job.desiredSkills %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Desired Skills</h3>
                {{job.desiredSkills | safe}}
            </div>
            {% endif %}

            {% if job.personalQualities %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Personal Qualities</h3>
                {{job.personalQualities | safe}}
            </div>
            {% endif %}

            {% if job.qualifications %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Qualifications Required</h3>
                {{job.qualifications | safe}}
            </div>
            {% endif %}

            {% if job.prospects %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Future Prospects</h3>
                {{job.prospects | safe}}
            </div>
            {% endif %}

            {% if job.thingstoConsider %}
            <div class="mb-4">
              <h3 class="text-blue-200 text-xl my-6">Things to Consider</h3>
                {{job.thingstoConsider | safe}}
            </div>
            {% endif %}


        </div>
    </article>
  <script>
    const styledDiv = document.querySelector('.content > div');
    styledDiv.classList.add('content');
  </script>
</main>

