---
layout: default
title: {{job.jobTitle}}
---

<main class="my-2 w-full">

<div class="bg-blue-100 h-64 mt-20 relative w-full" style="background-image:url(../../images/homepage/MVIMG_20180119_122608.jpg) width:100%;">
<div class="bg-white h-32 w-32 ml-16 absolute bottom-0 right-8 -mb-12 border-2 border-blue-900 rounded-lg overflow-hidden">
<img src="{{job.employerLogo}}" alt="company logo" class="w-full h-full">
</div>
</div>

<div class="mx-16 mt-8 pt-10">
<h1>{{job.jobTitle}}</h1>
</div>

<div class="mx-16 flex flex-row">
<h6 class="mb-0">{{job.employerName}}</h6>

<div class="flex">
<img class="ml-8 flex justify-content" src="../../images/apprenticeJobAd/place_black_24dp.svg"><p class="text-sm ml-2">{{job.location}}</p>

</div>
</div>

<div class="mx-16 flex flex-row">
<img class="flex mr-2" src="../../images/apprenticeJobAd/noun_Pound_1056201.svg">
<p class="font-bold text-sm mr-14">{{job.salary}}</p>

<img class="flex mr-2" src="../../images/apprenticeJobAd/schedule_black_24dp.svg">
<p class="font-bold text-sm mr-14">{{job.contract}}</p>

<img class="flex mr-2" src="../../images/apprenticeJobAd/date_range_black_24dp.svg">
<p class="text-sm ">Closing date:</p><p class="font-bold text-sm ml-2">{{job.closingDate}}</p>
</div>
<div class="mx-16">
<p class="font-bold text-sm">Disability Confident Employer:</p><p>{{job.disabilityConfident}}</p>
</div>

<div class="mx-16 flex flex-row">
<p class="font-bold text-sm text-blue-600">Company Socials:<p>
<div class="flex flex-row ml-4">

<img class="flex" src="../../images/apprenticeJobAd/LINKEDIN ICON.svg">

<img class="ml-2 flex" src="../../images/apprenticeJobAd/TWITTER ICON.svg">
<img class="ml-2 flex" src="../../images/apprenticeJobAd/INSTAGRAM.svg">
<img class="ml-2 flex" src="../../images/apprenticeJobAd/FACEBOOK.svg">
</div>
</div>

<div class="mx-16 mt-2">

  <button type="button" id="searchBtnJobIndex"
              class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 text-sm font-medium text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 rounded shadow">Apply Now <img class="ml-2" src="../../images/apprenticeJobAd/Path 108.svg">
            </button>
</div>

<div class="decorated-list content mx-16 my-8">{{job.body | safe}}
<div/>

  
</main>

