---
layout: default
related_articles: true
---

{# a post layout #}
<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1 md:mx-20 mb-24">

        <div class="mb-6">
            {% if featured_image %}

                <figure class="">
                    <img data-lazy="{{ featured_image }}" alt="{{ image_caption }}">
                </figure>

            {% endif %}

            <div class="md:px-20 relative pt-10">
              {% if tags %}
                <div class="category absolute top-0 flex -my-4 -mx-1">
                  {% for item in tags %}
                    {%- if item != "blog" -%}
                      <div class="px-1">
                        <a href="/category/{{ item }}" class="px-2 py-1 bg-red-100 text-white font-semibold rounded block font-heading">{{ item | capitalize }}</a>
                      </div>
                    {%- endif -%}
                  {% endfor %}
                </div>
              {% endif %}

              <header>
                  <h1 class="text-blue-100 max-w-90">{{ title }}</h1>
              </header>

              <div class="flex">

                <div class="mr-2">
                  <img src="../../images/blog/{{avatar}}" class="h-10 w-10 object-cover rounded-50 block" />
                </div>

                <div class="my-auto">
                  <p class="time text-blue-200 font-semibold text-0 leading-xs font-heading">{{ time }} read time</p>
                  <div class="flex">
                    <p class="author text-gray-200 text-0 leading-xs">By {{ author }}</p>
                    {# <p class="my-auto block"> - </p> #}
                    <span class="text-gray-200 text-0 leading-xs my-auto mx-1"> &#8210; </span>
                    <time datetime="{{ date }}" class="text-gray-200 text-0 my-auto">
                        {{ date | dateDisplay }}
                    </time>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="content post md:px-20">

            {{ content | safe }}

        </div>

        <div class="mt-8 md:px-20">

            <div class="border-t border-gray-200 pt-6">

            {% if tags %}
              <div>
                <ul class="flex">
                  {% for item in tags %}
                    {%- if item != "blog" -%}
                      <li class="mr-2">
                          <a class="px-2 py-1 bg-red-100 text-white font-semibold rounded block font-heading" href="/category/{{ item }}">{{ item | capitalize }}</a>
                      </li>
                    {%- endif -%}
                  {% endfor %}
                </ul>
              </div>

            {% endif %}
              {% if prevPost or nextPost %}
                <div class="mt-6">
                  {% if nextPost %}
                    <div {% if prevPost %}class="mb-4"{% endif %}>
                      <p class="text-gray-200"><span class="font-heading text-gray-200 text-sm font-bold">Next article:</span> <a href="{{ nextPost.url }}" class="text-gray-200 font-heading text-sm font-bold link">{{ nextPost.data.title }}</a></p>
                    </div>
                  {% endif %}
                  {% if prevPost %}
                    <div>
                      <p class="text-gray-200"><span class="font-heading text-gray-200 text-sm font-bold">Previous article:</span> <a href="{{ prevPost.url }}" class="text-gray-200 font-heading text-sm font-bold link">{{ prevPost.data.title }}</a></p>
                    </div>
                  {% endif %}
                </div>
              {% endif %}

        </div>

    </article>

    {% include "components/blog/blog-section.njk" %}

</main>
