---
layout: default
related_articles: true
---

{# a post layout #}
<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1 mb-24 mx-auto pt-20">

        <div class="mb-6 max-w-5xl">
            {% if featured_image %}

                <figure class="">
                    <img data-lazy="{{ featured_image }}" alt="{{ image_caption }}">
                </figure>

            {% endif %}

            <div class="md:px-20 relative pt-10 max-w-4xl mx-auto inner">
              {% if tags %}
                <div class="category absolute top-0 flex -my-4 -mx-1">
                  {% for item in tags %}
                    {%- if item != "blog" -%}
                      <div class="px-1">
                        <a href="/category/{{ item }}" class="px-2 py-1 bg-red-100 text-white font-semibold rounded block font-heading">{{ item | capitalize }}</a>
                      </div>
                    {%- endif -%}
                  {% endfor %}
                </div>
              {% endif %}

              <header>
                  <h1 class="text-blue-200">{{ title }}</h1>
              </header>

              <div class="flex">

                <div class="mr-2 w-12">
                  <img src="../../images/blog/{{avatar}}" class="w-full object-cover rounded-50 block" />
                </div>

                <div class="my-auto">
                  <p class="time text-blue-200 font-semibold text-0 leading-xs font-heading mb-1">{{ time }} read time</p>
                  <div class="">
                    <p class="author text-black text-0 leading-xs">
                      By {{ author }}
                      <span class="text-black text-0 leading-xs my-auto">&#8210;</span>
                      <time datetime="{{ date }}" class="text-black text-0 my-auto">
                        {{ date | dateDisplay }}
                      </time>
                    </p>
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="content post md:px-20 max-w-4xl mx-auto inner">

            {{ content | safe }}

        </div>

        <div class="mt-8 md:px-20 max-w-4xl mx-auto inner">

            <div class="border-t border-grey-200 pt-6">

            {% if tags %}
              <div>
                <ul class="flex">
                  {% for item in tags %}
                    {%- if item != "blog" -%}
                      <li class="mr-2">
                          <a class="px-2 py-1 bg-red-100 text-white font-semibold rounded block font-heading" href="/category/{{ item }}">{{ item | capitalize }}</a>
                      </li>
                    {%- endif -%}
                  {% endfor %}
                </ul>
              </div>

            {% endif %}
              {% if prevPost or nextPost %}
                <div class="mt-6">
                  {% if nextPost %}
                    <div {% if prevPost %}class="mb-4"{% endif %}>
                      <p class="text-black"><span class="font-heading text-black text-sm font-bold">Next article:</span> <a href="{{ nextPost.url }}" class="text-black font-heading text-sm font-bold border-b-2 border-blue-100 pb-1">{{ nextPost.data.title }}</a></p>
                    </div>
                  {% endif %}
                  {% if prevPost %}
                    <div>
                      <p class="text-black"><span class="font-heading text-black text-sm font-bold">Previous article:</span> <a href="{{ prevPost.url }}" class="text-black font-heading text-sm font-bold border-b-2 border-blue-100 pb-1">{{ prevPost.data.title }}</a></p>
                    </div>
                  {% endif %}
                </div>
              {% endif %}

        </div>

    </article>

    {% include "components/blog/blog-section.njk" %}

</main>
