---
layout: default
related_articles: true
meta_title: Thank you
title: {{ title }}
subtitle: {{ subtitle }}
---
<div class="container max-w-full md:pt-22 pt-20">
  <main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
    <div class="inner max-w-5xl pt-20 md:mb-20 mb-12 text-center">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
  </main>
</div>

