    <div class="rounded bg-blue-200 lg:p-4 py-8 px-6 flex lg:flex-row flex-col get-in-touch items-center">
  <div class="lg:mr-4 lg:mb-0 mb-6">
    <img class="h-10 w-10 block" alt="" src="../../images/logo/TGC_Square_Logo_White.svg"/>
  </div>
  <div class="cta__text">
    <h2 class="text-xl leading-xl font-bold text-white text-center lg:text-left lg:mb-0 mb-6">Business and Employers</h2>
    <p class="text-white text-center lg:text-left mb-8 lg:mb-0">We offer full team training!
Reach out to us now if you wish to bolster the skillset of your entire team, and increase
overall output in the office.</p>
  </div>
  <div class="lg:ml-auto">
    <a href="" class="bookacall-f-btn text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap" data-modal="cd-book-a-call-calendly">Book A Call<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
    <a href="" class="bookacall-f-btn text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap" data-modal="cd-send-info">Send Me Info<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
  </div>
</div>