<div class="max-w-5xl md:px-8 mx-auto pt-16">
    <div class="md:mb-24 mb-10 md:flex md:items-center">
        <div class="md:w-1/2 md:order-2 mb-10 md:mb-0 md:pl-6">
            <img src="../images/chevrons.png" class="mx-auto md:ml-auto md:mr-0" />
        </div>
        <div class="md:w-1/2 md:order-1">
            <h2>6-12 Week Bootcamps</h2>
            <p>Explore a new area of expertise through one of our interactive, collaborative courses, where you’ll gain in-demand digital skills and boost your employability in today’s tech sector.</p>
            <p>Generally no previous experience is required to succeed with these programmes, where you’ll be coached and mentored by practicing professionals currently leading the way in their respective fields. These courses are suitable for everyone, and are designed with flexibility and inclusivity in mind to cater for each individual participant.</p>
        </div>
    </div>
</div>

<div class="py-12 bg-white">
    <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Our courses</h2>
        <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
            <div>
                <dt>
                    <p class="mt-5 text-lg leading-6 font-medium text-gray-900 font-bold">JAMSTACK</p>
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                    Learn how to build websites and apps with the most innovative tools and frameworks used in modern software development
                </dd>
                <div class="mt-8">
                    <a href="#">LEARN MORE</a>
                </div>
            </div>

            <div>
                <dt>
                    <p class="mt-5 text-lg leading-6 font-medium text-gray-900 font-bold">UX</p>
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                    Gain an in-depth understanding of how to design great experiences with technology products.
                </dd>
                <div class="mt-8">
                    <a href="#">LEARN MORE</a>
                </div>
            </div>

            <div>
                <dt>
                    <p class="mt-5 text-lg leading-6 font-medium text-gray-900 font-bold">SOFTWARE TESTING</p>
                </dt>
                <dd class="mt-2 text-base text-gray-500">
                    Gain fundamental knowledge and practical experience with software testing and quality assurance.                </dd>
                <div class="mt-8">
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
        </dl>
    </div>

    <div class="pt-12 bg-white">
        <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <h2 class="sr-only">Our courses</h2>
            <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8">
                <div>
                    <dt>
                        <p class="mt-5 text-lg leading-6 font-medium text-gray-900 font-bold">FRONT END</p>
                    </dt>
                    <dd class="mt-2 text-base text-gray-500">
                        Become well-versed in the fundamental languages of the web, and learn the basics of designing and developing apps and websites.
                    </dd>
                    <div class="mt-8">
                        <a href="#">LEARN MORE</a>
                    </div>
                </div>

                <div>
                    <dt>
                        <p class="mt-5 text-lg leading-6 font-medium text-gray-900 font-bold">OTHER JOBS IN TECH</p>
                    </dt>
                    <dd class="mt-2 text-base text-gray-500">
                        lorem ipsum
                    </dd>
                    <div class="mt-8">
                        <a href="#">LEARN MORE</a>
                    </div>
                </div>
            </dl>
        </div>
    </div>
</div>