<section class="relative pt-16 pb-4">
  <div class="inner max-w-7xl">
    <div class="md:max-w-2xl md:mx-auto text-center md:mb-16 mb-20">
      <h2 class="md:mb-8 mb-6">All our industry led and industry leading courses!</h2>
      <p class="pb-4">Digital Skills Training is the key to unlocking the full potential of the tech industry</p> 
      <p class="pb-4">We offer a wide range of digital skills training courses, which are entirely flexible and scalable to meet the ever-changing needs of our community.</p>  
      <p class="pb-4">All our training programmes are delivered by talented, experienced professionals who are currently practicing in the skills they help us teach. Many of them are renowned experts in the field they train.</p>
      <p class="pb-4">And our industry-led curriculum means that you don’t have to settle for just keeping up with the trends and skills that are relevant today. We provide you with the skills in emerging technologies which we are certain will be in high-demand for the next few years.</p> 
      <p class="pb-4">Our training is always evolving to remain as forward-thinking as possible and anticipate the fast-moving trends of the tech sector.</p> 
      <p class="pb-4">Explore our current opportunities for digital skills training below, and join us in the future, today.</p>
    </div>

    {% include "components/course-directory/two-day-workshops.njk" %}
    {% include "components/course-directory/bootcamps.njk" %}

    <div class="bg-gray-50">
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <p class="font-extrabold tracking-tight text-blue-200">
          <span class="block">Are you looking to learn something that isn’t listed here? We also have a selection of additional opportunities for digital skills training and personal development currently available.</span>
          <span class="block text-gray-900">Get in touch with us here to see what programme is the most suitable for you..</span>
        </p>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
          <div class="inline-flex rounded-md shadow">
            <a href="#" class="block py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100 px-5 py-3">
              Get in touch
            </a>
          </div>
        </div>
      </div>
    </div>  

  </div>
</section>
