<div class="flex flex-col gap-16 self-stretch" id="{{ type.courseType }}">
    <div>
        <h3>{{ type.courseType }}</h3>
        <p>{{ type.tagline }}</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8">
        {% for course in courses %}
            {% if course.courseType === type.courseType %}
            <div class="flex flex-col gap-6 self-stretch rounded-md shrink-0 shadow-primary">
                <div class="flex flex-col items-start gap-2 self-stretch">
                    <img src="{{ course.featuredImage }}" alt="{{ course.title }}" class="w-full h-64 object-cover">
                </div>
                <div class="flex flex-col gap-6 items-start shrink-0 px-4 pb-6">
                    <h4 class="text-2xl font-bold">{{ course.title }}</h4>
                    <p class="font-semibold text-md">{{ course.subtitle}}</p>
                    <div class="flex flex-row gap-4">
                        {{ course.start | dateDisplay }}
                    </div>
                    <a href="{{ course.slug.current }}" class="text-blue-100 font-bold font-md">View Course ></a>
                </div>
            </div>
                
            {% endif %}
        {% endfor %}
    </div>
    
</div>