<div class="bg-blue-100 text-white py-24">
    <div class="inner flex flex-col">
        <h2 class="text-white">{{meta_title}}</h2>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae libero aperiam voluptas placeat natus dolores harum iusto assumenda! Facilis quo qui nisi placeat tenetur ex, doloremque vero consectetur itaque ratione.</p>
    </div>
</div>
