<div class="bg-blue-100 text-white py-24">
    <div class="inner flex flex-col">
        <h2 class="text-white">{{meta_title}}</h2>
        <p class="text-white">Step into the forefront of innovation with our industry-led courses. Each program is carefully crafted and delivered by seasoned professionals, ensuring you gain the most current and relevant skills. Propel your career with insights and practices straight from the industry's best.</p>
        <p class="text-white">From one or two-day workshops to part-time short courses spanning a few weeks, comprehensive skills bootcamps over 12 weeks, to in-depth apprenticeships ranging from 13 months to 3 years. Each pathway is designed to fit your life and fuel your career, ensuring you're always moving forward with the latest industry insights.</p>
    </div>
</div>
