<div class="inner">
  <div class="flex flex-col lg:flex-row bg-gray-800 my-24">
    <div class="w-full lg:w-7/12">
      <img class="w-full object-cover" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&blend=2574a9&sat=-100&blend-mode=multiply" alt="{{course.title}}">
    </div>
    <div class="w-full lg:w-5/12 px-4 py-4 sm:px-6 lg:px-8">
      <div class="md:ml-auto lg:pl-10">
        <h2 class="text-base font-semibold uppercase">
          Do you live or work in Greater Manchester?
        </h2>
        <p class="mt-2 text-gray-300 text-3xl font-extrabold tracking-tight sm:text-4xl">
          100% funded places available NOW
        </p>
        <p class="mt-3 text-lg text-gray-300">
        If you are currently employed and live or work in the GM area it is very likely that you will be eligible.
        </p>
        <div class="mt-8">
          <div class="inline-flex rounded-md shadow">
            <a href="../../apply/index.html?pj={{course.project}}&pt={{course.partner}}&f={{course.funder}}&cN={{course.code}}" class="bookacall-c-btn flex items-center py-2 px-6 font-bold bg-blue-200 text-white rounded font-heading hover:bg-blue-100">
              Apply Now
              <!-- Heroicon name: solid/external-link -->
              <svg class="-mr-1 ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>