<div id="sectionLinks" class="py-6 bg-white w-full z-20 absolute bottom-0 hidden">
    <span class="text-blue-200 font-semibold mr-6">Jump to:</span> <a class="font-bold mr-6 no-border" href="#courses">Courses</a> <a class="font-bold mr-6 no-border" href="#apprenticeships">Apprenticeships</a>
</div>