<div class="overflow-hidden md:max-w-xs md:mx-auto not-on-print">
              <div>
                <h2 class="leading-3xl text-2xl">Send us a message</h2>
              </div>
              <form method="POST" action="thanks-contact" name="main-contact" netlify netlify-honeypot="mission_control" id="contact-form" class="relative"><!-- The honeypot field must be named obscurely enough for bots not to figure it out, but also so that it's not accidently filled out by the users autocomplete. I'm not sure why I chose this name! -->
                <div class="required-pop-up absolute text-red-100 w-full text-xs leading-xs text-right mb-2 hidden">*Required</div>
                <div>
                  <div class="mb-4">
                  <label for="mission_control" class="sr-only">Don't fill this out if you're human</label>
                  <input name="mission_control" />
                    <label for="options" class="sr-only">Options</label>
                    <div class="relative">
                      <select id="options" name="options" type="select" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black" placeholder="What does your enquiry relate to?" maxlength="50">
                        <option>Please select an option</option>
                        <option>I'm looking to hire an apprentice</option>
                        <option>I'm applying for a course</option>
                        <option>I'm currently a learner on a Coders Guild programme</option>
                        <option>I'm from the media</option>
                        <option>Something else</option>
                      </select>
                      <span class="form-error text-xs leading-xs text-red-100" data-message="Only alphabetical values are allowed" aria-hidden="true" role="alert"></span>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="full_name" class="sr-only">Name</label>
                    <div class="relative">
                      <input id="name" name="name" type="text" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="Your Name*" maxlength="50" data-regex="^[a-zA-Z ]+$" data-valid="false" required/>
                      <span class="form-error text-xs leading-xs text-red-100" data-message="Only alphabetical values are allowed" aria-hidden="true" role="alert"></span>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="email" class="sr-only">Email</label>
                    <div class="relative">
                      <input name="_replyto" id="email" type="email" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="Email*" maxlength="50" data-regex="\S+@\S+\.\S+" data-valid="false" required/>
                      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check if provided email is correct" aria-hidden="true" role="alert"></span>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="phone" class="sr-only">Phone</label>
                    <div class="relative">
                      <input id="phone" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black" maxlength="14" placeholder="Phone" data-valid="false" data-regex="^[+0-9]+$"/>
                      <span class="form-error text-xs leading-xs text-red-100" data-message="Only numeric values are allowed" aria-hidden="true" role="alert"></span>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label for="message" class="sr-only">Message</label>
                    <div class="relative">
                      <textarea id="message" rows="4" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="Message*" required name="message"></textarea>
                      <span class="form-error text-xs leading-xs text-red-100" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
                <div>
                  <button type="submit" id="submit" class="contact-btn rounded font-heading font-bold w-full block py-2 px-6 border border-transparent text-white bg-blue-200 hover:bg-blue-100 focus:bg-blue-100 active:bg-blue-100 transition duration-150 ease-in-out" disabled>
                    Send Enquiry
                  </button>
                </div>
              </form>
            </div>

            <script>
              const form = document.getElementById('contact-form');

              form.addEventListener('change', function(e){
                const target = e.target;

                switch(target.value){
                  case "I'm looking to hire an apprentice":
                   form.action = "https://formspree.io/f/mknqeplz";
                   break;
                  case "I'm applying for a course":
                   form.action = "https://formspree.io/f/xpzkzvgq";
                   break;
                  case "I'm currently a learner on a Coders Guild programme":
                   form.action = "https://formspree.io/f/xeqvajpo";
                   break;
                  case "I'm from the media":
                   form.action = "https://formspree.io/f/moqyeapj";
                   break;
                  case "Something else":
                   form.action = "https://formspree.io/f/mknqeplz";
                   break;
                   default:
                    form.action = "https://formspree.io/f/mknqeplz";
                }
              })

            </script>