 <form netlify action="/thanks-applications/" name="expression-interest">
    <div class="mb-4">
        <label for="name" class="sr-only">Name</label>
        <div class="relative">
            <input id="name" name="name" type="text" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required border-red-100" placeholder="Your Name*" maxlength="50" required>
        </div>
    </div>
    <div class="mb-4">
        <label for="_replyto" class="sr-only">Email Address</label>
        <div class="relative">
            <input name="_replyto" id="email" type="email" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="Your Email*" maxlength="50" required>
        </div>
    </div>
    <div class="mb-4">
        <label for="postcode" class="sr-only">Your Postcode:</label>
        <input type="text" name="postcode" class="form-input-field border-1 rounded py-2 px-3 required mt-1 mb-1 block w-full placeholder-black" placeholder="Your Postcode*" required>
    </div>
    <div class="mb-4">
        <label for="phone" class="sr-only">Your Phone Number:</label>
        <input type="text" name="phone" class="form-input-field border-1 rounded py-2 px-3 required mt-1 mb-1 block w-full placeholder-black" placeholder="Your Phone Number">
    </div>
    <div class="mb-4">
        <p><label for="course_choice" class="">Which course might you be interested in?</label>
        </p>
        <div class="relative flex items-start">

                <select class="form-input-field rounded block w-full py-2 px-3 border-1" name="course_choice">
                    <option selected>{{course.title}}</option>
                    <option value="Any/Not Sure">Any/Not Sure</option>
                    {% for item in courses %}
                        {% if item.title !== course.title and item.courseType !== 'Apprenticeship'%}
                            <option value="{{ item.title }}">{{ item.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>

        </div>
    </div>
    <div class="mb-4">
        <button type="submit" id="submit" class="contact-btn rounded font-heading font-bold w-full block py-2 px-6 border border-transparent text-white bg-blue-200 hover:bg-blue-100 focus:bg-blue-100 active:bg-blue-100 transition duration-150 ease-in-out">Register Interest</button>
    </div>
</form>