{% set courseArray = courses %} 

{% if page.url === '/' %}
    {% set courseArray = courses | courseFilter('apprenticeship') %}
{% elif page.url === '/west-yorkshire/' %}
    {% set courseArray = courses | courseFilter('wyca') %}
{% elif page.url === '/upskilling-staff/' %}
    {% set courseArray = courses | courseFilter('apprenticeship') %}
{% endif %}
 
 <form netlify action="/thanks-interest/" name="expression-interest">
    <div class="mb-4">
        <label for="eoi-name" class="sr-only">Name</label>
        <div class="relative">
            <input id="eoi-name" name="eoi-name" type="text" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required border-red-100" placeholder="Your Name*" maxlength="50" required>
        </div>
    </div>
    <div class="mb-4">
        <label for="eoi-name_replyto" class="sr-only">Email Address</label>
        <div class="relative">
            <input name="eoi_replyto" id="eoi-email" type="email" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="Your Email*" maxlength="50" required>
        </div>
    </div>
    <div class="mb-4">
        <label for="eoi-postcode" class="sr-only">Your Postcode:</label>
        <input type="text" name="eoi-postcode" class="form-input-field border-1 rounded py-2 px-3 required mt-1 mb-1 block w-full placeholder-black" placeholder="Your Postcode*" required>
    </div>
    <div class="mb-4">
        <label for="phone" class="sr-only">Your Phone Number:</label>
        <input type="text" name="eoi-phone" class="form-input-field border-1 rounded py-2 px-3 required mt-1 mb-1 block w-full placeholder-black" placeholder="Your Phone Number">
    </div>
    <div class="mb-4">
        <p class="leading-lg"><label for="eoi-course_choice" class="text-white leading-lg">Which course might you be interested in?</label>
        </p>
        <div class="relative flex items-start">
            <select class="form-input-field rounded block w-full py-2 px-3 border-1" name="course_choice">
                <option selected>{% if course.title %}{{course.title}}{% else %}Please Select{% endif %}</option>
                {% for item in courseArray %}
                    {% if item.title !== course.title and item.courseType !== 'Apprenticeship' and item.isActive %}
                        <option value="{{ item.title }}">{{ item.title }}</option>
                    {% endif %}
                {% endfor %}
                <option value="Any/Not Sure">Any/Not Sure</option>
            </select>
        </div>
    </div>
    <div class="mb-4">
        <p class="leading-lg"><label for="session-times" class="text-white leading-lg">Do you have a preference of time of day to attend course sessions?</label></p>
        <div class="relative">
            <select id="session-times" name="session-times" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required border-red-100" required>
                <option selected disabled>Please select one</option>
                <option value="Day time">I can only do this course if sessions are during the workday</option>
                <option value="After work">I can only do this course if the sessions are after work (6pm - 9pm)</option>
                <option value="either">I could attend either during the day or after work sessions</option>
                <option value="Just interested/other">Just interested/other</option>


            </select>
        </div>
    </div>
    <div class="mb-4">
        <button type="submit" id="submit" class="contact-btn rounded font-heading font-bold w-full block py-2 px-6 border border-transparent text-white bg-green-100 hover:bg-green-100 focus:bg-green-100 active:bg-green-100 transition duration-150 ease-in-out">Register Interest</button>
    </div>
</form>