<div class="mt-2 mb-4 grid grid-cols-4 gap-0.5">
    <div class="col-span-2 lg:col-span-1 flex items-center justify-center py-2 px-6 bg-gray-50">
        <img class="max-h-8" src="../../images/LocalAuthLogos/Serco.jpg"  alt="Leeds LEP Logo">
    </div>
    <div class="col-span-2 lg:col-span-1 flex items-center justify-center py-2 px-6 bg-gray-50">
        <img class="max-h-8" src="../../images/LocalAuthLogos/uk_skills.png" alt="EU Social Fund Logo">
    </div>
    <div class="col-span-2 lg:col-span-1 flex items-center justify-center py-2 px-6 bg-gray-50">
        <img class="max-h-8" src="../../images/LocalAuthLogos/skills_for_growth.png"  alt="Department for Education Logo">
    </div>
    <div class="col-span-2 lg:col-span-1 flex items-center justify-center py-2 px-6 bg-gray-50">
        <img class="max-h-8" src="../../images/LocalAuthLogos/european_union_social.png"  alt="EU Reginonal Development Fund Logo">
    </div>
</div>