
<div class="md:flex md:flex-wrap -mx-6">
  <div class="mb-6 flex flex-col items-center md:w-1/3 px-6">
    <div class="py-6">
      <img src="../images/banner.jpg" alt="" />
    </div>
    <div class="">
      <h5 class="font-medium mb-3">Crispin</h5>
      <span class="mb-3 block uppercase">Founder & Director</span>
      <p class="max-w-90">Making sure everything we do is brilliant and 
      always getting better. 20 years as a developer, now full 
      time advocate for apprenticeships and equality.</p>
    </div>
  </div>

  <div class="mb-6 flex flex-col items-center md:w-1/3 px-6">
    <div class="py-6">
      <img src="../images/banner.jpg" alt="" />
    </div>
    <div class="">
      <h5 class="font-medium mb-3">Naomi</h5>
      <span class="mb-3 block uppercase">Apprenticeships Manager</span>
      <p class="max-w-90">Looking after all our learners and partners, 
      keeping projects running smoothly. Working in apprenticeships since 
      2006, also heads up our social media channels - it’s her you’re talking to 
      on twitter and instagram.</p>
    </div>
  </div>

  <div class="mb-6 flex flex-col items-center md:w-1/3 px-6">
    <div class="py-6">
      <img src="../images/banner.jpg" alt="" />
    </div>
    <div class="">
      <h5 class="font-medium mb-3">Helen</h5>
      <span class="mb-3 block uppercase">Head of Partnerships and Social Mission</span>
      <p class="max-w-90">Keeping us on track with compliance and constantly improving 
      the quality of our delivery. She’s also heading up our social mission.</p>
    </div>
  </div>

  <div class="mb-6 flex flex-col items-center md:w-1/3 px-6">
    <div class="py-6">
      <img src="../images/banner.jpg" alt="" />
    </div>
    <div class="">
      <h5 class="font-medium mb-3">Fiona</h5>
      <span class="mb-3 block uppercase">Partnerships Development Manager</span>
      <p class="max-w-90">First point of contact for our partners and customers, making sure 
      everyone we work with shares our vision and gets the most out of apprenticeships 
      and training.</p>
    </div>
  </div>
</div>