<section class="relative md:pt-16 pt-16 md:pb-8 bg-grey-100 faq">
  <div class="inner">
    <div class="max-w-5xl md:px-8 mx-auto">
      <h2 class="text-center mb-10 md:mb-12">FAQs</h2>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>Do I get paid to learn?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100">YES! While studying towards your apprenticeship you are 
          employed by a local company who are committed to your training, with the view that at 
          the end of the programme, you&rsquo;ll continue to be a happy and productive member of their team.</p>
        </div>
      </div>

      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>Do I have to have a job to be an apprentice?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="pt-8 mb-6 border-t-2 border-grey-100">You DO have to have a job in an area that 
          will allow you to practise what you have learnt. An apprenticeship 
          is <span class="font-bold">&lsquo;A Job with Training&rsquo;</span>.</p>
          <p class="mb-6">We do have links with businesses all over England who love to 
          offer apprentices their first role in the industry… but unfortunately, as there 
          is such high demand for positions, competition is tough and we don&rsquo;t always have 
          enough roles, in the right locations, for everyone that wants to apply.</p>
          <p class="pb-8">However, you don&rsquo;t HAVE to have a job that WE have found 
          for you! We can help you apply for jobs in your area, equipping you with the skills, 
          knowledge and confidence that you need to secure a job and start your apprenticeship asap.</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>What is the qualification that I will be awarded?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100"><a>Level 4 in Software Development</a></p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>How much does the course cost?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100">The Apprenticeship program will not cost you a 
          penny! Your training is funded between the government and your employer.</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>What qualifications do I need to apply?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="pt-8 mb-6 border-t-2 border-grey-100">None! We don&rsquo;t want a lack of formal education 
          or qualifications to be a barrier to our amazing industry. What we do 
          want to see is that you love the tech industry and are passionate about your 
          own development as a coder.</p>
          <p class="mb-6">We love to see your portfolio, evidence of your 
          self-learning and ways you can display your aptitude for a role in this 
          industry… and we work with employers who want the same.</p>
          <p class="pb-8">If you have Level 2 qualifications 
          in Maths and English, that&rsquo;s a bonus, but if you don&rsquo;t we won&rsquo;t turn you away!</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>How long is the course?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100">It&rsquo;s a minimum of 18 months and a maximum of 24. There&rsquo;s 
          always some flexibility built in to make sure you get the very best from your 
          experience with The Coders Guild.</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>Does it matter where I live?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="py-8 border-t-2 border-grey-100">No… not at all. We deliver regular 
          face-to-face training in Leeds and London, but if you can&rsquo;t travel to 
          either, we offer a full remote-learning package. You will attend group 
          sessions with your coach and trainer and see your fellow trainee coders 
          during regular Zoom classes.</p>
        </div>
      </div>
      <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
        <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
          <span>What&rsquo;s the application process?</span>
          <i class="fas fa-angle-down text-grey-300 text-xl"></i>
        </button>
        <div class="faq-content">
          <p class="pt-8 mb-6 border-t-2 border-grey-100">We have an open-door application 
          process, which means you can apply at any time. We don&rsquo;t work to an academic year.</p>
          <p class="mb-6">Applications are received and anonymously 
          filtered. If you live outside the UK or already have  a Level 4 or higher 
          qualification in Web Dev or similar… unfortunately we can&rsquo;t accept your application.</p>
          <p class="pb-8">Everyone is invited to take part in a free online bootcamp.</p>
        </div>
      </div>
      <div class="max-w-2xl text-center mx-auto my-20">
        <h2 class="text-center mb-6">Ready to start your career as a coder?</h2>
        <a href="http://applysdl4.thecodersguild.org.uk/" class="inline-block text-md leading-sm text-white bg-blue-200 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">APPLY NOW<i class="fas fa-angle-right text-md leading-sm text-white ml-2"></i></a>
      </div>
    </div>
  </div>
</section>