<section class="relative pt-16 md:pb-14 pb-4">
  <div class="inner max-w-7xl">
    <div class="md:max-w-2xl md:mx-auto text-center md:mb-16 mb-20">
      <h2 class="md:mb-8 mb-6">Welcome to The Coders Guild.</h2>
      <p>With more experience than most when it comes to Developer Apprenticeships, we’re here to help you fast-track your way to a successful career in tech.</p>
    </div>

    <div class="max-w-5xl md:px-8 mx-auto">
        <div class="md:mb-24 mb-10 md:flex md:items-center">
          <div class="md:w-1/2 md:order-2 mb-10 md:mb-0 md:pl-6">
            <img src="../images/chevrons.png" class="mx-auto md:ml-auto md:mr-0" />
          </div>
          <div class="md:w-1/2 md:order-1">
            <h2>“What do you wish you had known in Year 1?”</h2>
            <p>This was the question we asked ourselves (and the wider tech community) when we began building the Software Developer course. From the resulting insights, your curriculum was born.</p>
          </div>
        </div>

        <div class="md:mb-24 mb-10 md:flex md:items-center">
          <div class="md:w-1/2 mb-10 md:mb-0 md:pr-6">
            <img src="../images/chevrons.png" class="mx-auto md:mr-auto md:ml-0" />
          </div>
          <div class="md:w-1/2">
            <h2>The industry wrote it… and are still writing it</h2>
            <p>This is how we know the apprenticeship we deliver is highly regarded and sought after by employers.</p>
          </div>
        </div>

        <div class="md:mb-24 mb-10 md:flex md:items-center">
          <div class="md:w-1/2 md:order-2 mb-10 md:mb-0 md:pl-6">
            <img src="../images/chevrons.png" class="mx-auto md:ml-auto md:mr-0" />
          </div>
          <div class="md:w-1/2 md:order-1">
            <h2>Want the most up-to-date training, in small groups, personalised to your own needs?</h2>
            <p>No industry progresses faster than tech. There’s little point in teaching you topics that were relevant 12 months ago. And a one-size-fits-all approach doesn’t work for diverse groups of talent, so we personalise as much as humanly possible.</p>
          </div>
        </div>

        <div class="md:mb-24 mb-10 md:flex md:items-center">
          <div class="md:w-1/2 mb-10 md:mb-0 md:pr-6">
            <img src="../images/chevrons.png" class="mx-auto md:mr-auto md:ml-0" />
          </div>
          <div class="md:w-1/2">
            <h2>Our curriculum is a living, breathing thing…</h2>
            <p>While the ‘topics’ may be similar… the content is always being kept up-to-date by our industry partners and tutors… who are developers working in the field.</p>
          </div>
        </div>

    </div>
    
    <div class="md:py-24 py-10">
      <div class="rounded bg-blue-200 lg:p-4 py-8 px-6 flex lg:flex-row flex-col get-in-touch items-center">
        <div class="lg:mr-4 lg:mb-0 mb-6">
          <img class="h-10 w-10 block" alt="" src="../images/logo/TGC_Square_Logo_White.svg"/>
        </div>
        <div class="cta__text">
          <p class="text-lg leading-xl font-bold text-white text-center lg:text-left lg:mb-0 mb-6">If you’re ready to kick start your journey in an exciting and lucrative career…</p>
        </div>
        <div class="lg:ml-auto">
          <a href="http://applysdl4.thecodersguild.org.uk/" class="text-md leading-sm text-blue-200 bg-white py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Apply Today<i class="fas fa-angle-right text-md leading-sm text-blue-200 ml-2"></i></a>
        </div>
      </div>
    </div>

  </div>
</section>