<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24">
  <div class="mb-12">
    <h3 class="relative title font-semibold max-w-90 mb-10">&ldquo;What do you wish you had known in Year 1?&rdquo;</h3>
    <p class="mb-6 max-w-90">This was the question we asked ourselves (and the wider tech community) when we began building the Software Developer course. From the resulting insights, your curriculum was born.</p>
  </div>
  <div class="mb-12">
    <h3 class="relative title font-semibold max-w-90 mb-10">The industry wrote it… and are still writing it</h3>
    <p class="mb-6 max-w-90">This is how we know the apprenticeship we deliver is highly regarded and sought after by employers.</p>
  </div>
  <div class="mb-12">
    <h3 class="relative title font-semibold max-w-90 mb-10">Want the most up-to-date training, in small groups, personalised to your own needs?</h3>
    <p class="mb-6 max-w-90">No industry progresses faster than tech. There’s little point in teaching you topics that were relevant 12 months ago. And a one-size-fits-all approach doesn’t work for diverse groups of talent, so we personalise as much as humanly possible.</p>
  </div>
  <div class="mb-12">
    <h3 class="relative title font-semibold max-w-90 mb-10">Our curriculum is a living, breathing thing…</h3>
    <p class="mb-6 max-w-90">While the &lsquo;topics&rsquo; may be similar… the content is always being kept up-to-date by our industry partners and tutors... who are developers working in the field.</p>
  </div>
</section>