<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl pt-20 mb-24">
  <div>
    <h2 class="relative title font-semibold max-w-90 mb-12">Looking for the first step towards your career as a Developer?</h2>
  </div>
  <div class="md:flex mb-12">
    <div class="md:w-3/5">
      <h3 class="relative title font-semibold max-w-90">Welcome to The Coders Guild.</h3>
      <p class="mb-6 max-w-90">With more experience than most when it comes to Developer Apprenticeships, we’re here 
      to help you fast-track your way to a successful career in tech.</p>
    </div>
    <div class="md:w-2/5">
      {% include "components/apprenticeships/apprenticeship-intro-component.njk" %}
    </div>
  </div>
</section>