<div class="relative my-12">
    <div class="flex justify-between">
        <object type="image/svg+xml" data="../../images/patterns/5.svg" class="absolute pattern pattern-1 left-0 -z-1"></object>
        <object type="image/svg+xml" data="../../images/patterns/2.svg" class="absolute pattern pattern-1 right-0 -z-1"></object>
    </div>
    <div>
        <h2 class="my-12 text-center text-lightblue-500">Would you like to do this course for free?</h2>

        <div class="cta bg-gradient-to-r from-blue-100 to-blue-200 flex justify-between px-8 py-4 rounded">
        <p class="text-white max-w-3xl leading-md">If you live or work in <strong>Greater Manchester</strong> or <strong>Yorkshire & Humber</strong> it is very likely that you will be eligible for <strong>100% funding.</strong></p>
        <a href="#contact" class="flex items-center bg-white px-12 text-lightblue-500 rounded ">Apply Now <i class="fa-solid fa-angle-right"></i></a>
        </div>
    </div>
    <div class="flex items-center justify-around mx-auto mt-8 w-7/12">
        <p class="bg-green-100 text-black rounded px-4 py-2" href="">Next Course Starts: <strong>{{ course.start | dateDisplay }}<strong></p>
        <p class="bg-red-100 text-white rounded px-4 py-2" href="">Next Course Starts: <strong>{{ course.start | dateDisplay }}</strong></p>
    </div>
</div>