<button id="buy-now-btn" data-course-title="{{course.title}}" data-price="{{2995 * 100}}" class="text-md leading-sm text-white bg-blue-200 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">
    Enroll on this course now for just £2995!
</button>