<div class="bg-grey-100 py-24 section-rounded">
    <div class="flex flex-col lg:flex-row container mx-auto">
        <div class="w-full lg:w-4/12 md:px-8">
            <div class="sticky top-100 self-start">
            <object type="image/svg+xml" data="../../images/patterns/11.svg" class="hidden lg:block absolute pattern pattern-11"></object>
            <object type="image/svg+xml" data="../../images/patterns/16.svg" class="hidden lg:block absolute pattern pattern-16"></object>
                <div class="flex flex-col justify-between bg-white border-2 border-lightblue-500 rounded p-4">
                    <div class="border-b-2 border-grey-100 pt-6 pb-2">
                        <h4 class="mb-0 text-center lg:text-left">{{ course.title}}</h4>
                    </div>
                    <div class="py-8">
                        <ul class="leading-xl text-center lg:text-left course-content-menu">
                        {% if course.who_is_this_for %}
                            <li><a href="#who_is_this_for" class="">Who is this for?</a></li>
                        {% endif %}
                        {% if course.what_you_will_get %}
                            <li><a href="#what_you_get" class="">What You'll Get</a></li>
                        {% endif %}
                        {% if course.course_outline %}
                            <li><a href="#course_outline" class="">Course Outline</a></li>
                        {% endif %}
                        {% if course.course_breakdown %}
                            <li><a href="#course_breakdown" class="">Course Breakdown</a></li>
                        {% endif %}
                        {% if course.delivery %}
                            <li><a href="#delivery" class="">Delivery</a></li>
                        {% endif %}
                        {% if course.pre_requisites %}
                            <li><a href="#pre_requisites" class="">Pre-requisites</a></li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="bg-green-100 flex flex-col rounded p-4">
                        <div>
                            <p class="text-center text-black mb-4 leading-sm">Next Course Starts:
                            <strong>{{ course.start | dateDisplay }}</strong>
                        </div>
                        <div>
                            <a href="#contact" class="flex items-center justify-center bg-gradient-to-r from-blue-200 to-blue-100 py-2 px-4 rounded"><span class="text-white font-bold">Apply Now <i class="ml-2 fa-solid fa-chevron-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full lg:w-8/12 lg:px-16 content">
            {% if course.who_is_this_for %}
                <div id="who_is_this_for" class="py-8 border-b-2 border-lightblue-500">
                    {{course.who_is_this_for | safe }}
                </div>
            {% endif %}
            {% if course.what_you_will_get %}
                <div id="what_you_get" class="py-8 border-b-2 border-lightblue-500">
                    {{course.what_you_will_get | safe }}
                    {{course.bonus_takeaways | safe }}
                </div>
            {% endif %}
            {% if course.course_outline %}
                <div id="course_outline" class="py-8 border-b-2 border-lightblue-500">
                    {{course.course_outline | safe }}
                </div>
            {% endif %}
            {% if course.course_breakdown %}
                <div id="course_breakdown" class="py-8 border-b-2 border-lightblue-500">
                    {{course.course_breakdown | safe }}
                </div>
            {% endif %}
            {% if course.delivery %}
                <div id="delivery" class="py-8 border-b-2 border-lightblue-500">
                    {{ course.delivery | safe }}
                </div>
            {% endif %}
            {% if course.pre_requisites %}
                <div id="pre_requisites" class="py-8 border-b-2 border-lightblue-500">
                    {{ course.pre_requisites | safe }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const menu = document.querySelector('.course-content-menu');
    const menuItems =  Array.from(menu.querySelectorAll('a'));
    const content = Array.from(document.querySelectorAll('.content > div')).filter((item) => item.id);

    menuItems.forEach(item => {
        const hash = item.hash
        const match = hash.substring(1);

        item.addEventListener('click', function(){
            content.forEach(item => {
                if(match === item.id){
                console.log('match')
                    item.classList.add('pt-24');
                } else {
                    item.classList.remove('pt-24');
                }
            })
        })
    })
</script>