<div class="bg-gradient-to-r from-blue-100 to-blue-200">
    <div class="inner flex flex-col md:flex-row mx-auto py-16">
        <div class="w-full md:w-6/12 relative flex items-center justify-center">
            <object type="image/svg+xml" data="../../images/patterns/5.svg" class="absolute pattern pattern-1 right-0 bottom-0 z-10"></object>
            <object type="image/svg+xml" data="../../images/patterns/18.svg" class="absolute pattern pattern-1 left-0 top-0"></object>
            <img src="../../images/chevrons-2.png" alt="Contact us about our digital courses" class="z-20">
        </div>
        <div class="w-full md:w-6/12 px-16">
            <h2 class="text-white">Let's get this show on the road!</h2>
            <p class="text-white">Find out if you qualify for 100% funding for this course by completing this short callback form.</p>
            {% include '../contact/expression-of-interest-form.njk' %}
        </div>
    </div>
</div>