{% for instance in course.instances | limit(2) %}
  <div class="flex flex-col p-6 rounded border-1 border-grey-1000 gap-6">
    <p class="text-sm font-bold">Week Commencing</p>
    <p class="text-lg font-bold">
      {{ instance.date | dateDisplay }}
    </p>
    <a href="https://forms.gle/RrPafeNmXX1FBoet8" target="_blank" aria-describedby="date" class="bg-green-100 rounded flex p-4 justify-center items-center gap-2 self-stretch">
      <span class="text-white font-bold text-sm">Apply Now</span>
      <i class="fa-solid fa-chevron-right ml-2 text-white"></i>
    </a>
    <div class="flex flex-col items-start gap-6 self-stretch content">{{ instance.description | safe }}</div>
  </div>
{% endfor %}
      