<div class="bg-white py-4 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl sm:text-center">
      <h2 class="text-base font-semibold leading-7 text-blue-200 text-lg">Upcoming Courses</h2>
      <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Choose the best delivery for you</p>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600 sm:text-center">We have new courses coming up all the time. If the delivery patterns below are not suitable for you please get in touch and we will let you know about future courses - <a href="mailto:applications@thecodersguild.org.uk?subject={{course.title}}">applications@thecodersguild.org.uk</a></p>
    <div class="mt-20 flow-root">
      <div class="isolate -mt-16 grid grid-cols-1 gap-y-8 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 lg:divide-x lg:divide-y-0 xl:-mx-4">
        {% for instance in course.instances | limit(3) %}
        <div class="pt-8 lg:px-8 lg:pt-0 xl:px-4">
          <h3 class="text-base font-semibold leading-7 text-gray-900">Week Commencing</h3>
          <p class="mt-6 flex items-baseline gap-x-1">
            <span id="date" class="text-2xl font-bold text-gray-900">{{ instance.date | dateDisplay }}</span>
          </p>
          <a href="https://forms.gle/RrPafeNmXX1FBoet8" target="_blank" aria-describedby="date" class="mt-10 inline-block w-full justify-center items-center bg-gradient-to-r from-blue-200 to-blue-100 px-2 py-4 text-white text-center rounded my-6 w-6/12 font-bold">
            <span class="text-white">Apply Now</span>
            <svg class="svg-inline--fa fa-chevron-right ml-2 text-white !important
            " aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
          </a>
          <p class="mt-2 lg:mt-10
           text-sm font-semibold leading-6 text-gray-900">{{ instance.description | safe }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
