
    <div class="container mx-auto relative z-10  md:pt-16 pt-14 testimonials overflow-hidden bg-white">
      <div class="mx-auto">
        <h2 class="text-center mb-8 md:mb-14">What learners say about this course</h2>

        <div class="flex flex-col md:flex-row">
          {% if course.testimonials.length > 0 %}
              {% for testimonial in course.testimonials %}
                  <div class="w-full md:w-4/12 p-8">
                    <div class="relative shadow-secondary {% if loop.index0 % 2 !== 0%}bg-blue-200 {% else %} bg-blue-300 {% endif %} text-white pt-2 pl-16 pr-4 pb-8 w-full flex flex-col">
                      <div class="sm:flex sm:flex-col">
                        <div class="-ml-10 sm:mr-14 sm:mb-0 mb-6 border-1 border-lightblue-500 rounded-full h-24 w-24 absolute top-0 left-0" style="background-image: url('{{ testimonial.avatar }}');"></div>
                          <h3 class="mb-2px">{{ testimonial.author }}</h3>
                          <span class="text-md text-white leading-sm font-heading font-bold mb-2 block">{{ testimonial.occupation }}</span>
                          <p class="text-sm leading-lg text-white">{{ testimonial.testimonial }}</p>
                      </div>
                    </div>

                  </div>
              {% endfor %}
          {% else %}
              {% for testimonial in testimonials %}
                {% if testimonial._id === '91de1d93-948e-44ff-8672-da0df1d9aba9' or testimonial._id === 'fdd56cf8-0507-47f1-b18d-95e6542fec74' %}
                                  <div class="p-4">
                    <div class="shadow-secondary {% if loop.index0 % 2 !== 0%}bg-blue-200 {% else %} bg-blue-100 {% endif %} text-white te sm:p-10 pt-12 px-8 pb-8">
                      <div class="sm:flex sm:items-center">
                        <div class="sm:mr-14 sm:mb-0 mb-6 border-1 border-lightblue-500 rounded-full h-24 w-24 absolute top-0 left-0" style="background-image: url('{{ testimonial.avatar }}');"></div>
                          <h3 class="mb-2px">{{ testimonial.author }}</h3>
                          <span class="text-md text-white leading-sm font-heading font-bold mb-2 block">{{ testimonial.occupation }}</span>
                          <p class="text-sm leading-lg text-white">{{ testimonial.testimonial }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {%endfor %}
          {% endif %}
        </div>
      </div>

      <object type="image/svg+xml" data="../images/patterns/11.svg" class="hidden md:block absolute pattern pattern-11"></object>
      <object type="image/svg+xml" data="../images/patterns/12.svg" class="hidden md:block absolute pattern pattern-12"></object>
    </div>

