<div>
    <h2 class="text-center text-3xl mb-0 leading-0">100% Funded Courses Available</h2>
    <p class="text-sm text-center">*Whilst it is very likely you will be eligible for funding it is not a guarantee</p>
    <div class="bg-green-100 text-black px-4 py-2 text-center w-9/12 md:w-2/12 mt-6 mx-auto">
        Next Course Starts: <strong>{{ course.start | dateDisplay }}</strong>
    </div>
</div>