<div class="bg-white py-18 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div class="mx-auto w-full max-w-xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900">Trusted by the most innovative teams</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Our short course graduates go on to get jobs at some of the top firms in the country - like these!</p>
      </div>
      <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
        <img class="max-h-12 w-full object-contain object-left" src="../../images/sky-logo.png" alt="We place bootcamp graduates with Sky!"">
        <img class="max-h-12 w-full object-contain object-left" src="../../images/bjsslogo.png" alt="We place bootcamp graduates with BJSS Graduate Scheme!">
        <img class="max-h-12 w-full object-contain object-left" src="../../images/Lloyds-logo.png" alt="We place bootcamp graduates with Lloyds Bank!">
        <img class="max-h-12 w-full object-contain object-left" src="../../images/mastek-logo.png" alt="We place bootcamp graduates with Mastek!">
        <img class="max-h-12 w-full object-contain object-left" src="../../images/wolseley-logo.png" alt="We place bootcamp graduates with Wolseley!">
        <img class="max-h-12 w-full object-contain object-left" src="../../images/creode-logo.png" alt="We place bootcamp graduates with Creode!">
      </div>
    </div>
  </div>
</div>
