<div class="flex py-24 px-0 items-start gap-3 self-stretch">
  <div class="flex py-0 flex-col justify-center gap-10 grow flex-shrink-0 basis-0">
    <div class="flex flex-col justify-center items-start gap-4">
      <h2 class="text-3xl font-bold mb-0">Trusted by the most innovative teams</h2>
      <p class="text-lg leading-8 text-gray-600">Our short course graduates go on to get jobs at some of the top firms in the country - like these!</p>
    </div>
    <div class="flex items-start gap-10 justify-between">
        <img class="max-h-12 object-contain object-left" src="../../images/sky-logo.png" alt="We place bootcamp graduates with Sky!">
        <img class="max-h-12 object-contain object-left" src="../../images/bjsslogo.png" alt="We place bootcamp graduates with BJSS Graduate Scheme!">
        <img class="max-h-12 object-contain object-left" src="../../images/Lloyds-logo.png" alt="We place bootcamp graduates with Lloyds Bank!">
        <img class="max-h-12 object-contain object-left" src="../../images/mastek-logo.png" alt="We place bootcamp graduates with Mastek!">
        <img class="max-h-12 object-contain object-left" src="../../images/wolseley-logo.png" alt="We place bootcamp graduates with Wolseley!">
        <img class="max-h-12 object-contain object-left" src="../../images/creode-logo.png" alt="We place bootcamp graduates with Creode!">
    </div>
  </div>
</div>
