<header class="bg-gradient-to-r from-blue-100 to-blue-200 section-rounded">
    <div class="pt-24 lg:pt-32 pb-12 px-6 xl:px-48 flex flex-col items-start content-start w-full lg:flex-row items-center gap-8 self-stretch relative max-w-9xl mx-auto">
        <div class="lg:h-auto lg:w-7/12 xl:w-6/12 lg:order-2 relative">
            {% if course.video %}
                {% include "components/courses/video.njk" %}
            {% else %}
                <div>
                    <picture>
                        <!-- Small screens -->
                        <source media="(max-width: 768px)" srcset="{{ course.featuredImage.url.small }}" type="image/jpeg">
                        <!-- Large screens -->
                        <source media="(min-width: 769px)" srcset="{{ course.featuredImage.url.large }}" type="image/jpeg">
                        <!-- Default image -->
                        <img src="{{ course.featuredImage.url.large }}" class="rounded-lg aspect-[4/3] z-20 object-cover" alt="{{ course.title }}">
                      </picture>
                      {% if course.featuredImage.license %}
                      <p class="text-white text-xs">Image dislayed under {{ course.featuredImage.license }} license from <a class="text-white decoration-none" href="{{ course.featuredImage.licenseUrl }}" target="_blank">{{ course.featuredImage.licenseSite }}</a></p>
                      {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="relative w-full lg:w-5/12 xl:w-6/12 flex flex-col justify-center items-start gap-4 lg:gap-8 self-stretch flex-1 lg:order-1 {% if course.price %}pb-48 sm:pb-24 md:pb-12 lg:pb-0 xl:pb-32{% endif %}"> 
            {% if course.isFunded %}
            <div class="logos absolute bottom-0 left-0 right-0 bg-white inline-flex flex-col justify-end items-start p-6 rounded-md w-full gap-3">
                {% include "components/courses/logos.njk" %}
            </div>
            {% endif %}
            <div class="flex flex-col items-start gap-4 self-stretch">
                <h1 class="text-4xl md:text-5xl font-bold m-0 leading-112 text-white">{{ course.title }}</h1>
                <h2 class="text-lg md:text-xl text-black m-0 leading-112 text-white font-bold">{{ course.subtitle }}</h2>
                {% if course.instances.length > 0 %}
                <p class="text-white text-lg md:text-xl leading-2xl">Next course starts: {{course.instances[0].date | dateDisplay}}</p>
                {% endif %}
                
                {% if course.price %}
                <div class="flex flex-col gap-2 text-white">
                    <span class="text-md">Price</span>
                    <p class="text-4xl md:text-5xl font-bold leading-112">{% if course.isFunded %}<span class="strikediag text-red-100">£{{course.price}}</span>{% else %}£{{course.price}}{% endif %}</p> 
                </div>
                {% endif %}
                <div class="w-full">
                    <div class="flex flex-col items-start lg:flex-row lg:items-center gap-3">
                        <div class="flex flex-col gap-3">
                            {% for tag in course.tags %}
                                {% if tag === 'wyca' %}
                                    <p class="text-sm leading-0 text-white">Live in <strong>West Yorkshire?</strong> Apply now to get a fully funded place - with no cost to you!</p>
                                {% endif %}
                            {% endfor %}
                            <a href="{% if course.formLink %} {{ course.formLink }} {% else %}#contact{% endif %}" class="bg-gradient-to-r from-red-1000 to-purple-1000 py-2 px-4 text-white flex gap-2 items-center justify-center rounded font-bold text-sm lg:text-md">{{course.ctaText}}<i class="fa-solid fa-chevron-right"></i></a>   
                        </div>
                        
                        <a class="hidden text-white underline-none" href="#"><i class="fa-solid fa-circle-info"></i> Why can't I buy this course?</span>
                    </div>
                </div>
            </div>  
        </div>
    </div> 
    <!-- <div class="hidden md:flex md:px-4 lg:hidden flex-col justify-end items-start self-stretch w-full gap-3">
        {% include "components/courses/logos.njk" %}
    </div>   -->
</header>
