<div class="flex flex-col md:flex-row md:justify-around my-24 px-8 inner relative">
    <div class="relative rounded
     flex flex-col justify-between bg-gradient-to-r from-blue-100 to-blue-200 px-8 pt-24 pb-8 my-8 w-full md:w-4/12">
        <div class="icon-box flex items-center justify-center rounded-full absolute top-0 w-36 h-36 border-2 border-lightblue-500 bg-white -mt-16 self-center">
            <img src="../../images/icons/individual_icon.svg" alt="Digital Courses for individuals">
        </div>
            <h3 class="text-white text-center text-2xl">Individuals</h3>
            <p class="text-white text-lg text-center">If you live or work in Greater Manchester or Yorkshire & The Humber it is very likely that you will be eligible for 100% funding.</p>
            <div class="bg-white rounded px-4 py-2 my-4">
                <p class="text-center"><a href="#contact" class="text-lightblue-500 font-bold">Apply Now</a></p>
            </div>
            <p class="text-center"><a class="text-center mt-4 text-white text-underline font-bold" href="">Book a call</a></p>
    </div>

    <div class="relative rounded flex flex-col justify-between bg-gradient-to-br from-red-900 to-purple-900 px-8 pt-24 pb-8 my-8 w-full md:w-4/12">
        <div class="icon-box flex items-center justify-center rounded-full absolute top-0 w-36 h-36 border-2 border-red-900 bg-white -mt-16 self-center">
            <img src="../../images/icons/business_icon.svg" alt="Digital Courses for businesses and teams">
        </div>
            <h3 class="text-white text-center text-2xl">Business and Employers</h3>
            <p class="text-white text-lg text-center">We offer full team training! Reach out to us now if you wish to bolster the skillset of your entire team, and increase overall output in the office.</p>
            <div class="bg-white rounded my-4 px-4 py-2">
                <p class="text-center"><a href="#contact" class="text-lightblue-500 font-bold">Book a call with Scott/Jamey</a></p>
            </div>
            <p class="text-center"><a class="text-center mt-4 text-white text-underline font-bold" href="">Send me info</a></p>
    </div>


        <object type="image/svg+xml" data="../images/patterns/11.svg" class="hidden md:block absolute pattern pattern-11"></object>
        <object type="image/svg+xml" data="../images/patterns/12.svg" class="hidden md:block absolute pattern pattern-12"></object>

</div>