{% if course.isFunded %}

<div class="w-full">
    <h3 class="font-bold text-lg mb-0">Supported By:</h3>
    <div class="flex flex-wrap w-full">
        {% for logo in course.logos %}
            <div class="w-28 h-20 lg:w-20 lg:h-14 xxxl:w-28 xxxl:h-20" style="background-image: url({{logo}}); background-size: cover; background-position: center;"></div>
        {% endfor %}
    </div>
</div>
{% endif %}