<div class="my-6 flex flex-col self-start w-full">
    <p class="font-bold">Proudly funded by:</p>
    <div class="flex w-full">
        {% for logo in course.logos %}
            <div class="p-1 w-2/12">
                <div class="bg-white p-4 flex items-center justify-center h-full rounded">
                    <img src="{{logo}}" alt="Course funded by..." class="h-32" />
                </div>
            </div>
        {% endfor %}
    </div>
</div>