<div class="flex flex-col justify-end items-start self-stretch w-full gap-3">
    <h3 class="font-bold text-lg">Supported By:</h3>
    <div class="flex flex-wrap lg:flex-nowrap w-full container">
        {% for logo in course.logos %}
            <div class="w-24 h-14" style="background-image: url({{logo}}); background-size: cover; background-position: center;"></div>
        {% endfor %}
    </div>
</div>