<div>
    <div class="inner max-w-3xl">
        <p class="text-blue-200 text-center text-xl font-bold mb-2">COURSE 10 SECOND PITCH</p>
        {{ course.excerpt }}
    </div>
    <div class="flex flex-wrap my-12 md:justify-between">
        <p>image 1</p>
        <p>image 2</p>
        <p>image 3</p>
    </div>
</div>