<div>
    <div class="inner max-w-5xl">
        <p class="text-blue-200 text-center text-xl font-bold mb-2">COURSE 10 SECOND PITCH</p>
        <p class="text-center">{{ course.excerpt }}</p>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center my-12 md:justify-between">
        <div class="flex flex-col my-6">
            <img class="max-h-12" src="../../images/icons/part_time_icon.svg" alt="Part time learning available">
            <p class="mt-4 text-lg text-blue-200 font-bold text-center">Part time Learning</p>
        </div>
        <div class="flex flex-col my-6">
            <img class="max-h-12" src="../../images/icons/session_icon.svg" alt="Part time learning available">
            <p class="mt-4 text-lg text-blue-200 font-bold text-center">One or two sessions per week</p>
        </div>
        <div class="flex flex-col my-6">
            <img class="max-h-12" src="../../images/icons/evenings_available.svg" alt="Part time learning available">
            <p class="mt-4 text-lg text-blue-200 font-bold text-center">Evenings Available</p>
        </div>
    </div>
</div>