<div class="flex flex-col xl:flex-row items-center gap-8 md:gap-x-8 self-stretch p-4">
    <div class="flex flex-col xl:w-7/12 items-start gap-8 course-pitch">
        {{ course.excerpt | safe }}
    </div>
    <div class="flex md:gap-16 md:py-0 md:px-32 md:items-center">
        <div class="benefits flex flex-col items-start bg-grey-100 rounded py-16 px-8 gap-16">
            {% include "components/courses/reasons.njk" %}
        </div>
    </div>  
</div>