{% for benefit in course.benefits %}
<div class="flex flex-col items-center self-stretch gap-6">
    <img class="max-h-12" src="{{benefit.image}}" alt="{{benefit.title}}">
    <p class=" text-lg text-blue-200 font-bold text-center">{{benefit.title}}</p>
</div>
{% endfor %}