<div class="bg-blue-200 rounded relative py-24">
        <object type="image/svg+xml" data="../../images/patterns/5.svg" class="absolute pattern pattern-1 right-0 bottom-0"></object>
        <object type="image/svg+xml" data="../../images/patterns/18.svg" class="absolute pattern pattern-1 left-0 top-0"></object>
    <h2 class="text-center text-white text-3xl">Who trains this course?</h2>
    <p class="text-center text-white">All out technical and vocational courses are devised, reviewed and delivered by prominent industry professionals, many of them are experts in their fields</p>
</div>
