<div class="inner relative mt-12 lg:mt-24 py-16">
    <object type="image/svg+xml" data="../../images/patterns/18.svg" class="absolute pattern pattern-18 hidden lg:block"></object>
    <h2 class="text-center mb-2 lg:mb-16">60 Second Overview</h2>
    <iframe width="100%" class="video-height" src="https://player.vimeo.com/video/730300065?h=7baf95f700&;badge=0&autopause=0&player_id=0&app_id=58479">
    </iframe>
    <a href="#contact" class="flex items-center justify-center bg-gradient-to-r from-blue-200 to-blue-100 text-center mx-auto mt-12 px-2 py-4 rounded md:w-4/12 lg:w-2/12 mb-12"><span class="text-white">Apply Now<i class=" ml-2 fa-solid fa-chevron-right"></i></span></a>
    <object type="image/svg+xml" data="../../images/patterns/5.svg" class="absolute pattern pattern-5 hidden lg:block"></object>
</div>