<div class="inner relative mt-24 py-16">
    <div class="flex justify-between overflow-hidden">
        <object type="image/svg+xml" data="../../images/patterns/5.svg" class="absolute pattern pattern-1 left-0 bottom-0"></object>
        <object type="image/svg+xml" data="../../images/patterns/18.svg" class="absolute pattern pattern-1 right-0 top-0"></object>
    </div>
    <h2 class="text-center mb-16">60 Second Overview</h2>
    <iframe width="100%" height="560px" src="https://player.vimeo.com/video/730300065?h=7baf95f700&;badge=0&autopause=0&player_id=0&app_id=58479">
    </iframe>
    <a href="#contact" class="flex items-center justify-center bg-gradient-to-r from-blue-200 to-blue-100 text-center mx-auto mt-12 px-2 py-4 rounded md:w-2/12 mb-12"><span class="text-white">Apply Now<i class=" ml-2 fa-solid fa-chevron-right"></i></span></a>
</div>