<div id="book-a-call-calendly" class="modal">
    <div class="modal-inner bg-white rounded shadow-secondary">
      <button class="modal-close" aria-label="close" data-modal="book-a-call-calendly"></button>
      <div class="modal-content px-6 md:px-8">
        <div class="">
          <h2 class="text-center mt-8">Book a call with us</h2>
          <p class="text-center mb-4">Thinking of hiring an apprentice? Book a date and time for an intro over Google Meets.</p>
        </div>
        <div class="">
            <div class="calendly-inline-widget" data-url="https://calendly.com/tcg-skills/enquiry?hide_event_type_details=1&hide_gdpr_banner=1&primary_color=2574a9" style="min-width:320px;height:420px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        </div>
        <div class="my-8 text-center">
          <p class="mb-4">Looking to become a developer instead?</p>
          <a href="https://forms.gle/HWEdypZ5uuNzbGNJ9" target="_parent" class="inline-block text-md leading-sm text-white bg-gradient-to-r from-blue-200 to-blue-100 py-2 px-4 font-heading font-bold rounded whitespace-no-wrap">Apply here<i class="fas fa-angle-right text-md leading-sm text-white ml-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>