<div id="eoi-lego" class="modal">
  <div class="modal-inner bg-white rounded shadow-secondary pb-8">
    <button class="modal-close" aria-label="close" data-modal="eoi-lego"></button>
    <div class="modal-content px-6 md:px-8">
      <div class="">
        <h2 class="text-center mt-8">Send me Information</h2>
        <p class="text-center mb-8">If you have member(s) of a team who would benefit from our unique Agile Skills course, get in touch for more information.</p>
      </div>
      <div class="">
        <form action="../../thanks-send-info" netlify netlify-honeypot="tcg-h0ney-p0t" name="eoi-lego" method="POST">
        <form action="../../thanks-send-info" netlify netlify-honeypot="tcg-h0ney-p0t" name="eoi-lego" method="POST">
          <fieldset>
          <label for="tcg-h0ney-pot" class="sr-only">Don't fill this in if you're human</label>
          <input type="hidden" id="tcg-h0ney-p0t" name="tcg-h0ney-p0t" />
            <div class="mb-4">
              <label class="form-label sr-only" for="name">Full name</label>
              <input id="name" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black" type="name" placeholder="Full name" name="_name" required="">
            </div>
            <div class="mb-4">
              <label class="form-label sr-only" for="email">Your email</label>
              <input id="email" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black" type="email" placeholder="Your work email" name="_replyto" required="">
            </div>
            <div class="mb-4">
              <label class="form-label sr-only" for="phone">Your phone number</label>
              <input id="phone" class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black" type="phone" placeholder="Your best phone number" name="_phone" required="">
            </div>
            <div class="">
              <div class="mt-8">
                <button type="submit" class="bookacall-f-btn rounded font-heading font-bold w-full block py-2 px-6 border border-transparent text-white bg-blue-200 hover:bg-blue-100 focus:border-blue-100 active:bg-blue-100 transition duration-150 ease-in-out">Send me Info</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>