<div id="expression-of-interest" class="modal">
  <div class="modal-inner bg-white rounded shadow-secondary">
    <button class="modal-close" aria-label="close" data-modal="expression-of-interest"></button>
    <div class="modal-content px-6 md:px-8">
      <div class="">
        <h2 class="text-center mt-8">Let's get this show on the road!</h2>
        <p class="text-center mb-8">Find out if you qualify for 100% funding for this course by completing this short callback form.</p>
      </div>
      <div class="">
        {% include '../contact/expression-of-interest-form.njk' %}
      </div>
    </div>
  </div>
</div>
