<div id="expression-of-interest" class="modal">
  <div class="modal-inner bg-white rounded shadow-secondary">
    <button class="modal-close" aria-label="close" data-modal="expression-of-interest"></button>
    <div class="modal-content px-6 md:px-8">
      <div class="">
        <h2 class="text-center mt-8">Looking to book onto a course?</h2>
        <p class="text-center mb-8">Let us know your contact details and we will be in touch when we are launching the courses you are interested in.</p>
      </div>
      <div class="">
        {% include '../contact/expression-of-interest-form.njk' %}
      </div>
    </div>
  </div>
</div>