<a href="#contact" class="flex justify-center items-center py-4 px-4 rounded gap-2 bg-gradient-to-r from-red-1000 to-purple-1000"><span class="text-white font-bold rounded whitespace-no-wrap text-lg !important">{{text or 'Book a Consulatation'}}<i class="ml-2 fa-solid fa-chevron-right"></i></span></a>