<a href="#" class="rounded inline-flex justify-center items-center p-2 gap-2 bg-gradient-to-r from-red-1000 to-purple-1000"><span class="text-white font-bold rounded whitespace-no-wrap text-xs lg:text-md !important">Book a Free Consultation<i class="ml-2 fa-solid fa-chevron-right"></i></span></a>