<section class="relative md:pt-16 py-16 md:pb-8 bg-grey-100 faq section-rounded -mt[3rem]">
    <div class="inner">
      <div class="max-w-5xl md:px-8 mx-auto">
        <h2 class="text-center mb-10 md:mb-12">FAQs</h2>
        <p class="text-center mb-6">As an employer looking at Apprenticeships, you may have questions around the Apprenticeship Levy.</p>
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What types of training programs do you offer?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">We offer a variety of training programs to suit your needs: <br> - <b>Workshops:</b> One and two-day intensive sessions. <br> - <b>Short Courses:</b> Spanning a few weeks for focused learning. <br> - <b>Skills Boot Camps:</b> Comprehensive three-month training. <br> - <b>Apprenticeship Training:</b> Long-term, in-depth programs. <br> All our training is part-time and delivered remotely to minimize resource strain and provide immediate benefits. Our programs encompass technical skills, soft skills, and professional development, ensuring well-rounded employee growth.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>How is the training funded?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Our training is supported by multiple funding sources: <br> - <b>Local Mayoral Authorities & Devolved Powers</b> <br> - <b>Government Funding</b> <br> - <b>Apprenticeships:</b> Funded through the Education and Skills Funding Agency (ESFA) via apprenticeship levy funds. <br> - <b>Adult Education Budget (AEB)</b> <br> - <b>Skills Boot Camps:</b> Dedicated funding. <br> We handle all the administrative tasks, minimizing the burden on your business. <a href="[link to case study]">Learn more about funding apprenticeships for your current staff.</a></p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>Who is eligible for the funded training?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Generally, participants must be UK residents with the right to live and work here. Specific criteria may vary by funding source. If your business operates in the UK and your employees meet these residency requirements, they are likely eligible. We navigate the criteria to match your needs.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>How do I book a free consultancy session?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">It's easy! Choose a convenient time using our online booking form and provide some basic information about your business. During the 45-minute session, we’ll discuss your requirements and how our training can benefit you, including funding opportunities. This helps us tailor a development plan for your team.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What makes The Coders Guild’s training different from other providers?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Our training stands out because it's industry-led, current, and highly relevant. Programs are designed and delivered by professionals actively working in their fields. We customize training to align with your business’s tools, processes, and needs, ensuring practical and applicable learning that includes leadership and communication skills.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>How will the training be delivered?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Most of our training is online, combining group sessions with one-on-one support. Some programs, like apprenticeships, include in-person workshops. Our flexible schedules are designed to fit around your business needs, offering both formal and instructor-led training.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>Can the training be customized to our specific business needs?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Absolutely. Our bespoke training aligns with your business’s tools, processes, and goals. We ensure the training is directly applicable to your team’s daily tasks, enhancing specific and future skill sets.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What are the benefits of upskilling our team through your programs?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Upskilling your team increases their billable worth, boosts morale, reduces attrition, and fosters a culture of continuous learning and knowledge sharing. It enhances efficiency and engagement, contributing significantly to your business's success. Upskilled employees bring additional skills and cost savings to your company.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What kind of support do you provide during and after the training?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">We offer extensive support including pastoral care, CPD monitoring, and regular progress reviews. Our alumni network on Slack and LinkedIn ensures ongoing engagement and resources, supporting personal development and professional growth even after training ends.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>How do I know which courses are right for my team?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Start with our skills gap analysis consultancy. We assess your team's needs and recommend appropriate courses. Our thorough Information, Advice, and Guidance (IAG) process ensures the right people are on the right courses, matching skill levels and development plans.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What is the typical profile of your instructors?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Our instructors are senior industry professionals with extensive real-world experience. They bring practical and current expertise to their teaching, focusing on both technical and leadership development.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>How do you handle the administrative aspects of the government-funded training?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">With over a decade of experience, we streamline the administrative process to minimize the workload for your business. We gather necessary information, complete forms, and ensure compliance with all requirements, handling most of the paperwork on your behalf.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What kind of feedback and evaluation methods do you use?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">We gather feedback at the end of every session from trainers, employers, and participants. Our continuous improvement process ensures that all training stays current and effective, with adjustments made based on regular feedback.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>Can smaller companies also benefit from your training programs?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Yes, we specialize in making our training accessible to SMEs. Smaller firms often see immediate ROI from upskilling their teams. We provide support to reduce administrative burdens, making it easier for companies without dedicated HR departments.</p>
          </div>
        </div>
        
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What is the process for enrolling in a course?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Enrollment typically involves filling out an initial form, followed by a meeting to confirm details, and signing the necessary paperwork. The specific process can vary depending on the funding requirements, but we guide you through each step to ensure smooth enrollment.</p>
          </div>
        </div>
        
  
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7"><button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span> How does the apprenticeship levy work for employers?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100">While the levy is set at 0.5% of an employer’s gross annual pay bill, employers have an allowance of £15,000. So if an employer has a pay bill of £10 million, they will end up paying an annual fee of:
  
  £10 million x 0.5% - £15,000 = £35,000
  
  The levy allowance operates on a monthly basis and accumulates throughout the year. This means you have an allowance of £1,250 a month. Any unused allowance is carried from one month to the next.
  
  The total levy amount is collected monthly by HMRC, and the funding is then made available to employers via a digital account, through which they can pay for training for apprentices. If an employer does not spend their entire levy amount on apprenticeships, then the unspent portion will be made available to other employers to spend on apprenticeships.
  
  If you are part of a group of employers, you must decide what proportion of the levy allowance each employer in the group will be entitled to. This decision must be taken at the beginning of the tax year and will be fixed for that tax year. Each employer will then calculate what they have to pay through the same processes set out above, but using their portion of the £15,000 allowance.
  
  Any apprenticeship levy payment to HMRC is an allowable deduction for Corporation Tax purposes.
  
  Your pay bill will be based on the total amount of earnings subject to National Insurance Contributions. Essentially, any person who is on your payroll and paid through PAYE is included in your pay bill. Earnings include any remuneration or profit coming from employment, such as pay, bonuses, commissions, and pension contributions that you pay National Insurance on.</p>
          </div>
        </div>
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>Does the government provide any additional funding to those paying the levy?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">The government will apply a 10% top-up to your levy account for spending on apprenticeship training in England. They apply the top-up monthly, at the same time the funds enter your digital account. So for every £1 that enters your digital account to spend on apprenticeship training, you will get £1.10. Funds (including top-ups) expire 24 months after they enter your digital account unless you spend them on apprenticeship training.</p>
          </div>
        </div>
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>And if you don’t have enough in your account to pay for all the training you want?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="py-8 border-t-2 border-grey-100">Some employers paying the levy may find that the funds in their digital account aren’t enough to cover the full cost of training all the apprentices they want to employ. In order to support further apprenticeship delivery, the government will contribute 90% of the total costs of the additional delivery.</p>
          </div>
        </div>
        <div class="mb-6 bg-white rounded-lg md:px-10 px-7">
          <button class="faq-btn block text-md leading-2xl text-grey-300 py-7 font-bold w-full text-left flex justify-between items-center">
            <span>What is the system for employers who do not have to pay the levy?</span>
            <i class="fas fa-angle-down text-grey-300 text-xl"></i>
          </button>
          <div class="faq-content">
            <p class="pt-8 mb-6 border-t-2 border-grey-100">If you do not pay the levy, you won’t need to use the digital apprenticeship service to pay for apprenticeship training and assessment until at least 2019. Currently, you can choose the training you’d like your apprentices to receive and an approved training provider to deliver it, and a price is then agreed with that provider. The government will make a contribution of 90% to the cost of this training.</p>
          </div>
        </div>
        <div class="max-w-2xl text-center mx-auto my-20">
          <h2 class="text-center mb-6">Ready to upskill your team?</h2>
          {% include './consultation-button.njk' %}
        </div>
      </div>
    </div>
  </section>