<p class="text-center">The Digital Careers Upskill Programme (DCUP) is delivered by <a href="https://www.serco-ese.com/digital-careers-upskill" target="_blank">Serco</a> as part of Greater Manchester Combined Authority’s three-year Skills for Growth programme, which is funded through the European Social Fund.</p>
<p class="text-center">The Coders Guild are part of Serco’s Approved Training Providers, providing businesses and employed people with access to fully funded IT training courses across the Greater Manchester area. It is available in Bolton, Bury, Manchester, Oldham, Rochdale, Salford, Stockport, Tameside, Trafford and Wigan.</p>
<p class="text-center"><a href="" data-modal="send-info">Register your interest</a> in our free IT courses in Manchester</p>
<p class="mt-4 text-center"><span class="font-bold">What's on offer?</span><br>
The courses have been designed to address two types of learners and career goals:<br>
<ul>
    <li><span class="font-bold">Reskilling -</span>Training for those looking to start a new career in a digital role</li>
    <li><span class="font-bold">Upskilling -</span>Training for those in digital role aspiring to progress their digital career</li>
</ul>
</p>
<p class="text-center mt-4">
The Digital Skills for Business Programme is delivered by <a href="http://uk-skillsacademy.co.uk/training-and-apprenticeships/digital-skills-for-growth-greater-manchester/" target="_blank">UK Skills Academy</a>. These courses support people in non-digital roles.
</p>