<div class="bg-[#16aedb0d] w-full">
    <div class="pt-24 pb-48 lg:pt-32 px-6 flex flex-col w-full md:flex-row items-center gap-6 self-stretch xl:px-48 relative max-w-9xl mx-auto">
        <div class="lg:h-auto md:w-7/12 lg:w-6/12 grid md:order-2 relative">
            <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/8.svg" class="absolute pattern pattern-4"></object>
            <div class="max-w-md justify-self-end">
                <picture>
                    <!-- Small screens -->
                    <source media="(max-width: 768px)" srcset="../images/learner-images/learners-in-agile-software-development.jpeg" type="image/jpeg">
                    <!-- Large screens -->
                    <source media="(min-width: 769px)" srcset="../images/learner-images/learners-in-agile-software-development.jpeg" type="image/jpeg">
                    <!-- Default image -->
                    <img src="../images/learner-images/learners-in-agile-software-development.jpeg"class="rounded-lg aspect-[4/3] z-20 object-cover" alt="{{ course.title }}">
                    </picture>
                <!-- <object aria-hidden="true" type="image/svg+xml" data="../../images/patterns/145.svg" class="hidden md:block absolute pattern pattern-145"></object> -->
            </div>
        </div>
        <div class="w-full md:w-5/12 lg:w-6/12 flex flex-col items-start gap-8 md:order-1">
            <div class="flex flex-col justify-center items-start gap-6 self-stretch">
                <img class="w-10 h-7 object-cover" src="../images/tcg-logo/Blue/TGC_Square_Logo_Blue.svg" alt="The Coders Guild Logo">
                <h1 class="text-4xl md:text-3xl font-bold m-0">Empower Your SME with Cutting-Edge Tech Skills</h1>
                <p class="text-lg">Enhance your team’s capabilities with government-funded tech training. Book a free consultation today and discover how our bespoke training plans can upskill your team and boost productivity.</p>
                <a href="#" class="bg-gradient-to-r from-red-1000 to-purple-1000 py-2 px-4 text-white flex gap-2 items-center justify-center rounded font-bold text-sm lg:text-md">Book Your FREE Consultation</a>
            </div>  
        </div>
        <div class="absolute -bottom-14 left-2/4">
            {% include './welcome-to-tcg.njk' %}
        </div>
    </div>
</div>
