<p class="text-center my-4">The Coders Guild is proud to be working with the <a href="https://heylep.com/" target="_blank">
Hull and East Yorkshire Local Enterprise Partnership</a> to deliver the Department for
Education's Skills Bootcamps across Hull & East Yorkshire.
</p>
<p class="text-center my-4">
Our Skills Bootcamps offer flexible courses of up to 16 weeks for adults
aged 19 or over and who are either in work or recently unemployed.
All Bootcamps are delivered online by industry-leading experts.
</p>
<p class="text-center my-4">
<span class="font-bold">Businesses: </span>Plug the digital skills gap and upskill
your teams to increase productivity and drive business growth.
</p>
<p class="text-center my-4">
<span class="font-bold">Individuals/Self Employed: </span>
Gain the digital skills you need to get ahead at work or if you
are out of work, build up in-demand digital skills to land you that
dream job in tech.
</p>