<div class="py-24 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Upskill/Reskill yourself with these 100% funded courses</h2>
    </div>
    {# <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex flex-col items-start">
        <a class="no-underline" href="/course-directory/leading-digital-teams/">
          <div class="relative w-full">
            <img src="../images/illustrations/leading-digital-teams.svg" alt="Leading Digital Teams Course" class="aspect-[16/9] h-36 w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          </div>
          <div class="max-w-xl">
            <div class="group relative">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a class="no-underline text-blue-200 text-center" href="#">
                  Leadership & Highly Effective Teams
                </a>
              </h3>
            </div>
          </div>
        </a>
      </article>
      <article class="flex flex-col items-start justify-between">
        <a class="no-underline" href="/course-directory/digital-project-manager/">
          <div class="relative w-full">
            <img src="../images/illustrations/organizing_projects.svg" alt="Leading Digital Teams Course" class="aspect-[16/9] h-36 w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          </div>
          <div class="max-w-xl">
            <div class="group relative">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <p class="no-underline text-blue-200 text-center">
                  Agile Project Planning & Management
                </p>
              </h3>
            </div>
          </div>
        </a>
      </article>
      <article class="flex flex-col items-start justify-between">
        <a class="no-underline" href="/course-directory/get-hired-as-a-software-dev/">
          <div class="relative w-full">
            <img src="../images/illustrations/software-development.svg" alt="Leading Digital Teams Course" class="aspect-[16/9] h-36 w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          </div>
          <div class="max-w-xl">
            <div class="group relative">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <p class="no-underline text-blue-200 text-center">
                  Web App Development with Javascript
                </a>
              </h3>
            </div>
          </div>
        </a>
      </article>
    </div> #}
    <p class="text-center my-4">The Coders Guild is proud to be working with <a href="" target="_blank">York and North Yorkshire LEP</a> and <a href="https://www.futuregoals.co.uk/learn/FULLY%20%20FUNDED-adult-training-courses/skills-connect-training-courses/" target="_blank">Future Goals</a> (brought to you by the <a href="https://www.westyorks-ca.gov.uk/" target="_blank">West Yorkshire Combined Authority</a> and <a href="https://www.the-lep.com/" target="_blank">Leeds City Region Enterprise Partnership</a>) to deliver the Department for Education's Skills Bootcamps across West Yorkshire.
    </p>
    <p class="text-center my-4">
    Our Skills Bootcamps offer flexible part time courses of 12 weeks for adults aged 19 or over and who are either in work or recently unemployed. All Bootcamps are delivered online by industry-leading experts and come with 6 months employability coaching and support to take your career to the next level.
    </p>
    {% include './ldcf/ldcf-logos.njk' %}
  </div>
</div>
