<div class="bg-white py-24 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Upskill/Reskill yourself with these 100% funded courses</h2>
    </div>
    <div class="mx-auto mt-16 grid auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none md:grid-cols-3">
      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-24">
        <a class="no-underline" href="/course-directory/leading-digital-teams/">
          <img src="../images/illustrations/leading-digital-teams.svg" alt="" class="h-full w-full max-h-36 lg:max-h-full">
          <p class="text-center text-xl text-blue-200 font-bold mt-2">Leadership & Highly Effective Teams</p>
        </a>
      </article>
      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-24 ">
        <a class="no-underline" href="/course-directory/digital-project-manager/">
            <img src="../images/illustrations/project-management.svg" alt="" class="h-full w-full max-h-36 lg:max-h-full">
            <p class="text-center text-xl text-blue-200 font-bold mt-2">Agile Project Planning & Management</p>
      </article>
      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-24">
        <a class="no-underline" href="/course-directory/get-hired-as-a-software-developer/">
          <img src="../images/illustrations/software-development.svg" alt="" class="h-full w-full max-h-36 lg:max-h-full">
          <p class="text-center text-xl text-blue-200 font-bold mt-2">Web App Development with JavaScript</p>
        </a>
      </article>

      <!-- More posts... -->
    </div>
  </div>
</div>
