<div class="flex flex-col max-w-[1000px] p-8 items-start gap-4 text-center bg-white">
    <h2>Welcome to The Coders Guild</h2>
    <p class="text-md">In today's fast-paced business environment, staying ahead of the curve is essential. At The Coders Guild, we specialise in transforming your team’s potential through expert-led, government-funded tech training. Whether you're looking to upskill your existing team or onboard new talent, our tailored training plans ensure your business thrives.</p>
</div>