<div class="flex flex-col gap-4 text-center">
    <div>
        <h3 class="text-center">Unlock Your Potential in the Tech Industry</h3>
        <p class="text-center my-4">The Coders Guild is proud to be working with
            <a href="https://www.futuregoals.co.uk/learn/free-adult-training-courses/skills-connect-training-courses/" target="_blank">
            Future Goals</a>, brought to you by the <a href="https://www.westyorks-ca.gov.uk/" target="_blank">
           West Yorkshire Combined Authority</a> and
           <a href="https://www.the-lep.com/" target="_blank">Leeds City Region Enterprise Partnership</a>
           to deliver the Department for Education's Skills Bootcamps across West
           Yorkshire.
        </p>
    </div>
    <div>
        <h4 class="mb-0">Short Courses</h4>
        <p class="text-center">Our Short Courses are designed to deliver significant ROI by rapidly enhancing your skillset in key areas demanded by the industry. Ideal for adults seeking to boost their career prospects or advance their current position, these concise programs, led by expert instructors, ensure you gain valuable, applicable skills in a short span of time.</p>
    </div>
    <div>
        <h4 class="mb-0">Skills Bootcamps</h4>
        <p class="text-center">
            Our Skills Bootcamps provide up to 12-week flexible courses for adults 19 and older, catering to those employed or recently unemployed. Each bootcamp is conducted online by top industry professionals. Gain the digital skills you need to get ahead at work or if you are out of work, build up in-demand digital skills to land you that dream job in tech.
        </p>
    </div>
    <div>
        <p>
            <span class="font-bold">Businesses: </span>Plug the digital skills gap and upskill your teams to increase productivity and drive business growth.
        </p>
        <p>
            <span class="font-bold">Individuals/Self Employed: </span>
            Gain the digital skills you need to get ahead at work or if you are out of work, build up in-demand digital skills to land you that dream job in tech.
        </p>
    </div>
</div>
