<p class="text-center my-4">The Coders Guild is proud to be working with
 <a href="https://www.futuregoals.co.uk/learn/free-adult-training-courses/skills-connect-training-courses/" target="_blank">
 Future Goals, brought to you by the <a href="https://www.westyorks-ca.gov.uk/" target="_blank">
West Yorkshire Combined Authority</a> and
<a href="https://www.the-lep.com/" target="_blank">Leeds City Region Enterprise Partnership</a>
to deliver the Department for Education's Skills Bootcamps across West
Yorkshire.
</p>
<p class="text-center my-4">
Our Skills Bootcamps offer flexible courses of up to 16 weeks for adults
aged 19 or over and who are either in work or recently unemployed.
All Bootcamps are delivered online by industry-leading experts.
</p>
