<h3 class="text-center">Digital Apprenticeships and Bootcamps in North Yorkshire – Register Your Interest Now</h3>
<p class="text-center my-4">The Coders Guild is proud to be working with the <a href="https://www.ynylep.com/" target="_blank">
York & North Yorkshire Local Enterprise Partnership
</a> to deliver the Department for
Education's Skills Bootcamps across York and North Yorkshire.
</p>
<p class="text-center my-4">
Our Skills Bootcamps offer flexible courses of up to 16 weeks for adults
aged 19 or over and who are either in work or recently unemployed.
All Bootcamps are delivered online by industry-leading experts.
</p>

