
<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl pt-20 mb-24">
  <div class="relative max-w-full mx-auto lg:max-w-screen-xl">
    <div class="md:flex mb-12">
      <div class="mb-10 md:w-3/5 md:mb-0">
        <h2 class="relative title font-semibold max-w-xs mb-12">Industry Led, Community Driven</h2>
        <p class="max-w-90">Our ‘best-in-class’ digital apprenticeships put you at the 
        centre of an industry-led community. Our contribution to local, national 
        and international communities, through outreach programs, events and sponsorship, 
        sets us apart.</p>
      </div>

      <div class="md:w-2/5 md:flex">
        <img src="../images/banner.jpg" class="object-cover" />
      </div>
    </div>
    {# {% include "components/about/our-social-mission.njk" %} #}
  </div>
</section>