
<div class="flex flex-col justify-between">
  <div class="mb-8 shadow">
    <button class="toggle-show-hide flex py-2 items-center products_drop_btn w-full">
      <i class="px-6 fas chevron fa-chevron-down"></i>
      <h3 class="font-semibold text-left">Software Developer Level 4</h3>
    </button>
    <ul class="px-6 products_drop_content">
      <li>I want to <a>hire</a> a developer</li>
      <li>I want to <a>be</a> a developer</li>
    </ul>
  </div>
  <div class="mb-8 shadow">
    <button class="toggle-show-hide flex py-2 items-center products_drop_btn w-full">
      <i class="px-6 fas chevron fa-chevron-down"></i>
      <h3 class="font-semibold text-left">Software Tester Level 4</h3>
    </button>
    <ul class="px-6 products_drop_content">
      <li>I want to <a>hire</a> a tester</li>
      <li>I want to <a>be</a> a tester</li>
    </ul>
  </div>
</div>