<div class="relative bg-white py-6 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center">Our Connections and Partnerships</h2>
    <div class="mx-auto grid grid-cols-4 items-center gap-x-8 gap-y-12 sm:gap-x-10 sm:gap-y-14 lg:grid-cols-4">
      <img class="col-span-2 max-h-18  w-full object-cover sm:col-span-1" src="../images/womeningameslogo.avif" alt="Women in Games Logo">
      <img class="col-span-2 max-h-18  w-full object-contain sm:col-span-1" src="../images/leedsjslogo.png" alt="Leeds JS Logo">
      <img class="col-span-2 max-h-18  w-full object-contain sm:col-span-1" src="../images/leedstestingatelierlogo.jpeg" alt="Leeds Testing Atelier Logo">
      <img class="col-span-2 max-h-18  w-full object-contain  sm:col-span-1" src="../images/aheadpartnershiplogo.jpeg" alt="Ahead Partnerships Logo">
      {# <img class="col-span-2 col-start-2 w-full object-contain  lg:col-span-1" src="./images/company-logos/step-3-logo.png" alt="Step3 Logo"> #}
    </div>
        <object aria-hidden="true" type="image/svg+xml" data="../images/patterns/2.svg" class="absolute pattern-4"></object>

  </div>
</div>