<section class="relative md:pt-24 pt-20 pb-20">
  <div class="inner">
    <div class="md:flex md:justify-around">
      <div class="md:w-1/2 mb-10 md:mb-0">
        <div class="md:max-w-xs md:pr-8 lg:pr-0 md:mx-auto">
          <img src="../images/chevrons-2.png" class="mx-auto md:mx-0 pb-10 md:pb-0"/>
          <h3>Join Us</h3>
          <p class="">We are always looking for more people who share our vision and mission - get in touch and tell us about yourself.</p>
        </div>
      </div>

      <div class="md:w-1/2 h-full mt-auto">
        {% include "components/contact/contact-form.njk" %}
      </div>
    </div>
  </div>
</section>