<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24">
  <div>
    <h2 class="relative title font-semibold mb-12">Core Team</h2>
  </div>
  <div>
    {% include "components/team/team.njk" %}
  </div>
</section>