<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24">
  <div class="md:flex">
    <div class="md:w-3/5">
      <h2 class="relative title font-semibold mb-12">How we work</h2>
      <p class="mb-6 max-w-90">The Coders Guild Ltd is a lean organisation with highly 
      skilled and capable staff who work in cross-functional teams. 
      We operate a non-hierarchical structure and believe everyone has a 
      voice and should be treated equally. We are based from our offices in 
      Duke Studios in Leeds, however we also work flexibly and remotely using 
      state-of-the-art technology to ensure efficiency, retain quality relationships 
      and continually evolve best practices:</p>
    </div>
    <div class="md:w-2/5">
      <img src="../images/TCG_Org_Chart.png" alt="" />
    </div>
  </div>
</section>