<section class="relative md:py-20 py-16">
  <div class="inner">
    <div class="md:flex md:items-center">

      <div class="md:w-1/2 mb-10 md:mb-0">
        <h2 class="">How we work</h2>
        <p class="">The Coders Guild Ltd is a lean organisation with highly skilled and capable staff who work in cross-functional teams. We operate a non-hierarchical structure and believe everyone has a voice and should be treated equally. We are based from our offices in Duke Studios in Leeds, however we also work flexibly and remotely using state-of-the-art technology to ensure efficiency, retain quality relationships and continually evolve best practices:</p>
      </div>

      <div class="md:w-1/2">
        <img src="../images/chevrons.png" class="mx-auto" />
      </div>

    </div>
  </div>
</section>