<section class="relative md:py-20 py-16">
              <div class="inner">
                <div class="md:flex md:items-center">
                  <div class="md:w-1/2 mb-10 md:mb-0">
                    <h2 class="">Let's Shape the Future, Together</h2>
                    <p class="mb-6">Are you passionate about the impact of digital skills training? Whether you have course ideas, are an employer looking to hire apprentices or upskill your team, or represent a third-sector or grassroots organisation eager for partnership, we want to hear from you. Join us in revolutionising vocational training and delivering meaningful social impact.</p>
                    <a href="#" data-modal="book-a-call" class="font-bold bg-gradient-to-r from-blue-200 to-blue-100 text-white rounded px-2 py-4">Speak to us today</a>
                  </div>
                  <div class="md:w-1/2 not-on-print">
                    <img src="../images/chevrons.png" class="mx-auto"/>
                  </div>
                </div>
              </div>
            </section>