<section class="relative md:py-20 py-16">
    <div class="inner">
    <div class="md:flex md:items-center">
        <div class="md:w-1/2 mb-10 md:mb-0">
        <h2 class="">Our Mission</h2>
        <p class="">At The Coders Guild, we're committed to forging partnerships with people and organisations who share our values. Together, we aim to unlock unparalleled success and opportunity for businesses, individuals, and the communities we serve. We believe in equipping the next generation of tech talent with the skills they need to thrive, while creating an inclusive, equitable environment where everyone has a chance to succeed. Through collaboration, education, and innovation, we strive to be the catalyst for positive change, elevating digital, technical, and vocational training to new heights.</p>
        </div>
        <div class="md:w-1/2 not-on-print">
        <img src="../images/chevrons.png" class="mx-auto"/>
        </div>
    </div>
    </div>
</section>