<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl pt-24 mb-24">
  <div class="">
    <div class="mb-12 md:flex">
      <div class="">
        <h2 class="relative title font-semibold mb-12">Our Mission</h2>
        <p class="mb-6 max-w-90">To be an industry-led and community-driven Training Provider that 
        consistently delivers ‘best in class’ training to Apprentices and industry 
        professionals by disseminating invaluable knowledge and experience to grow and 
        develop the future masters of the digital industry.</p>
      </div>
    </div>
    <div class="mb-12 md:flex">
      <div class="">
        <h2 class="relative title font-semibold mb-12  max-w-90">Our Vision</h2>
        <p class="mb-6 max-w-90 ">To be fearless leaders in our field; providing an unrivalled standard 
        of digital education by which others are judged.</p>
      </div>
    </div>
    <div class="mb-12 md:flex">
      <div class="">
        <h2 class="relative title font-semibold mb-12">Our Core Objectives and Values</h2>
        <p class="mb-6 max-w-90">The Coders Guild is dedicated to our strong social mission. We are an 
        inclusive organisation that is committed to taking action to remove barriers 
        to participation in learning. We support individuals by reducing discrimination 
        and barriers to entry, resulting in increased equality and opportunities.</p>
      </div>
    </div>
  </div>
</section>