<div class="flex -mx-8">
  <div class="w-1/3 px-8">
    <h3>The Coders Guild’s Mission is to be:</h3>
    <p>An Industry led and community driven Training Provider 
    who consistently delivers ‘best in class’ training to Apprentices 
    and industry professionals by disseminating invaluable knowledge and 
    experience to grow and develop the future masters of technology and the 
    digital industry.</p>
  </div>

  <div class="w-1/3 px-8">
    <h3>Our vision is to be:</h3>
    <p>Fearless leaders in our field; providing an 
    unrivalled standard of digital education by which others are judged.</p>
  </div>

  <div class="w-1/3 px-8">
    <h3>Core Objectives and Values</h3>
    <p>The Coders Guild is dedicated to our strong social mission. 
    We are an inclusive organisation who is committed to taking action to 
    remove barriers to participation in learning. We support individuals by 
    reducing discrimination and barriers to entry, resulting in increased equality 
    and opportunities.</p>
  </div>
</div>
