<section class="relative max-w-3xl mx-auto md:px-10 md:pt-20 pt-14 z-10 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/1.svg" class="hidden md:block absolute pattern pattern-1"></object>
  <div class="inner">
    <div class="flex flex-col md:flex-row md:flex-wrap md:justify-around">

      <div class="md:w-1/2 lg:px-0">
        <h2>Our Mission</h2>
        <p class="md:mb-0 mb-8">To be an industry-led and community-driven Training Provider
        that consistently delivers ‘best in class’ training to Apprentices and industry 
        professionals by disseminating invaluable knowledge and experience to grow and 
        develop the future masters of the digital industry.</p>
      </div>

      <div class="md:w-1/2 lg:px-0">
        <h2>Our Vision</h2>
        <p class="md:mb-0 mb-8">To be fearless leaders in our field; providing an 
        unrivalled standard of digital education by which others are judged.</p>
      </div>

      <div class="md:w-full lg:px-0 md:my-10">
        <h2>Our Core Objectives and Values</h2>
        <p class="md:mb-0 mb-8">The Coders Guild is dedicated to our strong 
        social mission. We are an inclusive organisation that is committed to 
        taking action to remove barriers to participation in learning. We support 
        individuals by reducing discrimination and barriers to entry, resulting 
        in increased equality and opportunities. </p>
      </div>

    </div>
  </div>
</section>