<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24">
  <div>
    <h2 class="relative title font-semibold mb-12">Our Story</h2>
    <p class="mb-6 max-w-90">The Coders Guild is a well-respected training provider with over 
    seven years’ experience designing and delivering high-quality digital 
    apprenticeships.</p>
  </div>
  <div>
    <div>
      <h3>We initiated the UK’s first industry-led digital apprenticeship scheme in 2012</h3>
      <p class="mb-6 max-w-90">Our founder, Crispin Read, assembled a team of developers, business owners, 
      community leaders and training experts to work together to devise a brand new 
      apprenticeship scheme, with a focus on inclusion, to increase opportunity and 
      diversity in the digital industries.</p>
    </div>
    <div>
      <h3>We helped create the UK’s national standards</h3>
      <p class="mb-6 max-w-90">After two successful deliveries the team was asked to join the Tech 
      Partnership’s trailblazer pilot scheme, which led to the creation of the new 
      National Apprenticeship Standards in Software Development, to which all 
      registered providers must now adhere.</p>
    </div>
    <div>
      <h3>Our clients range from SMEs to universities</h3>
      <p class="mb-6 max-w-90">We deliver ‘best in class’, industry-led training and coaching 
      for CPD / Digital Apprenticeships and provide both technical and core/soft 
      digital skills training nationally. Our clients range from SMEs to large, 
      levy-paying organisations such as universities and NHS Digital.</p>
    </div>
    <div>
      <h3>In the pipeline for 2020/2021...</h3>
      <p class="mb-6 max-w-90">We currently specialise in providing Level 4 Software Development 
      Apprenticeships. However, we are rolling out new Apprenticeship Training 
      schemes in 2020 including Level 3 ICT Apprenticeship roles and Level 4 
      Apprenticeship in Software Testing and Level 4 Apprenticeship in Data Analysis, 
      with more in the works for 2021.</p>
    </div>
  </div>
</section>