<section class="relative md:pt-20 z-10 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/2.svg" class="hidden md:block absolute pattern pattern-2"></object>
  <div class="inner">
    <div class="max-w-3xl mx-auto md:px-16 pb-20">
      <div class="md:pb-20 pb-10">
        <h2>Our Story</h2>
        <p class="mb-6">The Coders Guild is a well-respected training provider with over seven years’ experience designing and delivering high-quality digital apprenticeships.</p>
        
        <h3 class="text-xl leading-lg">We initiated the UK’s first industry-led digital apprenticeship scheme in 2012</h3>
        <p class="mb-6">Our founder, Crispin Read, assembled a team of developers, business owners, community leaders and training experts to work together to devise a brand new apprenticeship scheme, with a focus on inclusion, to increase opportunity and diversity in the digital industries.</p>
        
        <h3 class="text-xl leading-lg">We helped create the UK’s national standards</h3>
        <p class="mb-6">After two successful deliveries the team was asked to join the Tech Partnership’s trailblazer pilot scheme, which led to the creation of the new National Apprenticeship Standards in Software Development, to which all registered providers must now adhere.</p>
        
        <h3 class="text-xl leading-lg">Our clients range from SMEs to universities</h3>
        <p class="mb-6">We deliver ‘best in class’, industry-led training and coaching for CPD / Digital Apprenticeships and provide both technical and core/soft digital skills training nationally. Our clients range from SMEs to large, levy-paying organisations such as universities and NHS Digital.</p>
        
        <h3 class="text-xl leading-lg">In the pipeline for 2020/2021…</h3>
        <p>We currently specialise in providing Level 4 Software Development Apprenticeships. However, we are rolling out new Apprenticeship Training schemes in 2020 including Level 3 ICT Apprenticeship roles and Level 4 Apprenticeship in Software Testing and Level 4 Apprenticeship in Data Analysis, with more in the works for 2021.</p>
      </div>


      <div>
        <h2>Core Objectives and Values</h2>
        <p>The Coders Guild is dedicated to our strong social mission. We are an inclusive organisation that is committed to taking action to remove barriers to participation in learning. We support individuals by reducing discrimination and barriers to entry, resulting in increased equality and opportunities.</p>
      </div>


    </div>
  </div>
</section>

