<div>
  <div class="">
    <h3 class="relative title font-semibold">Our Social Mission</h3>

    <p class="max-w-90 ">We are an inclusive organisation, committed to taking positive 
    action to remove barriers to participation in learning. We support individuals by 
    reducing discrimination and barriers to entry, resulting in increased equality and 
    opportunities.</p>
  </div>

  <div class="md:flex md:justify-evenly md:items-center my-10">

    <div class="md:block items-center md:px-3">
      <object type="image/svg+xml" data="../images/icons/Group-16.svg" class="mx-auto mb-6 h-20 w-20"></object>
      <p class="font-semibold text-center uppercase">For budding developers</p>
    </div>

    <div class="md:block items-center md:px-3">
      <object type="image/svg+xml" data="../images/icons/Group-34.svg" class="mx-auto mb-6 h-20 w-20"></object>
      <p class="font-semibold text-center uppercase">Upskilling professionals</p>
    </div>

    <div class="md:block items-center md:px-3">
      <object type="image/svg+xml" data="../images/icons/Group-72.svg" class="mx-auto mb-6 h-20 w-20"></object>
      <p class="font-semibold text-center uppercase">SMEs and larger organisations</p>
    </div>

  </div>
  <div>
    <a href="#social-mission" class="cursor-pointer block link">Find out more</a>
  </div>
</div>
