<section class="relative md:pt-20 z-10 overflow-hidden">
  <object type="image/svg+xml" data="../images/patterns/2.svg" class="hidden md:block absolute pattern pattern-2"></object>
  <div class="inner">
    <div class="max-w-3xl mx-auto md:px-16 pb-20">
      <div class="md:pb-20 pb-10">
        <h2>Our Journey: From Humble Beginnings to Industry Pioneers</h2>
        <h3 class="text-xl leading-lg">The Genesis: A Hobby Project That Grew Legs</h3>
        <p class="mb-6">The Coders Guild started as a passion project that quickly outgrew its humble beginnings. In 2012, we broke new ground by launching the UK’s first-ever industry-led digital apprenticeship scheme.</p>

        <h3 class="text-xl leading-lg">We helped create the UK’s national standards</h3>
        <p class="mb-6">After two successful deliveries the team was asked to join the Tech Partnership’s trailblazer pilot scheme, which led to the creation of the new National Apprenticeship Standards in Software Development, to which all registered providers must now adhere.</p>

        <h3 class="text-xl leading-lg">A Dream Team Assembles</h3>
        <p class="mb-6">Our founder, Crispin Read, gathered an extraordinary team comprising developers, business owners, community leaders, and training experts. United by a common goal, we crafted an apprenticeship programme with a keen focus on inclusion. Our aim was to democratise opportunities and enhance diversity in the digital sectors.</p>

        <h3 class="text-xl leading-lg">Shaping National Standards</h3>
        <p class="mb-6">After the successful completion of two apprenticeship cohorts, we were invited to join the Tech Partnership's trailblazer pilot scheme. This pivotal involvement led to the creation of the new National Apprenticeship Standards in Software Development. These are the standards that all registered providers in the UK must now follow, and we're proud to have played a role in their formulation.</p>

        <h3 class="text-xl leading-lg">Client-Centric Approach</h3>
        <p class="mb-6">We serve a diverse range of clients, from micro startups to multinational corporations. No matter your size, you can expect the same level of dedication and support from us. We're committed to making apprenticeships the default pathway for learning essential digital skills, and SMEs play an integral role in this mission.</p>

        <h3 class="text-xl leading-lg">Expanding Our Offering</h3>
        <p class="mb-6">Today, we deliver 'best-in-class', industry-led training and coaching for both Continuing Professional Development and Digital Apprenticeships. Our portfolio covers both technical and foundational digital skills, and we're proud to offer these services on a national scale.</p>
      </div>
    </div>
  </div>
</section>

