<section class="inner sm:px-6 lg:px-8 lg:max-w-screen-xl mb-24">
  <div>
    <h2 class="relative title font-semibold mb-12">Work With us</h2>
  </div>
  <div>
    {% include "components/apprenticeships/apprenticeships-component.njk" %}
  </div>
  <div>
    <h3>Employability and Tech Skills</h3>
    <p class="max-w-90 mb-6">Got a techy outreach project? Know of an organisation that is looking to 
    upskill marginalised or underrepresented groups?</p>
    <p class="max-w-90"><a href="/contact">Get in touch</a> - let’s have a chat to see if we can help.</p>
  </div>
</section>