---
layout: "layouts/default.njk"
title: The Coders Guild Job Application Form
---


<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
  <div class="inner max-w-5xl pt-20 mb-14 md:mb-20">
    <div class="my-14 text-center">
      <h1>Project Coordinator Application (Manchester)</h1>
      <h4>Please add your details</h4>
    </div>
    <form class="w-l flex-1 justify-center" action="https://formspree.io/f/mayazjdy" method="POST" enctype="multipart/form-data">

      <label for="first-name" class="block text-md font-medium text-black my-3">First Name</label>
      <input 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="text" 
      id="first-name"
      name="First Name"/>

      <label for="second-name" class="block text-md font-medium text-black my-3">Surname</label>
      <input 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="text" 
      id="surname"
      name="Surname" />

       <label for="email" class="block text-md font-medium text-black my-3">Email</label>
      <input 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="email" 
      name="email"/>

       <label for="mobile" class="block text-md font-medium text-black my-3">Mobile Number</label>
      <input 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="tel"
      name="Tel" />

      <div class="flex-column mt-2">
        <label for="photo" class="text-md font-medium mt-4 flex">Right to work in the UK?</label>
        <select class="border-1 border-grat-400 rounded-lg my-2 p-2 w-1/5" name="right to work in the UK">
        <option value="N/A"></option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <option value="don't know">Dont know</option>
        </select>

      </div>


      <label for="address" class="block text-md font-medium text-black my-3">Why do you think you would be a good fit for this role?</label>
      <textarea 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="text"
      name="why you're a good fit?">
      </textarea>

      <label for="address" class="block text-md font-medium text-black my-3">What experience do you have of working on ESF AEB or similar contracts?</label>
      <textarea 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="text"
      name="question 2">
      </textarea>

      <label for="address" class="block text-md font-medium text-black my-3">What's something outside of your work that you're passionate about?</label>
      <textarea 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="text"
      name="question 3">
      </textarea>  

      <label for="address" class="block text-md font-medium text-black my-3">Anything else that you would like to say?</label>
      <textarea 
      class="py-3 px-4 block w-full border-1 border-gray-400 rounded-lg shadow-sm" 
      type="text"
      name="additional comments">
      </textarea>  


      <div class="flex-column mt-2">
        <label for="photo" class="text-md font-medium mt-10">Upload your CV</label>
        <input 
        type="file" 
        class="flex mt-2 mb-4" 
        id="cv"
        name="CV"/>
      </div>

      <button
        class="w-lg inline-flex items-center justify-center px-6 py-3 my-3 border-1 rounded-lg shadow-sm text-base font-bold text-white bg-blue-200 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        type="submit">Submit
      </button>
    </form>
    </div>
</main>
