---
layout: "layouts/default.njk"
title: The Coders Guild Job Application Form
---

<main id="main" class="main flex flex-1 flex-col focus:outline-none" tabindex="-1">
  <div class="inner max-w-5xl pt-20 mb-14 md:mb-20">

    <div class="my-14">
     <h1 class="text-center">Technical Trainer</h1>
        <div class="flex item-center justify-center">
            <h4>Job Description</h4>
            <a href="https://drive.google.com/file/d/1KwORZhbAxiUJXldPK0DqVsXdPpRXx6Zi/view?usp=sharing" target="_blank"
                class="pdf-img">
                <img src="/images/PDF.png" class="h-10 ml-2" alt="pdf logo">
            </a>
        </div>
    </div>

    <div class="flex flex-col md:flex-row md:justify-between">

      <div class="md:w-1/2 mb-14 md:mb-0 max-w-md width-100">
        <div class="max-w-xs">
          <h2 class="leading-3xl text-2xl">
            The Application Process
          </h2>
          <p>We are really proud of our work improving the inclusivity of our application process. Your application will go through two rounds of
           anonymised filtering based on your answers to the three numbered questions in the form. Candidates that pass this filter will then proceed
            further to CV checks and initial phone/video calls from our HR team. From there we will arrange calls with the wider team.</p>
          <p>If you have any feedback or comments about the process please use the final comment box on the form (this is not included in the first
           levels of filtering).</p>
          <p class="mb-6 not-on-print">
            This form collects your personal data so that the relevant person or team can respond to your enquiry. Please see our <a href="/pdf/tcg_privacy_policy.pdf" class="font-bold text-blue-200">Privacy Policy</a> for more details.
          </p>
          <p>
            If you would like to apply in a different way please get in touch via the email below. Good luck.
          </p>
            <div class="flex flex-row">
            <img src="/images/icons/contact-2.svg" class="mt-4"><a href="mailto:hello@thecodersguild.org.uk"
                class="text-blue-200 font-bold text-md leading-2xl mt-4 ml-4">hello@thecodersguild.org.uk</a>
            </div>
        </div>
      </div>

      <div class="md:w-1/2 max-w-md not-on-print">
        <form id="contact-form" class="w-l flex-1 justify-center" name="technical-trainer" data-netlify="true" action="/thanks-applications" method="POST"
            enctype="multipart/form-data">
                <div class="required-pop-up absolute text-red-100 w-full text-xs leading-xs text-right mb-2 hidden">*Required</div>
                <div>
    <div class="mb-4">
      <label for="first-name" class="sr-only">First Name</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" placeholder="First Name" type="text" id="first-name"
        name="First Name" data-regex="^[a-zA-Z ]+$" data-valid="false" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Only alphabetical values are allowed" aria-hidden="true" role="alert"></span>
    </div>

    <div class="mb-4">
      <label for="second-name" class="sr-only">Last Name</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required " placeholder="Second Name" type="text" id="surname"
        name="Surname" data-regex="^[a-zA-Z ]+$" data-valid="false" />
        <span class="form-error text-xs leading-xs text-red-100" data-message="Only alphabetical values are allowed" aria-hidden="true" role="alert"></span>
    </div>

    <div class="mb-4">
      <label for="pronouns" class="block text-md font-medium text-black my-3">Pronouns</label>
      <div class="flex-column">
        <div class="flex flex-row">
          <input class="flex mb-2 mt-1 mr-2" type="checkbox" id="pronouns" name="pronouns" value="He" />
          <label for="he" class="text-sm font-medium">He</label>
        </div>
      </div>

      <div class="flex-column">
        <div class="flex flex-row">
          <input class="flex mb-2 mt-1 mr-2" type="checkbox" id="pronouns" name="pronouns" value="She" />
          <label for="she" class="text-sm font-medium"> She</label>
        </div>
      </div>

      <div class="flex-column">
        <div class="flex flex-row">
          <input class="flex mb-2 mt-1 mr-2" type="checkbox" id="pronouns" name="pronouns" value="They" />
          <label for="they" class="text-sm font-medium"> They</label>
        </div>
      </div>

      <div class="flex-column">
        <div class="flex flex-row">
          <input class="flex mb-2 mt-1 mr-2" type="checkbox" id="pronouns" name="pronouns" value="Other" />
          <label for="other" class="text-sm font-medium"> Other</label>
        </div>
      </div>
    </div>



    <div class="mb-4">
      <label for="email" class="sr-only">Email</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" data-valid="false" data-regex="\S+@\S+\.\S+" placeholder="Email" type="email" name="email" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check this is a valid email" aria-hidden="true" role="alert"></span>

    </div>

    <div class="mb-4">
      <label for="mobile" class="sr-only">Mobile Number</label>
      <input class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" data-valid="false" data-regex="^[+0-9]+$" placeholder="Telephone" type="tel" name="Tel" />
      <span class="form-error text-xs leading-xs text-red-100" data-message="Please check this is a valid number" aria-hidden="true" role="alert"></span>

    </div>

    <div class="mb-4">
      <div class="flex-column mt-2">
        <label for="photo" class="text-md font-medium mt-4 flex">Do you have the right to work in the UK?</label>
        <select class="border-1 border-gray-400  bg-white rounded-lg my-2 p-2 w-1/5" name="right to work in the UK">
          <option value="N/A"></option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
          <option value="unsure">Unsure</option>
        </select>

      </div>
    </div>

    <div class="mb-4">
      <label for="question 1" class="block text-md font-medium text-black mt-3">Please can you tell us you think you
        would be a good fit for this role?</label>
      <p class="text-sm">more than 50 words but less than 250 words please</p>
      <textarea class="form-input-field rounded block w-full py-2 px-3 border-1 placeholder-black required" rows="8"
        name="Please can you tell us you think you would be a good fit for this role?">
      </textarea>
    </div>

    <div class="mb-4"
    >
      <label for="What experience do you have of working on similar projects?"
        class="block text-md font-medium text-black mt-3">What experience do you have of working on similar
        projects?</label>
      <p class="text-sm">more than 50 words but less than 250 words please</p>
      <textarea class="py-3 px-4 block w-full h-35 border-1 border-gray-400 rounded-lg shadow-sm" rows="8"
        name="What experience do you have of working on similar projects?">
      </textarea>
    </div>

    <div class="mb-4">
      <label for="question 3" class="block text-md font-medium text-black mt-3">What's something outside of your work
        that you're passionate about?</label>
      <p class="text-sm">more than 50 words but less than 250 words please</p>
      <textarea class="py-3 px-4 block w-full h-35 border-1 border-gray-400 rounded-lg shadow-sm"rows="8"
        name="What's something outside of your work that you're passionate about?">
      </textarea>
    </div>

    <div class="mb-4">
      <label for="additional comments" class="block text-md font-medium text-black mt-3">Anything else that you would
        like to say?</label>
      <p class="text-sm">this field is optional</p>
      <textarea class="py-3 px-4 block w-full h-35 border-1 border-gray-400 rounded-lg shadow-sm" rows="8"
        name="additional comments">
      </textarea>
    </div>

    <div class="mb-4">
      <div class="flex-column mt-2">
        <label for="CV" class="text-md font-medium mt-10">Upload your CV</label>
        <input type="file" class="flex mt-2 mb-4" id="cv" name="CV" />
      </div>
    </div>

     <button type="submit" id="submit" class="contact-btn rounded font-heading font-bold w-full block py-2 px-6 border border-transparent text-white bg-blue-200 hover:bg-blue-100 focus:bg-blue-100 active:bg-blue-100 transition duration-150 ease-in-out" disabled="">Submit</button>
    </form>
      </div>
    </div>
  </div>
</main>

<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.js"></script>
